{{view textField class=cssClass value=inputValue clickAction="toggleDropdown" focusOutAction="hideDropdown"}}
<span class="dropdown-arrow caret {{unless hasOptions "hidden"}}" {{action "toggleDropdown"}}></span>
<div class="dropdown-container {{unless hasOptions "hidden"}}">
	<ul id="content-elements" class="form-control {{unless showOptions "hidden"}}">
		{{#each element in options}}
		<li {{action "changeSelection" element}}>{{get-attr element optionLabelPath}}</li>
		{{/each}}
	</ul>
</div>