{{!log "this=" this}}
{{#if dec2}}<span class="glyphicon glyphicon-minus" aria-hidden="true"></span><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>{{/if}}
{{#if inc2}}<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{/if}}
{{#if dec1}}<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>{{/if}}
{{#if inc1}}<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{/if}}
{{#if reset}}<span>100 %</span>{{/if}}
