<div class="flex full-size {{if addMarginBottom 'margin-bottom'}}">
    <div class="column column1 {{if showOneCategory 'one-column'}}{{if showTwoCategories 'two-column'}}" >
        <div class="toggle-button" {{action "toggleGrade"}}>
            <span class="player-name">{{playerAssignment.teamPlayer.shortNameInitialLast}}</span>
            <span class="player-jersey-number">{{if useMinimizedVersion '# '}}{{playerAssignment.jerseyNumber}}</span>
        </div>
        <button class="player-position grade-control {{if grade.isDisabled 'disabled'}}" disabled={{grade.isDisabled}} {{action "togglePosition"}}>
            <span class="active-position">{{grade.positionPlayed.shortName}}</span>
        </button>
        <div class="player-positions">
            {{#each position in playerAssignment.allPositions}}
            <span class="position" {{action "changeGradePosition" position}}>{{position.shortName}}</span>
            {{/each}}
        </div>
    </div>
    <div class="column column2 grade-control {{if grade.isDisabled 'disabled'}} cat-1-grade {{if showOneCategory 'one-column'}}">
        <button class="game-grade-control dec" {{action "decreaseGrade" 1}} disabled={{grade.isDisabled}}>
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
        <div class="game-grade-fill-bar fill-bar-width-{{grade.gradesIndex.cat1Grade}}"></div>
        <div class="game-grade-value {{if cat1GradeOverThreshold 'value-over-threshold'}}">{{grade.cat1Grade}}</div>
        <button class="game-grade-control inc" {{action "increaseGrade" 1}} disabled={{grade.isDisabled}}>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
    {{#if showTwoCategories}}
    <div class="column column3 grade-control {{if grade.isDisabled 'disabled'}} cat-2-grade two-column">
        <button class="game-grade-control dec" {{action "decreaseGrade" 2}} disabled={{grade.isDisabled}}>
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
        <div class="game-grade-fill-bar fill-bar-width-{{grade.gradesIndex.cat2Grade}}"></div>
        <div class="game-grade-value {{if cat2GradeOverThreshold 'value-over-threshold'}}">{{grade.cat2Grade}}</div>
        <button class="game-grade-control inc" {{action "increaseGrade" 2}} disabled={{grade.isDisabled}}>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
    {{/if}}
    {{#if showThreeCategories}}
    <div class="column column3 grade-control {{if grade.isDisabled 'disabled'}} cat-2-grade">
        <button class="game-grade-control dec" {{action "decreaseGrade" 2}} disabled={{grade.isDisabled}}>
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
        <div class="game-grade-fill-bar fill-bar-width-{{grade.gradesIndex.cat2Grade}}"></div>
        <div class="game-grade-value {{if cat2GradeOverThreshold 'value-over-threshold'}}">{{grade.cat2Grade}}</div>
        <button class="game-grade-control inc" {{action "increaseGrade" 2}} disabled={{grade.isDisabled}}>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
    <div class="column column4 grade-control {{if grade.isDisabled 'disabled'}} cat-3-grade">
        <button class="game-grade-control dec" {{action "decreaseGrade" 3}} disabled={{grade.isDisabled}}>
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
        <div class="game-grade-fill-bar fill-bar-width-{{grade.gradesIndex.cat3Grade}}"></div>
        <div class="game-grade-value {{if cat3GradeOverThreshold 'value-over-threshold'}}">{{grade.cat3Grade}}</div>
        <button class="game-grade-control inc" {{action "increaseGrade" 3}} disabled={{grade.isDisabled}}>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
    {{/if}}
    <!--<div class="column column5 grade-control {{if grade.isDisabled 'disabled'}}">
        <button class="game-grade-flag hard {{if grade.hard 'active'}}" {{action "toggleHardAssignment"}} disabled={{grade.isDisabled}}><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></button>

    </div>-->
    <div class="column column5 grade-control factor-in-play-btns {{if grade.isDisabled 'disabled'}} {{if showOneCategory 'one-column'}}">
        {{#if useMinimizedVersion}}
        <div class="factor-in-play negative-factor-in-play pull-left">
            <button class="game-grade-flag {{if negativeFactorInPlay 'active'}}" {{action "changeFactorInPlay" negativeFactor}} disabled={{grade.isDisabled}}><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
        </div>
        <div class="factor-in-play positive-factor-in-play pull-right">
            <button class="game-grade-flag {{if positiveFactorInPlay 'active'}}" {{action "changeFactorInPlay" positiveFactor}} disabled={{grade.isDisabled}}><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        </div>
        {{else}}
        <div class="factor-in-play positive-factor-in-play">
            <button class="game-grade-flag {{if positiveFactorInPlay 'active'}}" {{action "changeFactorInPlay" positiveFactor}} disabled={{grade.isDisabled}}>positive</button>
        </div>
        <div class="factor-in-play negative-factor-in-play">
            <button class="game-grade-flag {{if negativeFactorInPlay 'active'}}" {{action "changeFactorInPlay" negativeFactor}} disabled={{grade.isDisabled}}>negative</button>
        </div>
        {{/if}}
    </div>
</div>
{{#if grade.notes}}
<div class="full-size notes {{if grade.isDisabled 'disabled'}}">
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    <span>{{grade.notes}}</span>
</div>
{{/if}}
{{#if grade.customFields.specialPlay}}
<div class="full-size special-play {{if grade.isDisabled 'disabled'}}">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span>{{grade.customFields.specialPlay}}</span>
</div>
{{/if}}
