{{#if minimizedVersion}}
<div class="minimized-grading-header">
    <div class="header">
        <img src="assets/img/GD_logo_tiny.png">
        <span>{{thisPage}}</span>
    </div>
    <div class="play-info {{unless playDataPanelStretched 'hidden'}}" {{action 'togglePlayDataPanel'}}>
        <span>
            {{#if currentPlay.teamEvent.isMatch}}
            Qtr: {{currentPlay.quarter}} &nbsp;
            Dn: {{currentPlay.gameDown}} to go {{currentPlay.gameDistance}} &nbsp;
            FPos: {{currentPlay.yardLine}}
            {{else}}
            Drill: {{if currentPlay.teamPracticeDrillType.name currentPlay.teamPracticeDrillType.name previousDrill.name}} &nbsp;
            {{/if}}
        </span>
        <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
    </div>
    <div class="play-data {{if playDataPanelStretched 'hidden'}}" {{action 'togglePlayDataPanel'}}>
        <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span>
        <div class="play-info-panel {{unless currentPlay.teamEvent.isMatch 'bigger-panel'}}">
            <div class="inset">
                {{#if currentPlay.teamEvent.isMatch}}
                <span><b>Qtr:</b> {{currentPlay.quarter}}</span>
                <span><b>Down:</b> {{currentPlay.gameDown}} <b>to go</b> {{currentPlay.gameDistance}}</span>
                <span><b>Ball:</b> {{currentPlay.gamePossession}}</span>
                <span><b>FPos:</b> {{currentPlay.yardLine}}</span>
                <span><b>Result:</b>{{currentPlay.playResultType.name}}</span>
                {{else}}
                <span><b>Drill:</b> {{if currentPlay.teamPracticeDrillType.name currentPlay.teamPracticeDrillType.name previousDrill.name}}</span>
                <span><b>Description:</b> {{currentPlay.description}}</span>
                {{/if}}
            </div>
        </div>
        {{#if currentPlay.playData}}
        <div class="play-info-panel">
            <div class="inset stretchy-block">
                {{#if currentPlay.teamEvent.isMatch}}
                {{display-each currentPlay.playData playDataHiddenAttrs "No play data has been entered for this play."}}
                {{else}}
                {{display-each currentPlay.playData playDataHiddenAttrs "No info from video system has been entered."}}
                {{/if}}
            </div>
        </div>
        {{else}}
        <div class="play-info-panel no-data">
            {{#if currentPlay.teamEvent.isMatch}}
            No play data has been entered for this play.
            {{else}}
            No info from video system has been entered.
            {{/if}}
        </div>
        {{/if}}
    </div>
</div>
{{else}}
    {{page-head breadcrumbs=this.breadcrumbs thisPage=this.thisPage}}
{{/if}}
<div class='container-fluid container-game {{if minimizedVersion "minimized"}}'>
    {{#unless minimizedVersion}}
    <div class="section-left play-info-container {{if infoPanelStretched 'stretched'}}">
        <div class="info-label">
            <div class="rotate">
                <span>
                    {{#if currentPlay.teamEvent.isMatch}}
                    Qtr: {{currentPlay.quarter}} &nbsp;
                    Down: {{currentPlay.gameDown}} to go {{currentPlay.gameDistance}} &nbsp;
                    Ball: {{currentPlay.gamePossession}} &nbsp;
                    FPos: {{currentPlay.yardLine}}
                    {{else}}
                    Drill: {{if currentPlay.teamPracticeDrillType.name currentPlay.teamPracticeDrillType.name previousDrill.name}} &nbsp;
                    Description: {{currentPlay.description}}
                    {{/if}}
                </span>
            </div>
        </div>
        <button class="btn toggle-info-panel-size" {{action "toggleInfoPanelSize"}}>
            {{#if infoPanelStretched}}
            <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
            {{else}}
            <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span>
            {{/if}}
        </button>
        <div class="play-info-panel {{unless currentPlay.teamEvent.isMatch 'bigger-panel'}}">
            <div class="inset">
                {{#if currentPlay.teamEvent.isMatch}}
                <span><b>Qtr:</b> {{currentPlay.quarter}}</span>
                <span><b>Down:</b> {{currentPlay.gameDown}} <b>to go</b> {{currentPlay.gameDistance}}</span>
                <span><b>Ball:</b> {{currentPlay.gamePossession}}</span>
                <span><b>FPos:</b> {{currentPlay.yardLine}}</span>
                {{!--<span><b>Result</b>{{view "select" class="form-control" content=playResultTypes
                    optionLabelPath="content.name"
                    optionValuePath="content.id"
                    selection=currentPlay.playResultType
                    prompt="Pick play result"}}</span> --}}
                <span><b>Result:</b>{{currentPlay.playResultType.name}}</span>
                {{else}}
                {{!--<button class="btn edit-team-play" {{action "editCurrentPlay" currentPlay}}>
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button> --}}
                <span><b>Drill:</b> {{if currentPlay.teamPracticeDrillType.name currentPlay.teamPracticeDrillType.name previousDrill.name}}</span>
                <span><b>Description:</b> {{currentPlay.description}}</span>
                {{/if}}
            </div>
        </div>
        {{#if currentPlay.playData}}
        <div class="play-info-panel read-only {{unless displayedOnDesktopBrowser 'full-size'}}">
            <div class="inset stretchy-block">
                {{#if currentPlay.teamEvent.isMatch}}
                {{display-each currentPlay.playData playDataHiddenAttrs "No play data has been entered for this play."}}
                {{else}}
                {{display-each currentPlay.playData playDataHiddenAttrs "No info from video system has been entered."}}
                {{/if}}
            </div>
        </div>
        {{else}}
        <div class="play-info-panel no-data">
            {{#if currentPlay.teamEvent.isMatch}}
            No play data has been entered for this play.
            {{else}}
            No info from video system has been entered.
            {{/if}}
        </div>
        <button class="play-info-panel-btn " {{action "enterPlayData"}}>
            <span>upload play data</span>
        </button>
        {{/if}}
        {{#if displayedOnDesktopBrowser}}
        <div class="min-grading-page-btn">
            <button class="play-info-panel-btn" {{action 'gradeInSmallWindow'}}><span>grade in small window</span><span class="glyphicon glyphicon-new-window pull-right" aria-hidden="true"></span></button>
        </div>
        {{/if}}
    </div>
    {{/unless}}
    <div class="section-main sticky-header sticky-footer {{if infoPanelStretched 'expanded'}}">
        <div class="row flex row-separator grade-headers ">
            <div class="column header1 {{if showOneCategory 'one-column'}}{{if showTwoCategories 'two-column'}}">
                <span class="play-number-label">Play{{#unless minimizedVersion}} No.{{/unless}}</span>
                <input type="text" class="form-control" id="play-number" value="{{leading-zeros currentPlay.playNumber}}">
            </div>
            <div class="column header2 {{if showOneCategory 'one-column'}}">
                <span>{{session.teamConfiguration.gradeCat1Label}}{{#unless minimizedVersion}}<br/>Grade{{/unless}}</span>
            </div>
            {{#if showTwoCategories}}
            <div class="column header3">
                <span>{{session.teamConfiguration.gradeCat2Label}}{{#unless minimizedVersion}}<br/>Grade{{/unless}}</span>
            </div>
            {{/if}}
            {{#if showThreeCategories}}
            <div class="column header3">
                <span>{{session.teamConfiguration.gradeCat2Label}}{{#unless minimizedVersion}}<br/>Grade{{/unless}}</span>
            </div>
            <div class="column header4">
                <span>{{session.teamConfiguration.gradeCat3Label}}{{#unless minimizedVersion}}<br/>Grade{{/unless}}</span>
            </div>
            {{/if}}
            <!--<div class="column header5">
                <span>Hard Assign.</span>
            </div>-->
            <div class="column header5 {{if showOneCategory 'one-column'}}">
                {{#if minimizedVersion}}<span>Factor</span>{{else}}<span>Factor in Play</span><span class="optional-label">(optional)</span>{{/if}}
            </div>
        </div>

        {{!-- Players added with the 'Add Players' Dialog --}}
        {{#each assignment in currentPlay.addedPlayers}}
        <div id="grade-player-{{assignment.teamPlayer.id}}" class="row flex  row-separator">
            {{grade-control
                gradeBase=session.teamConfiguration.gradeBase
                playerAssignment=assignment
                play=currentPlay
                store=store
                preSelect=true
                playFactors=playFactors
                numGradeCategories=session.teamConfiguration.numGradeCategories
                useMinimizedVersion=minimizedVersion}}
        </div>
        {{/each}}

        {{!-- Already assigned players --}}
        {{#each assignment in assignedPlayers}}
        <div id="grade-player-{{assignment.teamPlayer.id}}" class="row flex  row-separator">
            {{grade-control
                gradeBase=session.teamConfiguration.gradeBase
                playerAssignment=assignment
                play=currentPlay
                store=store
                playFactors=playFactors
                numGradeCategories=session.teamConfiguration.numGradeCategories
                useMinimizedVersion=minimizedVersion}}
        </div>
        {{else}}
        <div class="loading-message">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            <span class="msg">{{{if isLoading 'Loading player list ...' 'Your grading position group does not have any players in this video.</br>Please ask an Admin to confirm your position group assignment(s) in Manage Settings.'}}}</span>
        </div>
        {{/each}}

        <div class="row flex grade-play-nav-options {{unless assignedPlayers 'not-active'}}">
            <div class="column column1" {{action "showModal" "game/player/add" playerAssignments}}>
                <span class="add-player">{{if minimizedVersion "add" "add players"}}</span>
            </div>
            {{#if session.teamConfiguration.gradeFields.specialPlay}}
            <div class="column column1" {{action "showModal" "game/special-play" currentPlay.grades}}>
                <span class="special-play glyphicon glyphicon-star {{if currentPlay.hasSpecialPlayCodes 'active-btn'}}"></span>
            </div>
            {{/if}}
            <div class="add-notes column column1" {{action "showModal" "game/notes" currentPlay.grades}}>
                <span class="{{if currentPlay.hasNotes 'active-btn' 'add-notes-lbl'}}">
                    {{#if minimizedVersion}}
                    note
                    {{else}}
                    {{if currentPlay.hasNotes 'edit notes' 'add notes'}}
                    {{/if}}
                </span>
            </div>
            <div class="play-nav-btns">
                <button class="play-nav prev-play {{unless hasPrevPlay 'disabled'}}" {{action "goToPrevPlay"}}>
                    {{#if minimizedVersion}}
                    <span>&lt;&lt;</span>
                    {{else}}
                    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                    <span>{{leading-zeros currentPlay.prevPlayNumber}}</span>
                    {{/if}}
                </button>
                <button class="play-nav pause-play" {{action "pauseGrade"}}>
                    <span>{{if minimizedVersion "stop" "stop grading"}}</span>
                </button>
                <button class="play-nav next-play {{unless hasNextPlay 'disabled'}}" {{action "goToNextPlay"}}>
                    {{#if minimizedVersion}}
                    <span>&gt;&gt;</span>
                    {{else}}
                    <span>{{leading-zeros currentPlay.nextPlayNumber}}</span>
                    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                    {{/if}}
                </button>
            </div>
        </div>
    </div>
</div>
