<div id="add-notes-modal">
{{#page-modal close='removeModal' title=modalTitle}}
	<button type="button" class="close-label" data-dismiss="modal" aria-hidden="true" {{action "cancelNotes"}}><strong>Close</strong></button>
	<div class="grade-notes">
		{{#each grade in grades}}
		<div class="row-separator">
			<div class="player-name">{{grade.teamPlayer.shortNameInitialLast}}</div>
			<div class="jersey-number"><span>{{grade.playerAssignment.jerseyNumber}}</span></div>
			<div class="note-form">{{textarea class="form-control" value=grade.notes placeholder="Type note for this player here"}}</div>
		</div>
		{{else}}
		<div>
			<span class="no-record-message">No players have been graded on this play.</span>
		</div>
		{{/each}}
	</div>
	{{#if grades}}
	<div class="grade-btns">
		<button data-dismiss="modal" class="btn btn-default" {{action "addNotes" false}}>save for coaches only</button>
		<button data-dismiss="modal" class="btn" {{action "addNotes" true}}>save for players and coaches</button>
	</div>
	{{/if}}
{{/page-modal}}
</div>