<div id="learn-play-data-carousel" class="carousel slide" data-interval="false" data-wrap="false" data-title="Uploading Play Data from Your Video System">
		<ol class="carousel-indicators">
	    	<li data-target="#learn-play-data-carousel" data-slide-to="0" class="active"></li>
	    	<li data-target="#learn-play-data-carousel" data-slide-to="1"></li>
	    	<li data-target="#learn-play-data-carousel" data-slide-to="2"></li>
	    	<li data-target="#learn-play-data-carousel" data-slide-to="3"></li>
		</ol>

		<div class="carousel-inner" role="listbox">

			<div class="info-section item active">
				<p>Copy and paste data from DV Sport, Hudl or whatever system you use. This data will make your reports run properly.</p>
				<div>
					<img src="assets/img/popup/play/learn-play-data-1.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>You can access this screen from the Main Menu or from the Grading screen (“upload play data” button on the left side).</p>
				<div>
					<img src="assets/img/popup/play/learn-play-data-2.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>Pick the columns that contain the data we’ll need to run your reports.</p>
				<div>
					<img src="assets/img/popup/play/learn-play-data-3.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>If you keep the same column format each time you paste data for a specific platoon (e.g., “Offense”), GoDeep can remember it.</p>
				<div>
					<img src="assets/img/popup/play/learn-play-data-4.png" />
				</div>
			</div>

		</div>

		<a class="left carousel-control" href="#learn-play-data-carousel" role="button" data-slide="prev">
    		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    		<span class="sr-only">Previous</span>
  		</a>
  		<a class="right carousel-control" href="#learn-play-data-carousel" role="button" data-slide="next">
    		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    		<span class="sr-only">Next</span>
  		</a>

	</div>