<div id="special-play-modal">
{{#page-modal close='removeModal' title=modalTitle}}
	<button type="button" class="close-label" data-dismiss="modal" aria-hidden="true" {{action "cancelSpecialPlays"}}><strong>Close</strong></button>
	<span class="helper-text">
		Type the code for the special play each player made in the fields below.<br/>
		(Must be exact to be added to the overall count for that player)
	</span>
	<div class="grade-notes">
		{{#each grade in grades}}
		<div class="row-separator">
			<div class="player-name">{{grade.teamPlayer.shortNameInitialLast}}</div>
			<div class="jersey-number"><span>{{grade.playerAssignment.jerseyNumber}}</span></div>
			<div class="note-form">{{textarea class="form-control" value=grade.customFields.specialPlay placeholder="Type the code for the special play here"}}</div>
		</div>
		{{else}}
		<div>
			<span class="no-record-message">No players have been graded on this play.</span>
		</div>
		{{/each}}
	</div>
	{{#if grades}}
	<div class="grade-btns">
		<button data-dismiss="modal" class="btn btn-default" {{action "cancelSpecialPlays"}}>Cancel</button>
		<button data-dismiss="modal" class="btn" {{action "addSpecialPlays"}}>save</button>
	</div>
	{{/if}}
{{/page-modal}}
</div>