<div id="learn-grading-carousel" class="carousel slide" data-interval="false" data-wrap="false" data-title="Grading Player Performance">
		<ol class="carousel-indicators">
	    	<li data-target="#learn-grading-carousel" data-slide-to="0" class="active"></li>
	    	<li data-target="#learn-grading-carousel" data-slide-to="1"></li>
	    	<li data-target="#learn-grading-carousel" data-slide-to="2"></li>
	    	<li data-target="#learn-grading-carousel" data-slide-to="3"></li>
	    	<li data-target="#learn-grading-carousel" data-slide-to="4"></li>
	    	<li data-target="#learn-grading-carousel" data-slide-to="5"></li>
	    	<li data-target="#learn-grading-carousel" data-slide-to="6"></li>
		</ol>

		<div class="carousel-inner" role="listbox">

			<div class="info-section item active">
				<p>Selecting a game film to grade.</p>
				<div>
					{{#if session.isAdmin}}
					<img src="assets/img/popup/grade/learn-grading-1-admin.png" />
					{{else}}
					<img src="assets/img/popup/grade/learn-grading-1-coach.png" />
					{{/if}}
				</div>
			</div>

			<div class="info-section item">
				<p>This is the first play of the game, with no players selected.</p>
				<div>
					<img src="assets/img/popup/grade/learn-grading-2.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>After players are selected.</p>
				<div>
					<img src="assets/img/popup/grade/learn-grading-3.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>With grades entered.</p>
				<div>
					<img src="assets/img/popup/grade/learn-grading-4.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>Add notes or comments to your grades.</p>
				<div>
					<img src="assets/img/popup/grade/learn-grading-5.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>Add notes or comments to your grades.</p>
				<div>
					<img src="assets/img/popup/grade/learn-grading-6.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>Advance to the next play.</p>
				<div>
					<img src="assets/img/popup/grade/learn-grading-7.png" />
				</div>
			</div>

		</div>

		<a class="left carousel-control" href="#learn-grading-carousel" role="button" data-slide="prev">
    		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    		<span class="sr-only">Previous</span>
  		</a>
  		<a class="right carousel-control" href="#learn-grading-carousel" role="button" data-slide="next">
    		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    		<span class="sr-only">Next</span>
  		</a>

	</div>