<div class="learn-more-popup">
{{#page-modal title="Grading Player Performance" ok='removeModal' okText='ok' close='removeModal' closeText='cancel'}}
	{{partial "grade/grading-info"}}
{{/page-modal}}
</div>