<div class="learn-more-popup">
{{#page-modal title="Entering Film Cutups for Grading" ok='removeModal' okText='ok' close='removeModal' closeText='cancel'}}
	{{partial "event/cutup-info"}}
{{/page-modal}}
</div>