<div class="learn-more-popup">
{{#page-modal title="Uploading Play Data from Your Video System" ok='removeModal' okText='ok' close='removeModal' closeText='cancel'}}
	{{partial "game/play-data-info"}}
{{/page-modal}}
</div>