<div id="generate-grade-reports-modal">
{{#page-modal close='removeModal'}}
	<span class="message">Send emails to players notifying them that a new Game Performance report is available?</span>
	<span class="message">Note: If a player does not have an email address in the system, use the Player Information screen to add it.</span>
	<button data-dismiss="modal" class="btn" {{action "gradePlayerPerformance" model}}>Yes</button>
	<button class="btn" {{action "removeModal"}}>No</button>
{{/page-modal}}
</div>