<div id="no-delete-cutup-modal">
{{#page-modal close='removeModal'}}
	<span class="message">It's not possible to delete the cutup, there are grades entered for it.</span>
	<button data-dismiss="modal" class="btn" {{action "removeModal"}}>ok</button>
{{/page-modal}}
</div>