
@admin-configs-grading-btn-bg:#808080;
@admin-configs-grading-btn-color:#fff;
@admin-configs-grading-btn-border:#4a4a4a;

.grading-container {
    margin-top: 25px;
    .title {
        margin-left: 0px;
        margin-right: 15px;
        position: relative;
        h3 {
            margin: 0px;
        }
        span {
            position: absolute;
            right: 0;
            bottom: 0;
            color: #a94442;
            font-weight: bold;
            font-style: italic;
        }
    }
    div.form-container {
        position: relative;
        margin-top: 30px;
        label.info {
            font-weight: normal;
            font-size: 12px;
        }
        .form-input {
            width: 60px;
            margin-top: 5px;
        }
        hr {
            height: 1px; 
            background-color:@admin-configs-grading-btn-bg;
        }
        h4 {
            margin-bottom: 20px;
        }
        .row-container {
            width: 100%;
            padding-top:15px;
            padding-bottom:15px;

            div {
                width: 245px;
                margin-left: auto;
                margin-right: auto;

                .btn {
                    width : 100px;
                }

                .btn-cancel {
                    margin-right: 20px;
                }

                .btn-primary {
                    margin-left: 20px;
                }
            }
        }

        .help-block {
            display: inline;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 12px;
            .glyphicon {
                font-size: 10px;
            }
        }
    }
}

/* Tablet Landscape */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    .grading-container {
        .title {
            span {
                width: 60%;
            }
        }
    }
}

/* Tablet Portrait */
@media (max-width: @screen-sm-max) {
    .grading-container {
        .title {
            span {
                width: 60%;
            }
        }

        .form-container {
            .row {
                .control-label {
                    padding-left: 0;
                }
            }
        }
    }
}