
@admin-configs-grading-btn-bg:#808080;
@admin-configs-grading-btn-color:#fff;
@admin-configs-grading-btn-border:#4a4a4a;

.player-eval-container {
    margin-bottom: 75px;
    margin-top: 30px;
    div.form-container {
        .header-labels {
            margin-top: 25px;
            .target-label {
                color: #0844A4;
                text-decoration: underline;
            }
        }

        .header-btn.active {
            background-color: #4888ef;
            border: 2px solid #1b75d7;
            &:hover{
                background-color: #1b75d7;
            }
        }
        .btn-del {
            color: @app-btn-bg;
            background-color: rgba(0,0,0,0);
            border-color: rgba(0,0,0,0);
            .glyphicon {
                font-size:18px;
                line-height: 30px;
            }
        }
        .edit-text {
            font-style: italic;
            float: right;
            color: #a94442;
        }
    }
    .footer-btn {
      margin: 0px 15px 0px 15px;
    }
    .eval-nav-options {
        position: fixed;
        bottom: 0;
        width: 75%;
        padding-bottom: 10px;
        background-color: #e6e7e8;
        padding-top: 10px;
        .eval-nav-left {
            width: 35%;
            text-align: right;
        }
        .eval-nav-center {
            width: 40%;
            text-align: center;
        }
        .eval-nav-right {
            width: 35%;
            text-align: left;
        }
        .btn {
            width: 200px;
        }
    }
}

#target-score-info {
    ul {
        li {
            list-style-type: none;
        }
    }
    .modal-footer {
        text-align: center;
        .btn-primary {
            display: none;
        }
    }
}
