@import "admin-user-info.less";

.manage-users {
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    .header-controls {
        .btn {
            height: 50px;
            width: 25%;
            float: right;
        }
    }

    .users-container {
        .user-controls {
            display: inline-flex;
            float: right;
            .btn-modify-user {
                color: @app-btn-bg;
                background-color: rgba(0,0,0,0);
                border-color: rgba(0,0,0,0);
                .glyphicon {
                    font-size:16px;
                }
            }
        }
    }

    .table {
        th {
            border-bottom: 1px solid @position-border-color;
        }
        td {
            vertical-align: middle;
            border-bottom: 1px solid @position-border-color;
        }
    }
}

#user-delete-modal {
    .modal-dialog {
        min-width: @app-min-width-modal;
    }
}