//
// admin page specific styles
//

// @import "admin-index.less";
@import "admin-option-panel.less";
@import "admin-team.less";
@import "admin-configurations.less";
@import "admin-users.less";

@admin-column1-width:40%;
@admin-column2-n-width:12%;
@admin-row-height:80px;

@admin-option-panel-button-bg:#808080;
@admin-option-panel-button-color:#fff;
@admin-option-panel-button-border:#4a4a4a;

.container-fluid.admin {
    height:100%;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
}

@media (min-width: 768px) {
    //992px, 1200px
    .container-fluid.admin {
        //height:500px;
    }
}

.admin > .section-left {
    .make-lg-column(3);
    .make-md-column(3);
    .make-sm-column(3);
    .make-xs-column(3);
    height:100%;
    background-color: @app-color-bg-sidebar;
    position:fixed;
    left:0;
    right:0;
    top:@page-header-height;
    bottom:0;
    padding:15px;
    min-width: 192px;
}

.admin > .section-main {
    .make-lg-column(9);
    .make-md-column(9);
    .make-sm-column(9);
    .make-xs-column(9);
    .make-lg-column-offset(3);
    .make-md-column-offset(3);
    .make-sm-column-offset(3);
    .make-xs-column-offset(3);
    height:100%;
}

.admin {
    .btn {
        background-color:@admin-option-panel-button-bg;
        color:@admin-option-panel-button-color;
        border:2px solid @admin-option-panel-button-border;
        &:hover {
            background-color: @admin-option-panel-button-border;
            color:@app-hover-color;
        }
        &:focus {
            background-color: @admin-option-panel-button-border;
            color:@app-hover-color;
        }

    }
    .btn.active {
        background-color: #4888ef;
        border: 2px solid #1b75d7;
        &:hover{
            background-color: #1b75d7;
        }
    }
}
