@import "admin-conf-positions-groups-modal.less";

@player-info-color-button-bg: #808080;
@position-border-color      : #cccccc;
@expand-color               : #003783;
@expand-white-color         : #ffffff;

.positions-and-groups {
    .form-container {
        margin-top: 25px;
        margin-bottom: 10px;
        .expand-container {
            .expand-box {
                margin: 10px 0px 10px 0px;
                padding-left: 0;
                font-size: 18px;
                line-height: 20px;
                color: @expand-color;
                font-weight: bold;
                .bowtie.expanded {
                    .glyphicon();
                    &:before {
                        content: "\e082";
                    }
                }

                .bowtie {
                    padding-left:5px;
                    padding-right:5px;
                    .glyphicon();
                    &:before {
                        content: "\e081";
                    }
                    color:@player-info-color-button-bg;
                }
            }
        }
        .line {
            border-top: 1px solid @expand-color;
        }

        .line-bottom {
            border-bottom: 1px solid @expand-color;
        }
        .expanded-line {
            border-top: 1px solid @expand-white-color;
        }

        .expanded-line-bottom {
            border-bottom: 1px solid @expand-white-color;
        }
        .positions {
            padding-left: 0px;
            .position-container {
                float: left;
                text-align: center;
                width: 50px;
                margin-right: 3px;
                margin-bottom: 3px;
                border: 1px solid @position-border-color;
                label {
                    margin-bottom: 0;
                }
            }
        }

        hr {
            background: @position-border-color;
            height: 1px;
            margin-top: 0;
            margin-bottom: 15px;
        }

        .bootom-row {
            margin-bottom: 0;
        }

        .row-container {
            margin-bottom: 5px;
        }

        div.new-btn-container {
            width: 130px;
            margin-left: auto;
            margin-right: auto;
        }

        .controls-container {
            padding-left: 0px;
            .controls {
                float: right;
                .modify-team-position-group {
                    color: @app-btn-bg;
                    background-color: rgba(0,0,0,0);
                    border-color: rgba(0,0,0,0);
                    .glyphicon {
                        font-size:16px;
                    }
                }
            }
        }

        .position-group-container {
            margin: 0px 15px 10px 15px;
        }
    }
}

#positions-and-groups-delete-modal {
    .modal-dialog {
        min-width: @app-min-width-modal;
    }
}
