
@import "admin-conf-grading.less";
@import "admin-conf-player-eval.less";
@import "admin-conf-positions-groups.less";

@admin-configs-grading-btn-bg:#808080;
@admin-configs-grading-btn-color:#fff;
@admin-configs-grading-btn-border:#4a4a4a;

.admin-configurations{
    margin-top: 25px;
    .header-controls {
        .btn {
            width: 100%;
            height: 50px;
        }
    }
}