//
// admin options panel specific styles
//
.admin-option-panel {
    color:#fff;
    padding:0;
    border:0;

    .inset {
        padding:10px;
    }

    .btn {
        display:block;
        margin-left: 0;
        margin-bottom: 30px;
        width:100%;
        height: 50px;
        white-space: normal;  
    }

}

.admin-option-panel+.admin-option-panel {
    margin-top:20px;
}

/* Tablet Portrait */
@media (max-width: @screen-sm-max) {
    .admin-option-panel {
        .btn {
            height: 100px;
        }
    }
}