

.positions-and-groups-edit {
    .modal-dialog {
        min-width: @app-min-width-modal;
    }
	.form-container {
		.position-container {
            float: left;
            width: 50px;
            margin-right: 3px;
            margin-bottom: 3px;
            
            label {
                margin-bottom: 0;
                margin-left: 3px;
            }

            input {
                float: left;
            }
        }
        .help-block {
            display: inline;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 12px;
            .glyphicon {
                font-size: 10px;
            }
        }
        .control-label {
            padding-right: 10px;
        }
	}
	
}