
.team-edit {
    .modal-dialog {
        min-width: @app-min-width-modal;
    }
    .form-container{
        .help-block {
            display: inline;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 12px;
            .glyphicon {
                font-size: 10px;
            }
        }
        .alert-danger {
            p {
                font-weight: bold;
            }
        }
    }
}