//
// admin team specific styles
//
@import "admin-team-edit.less";
.admin-team {
    .section-main {
        border:0;
        padding:0;
        margin-top:25px;
        position: relative;
        border: 2px solid @position-border-color;

        .title {
            margin-top: 15px;
            h3 {
                font-weight: bold;
                margin-top: 0;
            }
        }

        .edit-team {
            float: right;
            .glyphicon {
                font-size:16px;
            }
        }

        .edit-group {
            float: right;
        }

        .row {
            margin-bottom: 15px;
        }

        .inset {
            padding:10px;
        }

        .message {
            display: none;
            position: absolute;
            z-index: 1;
            right: 25%;
            left: 25%;
            top: -18px;
            .alert {
                padding: 5px;
                p {
                    text-align: center;
                    font-weight: bold;
                }
            }
        }
    }
}

.admin-team+.admin-team {
    margin-top:25px;
}