
.user-edit {
    margin-top: 25px;
    position: relative;

    .modal-dialog {
        min-width: @app-min-width-modal;
    }

    .message {
        display: none;
        position: absolute;
        z-index: 1;
        right: 20%;
        left: 20%;
        top: -18px;
        .alert {
            padding: 5px;
            p {
                text-align: center;
                font-weight: bold;
            }
        }
    }

    .form-container {

        .user-name {
            position: relative;
            .middle-name {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }

        .grading {
            padding-top: 10px;
            border-top: 1px solid #cccccc;
        }

        .help-block {
            display: inline;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 12px;
            .glyphicon {
                font-size: 10px;
            }
        }

        @-moz-document url-prefix() {
            .middle-col-sm-4 {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}