// include bootstrap LESS source
@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "../../bower_components/bootstrap-datepicker/less/datepicker3.less";

@import "variables.less";

// include my bootstrap overrides
@import "overrides.less";

// header and navbar styles
@import "page-head.less";
@import "slidebars.less";

// dashboard styles
@import "dashboard.less";

// index/splash styles
@import "index.less";

// modal styles
@import "modal-dialog.less";

// game/games/grading styles
@import "games.less";
@import "game.less";
@import "grade.less";

// player/players styles
@import "players.less";
@import "player.less";

// prospects styles
@import "prospects.less";
@import "prospect.less";

// reports styles
@import "reports.less";

// admin styles
@import "admin.less";

// event styles
@import "event.less";

// components
@import "auto-complete-combobox.less";

// file loading
@import "file-loading.less";

// component
@import "tooltip.less";

// player evaluation styles
@import "evaluation.less";

// player evaluation summary styles
@import "evaluation-summary.less";

// ranking styles
@import "rank.less";

html, body {
    min-width: @app-min-width;
}

/*
.content-nav {
    .make-lg-column(2);
    .make-md-column(2);
    .make-sm-column(2);
    padding-left:0;
    padding-right:0;
}
.content-main {
    .make-lg-column(10);
    .make-md-column(10);
    .make-sm-column(10);
}
*/

.flex() {
//    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex {
    .flex();
}

.flex-align-center() {
    .flex();

    -webkit-flex-align: center;
    -ms-flex-align: center;

    -webkit-align-items: center;
    align-items: center;

    text-align: center;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-align-content: center;
    align-content: center;
}

.flex-align-top() {
    -webkit-flex-align: flex-start;
    -ms-flex-align: start;

    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.loading {
    .flex-align-center();
}

.gd-key {
    position:fixed;
    left:0;
    bottom:0;
    padding:1px;
    text-align: left;
    z-index: 2;
    font-size: 9px;
    margin:0;
}

body.modal-open {
    padding-right: 0 !important;
    nav, .container-players .headers {
        padding-right: 17px;
    }
}

body.modal-open::-webkit-scrollbar {
    display: none;
}

.ask-question-dialog {
    .modal-dialog {
        min-width: @app-min-width-modal;
    }
    .from-info {
        font-weight: normal;
    }
}

.first-login-tooltip {
    .modal-header, .modal-footer {
        display: none;
    }

    &.main-menu {
        .modal-dialog {
            top: 25px;
            left: 5px;
        }
    }

    &.intro {
        .modal-dialog {
            top: 135px;
            left: 320px;
        }
    }

    .modal-dialog {
        position: absolute;
        width: 400px;

        .modal-content {
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
        }

        .modal-body {
            height: 190px;

            .custom-footer {
                margin-top: 50px;

                img {
                    width: 50px;
                }

                .btn {
                    background-color:@app-btn-bg;
                    color:@app-btn-color;
                    border:2px solid @app-btn-border;
                    margin-top: 15px;
                    &:hover {
                        background-color: @app-hover-bg;
                        color:@app-hover-color;
                    }
                    &:focus {
                        background-color: @app-hover-bg;
                        color:@app-hover-color;
                    }
                }
            }
        }
    }

    .arrow {
        width: 70px;
        height: 16px;
        overflow: hidden;
        position: absolute;
        //left: 50%;
        margin-left: -35px;
        bottom: -16px;

        &.top {
            top: -16px;
            bottom: auto;
            left: 20px;

            &:after {
                bottom: -20px;
                top: auto;
            }
        }

        &.left {
            top: 50%;
            width: 16px;
            height: 70px;
            margin-left: 0;
            left: -16px;
            margin-top: -35px;

            &:after {
                top: 25px;
                left: 10px;
            }
        }

        &:after {
            content: "";
            position: absolute;
            background-color: #fff;
            border: 1px solid #999;
            border: 1px solid rgba(0, 0, 0, 0.2);
            left: 20px;
            top: -20px;
            width: 25px;
            height: 25px;
            box-shadow: 6px 5px 9px -9px black;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

}

#welcome-dialog {
    .modal-dialog {
        width: 95%;
        min-width: @app-min-width-modal;

        .modal-header {
            .close {
                display: none;
            }

            h4 {
                font-weight: bold;
                color: #0e4b8c;
            }
        }

        .modal-body {
            min-height: 600px;
        }

        .modal-footer {
            display: none;
        }
    }
    .section-main {
        width: 90%;
        margin: 15px auto;
        text-align: center;

        h4 {
            margin: 50px 0;
        }

        .title {
            h3 {
                color: #0e4b8c;
                font-family: 'Arial Black';
                font-size: 40px;
                padding-left: 100px;
                margin-top: 30px;
            }
        }
    }
    .slider-header {
        overflow: hidden;
        span {
            font-size: 17px;
        }
        .btn {
            width: 150px;
            height: auto;
            margin: 0;
        }
        &.ranking-header {
            position: absolute;
            right: 15px;
            top: 15px;
            z-index: 1
        }
    }
    .user-setting-checkbox {
        text-align: right;
        padding-right: 100px;
    }

    .getting-started-doc-link {
        position: absolute;
        top: -40px;
        text-align: center;
        width: 310px;
        left: 50%;
        margin-left: -155px;
        background: transparent;
    }

    @media (max-width: @screen-md-max) {
        .user-setting-checkbox {
            top: -50px;
            text-align: center;
            width: 200px;
            left: 50%;
            margin-left: -100px;
            right: inherit;
        }

        .getting-started-doc-link {
            top: -27px;
        }
    }

    .close-label {
        position: absolute;
        right: 15px;
        top: -39px;
        cursor: pointer;
        background: transparent;
        border: 0;
        span {
            position: absolute;
            top: -4px;
            right: 0;
            opacity: 0.2;
            font-weight: bold;
            color: #000;
            font-size: 21px;
        }
        strong {
            margin-right: 20px;
        }
        &:hover {
            span {
                opacity: 0.5;
            }  
        }
    }
    .btn {
        background-color:@grade-button-bg;
        color:@grade-button-color;
        border:2px solid @grade-button-border;
        font-size: 17px;
        width: 150px;
        height: 80px;
        margin-top: 20px;
        white-space: normal;
        &:hover,
        &:focus {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-bg;
            text-decoration: none;
        }
    }

    hr {
        margin-top: 50px;
        margin-bottom: 30px;
        border-bottom: 2px solid #000;
    }
}

.learn-more-popup {
    .modal-dialog {
        width: 95%;
        min-width: 800px;

        .modal-footer {
            display: none;

            .btn-default {
                display: none;
            }

            .btn-primary {
                width: 100px;
            }
        }

        .modal-body {
            height: 570px;
        }
    }
}

.carousel {
    div {
        text-align: center;
        img {
            height: 500px;
            //width: 100%;
        }

        .sub-title {
            text-align: left;
            padding-left: 220px;
            padding-top: 100px;
            font-weight: bold;
            font-size: 17px;
        }

        .info-text {
            height: 386px;
            text-align: left;
            padding-left: 250px;
            font-size: 17px;
            line-height: 2;
        }
    }

    a {
        background: rgba(255,255,255,0) !important;
        color: @grade-button-bg;

        &.left {
            span {
                position: absolute;
                left: 15px;
            }
        }

        &.right {
            span {
                position: absolute;
                right: 15px;
            }
        }
    }

    .carousel-indicators {
        bottom: -20px !important;

        li {
            border: 2px solid @grade-button-bg;

            &.active {
                background-color: @grade-button-bg;
            }
        }
    }
}

#learn-ranking-carousel {
    .slider-header {
        margin-bottom: 20px;
    }
}

#event-list-dialog {
    .loading-message {

        .glyphicon-refresh-animate {
            visibility: visible;
            font-size: 100px;
            margin: 30px 0;
            -animation: spin .9s infinite linear;
            -webkit-animation: spin2 .9s infinite linear;
        }
    }
}

.loading-message {
    text-align: center;
    
    .glyphicon-refresh-animate {
        visibility: hidden;
        font-size: 100px;
        margin: 30px 0;
        //-animation: spin .9s infinite linear;
        //-webkit-animation: spin2 .9s infinite linear;
    }

    .msg {
        display: block;
    }

    // animation
    @-webkit-keyframes spin2 {
        from { -webkit-transform: rotate(0deg);}
        to { -webkit-transform: rotate(360deg);}
    }

    @keyframes spin {
        from { transform: scale(1) rotate(0deg);}
        to { transform: scale(1) rotate(360deg);}
    }
}

#session-timeout-dialog {
    .modal-header, .modal-footer {
        display: none;
    }

    .btn {
        background-color:@app-btn-bg;
        color:@app-btn-color;
        border:2px solid @app-btn-border;
        margin-top: 15px;
        font-size: 16px;

        &:hover {
            background-color: @app-hover-bg;
            color:@app-hover-color;
        }
        &:focus {
            background-color: @app-hover-bg;
            color:@app-hover-color;
        }

        &.btn-right {
            margin-left: 20px;
        }
    }
}

/* Tablet Landscape */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

    .learn-more-popup {
        .modal-dialog {
            .modal-body {
                height: 530px;
            }
        }
    }

    .carousel {
        div {
            height: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    #welcome-dialog {
        .modal-dialog {
            .modal-body {
                min-height: auto;
            }
        }
    }
}

/* Tablet Portrait */
@media (max-width: @screen-sm-max) {
    .learn-more-popup {
        .modal-dialog {
            .modal-body {
                height: 430px;
            }
        }
    }

    .carousel {
        div {
            height: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    #welcome-dialog {
        .modal-dialog {
            .modal-body {
                min-height: auto;
            }
        }
    }
}