.dropdown-container {
  	position: relative;
	#content-elements {
		height: auto;
		max-height: 300px;
    	overflow-y: auto;
		list-style: none;
		padding: 0;
		position: absolute;
  		z-index: 10;
  		border: 1px solid #1A88FD;
  		
		li {
			padding: 0 12px;
			&:hover,
	        &:focus {
	            background-color: #1A88FD;
	            color:@app-hover-color;
	            text-decoration: none;
	        }
		}
	}
}

.dropdown-arrow {
	position: absolute;
  	right: 20px;
  	top: 40px;
}