//
// dashboard page specific styles
//

@import "dashboard-index.less";
@import "dashboard-top-players.less";
@import "dashboard-top5-stats.less";
@import "dashboard-info-panel.less";

@dashboard-color-section-right: #e6e7e8;
@dashboard-color-section-main: #fff;
@dashboard-color-blue-bg: #0a254e;
@dashboard-color-gray-bg: #252525;
@dashboard-color-jersey:#fff;

.container-fluid.dashboard {
    height:100%;
    margin-left:0;
    margin-right:0;
    padding-left:0;
//    padding-right:0;
}

@media (min-width: 768px) {
    //992px, 1200px
    .container-fluid.dashboard {
        //height:500px;
    }
}

.dashboard > .section-nav {
    .make-lg-column(3);
    .make-md-column(3);
    .make-sm-column(3);
    .make-xs-column(3);
    background-color: @app-color-bg-sidebar;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    height:100%;
    position:absolute;
    overflow-y: inherit;
    left:0;
    right:0;
    top:0;
    bottom:0;
    padding:15px;
    /*@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
        padding:10px;
    }*/

    .btn {
        position: relative;
        background-color:@dashboard-info-color-button-bg;
        color:@dashboard-info-color-button-color;
        border:2px solid @dashboard-info-color-button-border;
        display:block;
        text-align: left;
        margin: 10px 0 10px 0;
        margin-left: 0;
        width:100%;
        white-space: normal;
        &:hover {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-border;
        }
        span.glyphicon {
            position: absolute;
            right: 12px;
            top: 6px;
            line-height: 18px;
        }

        &.btn-loading {
            background-color: #4888ef;
            border: 2px solid #1b75d7;
            &:hover {
                background-color: #1b75d7;
            }
            span {
                /*width: 10px;*/
                animation: spin .9s infinite linear;
                -webkit-animation: spin2 .9s infinite linear;

                // animation
                @-webkit-keyframes spin2 {
                    from { -webkit-transform: rotate(0deg);}
                    to { -webkit-transform: rotate(360deg);}
                }

                @keyframes spin {
                    from { transform: scale(1) rotate(0deg);}
                    to { transform: scale(1) rotate(360deg);}
                }
            }
        }
    }

    .season-selector {
        margin-top: 5px;
    }
}

.dashboard > .section-main {
    .make-lg-column(9);
    .make-md-column(9);
    .make-sm-column(9);
    .make-xs-column(9);
    .make-lg-column-offset(3);
    .make-md-column-offset(3);
    .make-sm-column-offset(3);
    .make-xs-column-offset(3);
    height:100%;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    padding:15px;
    /*@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
        padding:10px;
    }*/
}
