//
// dashboard index page specific styles
//

@dashboard-index-column1-width:     52%;
@dashboard-index-column2-n-width:   16%;
@dashboard-index-row-height-header: 60px;
@dashboard-index-row-height:        34px;

@dashboard-index-color-header1:#959595;
@dashboard-index-color-header2:#0e4b8c;
@dashboard-index-color-header3:#09326a;
@dashboard-index-color-header4:#01042e;
@dashboard-index-color-column1:#808080;
@dashboard-index-color-column2:#0e4b8c;
@dashboard-index-color-column3:#09326a;
@dashboard-index-color-column4:#01042e;
@dashboard-index-color-border1:#4a4a4a;

.dashboard-index {

    height: 100%;

    .section-left {
        .make-lg-column(8);
        .make-md-column(8);
        .make-sm-column(8);
        .make-xs-column(8);
        height:100%;
        padding:0 15px 0 0;
        overflow-y: auto;
    }

    .section-right {
        .make-lg-column(4);
        .make-md-column(4);
        .make-sm-column(4);
        .make-xs-column(4);
        height:100%;
        background-color: #e6e7e8;
        //padding:0 0  0 15px;

        position:absolute;
        right:0;
        //top:@page-header-height;
        bottom:0;
        padding:15px;
    }

    .row-height() {
        height:@dashboard-index-row-height;
    }
    .row-height-header() {
        height:@dashboard-index-row-height-header;
    }
    .column1-width() {
        width:@dashboard-index-column1-width;
    }
    .column2-width() {
        width:@dashboard-index-column2-n-width;
    }
    .column3-width() {
        width:@dashboard-index-column2-n-width;
    }
    .column4-width() {
        width:@dashboard-index-column2-n-width;
    }
    .column1-color-header() {
        background-color: @dashboard-index-color-header1;
        color:#fff;
    }
    .column2-color-header() {
        background-color: @dashboard-index-color-header2;
        color:#fff;
    }
    .column3-color-header() {
        background-color: @dashboard-index-color-header3;
        color:#fff;
    }
    .column4-color-header() {
        background-color: @dashboard-index-color-header4;
        color:#fff;
    }
    .column1-color() {
        background-color: @dashboard-index-color-column1;
        color:#fff;
    }
    .column2-color() {
        background-color: @dashboard-index-color-column2;
        color:#fff;
        &.header {
            background-color:@dashboard-index-color-header2;
        }
    }
    .column3-color() {
        background-color: @dashboard-index-color-column3;
        color:#fff;
        &.header {
            background-color:@dashboard-index-color-header3;
        }
    }
    .column4-color() {
        background-color: @dashboard-index-color-column4;
        color:#fff;
        &.header {
            background-color:@dashboard-index-color-header4;
        }
    }

    .row-separator {
        border-bottom: 2px solid @dashboard-index-color-column4;
        padding-bottom:8px;
    }

    .row-separator + .row-separator {
        padding-top: 8px;
    }

    .column {
        position:relative;
        .row-height();
        padding:5px;
        margin:0;
        border:0;
        outline:0;
        color:#fff;
        font-size: 17px;
        line-height: 17px;
        font-weight: normal;

        .flex-align-center();   // center vertically and horizontally

        &.header {
            .row-height-header();
        }

        span,p {
            width:100%;
        }

        span.dashboard-stats {
            position:absolute;
            bottom:0;
            right:5px;
            text-align: right;
            font-size:11px;
            font-weight: normal;
        }

        span.dashboard-rank {
            width:10%;
        }

        span.dashboard-name {
            width:80%;
            text-align: left;
        }
        span.dashboard-jersey-number {
            text-align: right;
            width:10%;
            font-size: 24px;
            font-weight: 600;
        }
    }

    .column+.column {
        margin-left:10px;
    }

    .column1 {
        .column1-width();
        .column1-color();
        border: 2px solid @dashboard-index-color-border1;

        &:hover,
        &:focus {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            text-decoration: none;
            border-color: @app-hover-border;
        }

        &.header {
            &:hover {
            }
            background-color:@dashboard-index-color-header1;
            border-color:@dashboard-index-color-header1
        }
    }

    .column2 {
        .column2-width();
        .column2-color();
    }

    .column3 {
        .column3-width();
        .column3-color();
    }

    .column4 {
        .column4-width();
        .column4-color();
    }

    .no-data {
        margin-top:50px;
        .flex-align-center();   // center vertically and horizontally

        .btn {
            border: 2px solid @dashboard-index-color-border1;
            margin-top: 20px;
            background-color:@dashboard-info-color-button-bg;
            color:@dashboard-info-color-button-color;
            display: block;
            padding: 30px 50px;

            &:hover,
            &:focus {
                background-color: @app-hover-bg;
                color:@app-hover-color;
                text-decoration: none;
                border-color: @app-hover-border;
            }
        }
    }

    .loading-message {
        margin-top: 100px;
    }

    @media (min-width: @screen-xs-min) AND (max-width: @screen-sm-max) {
        .column {
            font-size:13px;
            line-height:@line-height-base;
            span.dashboard-jersey-number {
                font-size: 18px;
            }
            span.dashboard-stats {
                font-size:9px;
            }
            &.header {
                line-height: 14px;
                font-size:13px;
            }
        }
        .column+.column {
            margin-left:5px;
        }
        .section-left {
            padding-right: 15px;
        }

        .section-right {
            padding:15px;
        }
    }
    @media (min-width: @screen-md-min) AND (max-width: @screen-md-max) {
        .column {
            font-size:15px;
            line-height:16px;
        }
    }
}
