//
// dashboard info panel specific styles
//

@dashboard-info-color-bg:#959595;
@dashboard-info-color-border:#959595;
@dashboard-info-color-button-bg:#808080;
@dashboard-info-color-button-color:#fff;
@dashboard-info-color-button-border:#4a4a4a;

.dashboard-info-panel {
    background-color: @dashboard-info-color-bg;
    color:#fff;
    padding-bottom: 5px;
    border:0;
    h2 {
        font-size:18px;
        margin-top:10px;
    }
    span, p {
        font-size: 13px;
        margin-top:5px;
        margin-bottom:5px;
    }
    .tbody, .tr, .td1, .td2, .th1, .th2 {
        padding:3px 0;
        font-size: 13px;
        line-height:15px;                   /* set this with a modifier */
        height:16px;
        font-weight:normal;
        text-align:left;
        border:0;
        vertical-align: middle;
    }
    .inset {
        padding:5px 10px 10px;

        &.border {
            border: 1px solid @app-color-inner-border-sidebar;
        }
    }

    .th1, .th2 {
        padding:5px 0;
        font-size: 15px;
        line-height:18px;
        height:20px;
        border-bottom: 1px solid white;
    }

    .th1 {
        width:60%;
    }
    .th2 {
        width:40%;
    }

    @media (min-width: @screen-xs-min) and (max-width: @screen-sm-max) {
        h2 {
            font-size:13px;
            margin-top:5px;
        }
        span, p {
            font-size: 11px;
            margin-top:4px;
            margin-bottom:4px;
        }
        .tbody, .tr, .td1, .td2, .th1, .th2 {
            padding:2px 0;
            font-size: 11px;
            line-height:13px;
            height:14px;
        }
        .radio {
            margin-top:5px;
            margin-bottom:5px;
        }
        .radio label {
            font-size:12px;
            line-height:13px;
            min-height:14px;
        }
        input[type="radio"] {
            margin-top:0;
        }
        .btn {
            margin-top:5px;
            font-size:12px;
        }

    }

    .view {
        position: relative;
        width: 100%;
        min-height: 34px;
        background-color: @dashboard-info-color-button-bg;
        border: 2px solid @dashboard-info-color-button-border;
        text-align: left;
        padding: 0 5px 0 5px;
        margin-top: 5px;
        &:hover{
            background-color: @app-hover-bg;
        }
    }

    .view.active {
        background-color: #4888ef;
        border: 2px solid #1b75d7;
        &:hover{
            background-color: #1b75d7;
        }
        span {
            float: right;
        }
    }
}
.dashboard-info-panel+.dashboard-info-panel {
    margin-top:10px;
}