//
// dashboard top-players page(s) specific styles
//

@dashboard-top-players-column1-width:     35%;
@dashboard-top-players-column2-n-width:   13%;
@dashboard-top-players-row-height-header: 60px;
@dashboard-top-players-row-height:        34px;

@dashboard-top-players-color-header1:#959595;
@dashboard-top-players-color-header2:#959595;
@dashboard-top-players-color-header3:#0e4b8c;
@dashboard-top-players-color-header4:#09326a;
@dashboard-top-players-color-header5:#051b4d;
@dashboard-top-players-color-header6:#01042e;
@dashboard-top-players-color-column1:#808080;
@dashboard-top-players-color-column2:#959595;
@dashboard-top-players-color-column3:#0e4b8c;
@dashboard-top-players-color-column4:#09326a;
@dashboard-top-players-color-column5:#051b4d;
@dashboard-top-players-color-column6:#01042e;
@dashboard-top-players-color-border1:#4a4a4a;

.dashboard-top-players {
    .section-left {
//        .make-lg-column(9);
//        .make-md-column(9);
//        .make-sm-column(9);
        height:100%;

    }

    .loading-message {
        margin-top: 100px;
    }

    .row-height() {
        height:@dashboard-top-players-row-height;
    }
    .row-height-header() {
        height:@dashboard-top-players-row-height-header;
    }
    .column1-width() {
        width:@dashboard-top-players-column1-width;
    }
    .column2-width() {
        width:@dashboard-top-players-column2-n-width;
    }
    .column3-width() {
        width:@dashboard-top-players-column2-n-width;
    }
    .column4-width() {
        width:@dashboard-top-players-column2-n-width;
    }
    .column5-width() {
        width:@dashboard-top-players-column2-n-width;
    }
    .column6-width() {
        width:@dashboard-top-players-column2-n-width;
    }
    .column1-color-header() {
        background-color: @dashboard-top-players-color-header1;
        color:#fff;
    }
    .column2-color-header() {
        background-color: @dashboard-top-players-color-header2;
        color:#fff;
    }
    .column3-color-header() {
        background-color: @dashboard-top-players-color-header3;
        color:#fff;
    }
    .column4-color-header() {
        background-color: @dashboard-top-players-color-header4;
        color:#fff;
    }
    .column5-color-header() {
        background-color: @dashboard-top-players-color-header5;
        color:#fff;
    }
    .column6-color-header() {
        background-color: @dashboard-top-players-color-header6;
        color:#fff;
    }
    .column1-color() {
        background-color: @dashboard-top-players-color-column1;
        color:#fff;
    }
    .column2-color() {
        background-color: @dashboard-top-players-color-column2;
        color:#fff;
        &.header {
            background-color:@dashboard-top-players-color-header2;
        }
    }
    .column3-color() {
        background-color: @dashboard-top-players-color-column3;
        color:#fff;
        &.header {
            background-color:@dashboard-top-players-color-header3;
        }
    }
    .column4-color() {
        background-color: @dashboard-top-players-color-column4;
        color:#fff;
        &.header {
            background-color:@dashboard-top-players-color-header4;
        }
    }
    .column5-color() {
        background-color: @dashboard-top-players-color-column5;
        color:#fff;
        &.header {
            background-color:@dashboard-top-players-color-header5;
        }
    }
    .column6-color() {
        background-color: @dashboard-top-players-color-column6;
        color:#fff;
        &.header {
            background-color:@dashboard-top-players-color-header6;
        }
    }

    .row-separator {
        border-bottom: 2px solid @dashboard-top-players-color-column4;
        padding-bottom:8px;
    }

    .row-separator + .row-separator {
        padding-top: 8px;
    }

    .column {
        position:relative;
        .row-height();
        padding:5px;
        margin:0;
        border:0;
        outline:0;
        color:#fff;
        font-size: 18px;
        line-height: 18px;
        font-weight: normal;

        .flex-align-center();

        &.header {
            .row-height-header();
        }

        span,p {
            width:100%;
        }

        span.dashboard-stats {
            position:absolute;
            bottom:0;
            right:5px;
            text-align: right;
            font-size:11px;
            font-weight: normal;
        }

        span.dashboard-rank {
            width:10%;
        }

        span.dashboard-name {
            width:80%;
            text-align: left;
        }
        span.dashboard-jersey-number {
            text-align: right;
            width:10%;
            font-size: 24px;
            font-weight: 600;
        }
    }

    .column+.column {
        margin-left:10px;
    }

    .column1 {
        .column1-width();
        .column1-color();
        border: 2px solid @dashboard-top-players-color-border1;

        &:hover,
        &:focus {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            text-decoration: none;
            border-color: @app-hover-border;
        }

        &.header {
            &:hover {
            }
            background-color:@dashboard-top-players-color-header1;
            border-color:@dashboard-top-players-color-header1
        }
    }

    .column2 {
        .column2-width();
        .column2-color();
    }

    .column3 {
        .column3-width();
        .column3-color();
    }

    .column4 {
        .column4-width();
        .column4-color();
    }
    .column5 {
        .column5-width();
        .column5-color();
    }
    .column6 {
        .column6-width();
        .column6-color();
    }
    @media (min-width: @screen-xs-min) {
        //992px, 1200px
        .column {
            font-size:13px;
            line-height:@line-height-base;
            span.dashboard-jersey-number {
                font-size: 18px;
            }
            span.dashboard-stats {
                font-size:9px;
            }
        }
        .column+.column {
            margin-left:5px;
        }
    }
    @media (min-width: @screen-md-min) {
        //992px, 1200px
        .column {
            font-size:16px;
            line-height:@line-height-base;
        }
    }
}
