//
// dashboard top5 panel component specific styles
//

@dashboard-top5-panel-color-bg:#808080;
@dashboard-top5-panel-color-border:#4a4a4a;

.dashboard-top5-panel {
    background-color: @dashboard-top5-panel-color-bg;
    color:#fff;
    padding:0;
    border:2px solid @dashboard-top5-panel-color-border;

    .inset {
        padding:5px 10px;
    }

    .table {
        margin-bottom:0;
    }
    h2 {
        font-size:18px;
        margin-top:10px;
    }

    &:hover {
        cursor:pointer;
        color:@app-hover-color;
        background-color: @app-hover-bg;
        border-color: @app-hover-border;
    }

    a {
        color:#fff;
        &:hover,
        &:focus {
            color:#fff;
            text-decoration: none;
            cursor:pointer;
        }
    }

    a:link {
        text-decoration: none;
    }

    .tbody, .tr, .td1, .td2, .th1, .th2 {
        padding:3px 0;
        font-size: 13px;
        line-height:15px;
        height:16px;
        font-weight:normal;
        text-align:left;
        border:0;
        vertical-align:middle;
    }

    .th1, .th2 {
        padding:5px 0;
        font-size: 15px;
        line-height:20px;
        height:20px;
        border-bottom: 1px solid white;
        vertical-align: middle;
        text-align: left;
    }

    .th2, .td2 {
        text-align:right;
    }

    &.btn {
        margin-top: 10px;
        width: 100%;
        padding: 6px 12px;
        font-size: 18px;
    }

    @media (min-width: @screen-xs-min) and (max-width: @screen-sm-max) {
        h2 {
            font-size:13px;
            margin-top:5px;
        }
        .tbody, .tr, .td1, .td2, .th1, .th2 {
            padding:2px 0;
            font-size: 11px;
            line-height:13px;
            height:14px;
        }
    }

    @media (max-width: 1050px) {
        &.btn {
            white-space: normal;
            font-size: 14px;
        }
    }
}

.ember-view.dashboard-top5-panel+.ember-view.dashboard-top5-panel {
    margin-top: 10px;
}



