@blue-color: #0E4B8C;
@red-color: #790000;
@gray-color: #959595;
@header-height: 72px;

.summary-container {
    padding: 15px;
    font-size: 15px;
    .header {
        height: @header-height;
        .info {
            width: 100%;
            padding-right: 20px;
            padding-left: 20px;
            background-color: #dfdfdf;
        }
        .table {
            margin-bottom: 0px;
            .column1 {
                width: 37%;
            }
            .column2 {
                width: 10%;
                text-align: right;
                span {
                    margin-right: 5px;
                }
            }
            .column3 {
                width: 22%;
                span {
                    margin-left: 5px;
                }
            }
            .column4 {
                width: 25%;
                text-align: right;
                span {
                    margin-right: 5px;
                }
            }
            .column5 {
                width: 6%;
                span {
                    margin-left: 5px;
                }
            }
            td {
              padding: 1px !important;
              border-top: none;
              .text-right {
                  text-align: right;
              }

              .glyphicon {
                  margin: 0px 5px 0px 15px;
                  color: @gray-color;
              }
            }
            .important {
                font-size: 17px;
                font-weight: bold;
            }
        }
    }

    .position {
        .flex-align-top();
        width: @header-height;
        padding:5px;
        text-align: center;
        font-size: 28px;
        line-height: 28px;
        font-weight: bold;
        min-height: 100%;
        color: @app-btn-color;
        background-color: @app-btn-border;

        .glyphicon {
            font-size: 14px;
            margin-top: 18px;
            margin-left: 40px;
        }
    }

    .report-container {
        margin-top: 15px;
        .critery-type {
            font-size: 14px;
            height: 30px;
            line-height: 30px;
            color: @app-btn-color;
            .name {
                font-size: 20px;
                font-weight: bold;
                min-height: 100%;
            }
            .type1 {
                background-color: @blue-color;
            }
            .type2 {
                background-color: #07254e;
            }
            .type3 {
                background-color: #01042e;
            }
            .player {
                background-color: @red-color;
                min-height: 100%;
            }
            .target {
                background-color: @gray-color;
                min-height: 100%;
            }
        }

        table {
            margin-top: 10px;

            .tr {
                .th {
                    border-bottom: none;
                }

                .td {
                    border-top: none;
                }

                &.table-headers {
                    background-color: #959595;
                    color: #FFF;
                }
            }

            .column1 {
                width: 30%;
            }

            .column2 {
                width: 10%;
            }

            .column3 {
                width: 10%;
            }

            .column4 {
                width: 50%;
            }
        }

        .notes {
          margin-top: 10px;
          margin-bottom: 70px;
          font-size: 30px;
          padding-right: 0;
            .table {
                margin-bottom: 0px;
                td {
                    height: 50px;
                    line-height: 30px;
                    padding: 0px !important;
                    border-top: none;
                    text-align: right;
                    button {
                        border: none;
                        background: #fff;
                        color: #959595;
                        padding-right: 0;
                    }
                 }
             }
        }
    }

    .btn {
        background-color:@app-btn-bg;
        color:@app-btn-color;
        border:2px solid @app-btn-border;
        &:hover {
            background-color: @app-hover-bg;
            color:@app-hover-color;
        }
        &:focus {
            background-color: @app-hover-bg;
            color:@app-hover-color;
        }
    }

    .toggle-view-btn {
        width: 150px;
        margin-right: 10px;

        &.active {
            background-color: #4888ef;
            border: 2px solid #1b75d7;
            &:hover {
                background-color: #1b75d7;
            }
        }
    }
}
.summary-note {
  .modal-footer {
      //
      .btn-default {
          display: none;
      }
  }
}

@media (max-width: 1024px) {
    .summary-container {
        .header {
            font-size: 12px;

            .table {
                .column2, .column4 {
                    span {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
