//
// evaluation specific styles
//

@evaluation-column1-width:46%;
@evaluation-column2-width:54%;
@evaluation-column-n-width:9%;
@evaluation-headers-height:70px;
@evaluation-column-height:55px;

@screen-dark: #666666;
@screen-light:#cccccc;
@white-background-color: #fff;
@evaluation-color-header2: #959595;

// Major Factors:
@evaluation-color-1: #0E4B8C;
@evaluation-ns-color-1: #86A5C5;

// Critical Factors:
@evaluation-color-2: #07254e;
@evaluation-ns-color-2: #6a7c95;

// Position Skills:
@evaluation-color-3: #01042e;
@evaluation-ns-color-3: #6c7e96;

@prospect-info-color-bg:#959595;
@prospect-info-color-border:#959595;
@prospect-info-color-button-bg:#808080;
@prospect-info-color-button-color:#fff;
@prospect-info-color-button-border:#4a4a4a;


.container-fluid.evaluation {
    height:100%;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
}

@media (min-width: 768px) {
    //992px, 1200px
    .container-fluid.prospect {
        //height:500px;
    }
}

.evaluation > .section-left {
    position: fixed;
    top: 40px;
    background-color: @app-color-bg-sidebar;
    height:100%;
    width: 25%;
    left:0;
    bottom:0;
    padding:15px;
    min-width: @app-min-width-side-panel;

    .toggle-info-panel-size {
        background: none;
        color: @prospect-info-color-button-color;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        margin: 0;
        border: none;

        span {
            font-size: 20px !important;
        }
    }

    &.stretched {
        width: 40px;
        min-width: inherit;

        .player-info-panel {

            .info-label {
                display: block;
            }

            .info {
                display: none;
            }

            .toggle-info-panel-size {
                top: 0;
                height: 100%;
                width: 43px;
            }
        }
    }

    //
    // prospect info panel specific styles
    //
    .player-info-panel {
        background-color: @prospect-info-color-bg;
        color:#fff;
        padding:0;
        border:0;
        h2 {
            font-size:18px;
            margin-top:10px;
            margin-bottom:5px;
        }
        h3 {
            font-size:16px;
            margin-top:5px;
            margin-bottom:5px;
        }
        span, p {
            font-size: 13px;
            margin-top:5px;
            margin-bottom:5px;
        }
        .tbody, .tr, .td1, .td2, .th1, .th2 {
            padding:3px 0;
            font-size: 13px;
            line-height:15px;                   /* set this with a modifier */
            font-weight:normal;
            height:16px;
            text-align:left;
            border:0;
            vertical-align: center;
        }

        .info-label {
            display:none;

            text-align: left;

            -webkit-flex-align: flex-end;
            -ms-flex-align: end;

            -webkit-align-items: flex-end;
            align-items: flex-end;

            -webkit-justify-content: center;
            justify-content: center;

            .rotate {
                white-space: nowrap;
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
                margin:10px;
                h2 {
                    margin: -15px 0;
                    position:absolute;
                    right: 0;
                    font-size: 19px;
                    font-weight: bold;
                }
            }
        }

        .info {
            //padding:10px;
            //border:2px solid @prospect-info-color-button-border;
            margin-top: -5px;
        }

        .th1, .th2 {
            padding:5px 0;
            font-size: 15px;
            line-height:20px;
            height:20px;
        }

        .td1 {
            width:60px;
        }
        .td2 {
            //width:90%;
        }
    }
    .player-info-panel+.player-info-panel {
        margin-top:20px;
    }
}

.evaluation > .section-main {
    width: 75%;
    float: left;
    margin-left: 25%;
    height:100%;
    left:0;
    right:0;
    bottom:0;

    &.expanded {
        width: 100%;
        padding-left: 40px;
        margin-left: 0;

        .player-evaluation {
            .headers {
                left: 40px;
                min-width: @app-min-width;
            }

            .eval-nav-options {
                width: auto;
                left: 40px;
                right: 0;
                margin-right: 0;
                margin-left:0;
            }
        }

    }

    .evaluation-control {
        position: relative;

        .notes {
            position: absolute;
            left: 0;
            margin-top: 60px;
            .glyphicon-envelope {
                color: #808080;
            }
        }

        &.has-notes {
            padding-bottom: 30px;
        }

    }

    .player-evaluation {
        //width: 100%;
        margin: 0px 10px 70px 10px;
        .headers {
            position: fixed;
            margin-left: 10px;
            margin-right: 10px;
            z-index: 10;
            right: 0;
            background-color: @white-background-color;
            padding-top: 15px;
            left: 25%;
            min-width: 576px;
        }

        @media (max-width: 768px) {
            .headers {
                left: 192px;
            }
        }

        .section-main {
            padding-top: 107px;
        }
        .column {
            position:relative;
            height:@evaluation-headers-height;
            padding:5px;
            margin:0;
            border:0;
            outline:0;
            color:@white-background-color;
            font-size: 18px ;
            line-height: 18px;
            font-weight: normal;

            .flex-align-center();   // center vertically and horizontally
        }

        .column+.column {
            margin-left:10px;
        }

        .header1 {
            font-size:20px;
            padding-top:20px;
            font-weight: bold;
            .flex-align-top();
            width:@evaluation-column1-width;
        }

        .header2 {
            padding: 0px;
            font-size:16px;
            background-color:@evaluation-color-header2;
            width:@evaluation-column2-width;

            .info {
                text-align:left;
                font-style: italic;
                padding: 5px;
                width: 100%;
            }
            .position {
                .flex-align-center();
                padding: 5px;
                //width: @evaluation-headers-height;
                width: 80px;
                height: 70px;
                background-color: @app-hover-bg;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
            }
        }

        .score-container {
            width:@evaluation-column2-width;
            margin-left: 10px;
            margin-right: 2px;
            .columnN {
                font-size: 43px;
                height: @evaluation-column-height;
                flex-basis: 100%;
                font-weight: bold;
                &:hover,
                &:focus {
                    color:@app-hover-color;
                    text-decoration: none;
                }
            }
        }

        .column1 {
            width:@evaluation-column1-width;
            height: @evaluation-column-height;
            font-size: 18px;
            font-weight: bold;
            margin-left: 1px;
            .criteria-name {
                text-align: left;
                width: 100%;
                margin-left: 5px;
            }
            .glyphicon {
                width: @evaluation-column-height;
                text-align: center;
                margin-left: 5px;
            }
        }

        .eval-nav-options {
              position: fixed;
              bottom: 0;
              width: 75%;
              padding-bottom: 10px;
              background-color: #e6e7e8;
              padding-top: 10px;
              margin-left: -25px;
              min-width: @app-min-width;

              .eval-nav-btns {
                  margin-left: 10px;
                  text-align: center;
                  margin-right: 10px;
              }

              .eval-nav-left {
                  width: 35%;
                  text-align: left;
                  padding-left: 10px;
              }
              .eval-nav-center {
                  width: 40%;
                  text-align: center;
              }
              .eval-nav-right {
                  width: 35%;
                  text-align: right;
                  padding-right: 10px;
              }

              button {
                  background-color:@app-btn-bg;
                  width: 215px;
                  text-align: center;
                  font-weight: normal;
                  border: 2px solid @app-btn-border;
                  height: 50px;
                  padding-left: 20px;
                  padding-right: 20px;
                  span {
                      font-weight:normal;
                      font-size: 20px;
                      text-align: center;
                      color: @app-btn-color;
                  }
                  &:hover,
                  &:focus {
                      background-color: @app-hover-bg;
                      color:@app-hover-color;
                      border-color: @app-hover-bg;
                      text-decoration: none;
                  }
              }
        }
    }

    .player-evaluation.color-type1 {
        .header1 {
            background-color:@evaluation-color-1;
        }
        .score-container {
            .columnN {
                background-color: @evaluation-ns-color-1;
                border: 3px solid @evaluation-color-1;
                &:hover,
                &:focus {
                    background-color: @evaluation-color-1;
                }
            }
            .selected {
                background-color: @evaluation-color-1;
            }
        }
        .column1 {
            background-color: @evaluation-color-1;
        }
    }

    .player-evaluation.color-type2 {
        .header1 {
            background-color:@evaluation-color-2;
        }
        .score-container {
            .columnN {
                background-color: @evaluation-ns-color-2;
                border: 3px solid @evaluation-color-2;
                &:hover,
                &:focus {
                    background-color: @evaluation-color-2;
                }
            }
            .selected {
                background-color: @evaluation-color-2;
            }
        }
        .column1 {
            background-color: @evaluation-color-2;
        }
    }
    .player-evaluation.color-type3 {
        .header1 {
            background-color:@evaluation-color-3;
        }
        .score-container {
            .columnN {
                background-color: @evaluation-ns-color-3;
                border: 3px solid @evaluation-color-3;
                &:hover,
                &:focus {
                    background-color: @evaluation-color-3;
                }
            }
            .selected {
                background-color: @evaluation-color-3;
            }
        }
        .column1 {
            background-color: @evaluation-color-3;
        }
    }

    .evaluation-notes, .evaluation-note {
        .container-fluid {
            padding-left: 20px;
            padding-right: 20px;
            label {
                font-size: 18px;
                line-height: 45px;
                padding-left: 0px;
            }
        }
        .row-separator {
            border-bottom: 2px solid @evaluation-color-1;
        }
        .textarea {
            padding-right: 0px;
        }
        .modal-dialog {
            min-width: 700px !important;
        }
    }
}

.evaluation-notes {
    
    .modal-dialog {
        min-width: @app-min-width-modal;
    }

    .modal-footer {
        .btn-default {
            display: none;
        }
    }
}

#evaluation-landing-page {
    .section-main {
        width: 90%;
        margin: 15px auto;
    }
    .btn {
        background-color:@grade-button-bg;
        color:@grade-button-color;
        border:2px solid @grade-button-border;
        font-size: 17px;
        width: 100%;
        height: 100px;
        margin-top: 20px;
        white-space: normal;
        &:hover,
        &:focus {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-bg;
            text-decoration: none;
        }
    }

    .red-text {
        color: #a94442;
    }

    hr {
        margin-top: 50px;
        margin-bottom: 30px;
        border-bottom: 2px solid #000;
    }
}

#evaluate-player-chooser, #evaluate-prospect-chooser {
    .modal-header {
        border: none;
        .modal-title {
            color: #337ab7;
        }
    }
    .modal-body {
        padding-left: 30px;
        padding-right: 30px;
    }
    .modal-footer {
        text-align: center;
        border: none;
        .btn {
            background-color:@game-color-column1;
            border: 2px solid #393939;
            color: #fff;
            font-size: 17px;
            line-height: 17px;
            padding: 20px;
            &:hover,
            &:focus {
                background-color: @app-hover-bg;
                color:@app-hover-color;
                border-color: @app-hover-bg;
                text-decoration: none;
            }
        }
        .btn-default {
            margin-right: 75px;
        }
    }

    .roster {
        height: 450px;
        overflow-y: scroll;
        .btn {
            padding: 15px;
            width: 100%;
            text-align: left;
            background-color:@game-color-column1;
            border: 2px solid #393939;
            margin-bottom: 15px;
            &:hover,
             {
                background-color: @app-hover-bg;
                color:@app-hover-color;
                border-color: @app-hover-bg;
                text-decoration: none;
            }
            span {
                color: #fff;
                font-size: 17px;
                line-height: 17px;
            }
            span.jersey-number {
                margin-right: 20px;
            }
        }

        .selected {
            background-color: #4888ef;
            border: 2px solid #1b75d7;
            &:hover, &:focus{
                background-color: #1b75d7;
                border: 2px solid #1b75d7;
            }
        }
    }

     @media (max-width: 768px) {

        .modal-dialog {
            min-width: 600px;
        }

    }
}

.evaluation-setup {

    .section-main {
        width: 90%;
        margin: 15px auto;

        .row {
            margin-left: -15px;
            margin-right: -15px;
            border-bottom: 2px solid;
            padding-bottom: 15px;

            .position-group-name {
                padding-top: 20px;

                span {
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }

        .header {
            padding-bottom: 40px;
        }

        h3 {
            font-weight: bold;
        }

        .btn {
            width: 90px;
            padding: 10px;
            color: #fff;
            background-color: @app-btn-bg;
            border: 2px solid @app-btn-border;
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 5px;
            margin-top: 5px;
            &:hover,
            &:focus {
                background-color: @app-hover-bg;
                color:@app-hover-color;
                border-color: @app-hover-bg;
                text-decoration: none;
            }
        }

        .hint {
            color: #a94442;
            font-style: italic;
            margin-top: 20px;
        }

    }

}

#evaluation-criteria-setup {
    .modal-header {
        display: none;
    }

    .header, .modal-footer {
        background-color: #ccc;
    }

    .header {
        .position-shortname {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            font-size: 30px;
            font-weight: bold;
            height: 70px;
            display: inline-block;
            width: 80px;
            text-align: center;
        }

        .title {
            display: inline-table;
            margin-left: 20px;
        }

        .importance-picker {
            position: absolute;
            top: 3px;
            right: 100px;
            display: inline-flex;
            margin-top: 15px;

            label {
                margin-right: 10px;
                margin-top: 7px;
            }

            select {
                width: 160px;
            }
        }
    }

    .modal-body {
        padding: 0;

        .section-main {
            height: 450px;
            overflow-y: scroll;
            padding: 15px;
        }
    }

    .modal-footer {
        text-align: center;
        .btn {
            width: 200px;
            height: 60px;

            &.btn-primary {
                margin-left: 50px;
            }
        }
    }

    .section-main {

        hr {
            border-bottom: 2px solid #eee;
        }

        .hint {
            color: #a94442;
            font-style: italic;
            margin-top: 20px;
        }

        .factor-type {
            margin-top: 15px;
        }

        .criteria {
            .col-sm-6 {
                display: flex;
                padding-top: 10px;

                .form-control {
                    width: 80%;
                }
            }

            .col-sm-3, .col-sm-2 {
                .form-control {
                    //width: 60%;
                }

                input[type="radio"] {
                    margin-top: 10px;
                }

                .radio {
                    span {
                        display: block;
                        margin-top: 6px;
                        margin-left: 40px;
                    }
                }
            }

            .btn {
                padding: 0;
                color: #fff;
                background-color: @app-btn-bg;
                border: 2px solid @app-btn-border;
                font-size: 20px;
                font-weight: bold;
                margin-right: 20px;
                width: 35px;
                line-height: 20px;
                &:hover,
                &:focus {
                    background-color: @app-hover-bg;
                    color:@app-hover-color;
                    border-color: @app-hover-bg;
                    text-decoration: none;
                }

                &.active {
                    background-color: #4888ef;
                    border: 2px solid #1b75d7;
                    &:hover{
                        background-color: #1b75d7;
                    }
                }

                .glyphicon-star {
                    margin-left: 3px;
                }
            }

            .has-error {
                input[type="text"] {
                    border-color: #a94442;
                }
            }
            .btn-delete {
                height: 54px;
                color: @app-btn-bg;
                background-color: rgba(0,0,0,0);
                border-color: rgba(0,0,0,0);
                .glyphicon {
                    font-size:16px;
                }
            }
        }
    }

    .delete-container, .new-container {
        text-align: center;
        &.hidden {
            display: none;
        }
        span {
            font-weight: bold;
            margin-right: 30px;
        }
        .btn {
            font-size: 14px;
            height: 34px;
            line-height: 17px;
            width: 60px;
            color: #fff;
            background-color: @app-btn-bg;
            border: 2px solid @app-btn-border;
            font-weight: bold;
            margin-right: 20px;
            &:hover,
            &:focus {
                background-color: @app-hover-bg;
                color:@app-hover-color;
                border-color: @app-hover-bg;
                text-decoration: none;
            }

            &.new-btn {
                width: 200px;
            }
        }
    }

    @media (min-width: 1024px) {
        .modal-dialog {
            width: 1000px;
        }

    }

    @media (max-width: 1024px) {
        .col-sm-6 {
            float: left;
            width: 50%;
        }

        .col-sm-3 {
            float: left;
            width: 25%;
        }

        .col-sm-2 {
            width: 16.66666667%;
            float: left;
        }

        .modal-dialog {
            min-width: @app-min-width-modal;
        }

        .header {
            .importance-picker {
                right: 20px;
            }
        }
    }

}

#evaluation-warning {
  .modal-header {
    .modal-title {
      margin-left: 30px;
    }
  }
  .warning-message {
    position: relative;
    .warning-icon {
      position: absolute;
      top: -55px;
      font-size: 18px;
      color: #D40000;
    }
    .message {
      margin-left: 30px;
    }
  }
  .modal-footer {
    text-align: center;
  }
}
