#confirm-event-creation-modal {
	.confirm-btns {
		text-align: center;
	}
	.modal-content > .modal-footer {
		display: none;
	}
}

.upload-cutup-data {

  .message {
      display: none;
      padding: 15px;
      margin: auto;
      width: 90%;
      .alert {
          padding: 5px;
          margin-bottom: 0px;
          p {
              text-align: center;
              font-weight: bold;
          }
      }
  }
  
	.section-main {
		width: 90%;
  		margin: 15px auto;

  		.btn {
  			padding: 20px;
        color: #fff;
  			background-color: @app-btn-bg;
            border: 2px solid @app-btn-border;
            font-size: 17px;
  			line-height: 17px;
            &:hover,
            &:focus {
                background-color: @app-hover-bg;
                color:@app-hover-color;
                border-color: @app-hover-bg;
                text-decoration: none;
            }
  		}

  		.btn-row {
  			text-align: center;
  		}

  		.upload-cutup-data-controls {
  			margin-top: 100px;
  			.btn {
  				width: 200px;
          margin-right: 60px;
          margin-left: 60px;
  			}
  		}

      #browse-play-data {
        width: 100%;
      }

      .file-uploader-container {
        padding-top: 12px;
      }

      .read-only-cutup-label {
        width: 100%;
        display: block;
        padding: 10px 0;
        font-size: 17px;
        text-align: center;
      }

      .video-data-helper-text {
        display: block;
        strong {
          color: #a94442;
          font-style: italic;
        }
      }

      .hint {
        color: #a94442;
        font-style: italic;
      }

      .required-fields-form {
        margin-bottom: 20px;
        .col-sm-2 {
          min-width: 150px;
        }
      }
	}

	.upload-hint {
		font-weight: normal;
  		font-style: italic;
	}
}