#file-uploading-modal {
	text-align: center;
	.modal-header {
		display: none;
	}
	.modal-footer {
		display: none;
	}
	.glyphicon-refresh-animate {
		width: 100%;
		font-size: 60px;
		margin: 30px 0;
		-animation: spin .7s infinite linear;
    	-webkit-animation: spin2 .7s infinite linear;
	}
	// animation
	@-webkit-keyframes spin2 {
	    from { -webkit-transform: rotate(0deg);}
	    to { -webkit-transform: rotate(360deg);}
	}

	@keyframes spin {
	    from { transform: scale(1) rotate(0deg);}
	    to { transform: scale(1) rotate(360deg);}
	}
}