//
// games page specific styles
//

@games-list-ltgray: #838383;
@games-list-title-gray: #dddddd;

.coach-help-text {
  margin: 0 53px;
  padding-top: 11px;

  h3 {
    margin-top: 0;
  }

  &.offline-grade {
    margin: 0 30px;
  }
}

.container-events {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;

  &.coach-view {
    top: 128px;
  }

  .add-event-btns {
    text-align: right;
    width: 50%;
    position: fixed;
    z-index: 100;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 54px;
    background-color: #e6e7e8;
    padding-right: 10px;

    &.add-games {
      margin-left: -17px;
      label {
            margin-left: 35px;
      }
    }

    &.add-practices {
      right: 17px;
      left: 50%;
      width: auto;

      label {
        margin-left: 20px;
      }
    }

    .btn {
      width: 150px;
      margin-left: 20px;
    }

    label {
      font-size: 20px;
      font-weight: bold;
      float: left;
    }
  }

  /*.games {
    border-right: 2px solid #cccccc;
  }*/

  &.offline {
    position: initial;
    width: 40%;
    margin-left: 55px;

    .event {
      .game-option {
        .btn {
          right: 35px;
        }
      }
    }
  }
}

.container-games {
  padding-top:@page-header-height;
  padding-bottom:80px;
}

.season-separator {
  margin: 20px 10px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.event-list {
  width: 50%;
  height: 100%;
  padding: 10px;
  overflow-y: auto;
  padding-top: 40px;

  .no-events-message {
    margin-top: 100px;
    display: block;
    text-align: center;
  }
}

.event {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;

  .bowtie.expanded {
      .glyphicon();
      &:before {
          content: "\e082";
      }
  }

  .bowtie {
      padding-left:5px;
      padding-right:5px;
      .glyphicon();
      &:before {
          content: "\e081";
      }
      color: #808080;
  }

  .event-name {
    font-size: 18px;
    line-height: 20px;
    color: #003783;
    font-weight: bold;
  }

  .game-option {
    width: 100%;
    margin: 15px 20px;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 10px;
    position: relative;
    .btn {
      width: 75px;
      position: absolute;
      right: 70px;
      bottom: 7px;
    }
    .delete-cutup-btn {
      background-color: rgba(0, 0, 0, 0);
      border-color: rgba(0, 0, 0, 0);
      position: absolute;
      right: 23px;
      bottom: 8px;
    }
  }

  .edit-event-btn {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: #003783;
  }

  .practice-option {
    width: 100%;
    margin: 15px 20px;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 10px;
    position: relative;
    .btn {
      width: 75px;
      position: absolute;
      right: 90px;
      bottom: 7px;
    }
    .delete-cutup-btn {
      background-color: rgba(0, 0, 0, 0);
      border-color: rgba(0, 0, 0, 0);
      position: absolute;
      right: 23px;
      bottom: 8px;
    }

    .edit-event-btn {
      background-color: rgba(0, 0, 0, 0);
      border-color: rgba(0, 0, 0, 0);
      position: absolute;
      right: 50px;
      bottom: 8px;
      color: #000;
    }
  }

  .add-new-platoon {
    margin-left: 20px;
  }

  .title-wrap, .date-separator {
    display: block;
    margin: 0 0 0 5px;
    padding-top: 10px;
  }

  .title-wrap, .cutup-platoon, .practice-cutup-title, .date-separator {
    font-weight: bold;
    font-size: 16px;
  }

  .no-cutup-msg {
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px 0;
    font-style: italic;
  }

  .no-practice-cutup-msg {
    padding: 10px;
    font-style: italic;
    .event-lbl {
      font-weight: bold;
      font-style: normal;
    }
  }
}

.games {
  tr.games-list-home {
    border-top: 2px solid #000;
  }

  .table>tbody {
    .games-list-visitor>td {
      vertical-align: top;
      padding-top:3px;
      border-top:none;
    }
    .games-list-home>td {
      vertical-align: bottom;
      padding-bottom:7px;
    }
  }
  .games-list-ltgray {
    color:@games-list-ltgray;
  }
  .td1 {
    width:4%;
    padding-left:0;
  }
  .td2 {
    width:20%;
    padding-left:0;
    padding-right:0;
  }
  .td3 {
    width:6%;
    padding-left:0;
    text-align: right;
  }
  .td4 {
    width:4%;
  }
  .td5 {
    width:11%;
    padding-left:0;
  }
  .td6 {
    width:12%;
    padding-left:0;
  }
  .td7 {
    width:11%;
    padding-left:0;
  }
  .td8 {
  padding-right:0;
  }
}



.game-column {
position:relative;
  height:80px;
  display: -webkit-flex;
  display:flex;
  padding:5px;
  border:0;
  outline:0;
  color:#fff;
  font-size:17px ;
  line-height: 17px;
  font-weight: 700;
  text-align:center;
  margin:0;
  span,p {
    display: block;
    width:100%;
    overflow:hidden;
  }
}
.game-column+.game-column {
  margin-left:10px;
}
.game-header1 {
	background-color:@game-color-header1;
    font-style:italic;
    width:29%;
    text-align:left;
    font-weight: normal;
    font-size:16px;
}
.game-column1 {
  background-color:@game-color-header1;
  width:29%;
  text-align:left;
  font-weight: normal;
  span:nth-child(1) {
    position:absolute;
    top:5px;
    left:5px;
    font-weight:normal;
    font-size: 20px;
    width:100%;
  }
  span:nth-child(2) {
    position:absolute;
    bottom:5px;
    left:5px;
    font-weight:normal;
  }
  span:nth-child(3) {
    position:absolute;
    bottom:0;
    right:5px;
    font-weight: bolder;
    font-size: 41px;
    line-height:41px;
    text-align: right;
    background-color: transparent;
    width:50%;
  }
}

.game-header2 {
	background-color:@game-color-header2;
  width:21%;
}
.game-column2 {
  background-color:@game-color-column2;
  width:21%;
}

.game-header3 {
	background-color:@game-color-header3;
  width:21%;
}
.game-column3 {
  background-color:@game-color-column3;
  width:21%;
}

.game-header4 {
	background-color:@game-color-header4;
  width:21%;
}
.game-column4 {
  background-color:@game-color-column4;
  width:21%;
}

.game-header5 {
	background-color:@game-color-header5;
    font-style:italic;
    width:8%;
    text-align:center;
    font-weight: normal;
}
.game-column5 {
  background-color:@game-color-column5;
  width:8%;
  text-align:center;
  font-weight: normal;
  padding:0;
  span {
    position:absolute;
    top:20px;
    font-weight:normal;
    width:100%;
  }
}
.games tr.games-list {
  border-bottom: 2px solid #000;
  td {
    position: relative;
    .title-wrap {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 10px;
      padding-top: 30px;
      text-align: center;
      background-color: @games-list-title-gray;
    }
  }
}
.games span.game-info {
  background-color: #808080;
  color: #fff;
  font-size: 17px;
  line-height: 17px;
}

#no-delete-cutup-modal {
    text-align: center;
    font-size: 17px;

    .modal-header {
        display: none;
    }
    .modal-footer {
        display: none;
    }
    .message {
        display: block;
        margin-bottom: 20px;
    }

    .btn {
        background-color:@grade-button-bg;
        color:@grade-button-color;
        border:2px solid @grade-button-border;
        font-size: 17px;
        width: 100px;
        &:hover,
        &:focus {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-bg;
            text-decoration: none;
        }
    }
}

#event-list-dialog {
  .modal-dialog {
    width: 80%;

    .modal-header {
      border-bottom: initial;
      padding-bottom: 0;

      .modal-title {
        font-size: 24px;
        font-weight: bold;
        margin-left: 53px;
      }
    }

    .modal-body {
      padding-top: 0;

      .coach-help-text {
        padding-top: 0;
      }
    }

    .modal-footer {
      display: none;
    }
  }

  .container-events-offline {
    height: 500px;
    overflow: hidden;

    .event-titles {
      position: absolute;
      background-color: #e6e7e8;
      font-size: 20px;
      font-weight: bold;
      height: 54px;
      padding-left: 11px;
      padding-top: 13px;

      &.games {
        left: 0;
        right: 50%;
        margin-left: 15px;
        margin-right: 17px;
      }

      &.practices {
        left: 50%;
        right: 0;
        margin-right: 30px;
      }
    }

    .season-separator {
      margin: 20px 0;
    }

    .event {
      border-bottom: 2px solid #cccccc;
      padding-bottom: 20px;
    }

    .title-wrap {
      display: inline-block;
      width: 80%;
    }

    .loading-message {
      margin-top: 120px;
    }
  }
}

/* Tablet Portrait */
@media (min-width: @screen-xs-min) and (max-width: @screen-sm-max) {
  .container-events {

    .event-list {
      padding-top: 90px;
    }

    .add-event-btns {
      position: absolute;
      height: 100px;

      .btn {
        margin-bottom: 10px;
      }

    }
  }
}