.new-game-data {
	.section-main {
		width: 90%;
  		margin: 15px auto;
  		.add-new-game-controls {
  			margin-top: 100px;
  			text-align: center;
  			color: #fff;
  		}

      .gd-btn {
  			padding: 20px;
        min-width: 185px;
  			background-color: @app-btn-bg;
            border: 2px solid @app-btn-border;
            margin-right: 60px;
            font-size: 17px;
  			line-height: 17px;
            &:hover,
            &:focus {
                background-color: @app-hover-bg;
                color:@app-hover-color;
                border-color: @app-hover-bg;
                text-decoration: none;
            }
  		}

      .toggle-event-type { 
        padding: 10px;
        color: #fff;
      }

      .toggle-event-type.active {
          background-color: #4888ef;
          border: 2px solid #1b75d7;
          &:hover{
              background-color: #1b75d7;
          }
      }

      .event-type-helper {
        width: 250px;
        display: inline-block;
        color: #a94442;
        font-weight: bold;
        font-style: italic;
      }

      .read-only-event-attr {
        display: block;
        margin-top: 10px;
      }
	}

  .message {
      display: none;
      padding: 15px;
      margin: auto;
      width: 90%;
      .alert {
          padding: 5px;
          margin-bottom: 0px;
          p {
              text-align: center;
              font-weight: bold;
          }
      }
  }
}

/* Tablet Landscape */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .new-game-data {
    .section-main {
      .event-type-helper {
        width: 150px;
        font-size: 12px;
        margin-top: -40px;
      }
    }
  }
}

/* Tablet Portrait */
@media (min-width: @screen-xs-min) and (max-width: @screen-sm-max) {
  .new-game-data {
    .section-main {
      .toggle-event-type, {
        width: 150px;
        margin-right: 10px;
      }

      .add-new-game-controls {
        margin-top: 50px;
        .gd-btn {
          width: 150px;
          margin-right: 10px;
          white-space: normal;
          height: 80px;
        }
      }

      .event-type-helper {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}
