//
// game page specific styles
//

@import "play-info-panel.less";
@import "grade-game-modal.less";
@import "game-add.less";

@game-column1-width:35%;
@game-column234-width:25%;
@game-column5-width:15%;
@game-row-height:80px;

@game-color-header1: #959595;
@game-color-header2: #0e4b8c;
@game-color-header3: #07254e;
@game-color-header4: #01042e;
@game-color-header5: @game-color-header1;
@game-color-header6: @game-color-header1;
@game-color-column1: #808080;
@game-color-column2: #86a5c5;
@game-color-column3: #8392a6;
@game-color-column4: #808196;
@game-color-column5: @game-color-header5;
@game-color-column6: @game-color-header5;

@game-color-disabled: #e1e1e1;

.btn-grade {
    height:80px;
    padding-left:0;
    padding-right:0;
    width:20%;
    &::before,
    span::before {
        margin-left:0;
    }
    &::after,
    span::after {
        margin-right:0;
    }
}
// fix 1 pixel problem

.btn-grade + .btn-grade {
    margin-left:5px;
}

.container-game {
    margin:10px;

    .column {
        position:relative;
        height:@game-row-height;
        display: -webkit-flex;
        display:flex;
        border:0;
        outline:0;
        color:#fff;
        font-size:17px ;
        line-height: 17px;
        font-weight: 700;
        text-align:center;
        margin:0;
        word-wrap: break-word;
        span,p {
            display: block;
            width:100%;
            overflow:hidden;
        }
    }

    .no-data-message {
        width: 100%;
        display: block;
        text-align: center;
        padding: 10px 0;
        font-style: italic;
        font-size: 17px;
    }

    .column+.column {
        margin-left:10px;
    }

    .header1 {
        background-color:@game-color-header1;
        width:@game-column1-width;
        padding:5px;
        padding-top: 25px;

        &.two-column, &.one-column {
            width: 38%
        }

        span {
            margin-top: 8px;
        }

        span.play-number-label {
            width: 50%;
        }

        .form-control {
            width: 50%;
            margin-right: 10px;
            text-align: center;
            font-size: 20px;
            font-weight: normal;
        }

        &.game-performance-link {
            text-align: left;
            font-weight: normal;
            font-style: italic;
            font-size: 14px;
            padding: 5px !important;
        }
    }

    .column1 {
        width:@game-column1-width;
        text-align:left;
        font-weight: normal;
        //span:nth-child(1) {

        &.two-column, &.one-column {
            width: 38%
        }

        span.add-player, span.add-notes-lbl, span.special-play, span.active-btn {
            font-weight:normal;
            font-size: 20px;
            text-align: center;
            line-height: @game-row-height - 16px;
            width:100%;

            &.glyphicon {
                top: 0;
            }
        }
        .toggle-button, .player-position, .player-positions .position, span.add-player, span.add-notes-lbl, span.special-play {
            background-color:@game-color-column1;
            border: 2px solid @app-btn-border;
            &:hover,
            &:focus {
                background-color: @app-hover-bg;
                color:@app-hover-color;
                border-color: @app-hover-bg;
                text-decoration: none;
            }
        }

        .active-btn {
            background-color: @app-hover-bg !important;
            color:@app-hover-color !important;
            border: 2px solid @app-hover-bg !important;
            text-decoration: none;
        }

        .disabled {
            border-color: @game-color-disabled;
            background-color: @game-color-disabled;

            &:hover, &:focus {
                background-color: @game-color-disabled;
                border-color: @game-color-disabled;
            }
        }

        .toggle-button {
            position: relative;
            width: 75%;
            margin-right: 10px;
            //span:nth-child(2) {
            span.player-name {
                position:absolute;
                top:5px;
                left:5px;
                font-weight:normal;
            }
            //span:nth-child(3) {
            span.player-jersey-number {
                position:absolute;
                bottom:0;
                right:5px;
                font-weight: bolder;
                font-size: 50px;
                line-height:50px;
                text-align: right;
                background-color: transparent;
                width:50%;
            }
        }

        .player-position {
            position: relative;
            width: 35%;
            max-width: 110px;
            padding: 0;
            .active-position {
                font-weight: bolder;
                font-size: 26px;
                line-height: 50px;
                text-align: center;
                margin-top: 3px;
            }
        }

        .player-positions {
            display: none;
            position: absolute;
            left: 100%;
            z-index: 2;
            width: 100%;
            .position {
                display: inline-block;
                position: absolute;
                width: 35%;
                height: 80px;
                font-weight: bolder;
                font-size: 26px;
                line-height: 76px;
                text-align: center;
            }
        }
    }

    .header2 {
        background-color:@game-color-header2;
        width:@game-column234-width;
        padding:5px;

        &.one-column {
            width: 50%;
        }

    }

    .column2 {
        background-color:@game-color-column2;
        width:@game-column234-width;
        border: solid 2px @game-color-header2;

        &.one-column {
            width: 50%;

            .game-grade-value {
                width: 80px;
                margin-left: -40px;
                font-size: 45px;

                &.value-over-threshold {
                    font-size: 45px;
                }
            }

            .game-grade-control {
                font-size: 25px;
            }
        }

        .btn {
            background-color: @game-color-column2;
            border-color: @game-color-header2;
            span {
                white-space: pre-wrap;
                word-wrap: break-word;
                font-size: 17px;
                line-height: 24px;
            }
            span + span {
            }
            &.active {
                background-color:@game-color-header2;
            }
            &:hover,
            &:focus {
                background-color: @app-hover-bg;
                color:@app-hover-color;
                border-color: @app-hover-bg;
                text-decoration: none;
            }
        }
        .game-grade-fill-bar {
            height: 100%;
            background-color: @game-color-header2;
        }
    }

    .header3 {
        background-color:@game-color-header3;
        width:@game-column234-width;
        padding:5px;
    }

    .column3 {
        background-color:@game-color-column3;
        width:@game-column234-width;
        border: solid 2px @game-color-header3;

        .btn {
            background-color: @game-color-column3;
            border-color: @game-color-header3;
            span {
                white-space: pre-wrap;
                word-wrap: break-word;
                font-size: 17px;
                line-height: 24px;
            }
            span + span {
            }
            &.active {
                background-color:@game-color-header3;
            }
            &:hover,
            &:focus {
                background-color: @app-hover-bg;
                color:@app-hover-color;
                text-decoration: none;
                border-color: @app-hover-bg;
            }
        }
        .game-grade-fill-bar {
            height: 100%;
            background-color: @game-color-header3;
        }
    }

    .header4 {
        background-color:@game-color-header4;
        width:@game-column234-width;
        padding:5px;
    }

    .column4 {
        background-color:@game-color-column4;
        width:@game-column234-width;
        border: solid 2px @game-color-header4;
        .btn {
            background-color: @game-color-column4;
            border-color:@game-color-header4;
            span {
                white-space: pre-wrap;
                word-wrap: break-word;
                font-size: 17px;
                line-height: 24px;
            }
            span + span {
            }
            &.active {
                background-color:@game-color-header4;
            }
            &:hover,
            &:focus {
                background-color: @app-hover-bg;
                color:@app-hover-color;
                text-decoration: none;
                border-color: @app-hover-bg;
            }
        }
        .game-grade-fill-bar {
            height: 100%;
            background-color: @game-color-header4;
        }
    }

    .header5 {
        background-color:@game-color-header5;
        width:@game-column5-width;
        padding:5px;

        &.one-column {
            width: 25%;
        }

        .optional-label {
            position: absolute;
            bottom: 5px;
            left: 0;
            font-size: 14px;
            font-weight: normal;
        }
    }

    .column5 {
        width:@game-column5-width;
        text-align:center;
        font-weight: normal;
        padding:0;

        &.one-column {
            width: 25%;
        }

        span {
            padding:5px;
            position:absolute;
            top:26px;
            font-weight:normal;
            width:100%;
        }
        .game-grade-flag {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #808080;
            border: 2px solid #4a4a4a;
            padding-left: 0;
            padding-right: 0;
            &:hover{
                background-color: #4a4a4a;
            }
        }
        .game-grade-flag.active {
            background-color: #4888ef;
            border: 2px solid #1b75d7;
            &:hover{
                background-color: #1b75d7;
            }
        }
        .factor-in-play {
            height: 50%;
            width: 100%;
            span {
                top: 3px;
            }
        }
        .factor-in-play.positive-factor-in-play {
            padding-bottom: 5px;
        }
        .factor-in-play.negative-factor-in-play {
            padding-top: 5px;
        }
    }

    .factor-in-play-btns {
        display: block;
        font-size: 14px;
    }

    .disabled {
        border-color: @game-color-disabled;
        .game-grade-fill-bar {
            width: 100% !important;
            background-color: @game-color-disabled;
        }
        .game-grade-flag, active {
            background-color: @game-color-disabled !important;
            border-color: @game-color-disabled !important;
            &:hover, &:focus {
                background-color: @game-color-disabled !important;
                border-color: @game-color-disabled !important;
            }
        }
    }

    .grade-play-nav-options {
          position: fixed;
          bottom: 0;
          width: 75%;
          min-width: 563px;
          padding-right: 25px;
          padding-bottom: 10px;
          background-color: #e6e7e8;
          padding-top: 10px;
          padding-left: 13px;
          margin-left: -28px;

          .column1 {
            height: 52px;
            width: 20%;
            span.add-player, span.add-notes-lbl, span.special-play, span.active-btn {
                line-height: 46px;
            }
          }

          .disabled {
            background-color: @game-color-disabled !important;
            border-color: @game-color-disabled !important;
            &:hover, &:focus {
                background-color: @game-color-disabled !important;
                border-color: @game-color-disabled !important;
            }
          }

          &.not-active {
            pointer-events: none;
            cursor: default;

            span.add-player, span.add-notes-lbl, span.special-play, button.play-nav {
              background-color: @game-color-disabled !important;
              border-color: @game-color-disabled !important;
            }

          }
    }

    .grade-headers {
        position: fixed;
        top: 40px;
        width: 75%;
        padding-right: 25px;
        background-color: #fff;
        padding-top: 10px;
        padding-left: 13px;
        margin-left: -28px;
        z-index: 10;
    }

    &.minimized {
        padding-left: 0;
        padding-right: 0;

        .grade-headers {
            top: 80px;
            min-width: inherit;
            width: 100%;
            right: 0;
            left: 0;
            margin-left: 0;
            padding-right: 13px;
            padding-left: 10px;

            .one-letter-header {
                font-size: 30px;
                line-height: 55px;
            }
        }

        .section-main {
            width: 100%;
            margin-left: 0;
        }

        .column {
            height: 40px;

            span {
                font-size: 15px;
            }
        }

        .column+.column {
            margin-left:5px;
        }

        .header1 {
            padding-top: 8px;

            span.play-number-label {
                width: 100%;
                margin-bottom: 5px;
                margin-top: 3px;
                font-size: 15px;
            }

            .form-control {
                width: 100%;
                font-size: 15px;
                height: 25px;
            }
        }

        .header2, .header3, .header4, .header5 {
            span {
                margin-top: 6px;
            }
        }

        .column1 {
            font-size: 15px;
            .toggle-button {
                width: 50%;
                margin-right: 5px;

                span.player-name {
                    display: none;
                }

                span.player-jersey-number {
                    position: initial;
                    width: 100%;
                    font-size: 20px;
                    line-height: 39px;
                    text-align: left;
                    margin-left: 5px;
                }
            }

            .player-position  {
                width: 50%;

                .active-position {
                    font-size: 15px;
                    line-height: inherit;
                    margin-top: 0;
                }
            }

            .player-positions {
                .position {
                    width: 50%;
                    height: 40px;
                    line-height: 36px;
                    font-size: 15px;
                }
            }
        }

        .column5 {
            .factor-in-play {
                height: 100%;
                width: 50%;

                span {
                    top: 6px;
                }

                &.positive-factor-in-play {
                    padding-bottom: 0;
                    padding-left: 2px;
                }

                &.negative-factor-in-play {
                    padding-top: 0;
                    padding-right: 2px;
                }
            }
        }

        .grade-play-nav-options {
            min-width: inherit;
            width: 100%;
            right: 0;
            left: 0;
            margin-left: 0;
            padding-right: 13px;

            .column1 {
                height: 40px;

                span.add-player, span.active-btn, span.special-play, span.add-notes-lbl {
                    line-height: 37px;
                    font-size: 17px;
                }
            }

            .play-nav-btns {
                button {
                    height: 40px;
                    font-size: 17px;
                    padding-right: 0;
                    padding-left: 0;

                    &.pause-play {
                        padding-right: 5px;
                        padding-left: 5px;
                    }
                }
            }
        }

        .grade-control-container {
            .full-size {
                &.margin-bottom {
                    margin-bottom: 15px;
                }

                &.notes, &.special-play {
                    margin-top: 43px;
                }
            }

            .game-grade-value {
                font-size: 20px;
            }

            .game-grade-control {
                font-size: 15px;
                width: 20px;
            }
        }
    }

    &.offline {
        .sticky-header {
            padding-top: 112px;
        }

        .grade-headers {
            top: 60px;
        }
    }
}

.offline-warning {
    position: fixed;
    top: 40px;
    padding: 0;
    width: 75%;
    padding-left: 13px;
    margin-left: -28px;
    z-index: 11;
}

.minimized-grading-header {
    margin-top: -40px;
    color: #FFF;
    font-size: 15px;
    width: 100%;
    position: fixed;
    z-index: 11;
    top: 40px;

    .header {
        height: 40px;
        background-color: #000;

        span {
            float: right;
            margin-top: 7px;
            margin-right: 5px;
        }

        img {
            margin-top: 9px;
        }
    }

    .play-info {
        height: 40px;
        background-color: #959595;
        span {
            margin-top: 8px;
            display: inline-block;
            margin-left: 5px;
            white-space: nowrap;

            &.glyphicon {
                float: right;
                margin-top: 10px;
                margin-right: 10px;
            }
        }
    }

    .play-data {
        background: #959595;
        padding: 5px;

        .play-info-panel + .play-info-panel {
            margin-top: 0;
        }

        .glyphicon {
            float: right;
            margin-top: 5px;
            margin-right: 5px;
        }
    }
}

.container-fluid.game-footer {
    padding: 10px;
}
.game-footer {
    .btn-group {
        width: 100%;
    }
    .btn-group {
        padding:0;
        .btn {
            width:20%;
            margin:0;
            padding:0;
        }
        .btn + .btn {
            margin-left: 6.667%;
        }
    }
}

.game-menu {
    overflow: hidden;
    position: absolute;
    top: -203px;
    right: -200px;
    z-index: 0;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    border:0;
    display:none;

}

// visible menu is at left = 0
.game-menu.visible {
    display:inline-block;
    top:@page-header-height;
    right:0;
}

// transition menu on click
.game-menu {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.game-grade-control {
    position: absolute;
    width: 40px;
    height: 100%;
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0;
    &.active, &:hover, &:focus {
        border: none;
    }
}

.dec {
    left: 0;
}

.inc {
    right: 0;
}

.game-grade-value {
    width: 64px;
    position: absolute;
    left: 50%;
    margin-left: -32px;
    font-size: 35px;
    line-height: 25px;
    top: 50%;
    margin-top: -12px;

    &.value-over-threshold {
        font-size: 30px;
        line-height: 27px;
    }
}

.container-game > .section-left {
    .make-lg-column(3);
    .make-md-column(3);
    .make-sm-column(3);
    .make-xs-column(3);
    height:100%;
    background-color: @app-color-bg-sidebar;
    position:fixed;
    left:0;
    right:0;
    top:@page-header-height;
    bottom:0;
    padding:15px;
    min-width: 187px;

    .nav {
        text-align: center;
        .btn {
          height: 52px;
        }
    }
}

.container-game > .section-main {
    .make-lg-column(9);
    .make-md-column(9);
    .make-sm-column(9);
    .make-xs-column(9);
    .make-lg-column-offset(3);
    .make-md-column-offset(3);
    .make-sm-column-offset(3);
    .make-xs-column-offset(3);
    height:100%;

    &.expanded {
        margin-left: 0;
        width: 100%;
        padding-left: 44px;

        .grade-headers, .grade-play-nav-options, .offline-warning {
            width: 100%;
            padding-right: 68px;
        }

        .full-size {
            &.notes {
                left: 30px;
            }
        }
    }

}

.container-game > .sticky-header {
    padding-top: 92px;
}

.container-game > .sticky-footer {
    padding-bottom: 62px;
}

.play-nav-btns {
    width: 63%;
    margin-left: 10px;
    text-align: right;
}

.add-notes {
    width: 16%;
}

.play-nav-btns button {
    background-color:@app-btn-bg;
    min-width: 20%;
    text-align: center;
    font-weight: normal;
    border: 2px solid @app-btn-border;
    height: 52px;
    padding-left: 20px;
    padding-right: 20px;
    span {
        font-weight:normal;
        font-size: 20px;
        text-align: center;
        color: @app-btn-color;
    }
    &:hover,
    &:focus {
        background-color: @app-hover-bg;
        color:@app-hover-color;
        border-color: @app-hover-bg;
        text-decoration: none;
    }
}

.grade-control-container {
    width: 100%;

    .full-size {
        width: 100%;

        &.margin-bottom {
            margin-bottom: 30px;
        }

        &.notes, &.special-play {
            position: absolute;

            margin-top: 90px;

            &.disabled {
                span {
                    color: #e1e1e1;
                }
            }

            .glyphicon {
                color: #808080;
            }
        }

        &.notes {
          left: 0;
        }

        &.special-play {
          right: 0;
          text-align: right;
        }
    }
}

.fill-bar-width-0 {
    width: 20%;
}

.fill-bar-width-1 {
    width: 40%;
}

.fill-bar-width-2 {
    width: 60%;
}

.fill-bar-width-3 {
    width: 80%;
}

.fill-bar-width-4 {
    width: 100%;
}

#saving-grades-dialog-modal {

    .modal-header, .modal-footer {
        display: none;
    }

    .modal-dialog {
        width: 300px;
        top: 190px;
        text-align: center;
        padding: 15px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        z-index: 3000;
        opacity: 0.9;
        background-color: @app-hover-bg;
        color: @app-btn-color;
        border: 1px solid @app-hover-bg;
        margin: 30px auto;

        .modal-content {
            box-shadow: none;
            -webkit-box-shadow: none;
            border: 0;
            background: none;

            .modal-body {
                padding: 0;
            }
        }
    }

}

#gotooltip {
    &.grades-saved-message {
        top: 190px;
        margin-top: 30px;
        width: 300px;
        left: 50%;
        margin-left: -150px;
        text-align: center;
    }
}

/* Tablet Landscape */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    .game-grade-value {
        width: 52px;
        margin-left: -26px;
        font-size: 30px;
        line-height: 30px;
        margin-top: -13px;

        &.value-over-threshold {
            font-size: 25px;
            line-height: 28px;
        }
    }

    .container-game {
        .header1 {
            span {
                margin-top: 0;
            }
        }
        .column1 {
            .toggle-button {
                span.player-jersey-number {
                    font-size: 38px;
                }
            }
        }

        .column2 {
            &.one-column {

                .game-grade-value {
                    font-size: 38px;

                    &.value-over-threshold {
                        font-size: 38px;
                    }
                }

                .game-grade-control {
                    font-size: inherit;
                }
            }
        }
    }

}

/* Tablet Portrait */
@media (max-width: @screen-sm-max) {
    .game-grade-value {
        width: 42px;
        margin-left: -22px;
        font-size: 25px;
        line-height: 30px;
        margin-top: -13px;

        &.value-over-threshold {
            font-size: 20px;
            line-height: 32px;
        }
    }

    .play-nav-btns button {
        padding-left: 5px;
        padding-right: 5px;
        span {
            font-size: 15px;
        }
    }

    .game-grade-control {
        width: 27px;
        font-size: 14px;
    }

    .container-game {
        .column+.column {
            margin-left: 5px;
        }

        .expanded {
            .grade-headers, .grade-play-nav-options, offline-warning {
                padding-right: 51px;
                min-width: 751px;
            }
        }

        .grade-headers{
            min-width: 563px;
            padding-right: 10px;
        }

        .header1 {
            .form-control {
                margin-right: 0;
            }
            span {
                margin-top: 0;
            }

            &.one-column {
                width: 60%;
            }
        }

        .column1 {
            &.one-column {
                width: 60%;
            }

            .toggle-button {
                width: 60%;
                margin-right: 5px;
                span.player-jersey-number {
                    font-size: 30px;
                }
                span.player-name {
                    font-size: 15px;
                }
            }
            .player-position {
                 width: 40%;
                .active-position {
                    font-size: 20px;
                }
            }
            .player-positions {
                .position {
                    width: 40%;
                    font-size: 20px;
                }
            }
            span.add-player, span.add-notes-lbl, span.special-play, span.active-btn {
                font-size: 15px;
            }
        }

        .column2 {
            &.one-column {

                .game-grade-value {
                    font-size: 35px;

                    &.value-over-threshold {
                        font-size: 35px;
                    }
                }

                .game-grade-control {
                    font-size: inherit;
                }
            }
        }

        .column5 {
            .hard {
                margin-right: 0;
            }

            .game-grade-flag {
                font-size: 14px;
            }

            .factor-in-play.positive-factor-in-play {
                padding-bottom: 2px;
            }

            .factor-in-play.negative-factor-in-play {
                padding-top: 2px;
            }
        }

        .header5 {
            font-size: 12px;

            .optional-label {
                font-size: 12px;
            }
        }
    }
}
