#add-player-to-grade-modal, #change-play-data {
    .modal-header {
        border: none;
        .modal-title {
            color: #337ab7;
        }
    }
    .modal-dialog {
        min-width: 600px;
    }
    .modal-body {
        padding-left: 30px;
        padding-right: 30px;
    }
    .modal-footer {
        text-align: center;
        border: none;
        .btn {
            background-color:@game-color-column1;
            border: 2px solid #393939;
            color: #fff;
            font-size: 17px;
            line-height: 17px;
            padding: 20px;
            &:hover,
            &:focus {
                background-color: @app-hover-bg;
                color:@app-hover-color;
                border-color: @app-hover-bg;
                text-decoration: none;
            }
        }
        .btn-default {
            margin-right: 75px;
        }
    }
}

#change-play-data {
    .ball-on-label {
        padding-left: 15px;
        padding-top: 5px;
    }

    .modal-title {
        font-weight: bold;
    }

    .game-possession-label {
        width: 100%;
        padding-left: 15px;
    }
}

.team-roster {
    height: 450px;
    overflow-y: scroll;
    .team-player-btn {
        padding: 15px;
        margin-right: 15px;
        background-color:@game-color-column1;
        border: 2px solid #393939;
        margin-bottom: 15px;
        &:hover,
        &:focus {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-bg;
            text-decoration: none;
        }
        span {
            color: #fff;
            font-size: 17px;
            line-height: 17px;
        }
        span.player-jersey-number {
            margin-right: 20px;
        }
    }

    .selected {
        background-color: @app-hover-bg;
        color:@app-hover-color;
        border-color: @app-hover-bg;
        text-decoration: none;
    }
}

#special-play-modal {
    .modal-body {
    
        padding-top: 0;

        .helper-text {
            color: #a94442;
            font-style: italic;
            font-weight: bold;
        }
    }
}

#add-notes-modal, #special-play-modal {
    .modal-header {
        border-bottom: none;
    }
    .modal-footer {
        display: none;
    }
    .modal-dialog {
        min-width: 600px;
    }
    .modal-body {
        .grade-notes {
            div {
                display: flex;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .player-name, .jersey-number {
                background-color: #959595;
                width: 30%;
                color: #fff;
                font-size: 17px;
                line-height: 55px;
                font-weight: bold;
                padding-left: 10px;
            }
            .jersey-number {
                width: 10%;
                font-size: 25px;
                span {
                    width: 100%;
                    text-align: right;
                    padding-right: 15px;
                }
            }
            .note-form {
                background-color: #959595;
                width: 60%;
                padding-right: 10px;
                textarea {
                    border: 2px solid;
                    resize: none;
                    font-style: italic;
                }
            }
        }

        .grade-btns {
            margin-top: 30px;
            text-align: center;
            button {
                background-color:@game-color-column1;
                border: 2px solid #393939;
                color: #fff;
                font-size: 17px;
                line-height: 17px;
                padding: 20px;
                &:hover,
                &:focus {
                    background-color: @app-hover-bg;
                    color:@app-hover-color;
                    border-color: @app-hover-bg;
                    text-decoration: none;
                }
            }
            .btn-default {
                margin-right: 50px;
            }

            .selected {
                background-color: @app-hover-bg;
                color:@app-hover-color;
                border-color: @app-hover-bg;
                text-decoration: none;
            }
        }

        .no-record-message {
            width: 100%;
            text-align: center;
        }
    }

    .close-label {
        position: absolute;
        right: 27px;
        top: -42px;
        cursor: pointer;
        background: transparent;
        border: 0;
    }
}

.minimized + #add-player-to-grade-modal, .minimized + #add-notes-modal, .minimized + #special-play-modal {
    .modal-dialog {
        min-width: 376px;
    }
}

.minimized + #add-notes-modal, .minimized + #special-play-modal {
    .modal-body {
        .grade-notes {
            .player-name, .jersey-number {
                padding-left: 6px;
            }
            .note-form {
                padding-right: 5px;
                padding-left: 5px;
            }
        }
    }
    .grade-btns {
        .btn-default {
            margin-right: 0;
            margin-bottom: 10px;
        }

        button {
            width: 100%;
        }
    }
}
