@import "grade-info-panel.less";

@grade-button-bg:#808080;
@grade-button-color:#fff;
@grade-button-border:#4a4a4a;
@game-column1-width:29%;
.container-game {
	.overall-header {
        background-color: #337ab7;
        width: 21%;
        padding:5px;
    }

    .column-separator {
    	background-color: #959595;
    	width: 3px;
    	margin-left: 10px;
  		margin-right: 10px;

        &.ie11 {
            width: 10px;
        }
    }

    .overall-grade-column {
        width: 29%;
        text-align:left;
        font-weight: normal;
        background-color:@game-color-column1;
        border: 2px solid #393939;
        
        span.player-name {
            position:absolute;
            bottom:5px;
            left:5px;
            font-weight:normal;
        }
        span.player-jersey-number {
            position:absolute;
            bottom:0px;
            right:5px;
            font-weight: bolder;
            font-size: 50px;
            line-height:50px;
            text-align: right;
            background-color: transparent;
            width:50%;
        }
    }

    .column-btn {
        &:hover,
        &:focus {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-bg;
            text-decoration: none;
        }
    }

    .overall-cat-1-column {
        background-color:@game-color-header2;
        width:@game-column234-width;
        border: solid 2px @game-color-header2;
    }

    .overall-cat-2-column {
        background-color:@game-color-header3;
        width:@game-column234-width;
        border: solid 2px @game-color-header3;
    }

    .overall-cat-3-column {
        background-color:@game-color-header4;
        width:@game-column234-width;
        border: solid 2px @game-color-header4;
    }

    .overall-column {
        background-color: #337ab7;
        width: 21%;
        border: solid 2px #337ab7;
    }

    .grade {
        font-size: 35px;
        line-height: 80px;
    }

    .one-column-grade {
        width: 60%;
    }

    .one-column-grade-40 {
        width: 40%;
    }
}

#generate-grade-reports-modal {
    text-align: center;
    font-size: 17px;

    .modal-header {
        display: none;
    }
    .modal-footer {
        display: none;
    }
    .message {
        display: block;
        margin-bottom: 20px;
    }

    .btn {
        background-color:@grade-button-bg;
        color:@grade-button-color;
        border:2px solid @grade-button-border;
        font-size: 17px;
        width: 100px;
        &:hover,
        &:focus {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-bg;
            text-decoration: none;
        }
    }
}

#grading-landing-page {
    .section-main {
        width: 90%;
        margin: 15px auto;
    }
    .btn {
        background-color:@grade-button-bg;
        color:@grade-button-color;
        border:2px solid @grade-button-border;
        font-size: 17px;
        width: 100%;
        height: 100px;
        margin-top: 60px;
        white-space: normal;
        &:hover,
        &:focus {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-bg;
            text-decoration: none;
        }
    }

    hr {
        margin-top: 30px;
        margin-bottom: 30px;
        border-bottom: 2px solid #000;
    }
}

/* Tablet Landscape */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    .container-game {
        .overall-grade-column {
            span.player-name {
                max-width: 100px;
            }
        }

        .grade {
            font-size: 30px;
        }
    }
}

/* Tablet Portrait */
@media (max-width: @screen-sm-max) {
    .container-game {

        .overall-grade-column {
            span.player-name {
                top: 5px;
                font-size: 15px;
            }
            span.player-jersey-number {
                font-size: 40px;
                line-height: 40px;
            }
        }

        .column-separator {
            margin-left: 5px;
            margin-right: 5px;
        }

        .grade {
            font-size: 30px;
        }
    }

}
