//
// grade info panel specific styles
//

@grade-info-color-bg:#808080;
@grade-info-color-border:#808080;
@grade-info-color-button-bg:#808080;
@grade-info-color-button-color:#fff;
@grade-info-color-button-border:#4a4a4a;

.grade-info-panel {
	background-color: @play-info-color-bg;
    border: 2px solid @play-info-color-button-border;
    color:#fff;
    padding:0;
    margin-bottom: 20px;
    span {
        font-size: 13px;
        margin-top:5px;
        margin-bottom:5px;
    }
    p {
    	margin-bottom: 25px;
    }
    .inset {
        padding:10px;
        span {
            display: block;
        }
    }

    .submit-info {
        b {
            vertical-align: top;
        }

        div {
            display: inline-block;
        }
    }
}

.grade-options-panel {
    .btn {
        background-color:@play-info-color-button-bg;
        color:@play-info-color-button-color;
        border:2px solid @play-info-color-button-border;
        display:block;
        margin-left: 0;
        margin-bottom: 20px;
        width: 100%;
        white-space: normal;
        padding-top: 20px;
        padding-bottom: 20px;
        &:hover {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-border;
        }
    }
}

.grade-info-panel.read-only {
    border: none;
}
