//
// index page specific styles
//
@index-bg-color1 : #142b49;
@index-bg-color2 : #8dbfdc;
@index-copyright-color : #fff;

.container-fluid.index {
    .navbar-text {
        color:@app-color-breadcrumb;
        font-size:20px;
        text-align: right;
    }
}

.container.index {
    background: -webkit-linear-gradient(@index-bg-color1, @index-bg-color2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(@index-bg-color1, @index-bg-color2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(@index-bg-color1, @index-bg-color2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(@index-bg-color1, @index-bg-color2); /* Standard syntax */
    font-size: 16px;

    height:100%;
    width:100%;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    padding:30px;
    margin:0;

    .flex();

    .bg-danger {
        padding:15px;
        background-color: @app-error-bg;
        color:@app-error-color;
        .input-lg();
    }

    .full-page {
        height:100%;
        width:100%;
        .flex-align-center();
        padding:0;
        margin:0;
    }

    .row+.row {
        padding-top:20px;
    }

    .row-index {
        line-height: 25px;
        margin-top:10px;
        margin-bottom:10px;

        input {
            padding:5px 10px;
            margin-top:0;
            margin-bottom:25px;
            .myplaceholder(@app-placeholder-color);
        }

        a {
            color:@app-link-color;
            text-decoration: none;
        }
    }

    .centered {
        .flex-align-center();
    }

    .copyright {
        margin-top:100px;
        color:@index-copyright-color;
    }
}

