
.modal-dialog {
    .modal-content {
        .modal-footer {
            .btn {
                background-color:@app-btn-bg;
                color:@app-btn-color;
                border:2px solid @app-btn-border;
                &:hover {
                    background-color: @app-hover-bg;
                    color:@app-hover-color;
                }
                &:focus {
                    background-color: @app-hover-bg;
                    color:@app-hover-color;
                }
            }
        }
    }
}