// hack to make touch events on mobile devices trigger click events for Ember
[data-ember-action] {
    cursor: pointer;
}



// fix 1 pixel problem
*::before {
    margin-left:-1px;
}
*::after {
    margin-right:-1px;
}

.btn-xl {
    // line-height: ensure even-numbered height of button next to large input
    .button-size(@padding-xlarge-vertical; @padding-xlarge-horizontal; @font-size-xlarge; @line-height-xlarge; @border-radius-large);
    border-width: 2px;
    font-weight: 200;
}

.btn-narrow {
    padding-left:10px;
    padding-right:10px;
}

.btn-gd-menu {
    .button-variant(@btn-gd-menu-color; @btn-gd-menu-bg; @btn-gd-menu-border);
    &:hover,
    &:focus,
    &.active {
        background-color: @app-hover-bg;
        border-color: @app-hover-bg;
        color:@app-hover-color;
        text-decoration: none;
    }
}

.btn-gd-menu-alt {
    .btn-gd-menu();
    border-color: @btn-gd-menu-border-lt;
    background-color: @btn-gd-menu-bg-lt;
    color: @btn-gd-menu-color-lt;
}

.btn-group-vertical {
    >.btn+.btn,
    >.btn-group >.btn+.btn {  // only put top border on 2nd and later buttons
        border-top-width:2px;
    }
}

// Placeholder text
.myplaceholder(@color: @input-color-placeholder) {
    &::-moz-placeholder {
        color: @color;   // Firefox
        opacity: 1;
        font-style:italic;
        margin-left:5px;
    } // See https://github.com/twbs/bootstrap/pull/11526
    &:-ms-input-placeholder {
        color: @color;
        font-style:italic;
        margin-left:5px;
    } // Internet Explorer 10+
    &::-webkit-input-placeholder  {
        color: @color;
        font-style:italic;
        margin-left:5px;
    } // Safari and Chrome
}

.block-grid-row {
    display:block;
    //height:@page-header-height;
    height:@button-row-height;
    //height:8vw;

    .block-grid-row-last {
        margin-right:0;
    }

    .block-grid-row-first {
        margin-left:0;
    }
}

.block-grid-row-separator {
    height:90px;
    //height:9vw;
    border-bottom: solid;
    border-bottom-width: 2px;
    margin-bottom:10px;
    //margin-bottom:1vw;
    padding-bottom:10px;
    //padding-bottom:1vw;
}




.block {
    -webkit-font-smoothing:antialiased;
    box-sizing: border-box;
    display:block;
    //font-family:balanceweb, Arial;
    font-weight:bold;

    //outline-color:#FFF;
    //outline-style:none;
    //outline-width:0px;
    text-align:center;
    text-decoration:none;
    text-rendering:optimizelegibility;
    word-wrap: break-word;
    float:left;
    margin-left:5px;
    margin-right:5px;
    //margin-left:.5vw;
    //margin-right:.5vw;
    position:relative;

    height: @page-header-height;                         /* set this with a modifier */
    background-color: @btn-gd-menu-bg;
    color: @btn-gd-menu-color;                          /* set this with a modifier */
    font-size: 28px;                      /* set this with a modifier */
    line-height:@page-header-height;                     /* set this with a modifier */
    //line-height:8vw;
    span {
        //margin-right:10px;
        //margin-left:10px;
        padding-left:5px;
        padding-right:5px;
        //padding-left:.5vw;
        //padding-right:.5vw;
    }
    a {
        color:#fff;
    }
    a:link {
        text-decoration: none;
        margin-left:10px;
        margin-right:10px;
    }
    .block-line1 {
        margin-left:10px;
        margin-right:10px;
        margin-top:10px;
        font-size: 16px;
        line-height:18px;
        display:block;
    }
    .block-line2 {
        margin-right:10px;
        margin-left:10px;
        margin-top:10px;
        font-size: 28px;
        font-weight:bolder;
        line-height:30px;
        display:block;
    }
    .block-line1a {
        margin-top:10px;
        margin-right:10px;
        margin-left:10px;
        font-size: 22px;
        line-height:24px;
        display:block;
        text-align: left;
    }
    .block-line2a {
        margin-right:10px;
        margin-left:10px;
        margin-top:10px;
        font-size: 16px;
        line-height:18px;
        display:block;
        text-align: left;
    }
    .block-grid-header {
        margin-right:10px;
        margin-left:10px;
        //margin-right:.5vw;
        //margin-left:.5vw;
        margin-top:10px;
        //margin-top:1vw;
        font-size: 14px;
        line-height:14px;
        //font-size:2.8vw;
        //line-height:2.8vw;
        display:block;
        font-weight:bold;
    }
    @media (min-width: 768px) {
        .block-grid-header {
            font-size:13px;                    /* set this with a modifier */
            //font-size:1.5vw;
            line-height:14px;                   /* set this with a modifier */
            //line-height:1.55vw;
            color:orange;
        }
    }
    .block-line1b {
        margin-left:10px;
        margin-right:10px;
        margin-top:10px;
        margin-bottom:3px;
        display:block;
        text-align: left;
        font-size: 17px;
        line-height:17px;
        font-weight:bold;
    }
    .block-line2b {
        margin-left:10px;
        margin-right:10px;
        display:block;
        text-align: left;
        font-size: 13px;
        line-height:16px;
        font-weight:normal;
    }
    .block-line2c {
        position: absolute;
        bottom:0;
        left:0;
        margin-left:10px;
        margin-right:10px;
        display:block;
        text-align: left;
        font-size: 14px;
        line-height:16px;
        font-weight:bold;
        padding-bottom: 3px;
    }
    .block-badge {
        position:absolute;
        bottom:0;
        right:0;
        font-size: 14px;
        line-height:16px;
        display: inline-block;
        padding: 3px 7px;
        white-space: nowrap;
    }
    .block-line1d {
        margin-left:10px;
        margin-right:10px;
        font-size: 18px;
        line-height:20px;
    }
}

.block-grid1 {
    width:245px;
    min-width: 245px;
    text-align: left;
}

.block-grid2 {
    width:119px;
    min-width:119px;
}

.block-center {
    float:none;
}

.block-color-heading1 {
    background-color: #949494;
}
.block-color-heading2 {
    background-color: #0E4B8C;
}
.block-color-heading3 {
    background-color: #09326A;
}
.block-color-heading4 {
    background-color: #051b4d;
}
.block-color-heading5 {
    background-color: #01042e;
}
.block-color-column1 {
    background-color: #959595;
}
.block-color-column2 {
    background-color: #5681ae;
}
.block-color-column3 {
    background-color: #526f96;
}
.block-color-column4 {
    background-color: #505f82;
}
.block-color-column5 {
    background-color: #4d4f6c;
}

.block-active {
    background-color: @app-hover-bg;
    color: @app-hover-color
}

.block-color-featuretext {
    color: @app-color-breadcrumb;
}


.row-separator {
    border-bottom: 2px solid black;
    padding-bottom:10px;
}
.row-separator+.row-separator {
    padding-top:10px;
}

/* Slidebar widths on extra large screens.*/
@media (min-width: 1200px) { 
    .sb-slidebar {
        width: 22%;
    }
}

@media (min-width: 480px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}