//
// page-head component specific styles
//

@btn-main-menu-color:#fff;
@btn-main-menu-bg:#a4a4a4;

body {
    padding-top: @page-header-height;	// to account for the fixed navbar at the top of the page;
}

.navbar-header {
    width: percentage((2 / @grid-columns));
    background-color:@app-color-bg-navbar;
}

.navbar-header {
    position:relative;
}

.navbar-brand {
    margin:0;
    padding:0;
}

@media (min-width: 480px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0;
    }
}

.navbar-brand img {
    width:100%;
}

.navbar-header-dark {
    color:@app-color-navbar;
    background-color: @app-color-bg-navbar;
    min-width: @app-min-width;
}

.header-center-text
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    background-color: transparent;
    line-height:30px;
    cursor: inherit;
}

.navbar {
    min-height: @page-header-height;
    max-height: @page-header-height;
    margin-bottom:0;
    border:none;
}

.navbar-nav .btn-gd-menu {
    border-width: 3px;
    margin-top:-6px;
}

.navbar-btn {
    margin-bottom:0;
    margin-top:0;
}

.btn-header+.btn-header {
    margin-left:10px;
}

p.navbar-text,
span.navbar-text {
    margin-left:15px;
    margin-right:15px;
}

.navbar-btn {
    //span:nth-child(1) {
    span {
        display:block;
        margin-top:17px;
        font-size: 17px;
        line-height:20px;
        text-align: center;
    }
    span + span {
        margin-top:0;
        margin-bottom:17px;
    }
    /*span:nth-child(2) {
        display:block;
        margin-bottom:17px;
        font-size: 17px;
        line-height:20px;
        text-align: center;
    }*/
}

.navbar-text {
    //font-family: balanceweb, Arial;
    font-size: 17px;
//    height:55px;
//    margin-top:25px;                          // height + margin-top + margin-bottom= page-header-height
//    margin-top:(@page-header-height - 55px);
    margin-top: 8px;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    color: #FFF;                          /* set this with a modifier */
    position: relative;
    p,span {
        margin-left:15px;
        margin-right:15px;
        display:block;
    }
    .block-line1 {
        margin-top:-15px;
        //margin-left:10px;
        //margin-right:10px;
        font-size: 16px;
        line-height:18px;
    }
    .block-line2 {
        margin-top:10px;
        //margin-right:10px;
        //margin-left:10px;
        font-size: 28px;
        font-weight:bolder;
        line-height:30px;
    }
    .block-line1a {
        margin-top:-15px;
        //margin-right:10px;
        //margin-left:10px;
        font-size: 22px;
        line-height:22px;
        text-align: left;
    }
    .block-line2a {
        margin-top:10px;
        //margin-right:10px;
        //margin-left:10px;
        font-size: 16px;
        line-height:16px;
        text-align: left;
    }
    .block-line1b {
        margin-top:-15px;
        //margin-left:10px;
        //margin-right:10px;
        margin-bottom:3px;
        text-align: left;
        font-size: 17px;
        line-height:17px;
        font-weight:bold;
    }
    .block-line2b {
        //margin-left:10px;
        //margin-right:10px;
        text-align: left;
        font-size: 13px;
        line-height:16px;
        font-weight:normal;
    }
    .block-line1d {
        //margin-left:10px;
        //margin-right:10px;
        font-size: 18px;
        line-height:20px;
    }
    .block-line1e {
        margin-top:-20px;
        font-size: 14px;
        line-height:16px;
        color:yellow;
    }
    .block-yellow-hiliter {
        color:yellow;
    }
    .block-line1f {
        margin-top:-20px;
        font-size: 14px;
        line-height:16px;
    }
    .block-line1e+.block-line1f {
        margin-top:0;
    }
    .block-line1f+.block-line1f {
        margin-top:0;
    }
    .block-grid-header {
        margin-top:-15px;
        //margin-right:10px;
        //margin-left:10px;
        font-size: 14px;
        line-height:14px;
        font-weight:bold;
    }
    @media (min-width: @app-min-width) {
        .block-grid-header {
            font-size:13px;                    /* set this with a modifier */
            line-height:14px;                   /* set this with a modifier */
        }
    }
    .badge-right {
        position:absolute;
        bottom:0;
        right:0;
        font-size: 13px;
        line-height:15px;
        padding: 2px 7px;
        white-space: nowrap;
        overflow: hidden;
    }
    .badge-left {
        position: absolute;
        bottom: 0;
        left:0;
        margin-left:10px;
        margin-right:10px;
        text-align: left;
        font-size: 13px;
        line-height:15px;
        //font-weight:bold;
        padding-bottom: 2px;
        white-space: nowrap;
        overflow: hidden;
    }
}

//
// alternate text colors in inverse navbars
//
.navbar-inverse {
    .navbar-textalt {
        .navbar-text;
        color: #FFF;
        font-size: 22px;
        font-weight: normal;
        margin-top:5px;
        margin-bottom:0;
    }
}

//
// for navbars with a row of buttons, use the button-row modifier on navbar and container
//
.navbar-button-row {
    .navbar-fixed-top;
    top: @page-header-height;
    margin-bottom: 0;
    border-bottom-width: 0;
    z-index: 1;
}

.container-button-row {
    padding-top:@button-row-height;
    //padding-top:110px;  // with row for Today's date
}


.navbar > .block-grid-row,
.navbar > .container,
.navbar > .container-fluid {
    padding-left:0;
    padding-right:0;
    max-height: @page-header-height;
    text-overflow: ellipsis ;
}

.navbar-team-logo {
}

.navbar .breadcrumb {
    background-color: transparent;
    color:@app-color-breadcrumb;
    margin-bottom:0;
    height: @page-header-height;
    padding:0 0 0 60px;
    font-size: 17px;

    .flex-align-center();

    > .active {
        color:white;
    }
    a {
        color:@app-color-breadcrumb;
        text-decoration: underline;
    }

    li :hover {
        color: white;
        //text-decoration: none;
    }
}

.navbar-text {
    color:white;
}

.btn-main-menu {
    background-color: @btn-main-menu-bg;
    font-size:20px;
    color: @btn-main-menu-color;
    height:@page-header-height;
    width:@page-header-height;
    margin-right:10px;
    float: left;
    &:hover {
        background-color: @app-hover-bg;
        color:@app-hover-color;
    }
}

/* Tablet Portrait */
@media (min-width: @screen-xs-min) and (max-width: @screen-sm-max) {
    .navbar .breadcrumb {
        font-size: 12px;
        padding-left:10px;
    }
    .navbar-text {
        font-size: 12px;
        float: left;
        margin-top: 12px;
    }
}
/* Tablet Landscape */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    .navbar .breadcrumb {
        font-size: 16px;
        padding-left:30px;
    }
    .navbar-text {
        font-size: 16px;
    }
}
