//
// player index page specific styles
//
// use this when evaluations are enabled: @player-index-column1-width:     16%;
// use this when evaluations are enabled: @player-index-column2-n-width:   7%;
@player-index-column1-width:     30%;
@player-index-column2-n-width:   10%;
@player-index-row-height-header: 190px;
@player-index-row-height:        45px;

@player-info-color-button-bg:#808080;
@player-info-color-button-color:#fff;
@player-info-color-button-border:#4a4a4a;

@player-index-color-header1: #808080;
@player-index-color-column1: #808080;
@player-index-color-header2: #0e4b8c;
@player-index-color-column2: #0e4b8c;
@player-index-color-header3: #0d4584;
@player-index-color-column3: #0d4584;
@player-index-color-header4: #0c407d;
@player-index-color-column4: #0c407d;
@player-index-color-header5: #0b3c77;
@player-index-color-column5: #0b3c77;
@player-index-color-header6: #0a346d;
@player-index-color-column6: #0a346d;
@player-index-color-header7: #09326a;
@player-index-color-column7: #09326a;
@player-index-color-header8: #07254e;
@player-index-color-column8: #07254e;
@player-index-color-header9: #051b4d;
@player-index-color-column9: #051b4d;
@player-index-color-header10:#051647;
@player-index-color-column10:#051647;
@player-index-color-header11:#03113f;
@player-index-color-column11:#03113f;
@player-index-color-header12:#030b38;
@player-index-color-column12:#030b38;
@player-index-color-header13:#01042e;
@player-index-color-column13:#01042e;

@player-index-color-border1:#4a4a4a;

.player-index {
    margin-top: 15px;

    .col-sm-3 {
        min-width: 167px;
    }

    .btn-header {
        background-color:@player-info-color-button-bg;
        color:@player-info-color-button-color;
        border:2px solid @player-info-color-button-border;
        display:block;
        margin-top:10px;
        margin-left: 0;
        margin-bottom: 0;
        width:100%;
        &:hover {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-border;
        }
    }
    .btn-row {
        background-color:@player-info-color-button-bg;
        color:@player-info-color-button-color;
        border:2px solid @player-info-color-button-border;
        display:block;
        margin-top:10px;
        margin-left: 0;
        margin-bottom: 10px;
        width:100%;
        text-align: left;
        &:hover {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-border;
        }
    }
    .row-container {
        width:100%;
        padding-left:15px;
        padding-right:15px;
        display:block;
    }
    .bowtie.expanded {
        .glyphicon();
        &:before {
            content: "\e082";
        }
    }
    .bowtie {
        padding-left:5px;
        padding-right:5px;
        .glyphicon();
        &:before {
            content: "\e081";
        }
        color:@player-info-color-button-bg;
    }
    .row-height() {
        height:@player-index-row-height;
    }
    .row-height-header() {
        height:@player-index-row-height-header;
    }
    .column1-width() {
        width:@player-index-column1-width;
    }
    .column2-width() {
        width:@player-index-column2-n-width;
    }
    .column3-width() {
        width:@player-index-column2-n-width;
    }
    .column4-width() {
        width:@player-index-column2-n-width;
    }
    .column5-width() {
        width:@player-index-column2-n-width;
    }
    .column6-width() {
        width:@player-index-column2-n-width;
    }
    .column7-width() {
        width:@player-index-column2-n-width;
    }
    .column8-width() {
        width:@player-index-column2-n-width;
    }
    .column9-width() {
        width:@player-index-column2-n-width;
    }
    .column10-width() {
        width:@player-index-column2-n-width;
    }
    .column11-width() {
        width:@player-index-column2-n-width;
    }
    .column12-width() {
        width:@player-index-column2-n-width;
    }
    .column13-width() {
        width:@player-index-column2-n-width;
    }
    .column1-color-header() {
        background-color: @player-index-color-header1;
        color:#fff;
    }
    .column2-color-header() {
        background-color: @player-index-color-header2;
        color:#fff;
    }
    .column3-color-header() {
        background-color: @player-index-color-header3;
        color:#fff;
    }
    .column4-color-header() {
        background-color: @player-index-color-header4;
        color:#fff;
    }
    .column5-color-header() {
        background-color: @player-index-color-header5;
        color:#fff;
    }
    .column6-color-header() {
        background-color: @player-index-color-header6;
        color:#fff;
    }
    .column7-color-header() {
        background-color: @player-index-color-header7;
        color:#fff;
    }
    .column8-color-header() {
        background-color: @player-index-color-header8;
        color:#fff;
    }
    .column9-color-header() {
        background-color: @player-index-color-header9;
        color:#fff;
    }
    .column10-color-header() {
        background-color: @player-index-color-header10;
        color:#fff;
    }
    .column11-color-header() {
        background-color: @player-index-color-header11;
        color:#fff;
    }
    .column12-color-header() {
        background-color: @player-index-color-header12;
        color:#fff;
    }
    .column13-color-header() {
        background-color: @player-index-color-header13;
        color:#fff;
    }
    .column1-color() {
        background-color: @player-index-color-column1;
        color:#000;
        &.header {
            background-color:@player-index-color-header1;
            color:#fff;
        }
    }
    .column2-color() {
        background-color: @player-index-color-column2;
        color:#000;
        &.header {
            background-color:@player-index-color-header2;
            color:#fff;
        }
    }
    .column3-color() {
        background-color: @player-index-color-column3;
        color:#000;
        &.header {
            background-color:@player-index-color-header3;
            color:#fff;
        }
    }
    .column4-color() {
        background-color: @player-index-color-column4;
        color:#fff;
        &.header {
            background-color:@player-index-color-header4;
        }
    }
    .column5-color() {
        background-color: @player-index-color-column5;
        color:#fff;
        &.header {
            background-color:@player-index-color-header5;
        }
    }
    .column6-color() {
        background-color: @player-index-color-column6;
        color:#fff;
        &.header {
            background-color:@player-index-color-header6;
        }
    }
    .column7-color() {
        background-color: @player-index-color-column7;
        color:#fff;
        &.header {
            background-color:@player-index-color-header7;
        }
    }
    .column8-color() {
        background-color: @player-index-color-column8;
        color:#fff;
        &.header {
            background-color:@player-index-color-header8;
        }
    }
    .column9-color() {
        background-color: @player-index-color-column9;
        color:#fff;
        &.header {
//            background-color:@player-index-color-header9;
        }
    }
    .column10-color() {
        background-color: @player-index-color-column10;
        color:#fff;
        &.header {
//          background-color:@player-index-color-header10;
        }
    }
    .column11-color() {
        background-color: @player-index-color-column11;
        color:#fff;
        &.header {
//            background-color:@player-index-color-header11;
        }
    }
    .column12-color() {
        background-color: @player-index-color-column12;
        color:#fff;
        &.header {
//            background-color:@player-index-color-header12;
        }
    }
    .column13-color() {
        background-color: @player-index-color-column13;
        color:#fff;
        &.header {
//            background-color:@player-index-color-header13;
        }
    }

    .row-separator {
        border-bottom: 2px solid @player-index-color-column4;
        padding-bottom:10px;
    }

    div.rotate {    // rotates the text 90 degrees counter clock-wise
        white-space: nowrap;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        margin:10px;
        span {
            margin: -10px 0;
            position:absolute;
        }
    }

    .column {
        position:relative;
        .row-height();
        padding:5px;
        margin:0;
        border:0;
        outline:0;
        font-size: 18px;
        line-height: 18px;
        font-weight: normal;

        .flex-align-center();

        &.header {
            .row-height-header();
            text-align: left;
            color:#fff;

            // flex-end is needed to align the rotated text correctly
            -webkit-flex-align: flex-end;
            -ms-flex-align: end;

            -webkit-align-items: flex-end;
            align-items: flex-end;

            -webkit-justify-content: center;
            justify-content: center;
        }

        span,p {
            width:100%;
        }
        .col-name {
            width:100%;
        }
        .bowtie {
            width:30px;
        }
    }
    .row-expanded {
        .row();
    }
    .expanded .column {
        //height: @player-index-row-height*4;
    }
    .column+.column {
        margin-left:10px;
    }
    .column6+.column7 {
        margin-left:20px;
    }
    .column1 {
        .column1-width();
        border: 0;
        padding:0;
        text-align:left;
        .caption {
            margin:5px;
            position:absolute;
            top: 0;

            -webkit-flex-align: flex-start;
            -ms-flex-align: start;

            -webkit-align-items: flex-start;
            align-items: flex-start;

            -webkit-justify-content: center;
            justify-content: center;

            font-style: italic;
            font-size:13px;
            font-weight: lighter;
        }
    }
    .column-color(@base-color;@screen-color) {
        background-color: screen(@base-color,@screen-color);
        color:#000;
        &.header {
            background-color:@base-color;
            color:#fff;
        }
    }

    @screen-even:#cccccc;
    @screen-odd:#dddddd;

    .row:nth-child(even) {
        //put this back when showing evaluations
        background-color:screen(@player-index-color-header1, @screen-even);
        .column1 {
            .column-color(@player-index-color-header1; @screen-even);
        }
        .column2 {
            .column-color(@player-index-color-header2; @screen-even);
        }
        .column3 {
            .column-color(@player-index-color-header3; @screen-even);
        }
        .column4 {
            .column-color(@player-index-color-header4; @screen-even);
        }
        .column5 {
            .column-color(@player-index-color-header5; @screen-even);
        }
        .column6 {
            .column-color(@player-index-color-header6; @screen-even);
        }
        .column7 {
            .column-color(@player-index-color-header7; @screen-even);
        }
        .column8 {
            .column-color(@player-index-color-header8; @screen-even);
        }
        .column9 {
            .column-color(@player-index-color-header9; @screen-even);
            //display:none; // remove this when showing evaluations
        }
        .column10 {
            .column-color(@player-index-color-header10; @screen-even);
            //display:none; // remove this when showing evaluations
        }
        .column11 {
            .column-color(@player-index-color-header11; @screen-even);
            //display:none; // remove this when showing evaluations
        }
        .column12 {
            .column-color(@player-index-color-header12; @screen-even);
            //display:none; // remove this when showing evaluations
        }
        .column13 {
            .column-color(@player-index-color-header13; @screen-even);
            //display:none; // remove this when showing evaluations
        }
    }
    .row:nth-child(odd) {
        .column1 {
            .column-color(@player-index-color-header1; #ffffff);
        }
        .column2 {
            .column-color(@player-index-color-header2; @screen-odd);
        }
        .column3 {
            .column-color(@player-index-color-header3; @screen-odd);
        }
        .column4 {
            .column-color(@player-index-color-header4; @screen-odd);
        }
        .column5 {
            .column-color(@player-index-color-header5; @screen-odd);
        }
        .column6 {
            .column-color(@player-index-color-header6; @screen-odd);
        }
        .column7 {
            .column-color(@player-index-color-header7; @screen-odd);
        }
        .column8 {
            .column-color(@player-index-color-header8; @screen-odd);
        }
        .column9 {
            .column-color(@player-index-color-header9; @screen-odd);
            //display:none; // remove this when showing evaluations
        }
        .column10 {
            .column-color(@player-index-color-header10; @screen-odd);
            //display:none; // remove this when showing evaluations
        }
        .column11 {
            .column-color(@player-index-color-header11; @screen-odd);
            //display:none; // remove this when showing evaluations
        }
        .column12 {
            .column-color(@player-index-color-header12; @screen-odd);
            //display:none; // remove this when showing evaluations
        }
        .column13 {
            .column-color(@player-index-color-header13; @screen-odd);
            //display:none; // remove this when showing evaluations
        }
    }

    .column2 {
        .column2-width();
    }

    .column3 {
        .column3-width();
    }

    .column4 {
        .column4-width();
    }

    .column5 {
        .column5-width();
    }

    .column6 {
        .column6-width();
    }

    .column7 {
        .column7-width();
    }

    .column8 {
        .column8-width();
    }

    .column9 {
        .column9-width();
    }

    .column10 {
        .column10-width();
    }

    .column11 {
        .column11-width();
    }

    .column12 {
        .column12-width();
    }

    .column13 {
        .column13-width();
    }

    .grade-evaluation-btns {
        margin-bottom: 15px;

        .col-sm-3 {
            padding-left: 0;

            .btn-header {
                margin-top: 0;

                &.active {
                    background-color: #4888ef;
                    border: 2px solid #1b75d7;
                    &:hover{
                        background-color: #1b75d7;
                    }
                }
            }
        }
    }

    .column-40 {
      width: 40% !important;
    }

    .column-15 {
      width: 15% !important;
    }
}

/* Tablet Landscape */
@media (min-width: @screen-xs-min) and (max-width: @screen-md-max) {
    .player-index {
        .row:nth-child(odd), .row:nth-child(even) {
            .column2, .column3, .column4, .column5, .column6, .column7, .column8 {
                span {
                    font-weight: bold;
                    font-size: 13px;
                }
            }
        }

    }
}

/* Tablet Portrait */
@media (min-width: @screen-xs-min) and (max-width: @screen-sm-min) {
    .player-index {
        .column+.column {
            max-width: 45px;
        }

        /*.row:nth-child(odd), .row:nth-child(even) {
            .column2, .column3, .column4, .column5, .column6, .column7, .column8 {
                span {
                    font-weight: bold;
                    font-size: 13px;
                }
            }
        }*/

        .btn-row {
            font-size: 12px;
        }
    }
}
