//
// player games specific styles
//

@grade-column1-width:40%;
@grade-column2-n-width:15%;
@grade-row-height:80px;

@screen-dark: #666666;
@screen-light:#cccccc;
@white-background-color: #fff;
@grade-color-header1: #959595;
@grade-color-header2: #0e4b8c;
@grade-color-header3: #09326a;
@grade-color-header4: #051b4d;
@grade-color-header5: #01042e;
@grade-color-header6: #959595;
@grade-color-column1: @play-info-color-button-bg;
@grade-color-column2: @grade-color-header2;
@grade-color-column3: @grade-color-header3;
@grade-color-column4: @grade-color-header4;
@grade-color-column5: @grade-color-header5;

.games-container {
    margin: 0px 10px 10px 10px;

    .headers {
        position: fixed;
        width: 75%;
        min-width: 563px;
        padding-right: 20px;
        /*left: 25%;
        right: 0;
        margin-left: 10px;
        margin-right: 10px;*/
        z-index: 10;
        background-color: @white-background-color;
        padding-top: 15px;
    }
    .section-main {
        padding-top: 117px;
    }
    .column {
        position:relative;
        height:@grade-row-height;
        padding:5px;
        margin:0;
        border:0;
        outline:0;
        color:@white-background-color;
        font-size: 18px ;
        line-height: 18px;
        font-weight: normal;

        .flex-align-center();   // center vertically and horizontally

        span,p {
            width:100%;
            &.not-added {
                font-weight: normal;
                font-size: 18px;
            }
        }
        span {
            width:100%;
        }
    }

    .column+.column {
        margin-left:10px;
    }

    .header2, .header3, .header4, .header5 {
        padding-top:20px;
        width:@grade-column2-n-width;
        font-weight: bold;
        .flex-align-top();
    }

    .header2 {
        background-color:@grade-color-header2;
        font-size:20px;
    }

    .header3 {
        background-color:@grade-color-header3;
        font-size:20px;
    }

    .header4 {
        background-color:@grade-color-header4;
        font-size:20px;
    }

    .header5 {
        background-color:@grade-color-header5;
        font-size:20px;
    }

    .header1, .header6 {
        text-align:left;
        font-style: italic;
        font-size:16px;
        .flex-align-top();
    }

    .header1 {
        background-color:@grade-color-header1;
        width:@grade-column1-width;
    }

    .header6 {
        width:@grade-column2-n-width;
        background-color:@grade-color-header6;
    }

    .column-color(@base-color, @screen-color) {
        background-color: screen(@base-color,@screen-color);
    }

    .column1 {
        background-color:@grade-color-column1;
        width:@grade-column1-width;
        text-align:left;
        border: 2px solid @btn-gd-menu-border-lt;
        height:40px;
        font-size: 13px;

        &:hover {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-border;
        }
    }

    .column2, .column3, .column4, .column5 {
        width:@grade-column2-n-width;
        font-size: 24px;
        font-weight: bold;
        height:40px;
    }

    .column2 {
        .column-color(@grade-color-column2,@screen-dark);
        border: 2px solid @grade-color-column2;

    }

    .column3 {
        .column-color(@grade-color-column3,@screen-dark);
        border: 2px solid @grade-color-column3;
    }

    .column4 {
        .column-color(@grade-color-column4,@screen-dark);
        border: 2px solid @grade-color-column4;
    }

    .column5 {
        .column-color(@grade-color-column5,@screen-dark);
        border: 2px solid @grade-color-column5;
    }

    .one-column-grade {
        width: 60%;
    }

    .two-column-grade {
        width: 20% !important;
    }

    .one-column-grade-40 {
        width: 40%;
    }
}
