//
// player position page specific styles
//

@players-position-column1-width:79%;
@players-position-column2-width:20%;
@players-position-row-height:60px;
@players-position-color-column2: #0e3779;

#player-position-modal {
    .modal-dialog {
        min-width: @app-min-width-modal;
    }
    .modal-header, .modal-footer {
        display: none;
    }
    .modal-body {
        .player-position-body {
            height: 300px;

            .radio {
                margin-top: 20px;
            }

            .alert {
                margin-bottom: 0px;
            }
        }

        .container-fluid {
            padding-left: 0px;
            padding-right: 0px;
        }

        .btn {
            width: 150px;
        }

        .field div {
            float: left;

            label {
                width: 100%;
                line-height: 30px;

                .radio {
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
            }
        }
        .field {
            width: 100%;
            float: right;
            margin: 0px;
            padding: 10px;
            //padding-top: 50px;

            .form-control {
                width: 100%;
                display: inline;
                float: right;
            }
        }

        .player-position-btns {
            margin-top: 30px;
            text-align: center;
            button {
                background-color:@app-btn-bg;
                border: 2px solid @app-btn-border;
                color: @app-btn-color;
                font-size: 17px;
                line-height: 17px;
                padding: 10px;
                margin-left: 5px;
                margin-right: 5px;

                &:hover,
                &:focus {
                    background-color: @app-hover-bg;
                    color:@app-hover-color;
                    border-color: @app-hover-bg;
                    text-decoration: none;
                }
            }
            .btn-default {
                margin-right: 50px;
            }
        }

        .row {
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 20px;

            div.column {
                color: #fff;
                padding: 5px;
                font-size:17px ;
                line-height: 17px;
                font-weight: 700;
            }

            div.column1 {
                float: left;
                background-color:@players-color-column1;
                //border: 2px solid @btn-gd-menu-border-lt;
                width:@players-position-column1-width;
                text-align:left;
                font-weight: normal;
                //margin-right: 5px;

                span.players-name {
                    top:5px;
                    left:5px;
                    font-weight:normal;
                    font-size: 20px;
                    line-height: 50px;
                }
                span.players-jersey-number {
                    float: right;
                    bottom:0px;
                    right:5px;
                    font-weight: bolder;
                    font-size: 50px;
                    line-height: 50px;
                    text-align: right;
                    background-color: transparent;
                }
            }

            div.column2 {
                float: right;
                background-color: @players-position-color-column2;
                width:@players-position-column2-width;
                text-align: center;
                //margin-left: 5px;
                span {
                    font-weight: bolder;
                    width: 100%;
                    font-size: 26px;
                    line-height: 50px;
                }
            }
        }
    }
}
