//
// players page specific styles
//

@import "players-position.less";
@import "player-new.less";

@players-column1-width:40%;
@players-column2-n-width:12%;
@players-not-current-season-width:15%;
@players-row-height:80px;
@players-color-disabled: #e1e1e1;

@screen-dark: #666666;
@screen-light:#cccccc;
@white-background-color: #fff;
@players-color-header1: #959595;
@players-color-header2: #0e4b8c;
@players-color-header3: #09326a;
@players-color-header4: #051b4d;
@players-color-header5: #01042e;
@players-color-header6: #959595;
@players-color-column1: @play-info-color-button-bg;
@players-color-column2: @players-color-header2;
@players-color-column3: @players-color-header3;
@players-color-column4: @players-color-header4;
@players-color-column5: @players-color-header5;
@players-color-column6: @players-color-column1;


//TODO: either make this global change or move into .container-players namespace
div.modal.fade.in {
    padding-right: 0;
}

.container-players {
    margin: 0px 10px 10px 10px;
    min-width: @app-min-width;

    .headers, .controls {
        position: fixed;
        min-width: @app-min-width;
        z-index: 10;
        margin: 0 9px 0 9px;
        padding-top: 10px;
        background-color: @white-background-color;
        left: 0;
        right: 0;
        padding-left: 1px;
        padding-right: 1px;

        &.not-current-season {
            .header2, .header3, .header4, .header5 {
                width: @players-not-current-season-width;
            }
        }
    }

    .headers {
        top: 100px;
    }

    .controls {

        .header1 {
            height: 50px;
            background-color: inherit;
            .add-player {
                height: 50px;
            }
        }

        .season-selector {
            width: 60%;
            margin-left: 50px;

            select {
                width: 200px;
                float: right;
                margin-top: 8px;
            }

            span {
                position: absolute;
                right: 220px;
                top: 25px;
            }
        }
    }

    .section-main {
        padding-top: 172px;

        &.not-current-season {
            .column2, .column3, .column4, .column5 {
                width: @players-not-current-season-width;
            }
        }
    }
    .column {
        position:relative;
        height:@players-row-height;
        padding:5px;
        margin:0;
        border:0;
        outline:0;
        color:#fff;
        font-size: 18px ;
        line-height: 18px;
        font-weight: normal;

        .flex-align-center();   // center vertically and horizontally

        span,p {
            width:100%;
            &.not-added {
                font-weight: normal;
                font-size: 18px;
            }
        }
        span.players-name {
            position:absolute;
            top:5px;
            left:5px;
            font-size: 20px;
            line-height: 23px;
            width:100%;
        }
        span.players-stats {
            position:absolute;
            bottom:5px;
            left:5px;
        }
        span.players-jersey-number {
            position:absolute;
            bottom:0;
            right:5px;
            font-weight: bolder;
            font-size: 50px;
            line-height:50px;
            text-align: right;
            background-color: transparent;
            width:50%;
        }

        &.disabled {
            pointer-events: none;
            background-color: @players-color-disabled !important;
            border-color: @players-color-disabled !important;
        }
    }

    .column+.column {
        margin-left:10px;
    }

    .header2, .header3, .header4, .header5 {
        padding-top:20px;
        width:@players-column2-n-width;
        font-weight: bold;
        .flex-align-top();
    }

    .header2 {
        background-color:@players-color-header2;
        font-size:24px;
    }

    .header3 {
        background-color:@players-color-header3;
        font-size:24px;
    }

    .header4 {
        background-color:@players-color-header4;
        font-size:24px;
    }

    .header5 {
        background-color:@players-color-header5;
        font-size:24px;
    }

    .header1, .header6 {
        text-align:left;
        /*font-style: italic;*/
        font-size:16px;
        .flex-align-top();
    }

    .header1 {
        background-color:@players-color-header1;
        width:@players-column1-width;
        padding: 0px;
        .add-player {
            width: 50%;
            span {
                width: 100%;
                padding: 0px;
                font-style: normal;
            }
        }
        span {
            width: 60%;
            padding: 5px;

            &.title {
                font-size: 24px;
                font-weight: bold;
                text-align: center;
                margin-top: 15px;
            }
        }
    }

    .header6 {
        width:@players-column2-n-width;
        background-color:@players-color-header6;
    }

    .column-color(@base-color, @screen-color) {
        background-color: screen(@base-color,@screen-color);
    }

    .column1 {
        background-color:@players-color-column1;
        width:@players-column1-width;
        text-align:left;
        border: 2px solid @btn-gd-menu-border-lt;

        &:hover,
        &:focus {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-bg;
            text-decoration: none;
        }
    }

    .column2, .column3, .column4, .column5, .column6 {
        width:@players-column2-n-width;
        font-size: 24px;
        font-weight: bold;
    }

    .column2, .column3, .column4, .column5 {
        &:hover, &.not-added:hover,
        &:focus, &.not-added:focus {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-bg;
            text-decoration: none;
        }
    }
    .column6 {
        &:hover,
        &:focus {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-bg;
            text-decoration: none;
        }
    }

    .column2 {
        //background-color:@players-color-column2;
        .column-color(@players-color-column2,@screen-dark);
        border: 2px solid @players-color-column2;
        &.not-added {
            .column-color(@players-color-column2,@screen-light);
            font-weight: normal;
        }
    }

    .column3 {
        //background-color:@players-color-column3;
        .column-color(@players-color-column3,@screen-dark);
        border: 2px solid @players-color-column3;
        &.not-added {
            .column-color(@players-color-column3,@screen-light);
            font-weight: normal;
        }
    }

    .column4 {
        //background-color:@players-color-column4;
        .column-color(@players-color-column4,@screen-dark);
        border: 2px solid @players-color-column4;
        &.not-added {
            .column-color(@players-color-column4,@screen-light);
            font-weight: normal;
        }
    }

    .column5 {
        //background-color:@players-color-column5;
        .column-color(@players-color-column5,@screen-dark);
        border: 2px solid @players-color-column5;
        &.not-added {
            .column-color(@players-color-column5,@screen-light);
            font-weight: normal;
        }
    }

    .column6 {
        background-color:@players-color-column6;
        border: 2px solid @app-btn-border;
        font-weight: normal;
        font-size: 18px;
    }
    .btn {
        background-color:@app-btn-bg;
        color:@app-btn-color;
        /*border:2px solid @app-btn-border;*/
        &:hover {
            background-color: @app-hover-bg;
            color:@app-hover-color;
        }
        &:focus {
            background-color: @app-hover-bg;
            color:@app-hover-color;
        }
    }

    .highlight {
        background: @players-color-header1;
    }

    .no-roster-message {
        text-align: center;
        margin-top: 100px;
    }
}

.upload-roster {
    .section-main {
        margin: 15px auto;
        padding-top: 0;

        .seasons {
            input[type="checkbox"] {
                margin-left: 30px;
            }

        }
    }

    .helper-text {
        display: block;
    }

    .hint {
        color: #FF0000;
        &.italic {
            font-style: italic;
        }
        &.bold {
            font-weight: bold;
        }
    }

    .btn-row {
        text-align: center;
    }

    .upload-controls {
        margin-top: 100px;
        .btn {
            width: 200px;
            margin-right: 60px;
            margin-left: 60px;
            padding: 20px;
            color: #fff;
            background-color: @app-btn-bg;
            border: 2px solid @app-btn-border;
            font-size: 17px;
            line-height: 17px;
            &:hover,
            &:focus {
                background-color: @app-hover-bg;
                color:@app-hover-color;
                border-color: @app-hover-bg;
                text-decoration: none;
            }
        }
    }

    .message {
        display: none;
        padding: 15px;
        margin: auto;
        width: 90%;
        .alert {
            padding: 5px;
            margin-bottom: 0px;
            p {
                text-align: center;
                font-weight: bold;
            }
        }
    }

    .required-col {
        color: #FF0000;
    }
}

#confirm-upload {
    label {
        font-weight: normal;
    }
}

#player-delete-modal {
    
    .modal-dialog {
        min-width: @app-min-width-modal;
    }

    .player {
        font-size: 18px;
        text-align: center;
        width: 100%;
        display: block;
        margin-top: 15px;
        margin-bottom: 50px;
    }

    .delete-player-controls {
        text-align: right;

        .btn {
            background-color: @app-btn-bg;
            border: 2px solid @app-btn-border;
            color: #fff;
            font-size: 17px;
            line-height: 17px;
            padding: 10px 20px;
            margin-left: 5px;
            &:hover,
            &:focus {
                background-color: @app-hover-bg;
                color:@app-hover-color;
                border-color: @app-hover-bg;
                text-decoration: none;
            }
        }

    }

    .modal-footer {
        display: none;
    }
}

@media (max-width: 850px) {
    .container-players {
        .header6 {
            font-size: 15px;
        }
    }
}