//
// player edit page specific styles
//
@white-background-color: #fff;

.player-edit {
    .modal-dialog {
        width: 95%;
        min-width: @app-min-width-modal;
    }
    .form-container {
        width: 100%;

        .user-name {
            position: relative;
            .middle-name {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }

        .help-block {
            display: inline;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 12px;
            .glyphicon {
                font-size: 10px;
            }
        }

        .alert-danger {
            float: right;
            font-size: 12px;
            line-height: 24px;
            background-color: @white-background-color;
        }
    }

    .right-container {
        padding: 10px;
        border: solid 2px #cccccc;
        label {
            text-align: left;
        }
    }

    .modal-footer {
        .btn {
            width : 150px;
        }

        .btn-default {
            margin-right: 10px;
        }

        .btn-primary {
            margin-left: 10px;
        }
    }

    .message {
        display: none;
        position: absolute;
        z-index: 1;
        right: 40%;
        left: 10%;
        padding: 0px;
        margin-top: 5px;
        top: 0px;
        .alert {
            padding: 5px;
            margin-bottom: 0px;
            p {
                text-align: center;
                font-weight: bold;
            }
        }
    }
}
