//
// player page specific styles
//

@import "player-index.less";
@import "player-info-panel.less";
@import "player-edit.less";
@import "player-games.less";

@player-column1-width:40%;
@player-column2-n-width:12%;
@player-row-height:80px;

.container-fluid.player {
    height:100%;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
}

@media (min-width: 768px) {
    //992px, 1200px
    .container-fluid.player {
        //height:500px;
    }
}

.player > .section-left {
    .make-lg-column(3);
    .make-md-column(3);
    .make-sm-column(3);
    .make-xs-column(3);
    background-color: @app-color-bg-sidebar;

    min-width: 192px;
    height:100%;
    position:fixed;
    left:0;
    right:0;
    top:@page-header-height;
    bottom:0;
    padding:15px;

    .gd-btn {
        background-color: @prospect-info-color-button-bg;
        color: @prospect-info-color-button-color;
        border: 2px solid @prospect-info-color-button-border;
        display: block;
        margin: 15px 0px 15px 0px;
        width:100%;
        font-size: 19px;
        &:hover {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-border;
        }
    }
}

.player > .section-main {
    .make-lg-column(9);
    .make-md-column(9);
    .make-sm-column(9);
    .make-xs-column(9);
    .make-lg-column-offset(3);
    .make-md-column-offset(3);
    .make-sm-column-offset(3);
    .make-xs-column-offset(3);
    height:100%;

    //position:fixed;
    left:0;
    right:0;
    //top:@page-header-height;
    bottom:0;
    //padding:15px;
}
