//
// play info panel specific styles
//

@play-info-color-bg:#808080;
@play-info-color-border:#808080;
@play-info-color-button-bg:#808080;
@play-info-color-button-color:#fff;
@play-info-color-button-border:#4a4a4a;

.container-game > .section-left {
    &.play-info-container {
        background-color: @play-info-color-bg;

        .toggle-info-panel-size {
            background: none;
            color: @play-info-color-button-color;
            position: absolute;
            right: 0;
            top: 8px;
            font-size: 20px;
        }

        .info-label {
            display:none;

            text-align: left;

            -webkit-flex-align: flex-end;
            -ms-flex-align: end;

            -webkit-align-items: flex-end;
            align-items: flex-end;

            -webkit-justify-content: center;
            justify-content: center;

            .rotate {
                white-space: nowrap;
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
                margin:10px;
                span {
                    margin: -15px 0;
                    position:absolute;
                    right: 0;
                    color: #fff;
                }
            }
        }

        &.stretched {
            width: 40px;
            min-width: inherit;

            .info-label {
                display: block;
            }

            .toggle-info-panel-size {
                top: 0;
                height: 100%;
                width: 43px;
                padding-top: 200px;
            }

            .play-info-panel, .play-info-panel-btn {
                display: none;
            }
        }
    }
}

.play-info-panel {
    color:#fff;
    padding:0;
    h2 {
        font-size:18px;
        margin-top:10px;
        margin-bottom:5px;
    }
    h3 {
        font-size:16px;
        margin-top:5px;
        margin-bottom:5px;
    }
    span, p {
        font-size: 14px;
        margin-top:5px;
        margin-bottom:5px;
    }
    .tbody, .tr, .td1, .td2, .th1, .th2 {
        padding:3px 0;
        font-size: 13px;
        line-height:15px;                   /* set this with a modifier */
        font-weight:normal;
        height:16px;
        text-align:left;
        border:0;
        vertical-align: center;
    }
    .inset {
        span {
            display: block;
        }

        .play-result-type {
            margin-top: 10px;
        }

        .play-result-type-select {
            position: absolute;
            right: 15px;
            top: 119px;
            left: 80px;
        }
    }

    .th1, .th2 {
        padding:5px 0;
        font-size: 15px;
        line-height:20px;
        height:20px;
    }

    .th1 {
        width:60%;
    }
    .th2 {
        width:40%;
    }

    .btn {
        background-color:@play-info-color-button-bg;
        color:@play-info-color-button-color;
        border:2px solid @play-info-color-button-border;
        display:block;
        margin-top: 1px;
        margin-left: 0;
        margin-bottom: 0;
        padding: 6px 10px;
        &:hover {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-border;
        }

        span {
            font-size: 29px;
        }
    }

    .btn-prev {
        float: left;
    }

    .btn-next {
        float: right;
    }

    #play-number {
        border:2px solid @play-info-color-button-border;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #000;
        text-align: center;
        width: 50%;
        font-size: 20px;
    }

    .edit-team-play {
        float: right;
        margin-right: 20px;
        margin-top: -16px;
        background-color: rgba(0,0,0,0);
        border-color: rgba(0,0,0,0);
        .glyphicon {
            font-size:18px;
        }
    }

    .play-result-type {
        select {
            width: 210px;
            display: inline-block;
            margin-left: 20px;
        }
    }

}
.play-info-panel+.play-info-panel {
    margin-top: 70px;
}

.play-info-panel.read-only {
    border: none;
    position: absolute;
    bottom: 130px;
    top: 150px;
    right: 15px;
    left: 15px;
    .inset {
        overflow-y: scroll;
        height: 100%;
        span {
            font-size: 13px;
        }
    }
    &.full-size {
        bottom: 70px;
    }
}

.play-info-panel.no-data {
    height: 100px;
    text-align: center;
    padding-top: 50px;
    font-size: 13px;
    border: none;
}

.play-info-panel-btn {
    background-color:@play-info-color-button-bg;
    color:@play-info-color-button-color;
    border:2px solid @play-info-color-button-border;
    display:block;
    padding: 6px 10px;
    width: 200px;
    margin: 20px auto;
    &:hover {
        background-color: @app-hover-bg;
        color:@app-hover-color;
        border-color: @app-hover-border;
    }

    span {
        font-size: 17px;
    }

}

.min-grading-page-btn {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;

    .play-info-panel-btn {
        width: 100%;
        line-height: 36px;
        background-color: #959595;

        .glyphicon-new-window {
            margin-top: 8px;
        }

        &:hover {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-border;
        }
    }
}

.play-info-panel.bigger-panel {
    height: 164px;
}

.play-info-panel.nav {
    padding: 1px 2px;
}

/* Tablet portrait */
@media (min-width: @screen-xs-min) and (max-width: @screen-sm-max) {
    .play-info-panel {
        .btn {
            padding-left: 4px;
            padding-right: 4px;
            span {
                font-size: 25px;
            }
        }

        .inset {
            .play-result-type-select {
                position: initial;
            }
        }
    }

    .play-info-panel.read-only {
        top: 200px;
    }

    .play-info-panel-btn {
        width: 100px;
    }
}

