
//
// prospect new page specific styles
//
@white-background-color: #fff;

.prospect-new {
    .modal-dialog {
        width: 95%;
        min-width: @app-min-width-modal;
    }
    .form-container {
        width: 100%;

        .user-name {
            position: relative;
            .middle-name {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }

        .help-block {
            display: inline;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 12px;
            .glyphicon {
                font-size: 10px;
            }
        }

        .alert-danger {
            float: right;
            font-size: 12px;
            line-height: 24px;
            background-color: @white-background-color;
        }

        .position-help {
            float: right;
            font-size: 11px;
            line-height: 20px;
            vertical-align: bottom;
            font-weight: normal;
            color: #a94442;
        }
    }

    .row-container {
        width: 100%;
        padding-top:15px;
        padding-bottom:15px;
        margin-bottom:10px;
        //border: 1px solid #c3c3c3;
        //border: 2px solid red;

        .flex();

        -webkit-justify-content: space-around; /* Safari 6.1+ */
        justify-content: space-around;

        .row-search {
            width: auto;
        }

        div {
            width: 100%;

            label {
                width: 150px;
            }

            .align-right {
                width: auto;
                float: right;
            }

            .btn-cancel {
                float: right;
                margin-right: 10px;
            }

            .btn-primary {
                //float: left;
                margin-left: 10px;
            }
        }

        /*
        .row-container {
            width:100%;
            padding-top:15px;
            padding-bottom:15px;
            display:block;
            border: solid 1px red;
        }
        */
    }

    .search-container {
        background-color: #ececec;
        .btn {
            width : 150px;
        }
    }
    .right-container {
        padding: 10px;
        border: solid 2px #cccccc;
        label {
            text-align: left;
        }
    }
    //border: solid 1px blue;
    .btn-row {
        background-color:@player-info-color-button-bg;
        color:@player-info-color-button-color;
        border:2px solid @player-info-color-button-border;
        display:block;
        margin-top:10px;
        margin-left: 0;
        margin-bottom: 10px;
        width:100%;
        text-align: left;
        &:hover {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-border;
        }
    }
    .btn-container {
        margin-top: 35px;
        div {
            .btn {
                width : 150px;
            }

            .btn-cancel {
                margin-right: 10px;
            }

            .btn-primary {
                margin-left: 10px;
            }
        }
    }

    .message {
        display: none;
        position: absolute;
        z-index: 1;
        right: 40%;
        left: 10%;
        padding: 0px;
        margin-top: 5px;
        top: 0px;
        .alert {
            padding: 5px;
            margin-bottom: 0px;
            p {
                text-align: center;
                font-weight: bold;
            }
        }
    }

    .modal-footer {
        .btn {
            width : 150px;
        }

        .btn-default {
            margin-right: 10px;
        }

        .btn-primary {
            margin-left: 10px;
        }
    }
}