//
// prospect info panel specific styles
//

@prospect-info-color-bg:#808080;
@prospect-info-color-border:#959595;
@prospect-info-color-button-bg:#808080;
@prospect-info-color-button-color:#fff;
@prospect-info-color-button-border:#4a4a4a;

.prospect-info-panel {
    background-color: #808080;
    color:#fff;
    padding:0;
    border:0;
    h2 {
        font-size:18px;
        margin-top:10px;
        margin-bottom:5px;
    }
    h3 {
        font-size:16px;
        margin-top:5px;
        margin-bottom:5px;
    }
    span, p {
        font-size: 13px;
        margin-top:5px;
        margin-bottom:5px;
    }
    .tbody, .tr, .td1, .td2, .th1, .th2 {
        padding:3px 0;
        font-size: 13px;
        line-height:15px;                   /* set this with a modifier */
        font-weight:normal;
        height:16px;
        text-align:left;
        border:0;
        vertical-align: center;
    }
    .inset {
        padding:10px;
        border:2px solid @prospect-info-color-button-border;
        &:hover {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-border;
        }
    }

    .th1, .th2 {
        padding:5px 0;
        font-size: 15px;
        line-height:20px;
        height:20px;
    }

    .td1 {
        width:60px;
    }
    .td2 {
        //width:90%;
    }

    .btn {
        background-color:@prospect-info-color-button-bg;
        color:@prospect-info-color-button-color;
        border:2px solid @prospect-info-color-button-border;
        display:block;
        margin-top:10px;
        margin-left: 0;
        margin-bottom: 0;
        width:100%;
        &:hover {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-border;
        }
    }

    .edit-prospect {
        float: right;
        background-color: rgba(0,0,0,0);
        border-color: rgba(0,0,0,0);
        .glyphicon {
            font-size:18px;
        }
    }
}
.prospect-info-panel+.prospect-info-panel {
    margin-top:20px;
}