//
// prospect specific styles
//

@import "prospects-new.less";

@prospect-column1-width:40%;
@prospect-column2-width:12%;
@prospect-column-n-width:12%;
@prospect-headers-height:80px;
@prospect-column-height:80px;

@screen-dark: #666666;
@screen-light:#cccccc;
@white-background-color: #fff;
@prospect-color-header1: #959595;
@prospect-color-header2: #0e4b8c;
@prospect-color-header3: #09326a;
@prospect-color-header4: #051b4d;
@prospect-color-header5: #01042e;
@prospect-color-header6: #959595;
@prospect-color-column1: @btn-gd-menu-bg-lt;
@prospect-color-column2: @prospect-color-header2;
@prospect-color-column3: @prospect-color-header3;
@prospect-color-column4: @prospect-color-header4;
@prospect-color-column5: @prospect-color-header5;
@prospect-color-column6: @prospect-color-column1;

.prospects-container {
    margin: 0px 10px 10px 10px;
    min-width: @app-min-width;

    .headers, .controls {
        position: fixed;
        left: 0;
        right: 0;
        min-width: @app-min-width;
        margin-left: 9px;
        padding-left: 1px;
        margin-right: 9px;
        padding-right: 1px;
        z-index: 10;
        background-color: @white-background-color;
        padding-top: 15px;
    }

    .headers {
        top: 105px;
    }

    .controls {

        .header1 {
            height: 50px;
            background-color: inherit;

            .add-prospect {
                background-color:@prospect-color-column1;
                padding: 5px;
                width: 50%;
                height: 100%;
                font-size: 18px;
                .flex-align-center();
                span {
                    width: 100%;
                    padding: 5px;
                    font-style: normal;
                }
                border: 2px solid @btn-gd-menu-border-lt;
                &:hover,
                &:focus {
                    background-color: @app-hover-bg;
                    color:@app-hover-color;
                    border-color: @app-hover-bg;
                    text-decoration: none;
                }

                &.add-single {
                    margin-right: 5px;
                }

                &.add-multiple {
                    margin-left: 5px;
                }
            }
        }

        .season-selector {
            width: 60%;
            margin-left: 50px;

            select {
                width: 200px;
                float: right;
                margin-top: 8px;
            }

            span {
                position: absolute;
                right: 220px;
                top: 30px;
            }
        }
    }

    .section-main {
        padding-top: 182px;
        //min-width: 734px;
    }
    .column {
        position:relative;
        height:@prospect-headers-height;
        padding:5px;
        margin:0;
        border:0;
        outline:0;
        color:@white-background-color;
        font-size: 18px ;
        line-height: 18px;
        font-weight: normal;

        .flex-align-center();   // center vertically and horizontally

        span, p {
            width:100%;
            &.not-added {
                font-weight: normal;
                font-size: 18px;
            }
        }
        span {
            width:100%;
        }
    }

    .column+.column {
        margin-left:10px;
    }

    .header6 {
        text-align:left;
        font-style: italic;
        font-size:16px;
        .flex-align-top();
    }

    .header1 {
        padding: 0px;
        text-align:left;
        /*font-style: italic;*/
        font-size:16px;
        .flex-align-top();
        background-color:@prospect-color-column1;
        width:@prospect-column1-width;
        span {
            width: 60%;
            padding: 5px;

            &.title {
                font-size: 19px;
                font-weight: bold;
                text-align: center;
                margin-top: 15px;
            }
        }
        .add-prospect {
            padding: 5px;
            width: 50%;
            height: 100%;
            font-size: 18px;
            .flex-align-center();
            span {
                width: 100%;
                padding: 5px;
                font-style: normal;
            }
            border: 2px solid @btn-gd-menu-border-lt;
            &:hover,
            &:focus {
                background-color: @app-hover-bg;
                color:@app-hover-color;
                border-color: @app-hover-bg;
                text-decoration: none;
            }

            &.add-single {
                margin-right: 5px;
            }

            &.add-multiple {
                margin-left: 5px;
            }
        }
    }

    .header7 {
        padding: 5px;
        text-align:left;
        font-style: italic;
        font-size:16px;
        .flex-align-top();
        background-color:@prospect-color-column1;
        width:@prospect-column-n-width;
    }

    .header2, .header3, .header4, .header5 {
        font-size:19px;
        padding-top:22px;
        font-weight: bold;
        .flex-align-top();
    }

    .header2 {
        width:@prospect-column2-width;
        background-color:@prospect-color-header2;
    }

    .header3 {
        background-color:@prospect-color-header3;
        width:@prospect-column-n-width;
    }

    .header4 {
        background-color:@prospect-color-header4;
        width:@prospect-column-n-width;
    }

    .header5 {
        background-color:@prospect-color-header5;
        width:@prospect-column-n-width;
    }

    .header6 {
        background-color:@prospect-color-header6;
        width:@prospect-column-n-width;
    }

    .column1 {
        background-color: @prospect-color-column1;
        width:@prospect-column1-width;
        height: @prospect-column-height;
        text-align:left;
        border: 2px solid @btn-gd-menu-border-lt;
        .name {
            position:absolute;
            top:5px;
            left:5px;
            font-size: 20px;
            line-height: 23px;
            width:100%;
        }
        .team-level {
            position:absolute;
            bottom:27px;
            left:5px;
        }
        .prospect-stats {
            position:absolute;
            bottom:5px;
            left:5px;
        }
        .jersey-number {
            position:absolute;
            bottom:0;
            right:5px;
            font-weight: bolder;
            font-size: 50px;
            line-height:50px;
            text-align: right;
            background-color: transparent;
            width:50%;
        }
        &:hover,
        &:focus {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-bg;
            text-decoration: none;
        }
    }


    .column2, .column3, .column4, .column5, .column6 {
        height: @prospect-column-height;
        font-size: 22px;
        font-weight: bold;
    }
    .column3, .column4, .column5, .column6 {
        width:@prospect-column-n-width;
        font-size: 22px;
        font-weight: bold;
    }

    .column2 {
        width:@prospect-column2-width;
        background-color: @prospect-color-column2;
    }

    .column3 {
        background-color: @prospect-color-column3;
    }

    .column4 {
        background-color: @prospect-color-column4;

    }

    .column5 {
        background-color: @prospect-color-column5;
    }

    .column6 {
        background-color: @prospect-color-column6;
        border: 2px solid @app-btn-border;
        font-weight: normal;
        font-size: 18px;
        &:hover,
        &:focus {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-bg;
            text-decoration: none;
        }
    }

    .column7 {
        background-color: @prospect-color-column1;
        border: 2px solid @btn-gd-menu-border-lt;
        height: @prospect-column-height;
        width: @prospect-column-n-width;
        &:hover,
        &:focus {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-bg;
            text-decoration: none;
        }
    }

    .highlight {
        background: @players-color-header1;
    }

    .no-prospects-message {
        text-align: center;
        margin-top: 100px;
    }
}

.upload-prospects {
    .section-main {
        margin: 15px auto;
        padding-top: 0;
    }

    .helper-text {
        display: block;
    }

    .hint {
        color: #FF0000;
        &.italic {
            font-style: italic;
        }
        &.bold {
            font-weight: bold;
        }
    }

    .btn-row {
        text-align: center;
    }

    .upload-controls {
        margin-top: 100px;
        .btn {
            width: 200px;
            margin-right: 60px;
            margin-left: 60px;
            padding: 20px;
            color: #fff;
            background-color: @app-btn-bg;
            border: 2px solid @app-btn-border;
            font-size: 17px;
            line-height: 17px;
            &:hover,
            &:focus {
                background-color: @app-hover-bg;
                color:@app-hover-color;
                border-color: @app-hover-bg;
                text-decoration: none;
            }
        }
    }

    .message {
        display: none;
        padding: 15px;
        margin: auto;
        width: 90%;
        .alert {
            padding: 5px;
            margin-bottom: 0px;
            p {
                text-align: center;
                font-weight: bold;
            }
        }
    }

    .required-col {
        color: #FF0000;
    }
}

#confirm-upload, #upload-prospect-notification {
    label {
        font-weight: normal;
    }
}

#upload-prospect-notification {
    .modal-footer {
        .btn-default {
            display: none;
        }
    }
}

#prospect-delete-modal {
    .modal-dialog {
        min-width: @app-min-width-modal;
    }
}