//
// prospect page specific styles
//

@import "prospect-index.less";
@import "prospect-info-panel.less";
@import "prospect-position.less";

.container-fluid.prospect {
    height:100%;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
}

@media (min-width: 768px) {
    //992px, 1200px
    .container-fluid.prospect {
        //height:500px;
    }
}

.prospect > .section-left {
    background-color: @app-color-bg-sidebar;

    height:100%;
    width: 25%;
    float: left;
    position:absolute;
    left:0;
    //right:0;
    //top:@page-header-height;
    bottom:0;
    padding:15px;

    .gd-btn {
        background-color: @prospect-info-color-button-bg;
        color: @prospect-info-color-button-color;
        border: 2px solid @prospect-info-color-button-border;
        display: block;
        margin: 15px 0px 15px 0px;
        width:100%;
        font-size: 19px;
        &:hover {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-border;
        }
    }
}

.prospect > .section-main {
    width: 75%;
    float: left;
    margin-left: 25%;
    height:100%;

    //position:fixed;
    left:0;
    right:0;
    //top:@page-header-height;
    bottom:0;
    //padding:15px;
}
