.select-positions {

    .modal-dialog {
        min-width:470px;
    }

    .modal-body, .modal-footer {
        padding-left: 80px;
        padding-right: 80px;
    }
    .modal-body {
        .btn {
            height: 60px;
            font-size: 40px;
            margin-bottom: 10px;
            font-weight: bold;
            background-color:@app-btn-bg;
            color:@app-btn-color;
            border:2px solid @app-btn-border;
            .flex-align-center();
            &:hover {
                background-color: @app-hover-bg;
                color:@app-hover-color;
            }
            &:focus {
                background-color: @app-hover-bg;
                color:@app-hover-color;
            }
        }
        .btn.true {
            background-color: #4888ef;
            border: 2px solid #1b75d7;
            &:hover{
                background-color: #1b75d7;
            }
        }
        .name {
            height: 60px;
            text-align: left;
            font-size: 20px;
            line-height: 60px;
        }
    }
}
