//
// player index page specific styles
//
// use this when evaluations are enabled: @ranking-index-column1-width:     16%;
// use this when evaluations are enabled: @ranking-index-column2-n-width:   7%;
@ranking-index-column1-width:     23%;
@ranking-index-column2-n-width:   7%;
@ranking-index-row-height-header: 190px;
@ranking-index-row-height:        35px;

@ranking-info-color-button-bg:#808080;
@ranking-info-color-button-color:#fff;
@ranking-info-color-button-border:#4a4a4a;

@ranking-index-color-header1: #808080;
@ranking-index-color-column1: #808080;
@ranking-index-color-header2: #0e4b8c;
@ranking-index-color-column2: #0e4b8c;
@ranking-index-color-header3: #0d4584;
@ranking-index-color-column3: #0d4584;
@ranking-index-color-header4: #0c407d;
@ranking-index-color-column4: #0c407d;
@ranking-index-color-header5: #0b3c77;
@ranking-index-color-column5: #0b3c77;
@ranking-index-color-header6: #0a346d;
@ranking-index-color-column6: #0a346d;
@ranking-index-color-header7: #09326a;
@ranking-index-color-column7: #09326a;
@ranking-index-color-header8: #07254e;
@ranking-index-color-column8: #07254e;
@ranking-index-color-header9: #051b4d;
@ranking-index-color-column9: #051b4d;
@ranking-index-color-header10:#051647;
@ranking-index-color-column10:#051647;
@ranking-index-color-header11:#03113f;
@ranking-index-color-column11:#03113f;
@ranking-index-color-header12:#030b38;
@ranking-index-color-column12:#030b38;
@ranking-index-color-header13:#01042e;
@ranking-index-color-column13:#01042e;
@ranking-index-color-border1:#4a4a4a;

.ranking-container {
    margin-top: 0px;

    .header-controls {
        padding-left: 14px;
        padding-right: 15px;
        position: fixed;
        z-index: 101;
        left: 0;
        right: 0;
        width: 500px;
        background-color: #fff;
    }

    .btn {
        margin-top: 10px;
        float: left;
        /*width: 21%;*/
        margin-right: 10px;
        height: 50px;
        font-size: 15px;
        margin-bottom: 10px;
        background-color:@app-btn-bg;
        color:@app-btn-color;
        border:2px solid @app-btn-border;
        .flex-align-center();
        &:hover {
            background-color: @app-hover-bg;
            color:@app-hover-color;
        }
        &:focus {
            background-color: @app-hover-bg;
            color:@app-hover-color;
        }
    }
    .btn.active {
        background-color: #4888ef;
        border: 2px solid #1b75d7;
        &:hover{
            background-color: #1b75d7;
        }
    }

    .btn.position-import {
        float: right;
        width: 21%;
    }
    .right-controls {

        &.roster-controls {
            .season-selector {
                width: 150px;
                margin-top: 8px;
                float: right;
                margin-right: 8px;

                .season-selector-label {
                    display: none;
                }
            }
        }

        &.prospect-controls {
            .season-selector {
                width: 200px;
                margin-top: 18px;
                float: right;
                margin-right: 15px;
            }
        }

        &.fixed {
            position: fixed;
            right: 0;
            z-index: 100;
            width: 100%;
            left: 0;
            min-width: 766px;
            background-color: #fff;
            padding-bottom: 5px;
        }

        .rank-based {
            /*right: 0;
            z-index: 101;
            width: 50%;
            position: fixed;
            float: right;*/
            margin-top: 10px;
            .rank-based-label {
                line-height: 50px;
                float: right;
                padding-right: 5px;
            }

            .rank-based-selection {
                margin-top: 8px;
                padding-right: 15px;
                float: right;
                width: 220px;
            }
        }
        
        .btn {
          z-index: 150;
          float: left;
          position: fixed;
          left: 315px;
          margin-left: 21px;
          width: 144px;
          .text {
              width: 80%;
              text-align: left;
          }
          .glyphicon {
              //width: 50%;
              text-align: right;
          }

          &.btn-loading {
              background-color: #4888ef;
              border: 2px solid #1b75d7;
              &:hover {
                  background-color: #1b75d7;
              }
              .glyphicon {
                  animation: spin .9s infinite linear;
                  -webkit-animation: spin2 .9s infinite linear;

                  // animation
                  @-webkit-keyframes spin2 {
                      from { -webkit-transform: rotate(0deg);}
                      to { -webkit-transform: rotate(360deg);}
                  }

                  @keyframes spin {
                      from { transform: scale(1) rotate(0deg);}
                      to { transform: scale(1) rotate(360deg);}
                  }
              }
           }

        }

    }

    .ranking-index {
        .no-stats-message {
            text-align: center;
            padding-top: 100px;
        }
        .header-container {
            position: fixed;
            left: 0px;
            right: 0px;
            z-index: 100;
            margin-left: 14px;
            margin-right: 16px;
            margin-top: 70px;
            background-color: #fff;
            min-width: 738px;
        }

        .row-container {
            width:100%;
            padding-left:15px;
            padding-right:15px;
            display:block;
        }
        .bowtie.expanded {
            .glyphicon();
            &:before {
                content: "\e082";
            }
        }
        .bowtie {
            padding-left:5px;
            padding-right:5px;
            .glyphicon();
            &:before {
                content: "\e081";
            }
            color:@ranking-info-color-button-bg;
        }
        .data-container {
            margin-top: 260px;
        }
        .row-height() {
            height:@ranking-index-row-height;
        }
        .row-height-header() {
            height:@ranking-index-row-height-header;
        }
        .column1-width() {
            width:@ranking-index-column1-width;
        }
        .column2-width() {
            width:@ranking-index-column2-n-width;
        }
        .column3-width() {
            width:@ranking-index-column2-n-width;
        }
        .column4-width() {
            width:@ranking-index-column2-n-width;
        }
        .column5-width() {
            width:@ranking-index-column2-n-width;
        }
        .column6-width() {
            width:@ranking-index-column2-n-width;
        }
        .column7-width() {
            width:@ranking-index-column2-n-width;
        }
        .column8-width() {
            width:@ranking-index-column2-n-width;
        }
        .column9-width() {
            width:@ranking-index-column2-n-width;
        }
        .column10-width() {
            width:@ranking-index-column2-n-width;
        }
        .column11-width() {
            width:@ranking-index-column2-n-width;
        }
        .column12-width() {
            width:@ranking-index-column2-n-width;
        }
        .column13-width() {
            width:@ranking-index-column2-n-width;
        }
        .column1-color-header() {
            background-color: @ranking-index-color-header1;
            color:#fff;
        }
        .column2-color-header() {
            // background-color: @ranking-index-color-header2;
            background-color: @ranking-index-color-header1;
            color:#fff;
        }
        .column3-color-header() {
            // background-color: @ranking-index-color-header3;
            background-color: @ranking-index-color-header1;
            color:#fff;
        }
        .column4-color-header() {
            // background-color: @ranking-index-color-header4;
            background-color: @ranking-index-color-header1;
            color:#fff;
        }
        .column5-color-header() {
            background-color: @ranking-index-color-header5;
            color:#fff;
        }
        .column6-color-header() {
            background-color: @ranking-index-color-header6;
            color:#fff;
        }
        .column7-color-header() {
            background-color: @ranking-index-color-header7;
            color:#fff;
        }
        .column8-color-header() {
            background-color: @ranking-index-color-header8;
            color:#fff;
        }
        .column9-color-header() {
            background-color: @ranking-index-color-header9;
            color:#fff;
        }
        .column10-color-header() {
            background-color: @ranking-index-color-header10;
            color:#fff;
        }
        .column11-color-header() {
            background-color: @ranking-index-color-header11;
            color:#fff;
        }
        .column12-color-header() {
            background-color: @ranking-index-color-header12;
            color:#fff;
        }
        .column13-color-header() {
            background-color: @ranking-index-color-header13;
            color:#fff;
        }
        .column1-color() {
            background-color: @ranking-index-color-column1;
            color:#000;
            &.header {
                background-color:@ranking-index-color-header1;
                color:#fff;
            }
        }
        .column2-color() {
            // background-color: @ranking-index-color-column2;
            background-color: @ranking-index-color-column1;
            color:#000;
            &.header {
                // background-color:@ranking-index-color-header2;
                background-color:@ranking-index-color-header1;
                color:#fff;
            }
        }
        .column3-color() {
            // background-color: @ranking-index-color-column3;
            background-color:@ranking-index-color-header1;
            color:#000;
            &.header {
                background-color:@ranking-index-color-header3;
                color:#fff;
            }
        }
        .column4-color() {
            // background-color: @ranking-index-color-column4;
            background-color:@ranking-index-color-header1;
            color:#fff;
            &.header {
                background-color:@ranking-index-color-header4;
            }
        }
        .column5-color() {
            background-color: @ranking-index-color-column5;
            color:#fff;
            &.header {
                background-color:@ranking-index-color-header5;
            }
        }
        .column6-color() {
            background-color: @ranking-index-color-column6;
            color:#fff;
            &.header {
                background-color:@ranking-index-color-header6;
            }
        }
        .column7-color() {
            background-color: @ranking-index-color-column7;
            color:#fff;
            &.header {
                background-color:@ranking-index-color-header7;
            }
        }
        .column8-color() {
            background-color: @ranking-index-color-column8;
            color:#fff;
            &.header {
                background-color:@ranking-index-color-header8;
            }
        }
        .column9-color() {
            background-color: @ranking-index-color-column9;
            color:#fff;
            &.header {
    //            background-color:@ranking-index-color-header9;
            }
        }
        .column10-color() {
            background-color: @ranking-index-color-column10;
            color:#fff;
            &.header {
    //          background-color:@ranking-index-color-header10;
            }
        }
        .column11-color() {
            background-color: @ranking-index-color-column11;
            color:#fff;
            &.header {
    //            background-color:@ranking-index-color-header11;
            }
        }
        .column12-color() {
            background-color: @ranking-index-color-column12;
            color:#fff;
            &.header {
    //            background-color:@ranking-index-color-header12;
            }
        }
        .column13-color() {
            background-color: @ranking-index-color-column13;
            color:#fff;
            &.header {
    //            background-color:@ranking-index-color-header13;
            }
        }

        .row-separator {
            border-bottom: 2px solid @ranking-index-color-column4;
            padding-bottom:10px;
        }

        div.rotate {    // rotates the text 90 degrees counter clock-wise
            white-space: nowrap;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
            margin:10px;
            span {
                margin: -10px 0;
                position:absolute;
            }
        }

        .column {
            position:relative;
            .row-height();
            padding:5px;
            margin:0;
            border:0;
            outline:0;
            font-size: 18px;
            line-height: 18px;
            font-weight: normal;

            .flex-align-center();

            &.header {
                .row-height-header();
                text-align: left;
                color:#fff;

                // flex-end is needed to align the rotated text correctly
                -webkit-flex-align: flex-end;
                -ms-flex-align: end;

                -webkit-align-items: flex-end;
                align-items: flex-end;

                -webkit-justify-content: center;
                justify-content: center;
            }

            span,p {
                width:100%;
            }
            .col-name {
                width:100%;
            }
            .bowtie {
                width:30px;
            }
        }
        .row-expanded {
            .row();
        }
        .expanded .column {
            //height: @ranking-index-row-height*4;
        }
        .column+.column {
            margin-left:10px;
        }
        .column6+.column7 {
            margin-left:20px;
        }
        .column1, .column1-header {
            .column1-width();
            border: 0;
            padding:5px;
            text-align:left;
            .caption {
                margin:10px;
            }
        }
        .column1-header {
            &.header {
                background-color:@ranking-index-color-header1;
                color:#fff;
            }
        }
        .column-color(@base-color;@screen-color) {
            background-color: screen(@base-color,@screen-color);
            color:#000;
            &.header {
                background-color:@base-color;
                color:#fff;
            }
        }

        @screen-even:#cccccc;
        @screen-odd:#dddddd;

        .row:nth-child(even) {
            //put this back when showing evaluations
            background-color:screen(@ranking-index-color-header1, @screen-even);
            .column1 {
                .column-color(@ranking-index-color-header1; @screen-even);
                &:hover,
                &:focus {
                    background-color: @app-hover-bg;
                    color:@app-hover-color;
                    border-color: @app-hover-bg;
                    text-decoration: none;
                }
                color: #337ab7;
            }
            .column2 {
                //.column-color(@ranking-index-color-header2; @screen-even);
                .column-color(@ranking-index-color-header1; @screen-even);
            }
            .column3 {
                // .column-color(@ranking-index-color-header3; @screen-even);
                .column-color(@ranking-index-color-header1; @screen-even);
            }
            .column4 {
                // .column-color(@ranking-index-color-header4; @screen-even);
                .column-color(@ranking-index-color-header1; @screen-even);
            }
            .column5 {
                .column-color(@ranking-index-color-header5; @screen-even);
            }
            .column6 {
                .column-color(@ranking-index-color-header6; @screen-even);
            }
            .column7 {
                .column-color(@ranking-index-color-header7; @screen-even);
            }
            .column8 {
                .column-color(@ranking-index-color-header8; @screen-even);
            }
            .column9 {
                .column-color(@ranking-index-color-header9; @screen-even);
                //display:none; // remove this when showing evaluations
            }
            .column10 {
                .column-color(@ranking-index-color-header10; @screen-even);
                //display:none; // remove this when showing evaluations
            }
            .column11 {
                .column-color(@ranking-index-color-header11; @screen-even);
                //display:none; // remove this when showing evaluations
            }
            .column12 {
                .column-color(@ranking-index-color-header12; @screen-even);
                //display:none; // remove this when showing evaluations
            }
            .column13 {
                .column-color(@ranking-index-color-header13; @screen-even);
                //display:none; // remove this when showing evaluations
            }
        }
        .row:nth-child(odd) {
            .column1 {
                .column-color(@ranking-index-color-header1; #ffffff);
                &:hover,
                &:focus {
                    background-color: @app-hover-bg;
                    color:@app-hover-color;
                    border-color: @app-hover-bg;
                    text-decoration: none;
                }
                color: #337ab7;
            }
            .column2 {
                // .column-color(@ranking-index-color-header2; @screen-odd);
                .column-color(@ranking-index-color-header1; #ffffff);
            }
            .column3 {
                // .column-color(@ranking-index-color-header3; @screen-odd);
                .column-color(@ranking-index-color-header1; #ffffff);
            }
            .column4 {
                // .column-color(@ranking-index-color-header4; @screen-odd);
                .column-color(@ranking-index-color-header1; #ffffff);
            }
            .column5 {
                .column-color(@ranking-index-color-header5; @screen-odd);
            }
            .column6 {
                .column-color(@ranking-index-color-header6; @screen-odd);
            }
            .column7 {
                .column-color(@ranking-index-color-header7; @screen-odd);
            }
            .column8 {
                .column-color(@ranking-index-color-header8; @screen-odd);
            }
            .column9 {
                .column-color(@ranking-index-color-header9; @screen-odd);
                //display:none; // remove this when showing evaluations
            }
            .column10 {
                .column-color(@ranking-index-color-header10; @screen-odd);
                //display:none; // remove this when showing evaluations
            }
            .column11 {
                .column-color(@ranking-index-color-header11; @screen-odd);
                //display:none; // remove this when showing evaluations
            }
            .column12 {
                .column-color(@ranking-index-color-header12; @screen-odd);
                //display:none; // remove this when showing evaluations
            }
            .column13 {
                .column-color(@ranking-index-color-header13; @screen-odd);
                //display:none; // remove this when showing evaluations
            }
        }

        .column2 {
            .column2-width();
        }

        .column3 {
            .column3-width();
        }

        .column4 {
            .column4-width();
        }

        .column5 {
            .column5-width();
        }

        .column6 {
            .column6-width();
        }

        .column7 {
            .column7-width();
        }

        .column8 {
            .column8-width();
        }

        .column9 {
            .column9-width();
        }

        .column10 {
            .column10-width();
        }

        .column11 {
            .column11-width();
        }

        .column12 {
            .column12-width();
        }

        .column13 {
            .column13-width();
        }
    }
}


@media(max-width: 1000px) {
    .ranking-container {
        .ranking-index {
            .column {
                font-size: 15px;
            }
        }
    }   
}

@media(max-width: 1023px) {
    .ranking-container {
        .right-controls {
            &.roster-controls {
                
                .rank-based {
                    .rank-based-label {
                        margin-bottom: 0;
                        position: absolute;
                        top: 5px;
                        right: 25px;
                        line-height: inherit;
                        padding-right: 0;
                    }

                    .rank-based-selection {
                        width: 136px;
                        margin-top: 19px;
                    }
                }

                .season-selector {
                    width: 80px;
                    margin-top: 19px;

                    .season-selector-label {
                        display: block;
                        margin-bottom: 0;
                        position: absolute;
                        top: 5px;
                        right: 169px;
                        line-height: inherit;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}