//
// report index page specific styles
//

@report-index-column1-width:     25%;
@report-index-column2-n-width:   25%;
@report-index-row-height-header: 40px;
@report-index-row-height:        36px;

@report-index-color-header1:#959595;
@report-index-color-header2:#0e4b8c;
@report-index-color-header3:#09326a;
@report-index-color-header4:#01042e;
@report-index-color-column1:#808080;
@report-index-color-column2:#0e4b8c;
@report-index-color-column3:#09326a;
@report-index-color-column4:#01042e;
@report-index-color-border1:#4a4a4a;
@report-index-expand-line-color: #003783;
@report-index-bowtie-bg-color: #808080;

@report-index-th-color:#959595;

.report-index {
    .btn {
        background-color:@report-info-color-button-bg;
        color:@report-info-color-button-color;
        border:2px solid @report-info-color-button-border;
        margin-bottom: 15px;
        margin-left: -15px;
        width: 150px;
        &:hover {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-border;
        }
    }
    .cat1-color {
        background-color: @report-index-color-header2;
    }
    .cat2-color {
        background-color: @report-index-color-header3;
    }
    .cat3-color {
        background-color: @report-index-color-header4;
    }
    .overall-color {
        background-color: @report-index-color-header1;
    }
    .row-height() {
        height:@report-index-row-height;
    }
    .row-height-header() {
        height:@report-index-row-height-header;
    }
    .column1-width() {
        width:@report-index-column1-width;
    }
    .column2-width() {
        width:@report-index-column2-n-width;
    }
    .column3-width() {
        width:@report-index-column2-n-width;
    }
    .column4-width() {
        width:@report-index-column2-n-width;
    }
    .column1-color-header() {
        background-color: @report-index-color-header1;
        color:#fff;
    }
    .column2-color-header() {
        background-color: @report-index-color-header2;
        color:#fff;
    }
    .column3-color-header() {
        background-color: @report-index-color-header3;
        color:#fff;
    }
    .column4-color-header() {
        background-color: @report-index-color-header4;
        color:#fff;
    }
    .column1-color() {
        background-color: @report-index-color-column1;
        color:#fff;
    }
    .column2-color() {
        background-color: @report-index-color-column2;
        color:#fff;
        &.header {
            background-color:@report-index-color-header2;
        }
    }
    .column3-color() {
        background-color: @report-index-color-column3;
        color:#fff;
        &.header {
            background-color:@report-index-color-header3;
        }
    }
    .column4-color() {
        background-color: @report-index-color-column4;
        color:#fff;
        &.header {
            background-color:@report-index-color-header4;
        }
    }


    //margin-top:15px;

    .row-separator {
        border-bottom: 2px solid @report-index-color-column4;
        padding-bottom:10px;
    }

    .column {
        position:relative;
        .row-height();
        padding:10px;
        margin:0;
        border:0;
        outline:0;
        color:#fff;
        font-size: 18px;
        line-height: 18px;
        font-weight: normal;

        .flex-align-center();   // center vertically and horizontally
        text-align:left;

        &.header {
            .row-height-header();
        }

        span,p {
            width:100%;
        }

        span.score {
            text-align: right;
        }
    }

    .column+.column {
        margin-left:10px;
    }

    .container-fixed-table {
        //width:550px;
        width:100%;
        .center-block();
        .row {
            margin-left:60px;
        }
        .column {
            width:109px;
            text-align: center;
        }
        .column5 {
            width:40px;
        }
        .column+.column {
            margin-left:3px;
        }
        .row+.row{
            margin-top:6px;
        }

    }

    .container-fluid {
        &.margin-on-top {
            margin-top: 10px;
        }
    }

    span.description,span.play-count {
        font-size:18px;
    }
    span.description {
        font-weight:bold;
        text-align:left;
    }
    span.play-count {
        text-align:right;
    }
    .th {
        background-color:@report-index-th-color;
        color:#fff;
        font-size:15px;
        padding:4px 8px;
    }
    .td {
        border-top:none;
        padding:4px 8px;
        width: 75px;
    }
    .description {
        color:#000;
    }

    .column1 {
        .column1-width();
        .column1-color();

        &.one-column {
            width: 100%;
        }

        &.two-column {
             width: 35%;
        }
    }

    .column2 {
        .column2-width();
        .column2-color();

        &.two-column {
             width: 35%;
        }
    }

    .column3 {
        .column3-width();
        .column3-color();

        &.two-column {
             width: 35%;
        }
    }

    .column4 {
        .column4-width();
        .column4-color();
    }

    .play-row {
        .expand-container {
            .expand-box {
                font-weight: normal;

                .play-count {
                    span {
                        width: 85px;
                        &.overall {
                            width: 140px;
                        }
                    }
                }

                .play {
                    .play-label-highlighted {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .expand-container {
        .expand-box {
            margin: 10px 0px 10px 0px;
            padding-left: 0;
            font-size: 16px;
            line-height: 20px;
            color: @report-index-expand-line-color;
            font-weight: bold;
            .bowtie.expanded {
                .glyphicon();
                &:before {
                    content: "\e082";
                }
            }

            .bowtie {
                padding-left:5px;
                padding-right:5px;
                .glyphicon();
                &:before {
                    content: "\e081";
                }
                color:@report-index-bowtie-bg-color;
            }

            .play {
                display: inline-block;
                width: auto;
                .play-info {
                    width: 200px;
                    display: inline-block;
                    margin-left: 20px;
                }
            }
        }

        .tab-table {
            margin-left: 25px;
            border-top: 1px solid @report-index-expand-line-color;
            padding-top: 10px;
            margin-top: 5px;
            padding-right: 40px;

            /*.player-column {
                width: 120px;
            }*/

            .note-column {
                width: 350px;
            }
        }
    }
    .line {
        border-top: 1px solid @report-index-expand-line-color;
    }
}

#save-team-report-dialog {
    .modal-dialog {
        min-width: @app-min-width-modal;
    }
}
