//
// reports info panel specific styles
//

@report-info-color-border:#959595;
@report-info-color-button-bg:#808080;
@report-info-color-button-color:#fff;
@report-info-color-button-border:#4a4a4a;

.report-info-panel {
    background-color: @report-info-color-bg;
    color:#fff;
    padding:0;
    border:0;
    h2 {
        font-size:18px;
        margin-top:10px;
    }
    span, p {
        font-size: 13px;
        margin-top:5px;
        margin-bottom:5px;
    }
    .tbody, .tr, .td1, .td2, .th1, .th2 {
        padding:3px 0;
        font-size: 13px;
        line-height:15px;                   /* set this with a modifier */
        font-weight:normal;
        height:16px;
        text-align:left;
        border:0;
        //vertical-align: center;
        vertical-align: middle;
    }
    .inset {
        padding:10px;
    }

    .th1, .th2 {
        padding:5px 0;
        font-size: 15px;
        line-height:20px;
        height:20px;
    }

    .th1 {
        width:60%;
    }
    .th2 {
        width:40%;
    }

    .btn {
        .center-block();
        background-color:@report-info-color-button-bg;
        color:@report-info-color-button-color;
        border:2px solid @report-info-color-button-border;
        &:hover {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-border;
        }
    }
}
.report-info-panel+.report-info-panel {
    margin-top:20px;
}
