//
// reports page specific styles
//

@import "reports-index.less";
@import "reports-info-panel.less";

@report-color-section-right: #e6e7e8;
@report-color-section-main: #fff;
@report-color-blue-bg: #0a254e;
@report-color-gray-bg: #252525;
@report-color-jersey:#fff;

@report-info-color-bg:#959595;

.container-fluid.reports {
    //height:350px;
    height:100%;
    margin-left:0;
    margin-right:0;
    padding-left:0;
}

@media (min-width: 768px) {
    //992px, 1200px
    .container-fluid.reports {
        //height:500px;
    }
}

.reports > .section-nav {
    .make-lg-column(3);
    .make-md-column(3);
    .make-sm-column(3);
    .make-xs-column(3);
    height:100%;
    background-color: @report-info-color-bg;
    position:fixed;
    left:0;
    right:0;
    top:@page-header-height;
    bottom:0;
    padding:15px;

    .toggle-report-size {
        background: none;
        color: #fff;
        position: absolute;
        right: 0;
        top: 8px;
        font-size: 20px;
    }

    .stretched-label {
        display:none;

        text-align: left;

        -webkit-flex-align: flex-end;
        -ms-flex-align: end;

        -webkit-align-items: flex-end;
        align-items: flex-end;

        -webkit-justify-content: center;
        justify-content: center;

        .rotate {
            white-space: nowrap;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
            margin:10px;
            span {
                margin: -18px 0;
                font-size: 18px;
                position:absolute;
                right: 0;
                color: #fff;
            }
        }
    }

    &.stretched {
        width: 40px;

        .toggle-report-size {
            top: 0;
            height: 100%;
            width: 43px;
        }

        .stretched-label {
            display: block;
        }
    }
}

.reports > .section-main {
    .make-lg-column(9);
    .make-md-column(9);
    .make-sm-column(9);
    .make-xs-column(9);
    .make-lg-column-offset(3);
    .make-md-column-offset(3);
    .make-sm-column-offset(3);
    .make-xs-column-offset(3);
    height:100%;
    padding-right:0;

    &.expanded {
        width: 100%;
        margin-left: 40px;
        padding-right: 40px;

        /*.report-header {
            right: 200px;
            &.no-edition {
                right: 40px;
            }
        }*/

        .report-title {
            right: 40px;
        }

        /*.btn-save-report {
            right: 40px;
        }*/

        /*.report-view-title {
            width: 100%;
        }*/

        .adjust-small-select {
            padding-left: 15px;
            padding-right: 15px;

            &.left-select {
                margin-left: 0;
            }
        }

        // convenience class to expand radio buttons on the form and to align some other components with them
        .expand-radios {
            .radio {
                margin-left: -20px;
                margin-right: -20px;
            }

            .select-player {
                    padding-left: 0;
            }

            .inner-radio {
                .radio {
                    margin-left: -40px;
                    margin-right: -30px;
                }
            }
        }

        .expand-radios-game-review {
            .radio {
                margin-right: -50px;
            }
        }

        .adjust-input-to-label {
            padding-left: 40px;
        }

        .hint {

            &.middle-label {
                margin-top: 8px;
            }
        }
    }

    .inner-radio {
        .radio {
            margin-left: -15px;
        }
    }

    h1 {
        font-size: 19px;
        margin: 28px 0;
        font-weight: bold;

        &.report-title {
            position: absolute;
            right: 0;
            top: 0;
            color: #337ab7;
            max-width: 50%;
        }
    }

    /*.report-view-title {
        width: 40%;
    }*/

    .report-header-container {
        display: inline-block;
        width: 100%;

        .col-sm-6 {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .report-header {
        //position: absolute;
        //width: 40%;
        //top: 0;
        //right: 160px;
        padding-top: 20px;
        text-align: right;
        margin-right: 160px;
        strong {
            width: 100%;
            display: block;
        }

        &.include-compare-criteria {
            padding-top: 10px;
        }

        &.no-edition {
            margin-right: 0;
        }
    }

    .btn-save-report {
        width: 150px !important;
        position: absolute;
        right: 0;
        top: 10px;
    }

    .adjust-small-select {
        padding-left: 0;
        padding-right: 5px;

        &.left-select {
            margin-left: -10px;
        }
    }

    .btn {
        .center-block();
        width: 100%;
        line-height: 40px;
        background-color:@report-info-color-button-bg;
        color:@report-info-color-button-color;
        border:2px solid @report-info-color-button-border;
        &:hover {
            background-color: @app-hover-bg;
            color:@app-hover-color;
            border-color: @app-hover-border;
        }

        &.btn-report-option {
            line-height: normal;
            height: 80px;
            text-overflow: ellipsis;
            white-space: normal;
            font-size: 17px;
        }
    }

    .btn-expand-all {
        width: 150px;
        line-height: 20px;
        margin-bottom: 15px;
        margin-left: -15px;

        &.btn-expand-all-plays {
            margin-top: 15px;
        }
    }

    .report-form {
        padding-bottom: 50px;
        border-bottom: 2px solid #ccc;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .form-criteria {
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 2px solid #ccc;
        border-bottom: 2px solid #ccc;

        .players-container {
            height: 200px;
            overflow-y: auto;
            border: 1px solid #ccc;
            padding: 10px;
            line-height: 30px;
        }

        .criteria-label {
            margin: 0;
            font-weight: bold;
            margin-top: 10px;
            padding-right: 0;

            &.outside-label {
                margin-top: 25px;
            }
        }

        .form-separator {
            width: 2px;
            display: block;
            position: absolute;
            top: 30px;
            bottom: 30px;
            background-color: #ccc;
            left: 50%;
            margin-left: -1px;
        }

        .upper-border {
            padding-top: 20px;
        }

        .lower-border {
            border-bottom: 2px solid #ccc;
            padding-bottom: 20px;
        }

        .time-period-radio {
            margin-top: 20px
        }
    }

    .middle-label {
        margin-top: 8px;
        text-align: right;
    }

    .report-form-btn {
        text-align: center;
        margin-top: 40px;

        .btn {
            display: inline-block;
            width: 200px;
            margin-right: 30px;
            margin-left: 30px;
        }
    }

    @media (max-width: @screen-sm-min) {
        .col-sm-4 {
            &.fist-row-button {
                margin-bottom: 15px;
            }
        }
    }

}

.reports {
    .loading-report-data-message {
        position: absolute;
        top: 200px;
        left: 50%;
        margin-left: -50px;

        .glyphicon-refresh-animate {
            width: 100%;
            font-size: 100px;
            margin: 30px 0;
            -animation: spin .9s infinite linear;
            -webkit-animation: spin2 .9s infinite linear;
        }
        // animation
        @-webkit-keyframes spin2 {
            from { -webkit-transform: rotate(0deg);}
            to { -webkit-transform: rotate(360deg);}
        }

        @keyframes spin {
            from { transform: scale(1) rotate(0deg);}
            to { transform: scale(1) rotate(360deg);}
        }
    }

    .no-report-data-message {
        text-align: center;
        margin-top: 150px;

        span {
            display: block;

            &.glyphicon {
                font-size: 100px;
                margin-bottom: 20px;
            }
        }
    }

    .no-quarter-data-message {
        height: 120px;
        background-color: #e6e7e8;
        text-align: center;
        margin: 50px;

        .glyphicon {
            font-size: 50px;
            padding-top: 10px;
            display: block;
            margin-bottom: 10px;
        }
    }

    .message {
        text-align: center;
    }

    .highlighted {
        color: #f45b5b !important;

        .value {
          color: #f45b5b !important;
        }
    }

    .hint {
        color: #FF0000;
        font-style: italic;

        &.middle-label {
            margin-top: 0;
        }
    }

    .data-field-form {
        border: 2px solid #ccc;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        padding: 15px;
    }

    .add-play-field-btn {
        width: auto;
        margin-top: -65px;
        .btn {
            width: 200px;
            float: right;
            line-height: 25px;
        }
    }

    .bad-play-field {
        font-size: 30px;
        color: #a94442;
    }



    .play-count {
        span {
            width: 110px;
            display: inline-block;
            &.num-plays, &.num-players {
                text-align: right;
            }

            &.overall {
                width: 150px;
            }
        }

        &.event-play-call {
            font-weight: normal;
        }

        .special-play {
            display: inline;
            .glyphicon-star {
                width: auto;
            }
            .value {
                width: 200px;
                color: #000;
                font-weight: normal;
            }
        }
    }

    @media (max-width: 900px) {
      .play-count {
        width: 100%;
        margin-top: 10px;
        text-align: center;
      }

      .report-index .th {
        vertical-align: middle !important;
      }
    }
}
