/*.sb-site-container {
    min-width: @app-min-width;    
}*/

.sb-toggle-left, .sb-toggle-right, .sb-open-left, .sb-open-right, .sb-close {
    cursor: pointer;
}

.sb-left {
    margin-top:@page-header-height;
}

.sb-menu {
    background-color: @header-color-bg-lt;

    padding-left:0;
    padding-right:0;

    ul {
        width:100%;
        padding:0;
        color: @btn-gd-menu-color;
        text-align: left;
        font-size: 18px;
        li {
            width:100%;
            height: 50px;
            padding-left:15px;
            //.btn();
            //.btn-gd-menu();
            //.button-size(@padding-xlarge-vertical; @padding-xlarge-horizontal; @font-size-xlarge; @nav-button-height; @border-radius-large);
            color: @app-btn-color;
            //background-color: @btn-gd-menu-bg;
            border-bottom: 2px solid @app-btn-border;
            text-align: left;
            white-space: nowrap;
            list-style: none;
            overflow-x: hidden;

            //display: -webkit-flexbox;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            &:hover,
            &:focus,
            &.active {
                border-left:10px solid @app-hover-bg;
                padding-left:5px;
                //background-color: @btn-active-hover-bg;
                //color:@btn-active-hover-color;
                //text-decoration: none;
                //border-color: lighten(@btn-active-hover-bg,10%);
            }

        }
    }
}

.sb-style-overlay {
    z-index: 1039
}

@-moz-document url-prefix() {
    .sb-menu {
        ul {
            li {
                padding-top: 11px;
            }
        }
    }
}

