@app-error-color: #a94442;
@app-error-bg: #ebccd1;

#gotooltip {
    display: none;
    position: fixed;
    bottom: 40px;
    left: 40px;
    z-index: 3000;
    opacity: 0.9;
    .tooltip-boddy {
        padding: 15px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;

        &.info {
            background-color: @app-hover-bg;
            color: @app-btn-color;
            border: 1px solid @app-hover-bg;
        }

        &.error {
            color: @app-error-color;
            background-color: @app-error-bg;
            border: 1px solid @app-error-bg;

            .glyphicon-remove {
                float: right;
                line-height: 20px;
                padding-left: 15px;
            }

            &.position {
                p {
                    margin: 0px;
                }
                .info {
                    font-weight: bold;
                }
                .players-container {
                    margin: 5px 5px 5px 20px;
                }
            }
        }
        .btn-container {
            margin-bottom: 35px;
            .btn {
                float: right;
                margin-left: 10px;
                margin-top: 5px;
                background-color:@app-btn-bg;
                color:@app-btn-color;
                border:2px solid @app-btn-border;
                &:hover {
                    background-color: @app-hover-bg;
                    color:@app-hover-color;
                }
                &:focus {
                    background-color: @app-hover-bg;
                    color:@app-hover-color;
                }
            }
        }
    }
}