@page-header-height: 40px;
@button-row-height: 80px;

//@zindex-navbar-fixed:      10;

// override Bootstrap variables
@navbar-height:              40px;
@nav-button-height:          40px;

@font-family-sans-serif:  Arial, sans-serif;
@icon-font-path:          "fonts/";

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;


@padding-xlarge-vertical:    0px;
@padding-xlarge-horizontal:  32px;
@line-height-xlarge:         (80px - 6px); // 3px border * 2
@font-size-xlarge:           18px;


@app-color-sidebar: #fff;
@app-color-navbar: #fff;
@app-color-bg-navbar: #252525;
@app-color-bg-sidebar: #959595;
@app-color-inner-border-sidebar: #363636;

//@app-hover-bg: #4888EF;
//@app-hover-color: #fff;
//@app-hover-border: darken(@app-hover-bg,10%);
@app-hover-bg: #4a4a4a;
@app-hover-color: #fff;
@app-hover-border: #4a4a4a;

@app-link-color: #fff;
@app-placeholder-color: #606060;
@app-error-bg: red;
@app-error-color: #fff;

@app-color-breadcrumb: #369bfc;

@btn-active-hover-color: #fff;
@btn-active-hover-bg: #4888EF;
@btn-active-hover-bg: red;

@header-color-bg-lt: #252525;

@btn-gd-menu-bg: #4a4a4a;
@btn-gd-menu-border: #808080;
@btn-gd-menu-color: #fff;


@btn-gd-menu-bg-lt: #808080;
@btn-gd-menu-border-lt: #4a4a4a;
@btn-gd-menu-color-lt: #fff;

@app-btn-bg: #808080;
@app-btn-border: #4a4a4a;
@app-btn-color: #fff;

@app-min-width: 768px;
@app-min-width-modal: 650px;
@app-min-width-side-panel: 192px;