<div class="team-edit">
{{#page-modal title='Edit Team Information' ok='save' disableSubmitBtn=disableSubmitBtn close='cancel' closeText='cancel' okText='save changes'}}
    <div class="section-main">
        <div class='container-fluid form-container'>
            <form {{action "save" model on="submit"}}>
                <fieldset>
                    <div class='form-group row'>
                        <div class='col-sm-12'>    
                            <label class="control-label">Organization Full Name</label>
                            {{input class="form-control" type="text" value=model.name disabled="disabled"}}
                        </div>
                    </div>
                    <div class='form-group row'>
                        <div class='col-sm-6 {{if errors.model.shortName.firstObject 'has-error'}}'>
                            <label class="control-label">Organization Short Name</label>
                            {{#if errors.model.shortName.firstObject}}
                                <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                            {{/if}}
                            {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.shortName}}
                        </div>
                        <div class='col-sm-6 {{if errors.model.abbreviation.firstObject 'has-error'}}'>
                            <label class="control-label">Abbreviation</label>
                            {{#if errors.model.abbreviation.firstObject}}
                                <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                            {{/if}}
                            {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.abbreviation}}
                        </div>
                    </div>
                    <div class='form-group row'>
                        <div class='col-sm-12 {{if errors.model.mascot.firstObject 'has-error'}}'>    
                            <label class="control-label">Mascot / Team Name</label>
                            {{#if errors.model.mascot.firstObject}}
                                <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                            {{/if}}
                            {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.mascot}}
                        </div>
                    </div>
                    <div class='form-group row'>
                        <div class='col-sm-6'>
                            <label class="control-label">Street Address 1</label>
                            {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.street1 placeholder="Addr 1"}}
                        </div>
                        <div class='col-sm-6'>
                            <label class="control-label">Street Address 2</label>
                            {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.street2 placeholder="Addr 2"}}
                        </div>
                    </div>
                    <div class='form-group row'>
                        <div class='col-sm-4'>
                            <label class="control-label">City</label>
                            {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.city}}
                        </div>
                        <div class='col-sm-4'>
                            <label class="control-label">State</label>
                            {{view "select" class="form-control" content=states
                                optionLabelPath="content.name"
                                optionValuePath="content.id"
                                selection=model.state
                                prompt="Pick a state"}}
                        </div>
                        <div class='col-sm-4'>
                            <label class="control-label">Zip</label>
                            {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.postal}}
                        </div>
                    </div>
                    <div class='form-group row'>
                        <div class='col-sm-6'>
                            <label class="control-label">Main Office Phone</label>
                            {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.phoneMain}}
                        </div>
                        <div class='col-sm-6'>
                            <label class="control-label">Fax</label>
                            {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.phoneFax}}
                        </div>
                    </div>
                    <div class='form-group row'>
                        <div class='col-sm-12 {{if errors.model.conference.firstObject 'has-error'}}'>
                            <label class="control-label">Conference</label>
                            {{#if errors.model.conference.firstObject}}
                                <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                            {{/if}}
                            {{view "select" class="form-control" content=conferences
                                optionLabelPath="content.description"
                                optionValuePath="content.id"
                                selection=model.conference
                                prompt="Pick a conference"}}
                        </div>
                    </div>
                    <div class='form-group row'>
                        <div class='col-sm-12'>    
                            <label class="control-label">Home Stadium</label>
                            {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.homeStadium}}
                        </div>
                    </div>
                    <div class='form-group row'>
                        <div class='col-sm-6'>
                            <label class="control-label">Playing Surface</label>
                            {{view "select" class="form-control" content=surfaceTypes
                                optionLabelPath="content.name"
                                optionValuePath="content.id"
                                selection=model.surfaceType
                                prompt="Pick a playing surface"}}
                        </div>
                        <div class='col-sm-6'>
                            <label class="control-label">Film System</label>
                            {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.filmSystem}}
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{{/page-modal}}
</div>