<div class="prospect-index">
    <div class='container-fluid'>
        <div class="row flex">
            <div class="column column1 header">
                <div class="caption">
                    <span>Click buttons below to see detailed information</span>
                </div>
                <button type="button" class="btn btn-header" {{action "toggleExpandAllEvaluations"}}>{{#if isAllEvaluationsExpanded}}collapse all{{else}}expand all{{/if}}</button>
            </div>
            <div class="column column2 header">
                <div class="rotate"><span>Target Match</span></div>
            </div>
            <div class="column column3 header">
                <div class="rotate"><span>Overall Eval Avg</span></div>
            </div>
            <div class="column column4 header">
                <div class="rotate"><span>Major Factors</span></div>
            </div>
            <div class="column column5 header">
                <div class="rotate"><span>Critical Factors</span></div>
            </div>
            <div class="column column6 header">
                <div class="rotate"><span>Position Skills</span></div>
            </div>
            <div class="column column7 header">
                <div class="rotate"><span>Rank Overall</span></div>
            </div>
            <div class="column column8 header">
                <div class="rotate"><span>Rank at Pos</span></div>
            </div>
        </div>

        {{#each stat in evaluationStats}}

        <div class="row flex {{if isCareerExpanded 'expanded'}}">
            <div class="row-container">
                <div class="row-expanded flex">
                    <div class="column column1">
                        <span class="col-name">Career</span>
                    </div>
                    <div class="column column2">
                        <span>{{stat.career_data.target_match}} %</span>
                    </div>
                    <div class="column column3">
                        <span>{{stat.career_data.overall_eval_avg}}</span>
                    </div>
                    <div class="column column4">
                        <span>{{stat.career_data.major_factors_eval_avg}}</span>
                    </div>
                    <div class="column column5">
                        <span>{{stat.career_data.critical_factors_eval_avg}}</span>
                    </div>
                    <div class="column column6">
                        <span>{{stat.career_data.position_skills_eval_avg}}</span>
                    </div>
                    <div class="column column7">
                        <span>--</span>
                    </div>
                    <div class="column column8">
                        <span>--</span>
                    </div>
                </div>
            </div>
        </div>
            {{#each stat.seasons_data as |season index|}}
            <div class="row flex {{if season.isExpanded 'expanded'}}">
                <div class="row-container">
                    <div class="row-expanded flex">
                        <div class="column column1" {{action "toggleExpandSeasonEvaluation" season}}>
                            <span class="bowtie {{if season.isExpanded 'expanded'}}"></span><span>{{season.season_data.season}} season</span>
                        </div>
                        <div class="column column2">
                            <span>{{season.season_data.target_match}} %</span>
                        </div>
                        <div class="column column3">
                            <span>{{season.season_data.overall_eval_avg}}</span>
                        </div>
                        <div class="column column4">
                            <span>{{season.season_data.major_factors_eval_avg}}</span>
                        </div>
                        <div class="column column5">
                            <span>{{season.season_data.critical_factors_eval_avg}}</span>
                        </div>
                        <div class="column column6">
                            <span>{{season.season_data.position_skills_eval_avg}}</span>
                        </div>
                        <div class="column column7">
                            <span>{{season.season_data.rank_overall}}</span>
                        </div>
                        <div class="column column8">
                            <span>{{season.season_data.rank_at_post}}</span>
                        </div>
                    </div>
                    {{#if season.isExpanded }}
                    {{#each evaluation in season.evaluations_data}}
                        <div class="row-expanded flex">
                            <div class="column column1">
                                <button type="button" class="btn btn-row" {{action 'showProspectEvaluation' evaluation.team_prospect_id evaluation.team_scouting_eval_score_group_id season.season_data.season}}>eval by {{initial-letter evaluation.first_name}}. {{evaluation.last_name}} &#64; {{evaluation.short_name}}</button>
                            </div>
                            <div class="column column2">
                                <span>{{evaluation.target_match}} %</span>
                            </div>
                            <div class="column column3">
                                <span>{{evaluation.overall_eval_avg}}</span>
                            </div>
                            <div class="column column4">
                                <span>{{evaluation.major_factors_eval_avg}}</span>
                            </div>
                            <div class="column column5">
                                <span>{{evaluation.critical_factors_eval_avg}}</span>
                            </div>
                            <div class="column column6">
                                <span>{{evaluation.position_skills_eval_avg}}</span>
                            </div>
                            <div class="column column7">
                                <span>{{evaluation.rank_overall}}</span>
                            </div>
                            <div class="column column8">
                                <span>{{evaluation.rank_at_post}}</span>
                            </div>
                        </div>
                    {{/each}}
                    {{/if}}
                </div>
            </div>
            {{/each}}
        {{/each}}
    </div>
</div>
