<div class="new-play-data">
    <div class="section-main">
        <div class='container-fluid form-container'>

        	<div class="row-container">
	        	<span>{{game.gameEvent.awayTeam.organization.name}} {{game.gameEvent.awayScore}} &#64; {{game.gameEvent.homeTeam.organization.name}} {{game.gameEvent.homeScore}} &#47; {{game.formattedDate}}</span>
	        </div>
	        <div><hr/></div>

	        <div class="row-container">
	        	<div class="play-number">
	        		<span>001</span>
	        	</div>
	        	<div class="play-data-form">
	        		<table>
	        			<tr>
		        			<td><span class="field-lbl">Down</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Formation</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Play</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Front</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
	        			</tr>
	        			<tr>
		        			<td><span class="field-lbl">To Go</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Backfield</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Type</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Stunt</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
	        			</tr>
	        			<tr>
		        			<td><span class="field-lbl">Ball</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Shift</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Strong</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Blitz</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
	        			</tr>
	        			<tr>
		        			<td><span class="field-lbl">On</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Motion</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td></td>
		        			<td>
		        			</td>
		        			<td><span class="field-lbl">Cover</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
	        			</tr>
	        		</table>
	        		
	        		
	        	</div>
	        </div>
	        <div><hr/></div>

	        <div class="row-container">
	        	<div class="play-number">
	        		<span>002</span>
	        	</div>
	        	<div class="play-data-form">
	        		<table>
	        			<tr>
		        			<td><span class="field-lbl">Down</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Formation</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Play</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Front</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
	        			</tr>
	        			<tr>
		        			<td><span class="field-lbl">To Go</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Backfield</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Type</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Stunt</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
	        			</tr>
	        			<tr>
		        			<td><span class="field-lbl">Ball</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Shift</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Strong</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Blitz</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
	        			</tr>
	        			<tr>
		        			<td><span class="field-lbl">On</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Motion</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td></td>
		        			<td>
		        			</td>
		        			<td><span class="field-lbl">Cover</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
	        			</tr>
	        		</table>
	        		
	        		
	        	</div>
	        </div>
	        <div><hr/></div>

	        <div class="row-container">
	        	<div class="play-number">
	        		<span>003</span>
	        	</div>
	        	<div class="play-data-form">
	        		<table>
	        			<tr>
		        			<td><span class="field-lbl">Down</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Formation</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Play</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Front</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
	        			</tr>
	        			<tr>
		        			<td><span class="field-lbl">To Go</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Backfield</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Type</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Stunt</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
	        			</tr>
	        			<tr>
		        			<td><span class="field-lbl">Ball</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Shift</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Strong</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Blitz</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
	        			</tr>
	        			<tr>
		        			<td><span class="field-lbl">On</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Motion</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td></td>
		        			<td>
		        			</td>
		        			<td><span class="field-lbl">Cover</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
	        			</tr>
	        		</table>
	        		
	        		
	        	</div>
	        </div>
	        <div><hr/></div>

	        <div class="row-container">
	        	<div class="play-number">
	        		<span>004</span>
	        	</div>
	        	<div class="play-data-form">
	        		<table>
	        			<tr>
		        			<td><span class="field-lbl">Down</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Formation</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Play</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Front</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
	        			</tr>
	        			<tr>
		        			<td><span class="field-lbl">To Go</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Backfield</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Type</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Stunt</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
	        			</tr>
	        			<tr>
		        			<td><span class="field-lbl">Ball</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Shift</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Strong</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Blitz</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
	        			</tr>
	        			<tr>
		        			<td><span class="field-lbl">On</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Motion</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td></td>
		        			<td>
		        			</td>
		        			<td><span class="field-lbl">Cover</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
	        			</tr>
	        		</table>
	        		
	        		
	        	</div>
	        </div>
	        <div><hr/></div>

	        <div class="row-container">
	        	<div class="play-number">
	        		<span>005</span>
	        	</div>
	        	<div class="play-data-form">
	        		<table>
	        			<tr>
		        			<td><span class="field-lbl">Down</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Formation</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Play</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Front</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
	        			</tr>
	        			<tr>
		        			<td><span class="field-lbl">To Go</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Backfield</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Type</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Stunt</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
	        			</tr>
	        			<tr>
		        			<td><span class="field-lbl">Ball</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Shift</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Strong</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Blitz</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
	        			</tr>
	        			<tr>
		        			<td><span class="field-lbl">On</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td><span class="field-lbl">Motion</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
		        			<td></td>
		        			<td>
		        			</td>
		        			<td><span class="field-lbl">Cover</span></td>
		        			<td>
		        				<select>
				        			<option>....</option>
				        		</select>
		        			</td>
	        			</tr>
	        		</table>
	        		
	        		
	        	</div>
	        </div>
	        <div><hr/></div>

        </div>
    </div>
</div>