<div class="games-container">
    <div class="row flex  row-separator headers">
        <div class="column header1 {{if showOneCategory 'one-column-grade-40'}}">
            <span>Click to view detail</span>
        </div>
        {{#unless showOneCategory}}
        <div class="column header2 {{if showTwoCategories 'two-column-grade'}}">
            <span>{{session.teamConfiguration.gradeCat1Label}} Grade</span>
        </div>
        <div class="column header3 {{if showTwoCategories 'two-column-grade'}}">
            <span>{{session.teamConfiguration.gradeCat2Label}} Grade</span>
        </div>
        {{/unless}}
        {{#if showThreeCategories}}
        <div class="column header4">
            <span>{{session.teamConfiguration.gradeCat3Label}} Grade</span>
        </div>
        {{/if}}
        <div class="column header5 {{if showOneCategory 'one-column-grade'}} {{if showTwoCategories 'two-column-grade'}}">
            <span>
              {{#if showOneCategory}}
                  {{session.teamConfiguration.gradeCat1Label}} Grade
              {{else}}
                  Overall Grade
              {{/if}}
            </span>
        </div>
    </div>
    <div class="section-main">
        {{#each game in model}}
        <div class="row flex row-separator">
            <div class="column column1 {{if showOneCategory 'one-column-grade-40'}}" {{action "reportGamePerformance" game}}>
                <span class="">{{trim-str game.eventName 35}}</span>
            </div>
            {{#unless showOneCategory}}
            <div class="column column2 {{if showTwoCategories 'two-column-grade'}}">
                <span class="">{{game.avgCat1Grade}}</span>
            </div>
            <div class="column column3 {{if showTwoCategories 'two-column-grade'}}">
                <span class="">{{game.avgCat2Grade}}</span>
            </div>
            {{/unless}}
            {{#if showThreeCategories}}
            <div class="column column4">
                <span class="">{{game.avgCat3Grade}}</span>
            </div>
            {{/if}}
            <div class="column column5 {{if showOneCategory 'one-column-grade'}} {{if showTwoCategories 'two-column-grade'}}">
                <span class="">{{if showOneCategory game.avgCat1Grade game.avgOverallGrade}}</span>
            </div>
        </div>
        {{/each}}
    </div>
</div>
