{{model}}
<div class="player-index">
    <div class='container-fluid'>
        {{#if session.teamConfiguration.canEvaluate}}
        <div class="row flex grade-evaluation-btns">
            <div class="col-sm-3">
                <button type="button" class="btn btn-header {{if displayGrades 'active'}}" {{action "changeView" "grades"}}>view grade info</button>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-header {{if displayEvaluations 'active'}}" {{action "changeView" "evaluations"}}>view evaluation info</button>
            </div>
        </div>
        {{/if}}
        {{#if displayGrades}} {{!-- start of grades --}}
        <div class="row flex">
            <div class="column column1 header {{if showOneCategory 'column-40'}} {{if showTwoCategories 'column-40'}}">
                <div class="caption">
                    <span>Click buttons below to see detailed information</span>
                </div>
                <button type="button" class="btn btn-header" {{action "toggleExpandAllGrades"}}>{{#if isAllExpanded}}collapse all{{else}}expand all{{/if}}</button>
            </div>
            <div class="column column2 header {{if showOneCategory 'column-15'}}">
                <div class="rotate">
                  <span>
                    {{#if showOneCategory}}
                    {{session.teamConfiguration.gradeCat1Label}} Grade
                    {{else}}
                    Overall Grade Avg
                    {{/if}}
                  </span>
                </div>
            </div>
            <div class="column column3 header {{if showOneCategory 'column-15'}}">
                <div class="rotate"><span>Overall Impact</span></div>
            </div>
            {{#unless showOneCategory}}
            <div class="column column4 header">
                <div class="rotate"><span>{{session.teamConfiguration.gradeCat1Label}} Grade</span></div>
            </div>
            <div class="column column5 header">
                <div class="rotate"><span>{{session.teamConfiguration.gradeCat2Label}} Grade</span></div>
            </div>
            {{/unless}}
            {{#if showThreeCategories}}
            <div class="column column6 header">
                <div class="rotate"><span>{{session.teamConfiguration.gradeCat3Label}} Grade</span></div>
            </div>
            {{/if}}
            <div class="column column7 header {{if showOneCategory 'column-15'}}">
                <div class="rotate"><span>Rank Overall</span></div>
            </div>
            <div class="column column8 header {{if showOneCategory 'column-15'}}">
                <div class="rotate"><span>Rank at Pos</span></div>
            </div>
            {{#if showEvaluations}}
            <div class="column column9 header">
                    <div class="rotate"><span>Target Match</span></div>
            </div>
            <div class="column column10 header">
                    <div class="rotate"><span>Overall Eval Avg</span></div>
            </div>
            <div class="column column11 header">
                    <div class="rotate"><span>Major Factors</span></div>
            </div>
            <div class="column column12 header">
                    <div class="rotate"><span>Critical Factors</span></div>
            </div>
            <div class="column column13 header">
                    <div class="rotate"><span>Position Skills</span></div>
            </div>
            {{/if}}
        </div>
        <div class="row flex {{if isCareerExpanded 'expanded'}}">
            <div class="row-container">
                <div class="row-expanded flex">
                    <div class="column column1 {{if showOneCategory 'column-40'}} {{if showTwoCategories 'column-40'}}" {{action "toggleExpandCareer" index}}>
                        <span class="bowtie {{if isCareerExpanded 'expanded'}}"></span><span class="col-name">Career</span>
                    </div>
                    <div class="column column2 {{if showOneCategory 'column-15'}}">
                        <span>{{if showOneCategory attrs.career.allEventCat1Grade attrs.career.allEventOverallGrade}}</span>
                    </div>
                    <div class="column column3 {{if showOneCategory 'column-15'}}">
                        <span>{{attrs.career.allEventImpactPlatoonGrade}}</span>
                    </div>
                    {{#unless showOneCategory}}
                    <div class="column column4">
                        <span>{{attrs.career.allEventCat1Grade}}</span>
                    </div>
                    <div class="column column5">
                        <span>{{attrs.career.allEventCat2Grade}}</span>
                    </div>
                    {{/unless}}
                    {{#if showThreeCategories}}
                    <div class="column column6">
                        <span>{{attrs.career.allEventCat3Grade}}</span>
                    </div>
                    {{/if}}
                    <div class="column column7 {{if showOneCategory 'column-15'}}">
                        <span>--</span>
                    </div>
                    <div class="column column8 {{if showOneCategory 'column-15'}}">
                        <span>--</span>
                    </div>
                    {{#if showEvaluations}}
                        <div class="column column9">
                            <span></span>
                        </div>
                        <div class="column column10">
                            <span></span>
                        </div>
                        <div class="column column11">
                            <span></span>
                        </div>
                        <div class="column column12">
                            <span></span>
                        </div>
                        <div class="column column13">
                            <span></span>
                        </div>
                    {{/if}}
                </div>
                {{#if isCareerExpanded}}
                    <div class="row-expanded flex">
                        <div class="column column1 {{if showOneCategory 'column-40'}} {{if showTwoCategories 'column-40'}}">
                            <button type="button" class="btn btn-row" {{action 'showPlayerGrades' player 'career' 'true'}}>practices ({{attrs.career.practiceCount}})</button>
                        </div>
                        <div class="column column2 {{if showOneCategory 'column-15'}}">
                            <span>{{if showOneCategory attrs.career.practiceCat1Grade attrs.career.practiceOverallGrade}}</span>
                        </div>
                        <div class="column column3 {{if showOneCategory 'column-15'}}">
                            <span>{{attrs.career.practiceImpactPlatoonGrade}}</span>
                        </div>
                        {{#unless showOneCategory}}
                        <div class="column column4">
                            <span>{{attrs.career.practiceCat1Grade}}</span>
                        </div>
                        <div class="column column5">
                            <span>{{attrs.career.practiceCat2Grade}}</span>
                        </div>
                        {{/unless}}
                        {{#if showThreeCategories}}
                        <div class="column column6">
                            <span>{{attrs.career.practiceCat3Grade}}</span>
                        </div>
                        {{/if}}
                        <div class="column column7 {{if showOneCategory 'column-15'}}">
                            <span>--</span>
                        </div>
                        <div class="column column8 {{if showOneCategory 'column-15'}}">
                            <span>--</span>
                        </div>
                        {{#if showEvaluations}}
                        <div class="column column9">
                                <span></span>
                        </div>
                        <div class="column column10">
                                <span></span>
                        </div>
                        <div class="column column11">
                                <span>--</span>
                        </div>
                        <div class="column column12">
                                <span>--</span>
                        </div>
                        <div class="column column13">
                                <span>--</span>
                        </div>
                        {{/if}}
                    </div>
                    <div class="row-expanded flex">
                        <div class="column column1 {{if showOneCategory 'column-40'}} {{if showTwoCategories 'column-40'}}">
                            <button type="button" class="btn btn-row" {{action 'showPlayerGrades' player 'career' 'false'}}>games ({{attrs.career.gameCount}})</button>
                        </div>
                        <div class="column column2 {{if showOneCategory 'column-15'}}">
                            <span>{{if showOneCategory attrs.career.gameCat1Grade attrs.career.gameOverallGrade}}</span>
                        </div>
                        <div class="column column3 {{if showOneCategory 'column-15'}}">
                            <span>{{attrs.career.gameImpactPlatoonGrade}}</span>
                        </div>
                        {{#unless showOneCategory}}
                        <div class="column column4">
                            <span>{{attrs.career.gameCat1Grade}}</span>
                        </div>
                        <div class="column column5">
                            <span>{{attrs.career.gameCat2Grade}}</span>
                        </div>
                        {{/unless}}
                        {{#if showThreeCategories}}
                        <div class="column column6">
                            <span>{{attrs.career.gameCat3Grade}}</span>
                        </div>
                        {{/if}}
                        <div class="column column7 {{if showOneCategory 'column-15'}}">
                            <span>--</span>
                        </div>
                        <div class="column column8 {{if showOneCategory 'column-15'}}">
                            <span>--</span>
                        </div>
                        {{#if showEvaluations}}
                        <div class="column column9">
                                <span></span>
                        </div>
                        <div class="column column10">
                                <span></span>
                        </div>
                        <div class="column column11">
                                <span></span>
                        </div>
                        <div class="column column12">
                                <span></span>
                        </div>
                        <div class="column column13">
                                <span></span>
                        </div>
                        {{/if}}
                    </div>
                    {{#if showEvaluations}}
                        <div class="row-expanded flex">
                            <div class="column column1">
                                <button type="button" class="btn btn-row">Evaluations (2)</button>
                            </div>
                            <div class="column column2">
                                <span></span>
                            </div>
                            <div class="column column3">
                                <span></span>
                            </div>
                            <div class="column column4">
                                <span></span>
                            </div>
                            <div class="column column5">
                                <span></span>
                            </div>
                            <div class="column column6">
                                <span></span>
                            </div>
                            <div class="column column7">
                                <span></span>
                            </div>
                            <div class="column column8">
                                <span></span>
                            </div>
                            <div class="column column9">
                                    <span></span>
                            </div>
                            <div class="column column10">
                                    <span></span>
                            </div>
                            <div class="column column11">
                                    <span></span>
                            </div>
                            <div class="column column12">
                                    <span></span>
                            </div>
                            <div class="column column13">
                                    <span></span>
                            </div>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </div>
        {{#each attrs.seasons as |season index|}}
            <div class="row flex {{if season.isExpanded 'expanded'}}">
                <div class="row-container">
                    <div class="row-expanded flex">
                        <div class="column column1 {{if showOneCategory 'column-40'}} {{if showTwoCategories 'column-40'}}" {{action "toggleExpandSeason" index}}>
                            <span class="bowtie {{if season.isExpanded 'expanded'}}"></span><span>{{season.year}} season</span>
                        </div>
                        <div class="column column2 {{if showOneCategory 'column-15'}}">
                            <span>{{if showOneCategory season.data.allEventCat1Grade season.data.allEventOverallGrade}}</span>
                        </div>
                        <div class="column column3 {{if showOneCategory 'column-15'}}">
                            <span>{{season.data.allEventImpactPlatoonGrade}}</span>
                        </div>
                        {{#unless showOneCategory}}
                        <div class="column column4">
                            <span>{{season.data.allEventCat1Grade}}</span>
                        </div>
                        <div class="column column5">
                            <span>{{season.data.allEventCat2Grade}}</span>
                        </div>
                        {{/unless}}
                        {{#if showThreeCategories}}
                        <div class="column column6">
                            <span>{{season.data.allEventCat3Grade}}</span>
                        </div>
                        {{/if}}
                        <div class="column column7 {{if showOneCategory 'column-15'}}">
                            <span>--</span>
                        </div>
                        <div class="column column8 {{if showOneCategory 'column-15'}}">
                            <span>--</span>
                        </div>
                        {{#if showEvaluations}}
                        <div class="column column9">
                                <span></span>
                        </div>
                        <div class="column column10">
                                <span></span>
                        </div>
                        <div class="column column11">
                                <span></span>
                        </div>
                        <div class="column column12">
                                <span></span>
                        </div>
                        <div class="column column13">
                                <span></span>
                        </div>
                        {{/if}}
                    </div>
                    {{#if season.isExpanded }}
                        <div class="row-expanded flex">
                            <div class="column column1 {{if showOneCategory 'column-40'}} {{if showTwoCategories 'column-40'}}">
                                <button type="button" class="btn btn-row" {{action 'showPlayerGrades' player season.year 'true'}}>practices ({{season.data.practiceCount}})</button>
                            </div>
                            <div class="column column2 {{if showOneCategory 'column-15'}}">
                                <span>{{if showOneCategory season.data.practiceCat1Grade season.data.practiceOverallGrade}}</span>
                            </div>
                            <div class="column column3 {{if showOneCategory 'column-15'}}">
                                <span>{{season.data.practiceImpactPlatoonGrade}}</span>
                            </div>
                            {{#unless showOneCategory}}
                            <div class="column column4">
                                <span>{{season.data.practiceCat1Grade}}</span>
                            </div>
                            <div class="column column5">
                                <span>{{season.data.practiceCat2Grade}}</span>
                            </div>
                            {{/unless}}
                            {{#if showThreeCategories}}
                            <div class="column column6">
                                <span>{{season.data.practiceCat3Grade}}</span>
                            </div>
                            {{/if}}
                            <div class="column column7 {{if showOneCategory 'column-15'}}">
                                <span>{{season.data.rankOverallPractice}}</span>
                            </div>
                            <div class="column column8 {{if showOneCategory 'column-15'}}">
                                <span>{{season.data.rankPracticeAtPost}}</span>
                            </div>
                            {{#if showEvaluations}}
                            <div class="column column9">
                                    <span></span>
                            </div>
                            <div class="column column10">
                                    <span></span>
                            </div>
                            <div class="column column11">
                                    <span></span>
                            </div>
                            <div class="column column12">
                                    <span></span>
                            </div>
                            <div class="column column13">
                                    <span></span>
                            </div>
                            {{/if}}
                        </div>
                        <div class="row-expanded flex">
                            <div class="column column1 {{if showOneCategory 'column-40'}} {{if showTwoCategories 'column-40'}}">
                                <button type="button" class="btn btn-row" {{action 'showPlayerGrades' player season.year 'false'}}>games ({{season.data.gameCount}})</button>
                            </div>
                            <div class="column column2 {{if showOneCategory 'column-15'}}">
                                <span>{{if showOneCategory season.data.gameCat1Grade season.data.gameOverallGrade}}</span>
                            </div>
                            <div class="column column3 {{if showOneCategory 'column-15'}}">
                                <span>{{season.data.gameImpactPlatoonGrade}}</span>
                            </div>
                            {{#unless showOneCategory}}
                            <div class="column column4">
                                <span>{{season.data.gameCat1Grade}}</span>
                            </div>
                            <div class="column column5">
                                <span>{{season.data.gameCat2Grade}}</span>
                            </div>
                            {{/unless}}
                            {{#if showThreeCategories}}
                            <div class="column column6">
                                <span>{{season.data.gameCat3Grade}}</span>
                            </div>
                            {{/if}}
                            <div class="column column7 {{if showOneCategory 'column-15'}}">
                                <span>{{season.data.rankOverallGame}}</span>
                            </div>
                            <div class="column column8 {{if showOneCategory 'column-15'}}">
                                <span>{{season.data.rankGameAtPost}}</span>
                            </div>
                            {{#if showEvaluations}}
                            <div class="column column9">
                                    <span></span>
                            </div>
                            <div class="column column10">
                                    <span></span>
                            </div>
                            <div class="column column11">
                                    <span></span>
                            </div>
                            <div class="column column12">
                                    <span></span>
                            </div>
                            <div class="column column13">
                                    <span></span>
                            </div>
                            {{/if}}
                        </div>
                        {{#if showEvaluations}}
                            <div class="row-expanded flex">
                                <div class="column column1">
                                    <button type="button" class="btn btn-row">Evaluations (0)</button>
                                </div>
                                <div class="column column2">
                                    <span></span>
                                </div>
                                <div class="column column3">
                                    <span></span>
                                </div>
                                <div class="column column4">
                                    <span></span>
                                </div>
                                <div class="column column5">
                                    <span></span>
                                </div>
                                <div class="column column6">
                                    <span></span>
                                </div>
                                <div class="column column7">
                                    <span></span>
                                </div>
                                <div class="column column8">
                                    <span></span>
                                </div>
                                <div class="column column9">
                                    <span></span>
                                </div>
                                <div class="column column10">
                                    <span></span>
                                </div>
                                <div class="column column11">
                                    <span></span>
                                </div>
                                <div class="column column12">
                                    <span></span>
                                </div>
                                <div class="column column13">
                                    <span></span>
                                </div>
                            </div>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        {{/each}}
        {{/if}} {{!-- end of grades --}}

        {{#if displayEvaluations}} {{!-- start of evaluations --}}
        <div class="row flex">
            <div class="column column1 header">
                <div class="caption">
                    <span>Click buttons below to see detailed information</span>
                </div>
                <button type="button" class="btn btn-header" {{action "toggleExpandAllEvaluations"}}>{{#if isAllEvaluationsExpanded}}collapse all{{else}}expand all{{/if}}</button>
            </div>
            <div class="column column2 header">
                <div class="rotate"><span>Target Match</span></div>
            </div>
            <div class="column column3 header">
                <div class="rotate"><span>Overall Eval Avg</span></div>
            </div>
            <div class="column column4 header">
                <div class="rotate"><span>Major Factors</span></div>
            </div>
            <div class="column column5 header">
                <div class="rotate"><span>Critical Factors</span></div>
            </div>
            <div class="column column6 header">
                <div class="rotate"><span>Position Skills</span></div>
            </div>
            <div class="column column7 header">
                <div class="rotate"><span>Rank Overall</span></div>
            </div>
            <div class="column column8 header">
                <div class="rotate"><span>Rank at Pos</span></div>
            </div>
        </div>

        {{#each stat in evaluationStats}}

        <div class="row flex {{if isCareerExpanded 'expanded'}}">
            <div class="row-container">
                <div class="row-expanded flex">
                    <div class="column column1">
                        <span class="col-name">Career</span>
                    </div>
                    <div class="column column2">
                        <span>{{stat.career_data.target_match}} %</span>
                    </div>
                    <div class="column column3">
                        <span>{{stat.career_data.overall_eval_avg}}</span>
                    </div>
                    <div class="column column4">
                        <span>{{stat.career_data.major_factors_eval_avg}}</span>
                    </div>
                    <div class="column column5">
                        <span>{{stat.career_data.critical_factors_eval_avg}}</span>
                    </div>
                    <div class="column column6">
                        <span>{{stat.career_data.position_skills_eval_avg}}</span>
                    </div>
                    <div class="column column7">
                        <span>--</span>
                    </div>
                    <div class="column column8">
                        <span>--</span>
                    </div>
                </div>
            </div>
        </div>
            {{#each stat.seasons_data as |season index|}}
            <div class="row flex {{if season.isExpanded 'expanded'}}">
                <div class="row-container">
                    <div class="row-expanded flex">
                        <div class="column column1" {{action "toggleExpandSeasonEvaluation" season}}>
                            <span class="bowtie {{if season.isExpanded 'expanded'}}"></span><span>{{season.season_data.season}} season</span>
                        </div>
                        <div class="column column2">
                            <span>{{season.season_data.target_match}} %</span>
                        </div>
                        <div class="column column3">
                            <span>{{season.season_data.overall_eval_avg}}</span>
                        </div>
                        <div class="column column4">
                            <span>{{season.season_data.major_factors_eval_avg}}</span>
                        </div>
                        <div class="column column5">
                            <span>{{season.season_data.critical_factors_eval_avg}}</span>
                        </div>
                        <div class="column column6">
                            <span>{{season.season_data.position_skills_eval_avg}}</span>
                        </div>
                        <div class="column column7">
                            <span>{{season.season_data.rank_overall}}</span>
                        </div>
                        <div class="column column8">
                            <span>{{season.season_data.rank_at_post}}</span>
                        </div>
                    </div>
                    {{#if season.isExpanded }}
                    {{#each evaluation in season.evaluations_data}}
                        <div class="row-expanded flex">
                            <div class="column column1">
                                <button type="button" class="btn btn-row" {{action 'showPlayerEvaluation' evaluation.team_player_id evaluation.team_scouting_eval_score_group_id season.season_data.season}}>eval by {{initial-letter evaluation.first_name}}. {{evaluation.last_name}} &#64; {{evaluation.short_name}}</button>
                            </div>
                            <div class="column column2">
                                <span>{{evaluation.target_match}} %</span>
                            </div>
                            <div class="column column3">
                                <span>{{evaluation.overall_eval_avg}}</span>
                            </div>
                            <div class="column column4">
                                <span>{{evaluation.major_factors_eval_avg}}</span>
                            </div>
                            <div class="column column5">
                                <span>{{evaluation.critical_factors_eval_avg}}</span>
                            </div>
                            <div class="column column6">
                                <span>{{evaluation.position_skills_eval_avg}}</span>
                            </div>
                            <div class="column column7">
                                <span>{{evaluation.rank_overall}}</span>
                            </div>
                            <div class="column column8">
                                <span>{{evaluation.rank_at_post}}</span>
                            </div>
                        </div>
                    {{/each}}
                    {{/if}}
                </div>
            </div>
            {{/each}}
        {{/each}}
        {{/if}} {{!-- end of evaluations --}}
    </div>
</div>
