<div class="select-positions">
{{#page-modal title='Evaluate Player As' ok='startEvaluating' close='removeModal' closeText='cancel' okText='start evaluation'}}
    <div class="section-main">
        <div class='container-fluid form-container'>
            <form {{action "save" model on="submit"}}>
                {{#each position in model.allPositions}}
                  <div class='form-group row'>
                      <div id='position-id-{{position.id}}' class="btn col-sm-3 position {{is-same-position position model.position1}}" {{action 'selectPosition' position}}>
                          <span>{{position.shortName}}</span>
                      </div>
                      <div class='name col-sm-9'>
                          <span>{{position.name}}</span>
                      </div>
                  </div>
                {{/each}}
                <div class='form-group row'>
                    <label class="control-label">Other Position</label>
                    <div class="">
                    {{x-select
                        content=this.positionTypes
                        action="selectPosition"
                        optionLabelPath="content.name"
                        optionValuePath="content"
                        prompt="Pick a position not currently associated with the player profile" class="form-control"
                    }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{{/page-modal}}
</div>
