<div id="add-player-to-grade-modal">
{{#page-modal title='Add Player to Grade' ok='addPlayersToGrade' okText='add player' close='removeModal' closeText='cancel'}}
	<div class="team-roster">
		{{#each playerAssignment in model}}
		<div id="team-player-{{playerAssignment.id}}" class="team-player-btn {{is-player-added playerAssignment.playsWhereAdded currentPlay 'selected'}}" {{action "selectPlayer" playerAssignment}}>
			<span class="player-jersey-number">{{playerAssignment.jerseyNumber}}</span>
			<span>{{playerAssignment.teamPlayer.fullName}}</span>
			<span>&#45; {{playerAssignment.position1.shortName}}</span>
		</div>
		{{/each}}
	</div>
{{/page-modal}}
</div>