<div id="learn-evaluation-carousel" class="carousel slide" data-interval="false" data-wrap="false">
		<ol class="carousel-indicators">
	    	<li data-target="#learn-evaluation-carousel" data-slide-to="0" class="active"></li>
	    	<li data-target="#learn-evaluation-carousel" data-slide-to="1"></li>
	    	<li data-target="#learn-evaluation-carousel" data-slide-to="2"></li>
	    	<li data-target="#learn-evaluation-carousel" data-slide-to="3"></li>
	    	<li data-target="#learn-evaluation-carousel" data-slide-to="4"></li>
	    	<li data-target="#learn-evaluation-carousel" data-slide-to="5"></li>
	    	<li data-target="#learn-evaluation-carousel" data-slide-to="6"></li>
	    	<li data-target="#learn-evaluation-carousel" data-slide-to="7"></li>
	    	<li data-target="#learn-evaluation-carousel" data-slide-to="8"></li>
		</ol>

		<div class="carousel-inner" role="listbox">

			<div class="info-section item active">
				<p>Select a position to review and modify.</p>
				<div>
					<img src="assets/img/popup/evaluation/learn-evaluation-1.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>Review and edit criteria and/or target scores.</p>
				<div>
					<img src="assets/img/popup/evaluation/learn-evaluation-2.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>Set ‘critical criteria’ flag and position importance.</p>
				<div>
					<img src="assets/img/popup/evaluation/learn-evaluation-3.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>To enter an evaluation, first pick a current player or a new prospect to evaluate.</p>
				<div>
					<img src="assets/img/popup/evaluation/learn-evaluation-4.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>Pick a position at which to evaluate the player.</p>
				<div>
					<img src="assets/img/popup/evaluation/learn-evaluation-5.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>Enter criteria scores for the player.</p>
				<div>
					<img src="assets/img/popup/evaluation/learn-evaluation-6.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>Add notes.</p>
				<div>
					<img src="assets/img/popup/evaluation/learn-evaluation-7.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>Advance to the next section.</p>
				<div>
					<img src="assets/img/popup/evaluation/learn-evaluation-8.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>View summary of completed evaluation.</p>
				<div>
					<img src="assets/img/popup/evaluation/learn-evaluation-9.png" />
				</div>
			</div>

		</div>

		<a class="left carousel-control" href="#learn-evaluation-carousel" role="button" data-slide="prev">
    		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    		<span class="sr-only">Previous</span>
  		</a>
  		<a class="right carousel-control" href="#learn-evaluation-carousel" role="button" data-slide="next">
    		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    		<span class="sr-only">Next</span>
  		</a>

	</div>