<div class="learn-more-popup">
{{#page-modal title="Learn More About Evaluations" ok='removeModal' okText='ok' close='removeModal' closeText='cancel'}}
	{{partial "evaluation/evaluation-info"}}
{{/page-modal}}
</div>