<div class="container-fluid player-evaluation color-type{{criteryType.id}}">
    <div class="row flex  row-separator headers">
        <div class="column header1">
            <span>{{criteryType.name}}</span>
        </div>
        <div class="column header2">
            <span class='info'>Grade each factor<br>&#40;{{session.teamConfiguration.scoutEvalScoreMax}} = best&#41;</span>
            <span class='position'>{{model.shortName}}</span>
        </div>
    </div>
    <div class="section-main">
        {{outlet}}
        <div class="row flex eval-nav-options">
            <div class="eval-nav-left">
                {{#if previousCriteriaType}}
                    <button class="" {{action 'goPreviousCriteriaType'}}>
                        <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                        <span>{{previousCriteriaType.name}}</span>
                    </button>
                {{/if}}
            </div>
            <div class="eval-nav-center">
                <button class="" {{action "addNotes"}}>
                    <span>add notes</span>
                </button>
            </div>
            {{#if nextCriteriaType}}
                <div class="eval-nav-right">
                    <button class="" {{action 'goNextCriteriaType'}}>
                        <span>{{nextCriteriaType.name}}</span>
                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                    </button>
                </div>
            {{/if}}
            {{#if finalCriteriaType}}
                <div class="eval-nav-right">
                    <button class="" {{action 'finishEvaluation'}}>
                        <span>finish</span>
                    </button>
                </div>
            {{/if}}
        </div>
    </div>
</div>
