<div id="evaluate-prospect-chooser">
{{#page-modal title='Select Prospect To Evaluate' ok='evaluateTeamProspect' okText='continue >>' close='removeModal' closeText='cancel'}}
	<div class='form-group row message {{unless error "hidden"}}'>
        <div class='col-sm-12'>
            <div class="alert alert-danger" role="alert">
                <p>Please select a prospect to evaluate.</p>
            </div>
        </div>
    </div>
	<div class="roster">
		{{#each assignment in model}}
		<div class="btn {{if assignment.isSelectedToEvaluate 'selected'}}" {{action "selectProspect" assignment}}>
			<span class="jersey-number">{{assignment.jerseyNumber}}</span>
			<span>{{assignment.teamProspect.fullNameInitialLast}}</span>
			{{!--<span>&#45; {{assignment.position1.shortName}}</span>--}}
		</div>
		{{/each}}
	</div>
{{/page-modal}}
</div>