<div id="learn-ranking-carousel" class="carousel slide" data-interval="false" data-wrap="false">
		<ol class="carousel-indicators">
	    	<li data-target="#learn-ranking-carousel" data-slide-to="0" class="active"></li>
	    	<li data-target="#learn-ranking-carousel" data-slide-to="1"></li>
	    	<li data-target="#learn-ranking-carousel" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner" role="listbox">

			<div class="info-section item active">
				<div class="slider-header">
			    	<span class="pull-left">Player Value Ranking - Current Team</span>
			    </div>
				<p>Shows how the players on your team rank based on grades and/or evaluations.</p>
				<div>
					<img src="assets/img/popup/ranking/learn-ranking-1.png" />
				</div>
			</div>

			<div class="info-section item">
				<div class="slider-header">
			    	<span class="pull-left">Player Value Ranking - Current Team</span>
			    </div>
				<p>See how players rank overall and at their positions.</p>
				<div>
					<img src="assets/img/popup/ranking/learn-ranking-2.png" />
				</div>
			</div>

			<div class="info-section item">
				<div class="slider-header">
			    	<span class="pull-left">Player Value Ranking - Prospects</span>
			    </div>
				<p>Shows the value ranking of prospects you are scouting.</p>
				<div>
					<img src="assets/img/popup/ranking/learn-ranking-3.png" />
				</div>
			</div>

		</div>

		<a class="left carousel-control" href="#learn-ranking-carousel" role="button" data-slide="prev">
    		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    		<span class="sr-only">Previous</span>
  		</a>
  		<a class="right carousel-control" href="#learn-ranking-carousel" role="button" data-slide="next">
    		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    		<span class="sr-only">Next</span>
  		</a>

	</div>