{{! app/components/page-head/template.hbs}}
<div class="container-fluid navbar-header-dark">
    <!-- Left Control -->
    {{#unless hideMenu}}
        <button id="hamburger_button" type="button" class="btn btn-main-menu sb-toggle-left" {{action "toggleHamburger"}}>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
    {{/unless}}
    <div class="container-fluid">
        <!-- Logo -->
        <div id="logo" class="navbar-left">
            {{#if linkTo}}
                {{#link-to linkTo classNames="navbar-brand"}}
                    <img alt="GoDeep Mobile" src="assets/img/GD_logo_small.png">
                {{/link-to}}
            {{else}}
                {{#link-to 'dashboard' classNames="navbar-brand"}}
                    <img alt="GoDeep Mobile" src="assets/img/GD_logo_small.png">
                {{/link-to}}
            {{/if}}
        </div><!-- /#logo -->
        <ol class="breadcrumb navbar-left">
            {{#each crumb in breadcrumbs}}
                <li>{{#link-to crumb.linkTo}}{{crumb.caption}}{{/link-to}}</li>
            {{/each}}
            <li class="active">{{thisPage}}</li>
        </ol>
        <div class="navbar-team-logo navbar-right">
            {{#if session.currentUser}}
                {{!--#if session.teamName}}
                    <span class="navbar-text">{{session.currentUser}} / {{session.teamName}}</span>
                {{else--}}
                    <span class="navbar-text">{{session.currentUser}}</span>
                {{!/if}}
            {{/if}}
            <div class="navbar-brand">
                <img class="navbar-team-logo" alt="team logo" {{bind-attr src=session.teamLogo}} onError="this.onerror=null;this.src='https://s3.amazonaws.com/godeeppublic/img/missing_team_logo.png'">
            </div>

        </div>
    </div>
</div>
