<div id="prospect-delete-modal">
{{#page-modal title='Delete Prospect confirmation' ok='deleteProspect' close='removeModal' closeText='No' okText='Yes'}}
    <div class="prospect-delete-body">
        <div class='container-fluid form-container'>
            <label>Are you sure you want to remove this prospect from your team?</label>
        </div>
    </div>
{{/page-modal}}
</div>
