<div class="row flex controls">
    <div class="column header1">
        <div class="add-prospect add-single"  {{action 'addProspect'}}>
            <span>add prospect</span>
        </div>
        <div class="add-prospect add-multiple"  {{action 'uploadProspects'}}>
            <span>upload prospect list</span>
        </div>
    </div>
    <div class="season-selector">
        <span><strong>View:</strong></span>
        {{view "select" class="form-control" content=formattedSeasons
            optionValuePath="content.value"
            optionLabelPath="content.label"
            selection=season}}
    </div>
</div>
<div class="row flex  row-separator headers">
        <div class="column header1">
            <span class="title">Prospect</span>
        </div>
        <div class="column header2">
            <span>Home State</span>
        </div>
        <div class="column header3">
            <span>Projected Pos</span>
        </div>
        <div class="column header4">
            <span>Rank at Pos</span>
        </div>
        <div class="column header5">
            <span>Rank Overall</span>
        </div>
        <div class="column header6">
            <span>Click to remove prospect from list</span>
        </div>
    </div>
    <div class="section-main">
        {{#each prospect in arrangedContent}}
        <div id="prospect-{{prospect.id}}" class="row flex row-separator">
            <div class="column column1" {{action "prospectDetail" prospect}}>
                <span class="name">{{prospect.teamProspect.shortNameInitialLast}}</span>
                <span class="team-level">{{prospect.teamProspect.highSchool}}</span>
                <span class="prospect-stats">{{prospect.teamProspect.height}}&nbsp;&nbsp;&nbsp;{{prospect.teamProspect.weight}}</span>
                <span class="jersey-number">{{prospect.jerseyNumber}}</span>
            </div>
            <div class="column column2">
                <span class="">{{prospect.teamProspect.state.name}}</span>
            </div>
            <div class="column column3">
                <span class="">{{prospect.projectedPosition.shortName}}</span>
            </div>
            <div class="column column4">
                <span class="">1</span>
            </div>
            <div class="column column5">
                <span class="">1</span>
            </div>
            <div class="column column6" {{action 'deleteProspect' prospect}}>
                <span class="">delete prospect</span>
            </div>
        </div>
        {{else}}
        <div class="no-prospects-message">
            <span>No prospects were found for this season.</span>
        </div>
        {{/each}}
    </div>