<div class="prospect-new">
{{#page-modal title='Add new Prospect' ok='save' close='cancel' closeText='cancel' okText='add prospect'}}
    <div class="section-main">
        <div class='container-fluid form-container'>
            <form {{action "save" model on="submit"}}>
                <div class='row'>
                    <div class='col-sm-8'>
                        <fieldset>
                            <div class='form-group row user-name'>
                                <div class='col-sm-6 {{if errors.model.firstName.firstObject 'has-error'}}'>
                                    <label class="control-label">Player</label>
                                    {{#if errors.model.firstName.firstObject}}
                                        <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                                    {{/if}}
                                    {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.firstName placeholder="First name"}}
                                </div>
                                <div class='col-sm-6 middle-name'>
                                    {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.middleName placeholder="Middle name"}}
                                </div>
                            </div>
                            <div class="form-group row {{if errors.model.lastName.firstObject 'has-error'}}">
                                <div class="col-sm-12">
                                    {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.lastName placeholder="Last name"}}
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-sm-6 {{if errors.model.currentPosition.firstObject 'has-error'}}'>
                                    <label class="control-label">Current Position</label>
                                    {{#if errors.model.currentPosition.firstObject}}
                                        <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                                    {{/if}}
                                    {{view "select" class="form-control" content=positionTypes
                                        optionLabelPath="content.name"
                                        optionValuePath="content.id"
                                        selection=model.currentPosition
                                        prompt="Pick player's current position"}}
                                </div>
                                <div class='col-sm-6 {{if errors.model.projectedPosition.firstObject 'has-error'}}'>
                                    <label class="control-label">Projected Position</label>
                                    {{#if errors.model.projectedPosition.firstObject}}
                                        <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                                    {{/if}}
                                    {{view "select" class="form-control" content=projectedPositions
                                        optionLabelPath="content.name"
                                        optionValuePath="content.id"
                                        selection=model.projectedPosition
                                        prompt="Pick player's projected position"}}
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-sm-6'>
                                    <label class="control-label">Special Teams Position</label>
                                    {{view "select" class="form-control" content=positionTypes
                                        optionLabelPath="content.name"
                                        optionValuePath="content.id"
                                        selection=model.positionST
                                        prompt="Pick a primary position"}}
                                </div>
                                <div class='col-sm-6 {{if errors.model.jerseyNumber.firstObject 'has-error'}}'>
                                    <label class="control-label">Jersey No.</label>
                                    {{#if errors.model.jerseyNumber.firstObject}}
                                        <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span> {{errors.model.jerseyNumber.firstObject}}</span>
                                    {{/if}}
                                    {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.jerseyNumber placeholder="Jersey Number"}}
                                </div>
                            </div>
                            <div><hr/></div>
                            <div class='form-group row'>
                                <div class='col-sm-6 {{if errors.model.highSchool.firstObject 'has-error'}}'>
                                    <label class="control-label">Current School / Team</label>
                                    {{#if errors.model.highSchool.firstObject}}
                                        <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                                    {{/if}}
                                    {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.highSchool}}
                                </div>
                                <div class='form-group col-sm-6'>
                                    <label class='control-label'>Grad Year</label>
                                    <div>
                                        {{view "select" class="form-control" content=graduationYears
                                            optionLabelPath="content.name"
                                            optionValuePath="content.id"
                                            value=model.graduationYear
                                            prompt="Pick a year"}}
                                    </div>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-sm-6 {{if errors.model.level.firstObject 'has-error'}}'>
                                    <label class="control-label">Current Level</label>
                                    {{#if errors.model.level.firstObject}}
                                        <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                                    {{/if}}
                                    {{view "select" class="form-control" content=levels
                                        optionLabelPath="content.shortName"
                                        optionValuePath="content.id"
                                        selection=model.level
                                        prompt="Pick a level"}}
                                </div>
                                <div class='col-sm-6 {{if errors.model.state.firstObject 'has-error'}}'>
                                    <label class="control-label">State</label>
                                    {{#if errors.model.state.firstObject}}
                                        <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                                    {{/if}}
                                    {{view "select" class="form-control" content=states
                                        optionLabelPath="content.name"
                                        optionValuePath="content.id"
                                        selection=model.state
                                        prompt="Pick a state"}}
                                </div>
                            </div>
                            <div class='form-group row user-name'>
                                <div class='col-sm-6'>
                                    <label class="control-label">Coach</label>
                                    {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.coach placeholder="Coach first name"}}
                                </div>
                                <div class='col-sm-6 middle-name'>
                                    {{input class="form-control" type="text" value=model.coachLastName placeholder="Coach last name"}}
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-sm-12'>
                                    <label class="control-label">Coach Tel</label>
                                    {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.coachPhone}}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class='col-sm-4'>
                        <div class='form-horizontal right-container'>
                            <fieldset>
                                <div class='form-group'>
                                    <label class='control-label col-sm-4'>DOB</label>
                                    <div class="col-sm-8">
                                        {{bs-datetimepicker date=model.birthDate defaultDate=model.birthDate format='MM/DD/YYYY'}}
                                    </div>
                                </div>

                                <div class='form-group {{if errors.model.height.firstObject 'has-error'}}'>
                                    <label class='control-label col-sm-4'>Height
                                        {{#if errors.model.height.firstObject}}
                                            <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                                        {{/if}}
                                    </label>
                                    <div class="col-sm-8">
                                        {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.height}}
                                    </div>
                                </div>
                                <div class='form-group {{if errors.model.weight.firstObject 'has-error'}}'>
                                    <label class='control-label col-sm-4'>Weight
                                        {{#if errors.model.weight.firstObject}}
                                            <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                                        {{/if}}
                                    </label>
                                    <div class="col-sm-8">
                                        {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.weight}}
                                    </div>
                                </div>
                                <div class='form-group'>
                                    <label class='control-label col-sm-4'>Wingspan</label>
                                    <div class="col-sm-8">
                                        {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.wingspan}}
                                    </div>
                                </div>
                                <div class='form-group'>
                                    <label class='control-label col-sm-4'>Body Type</label>
                                    <div class="col-sm-8">
                                        {{view "select" class="form-control" content=bodyTypes
                                            optionLabelPath="content.name"
                                            optionValuePath="content.id"
                                            selection=model.bodyType
                                            prompt="Pick a body type"}}
                                    </div>
                                </div>
                                <div class='form-group'>
                                    <label class='control-label col-sm-4'>40 Yd</label>
                                    <div class="col-sm-8">
                                        {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.fortyYard}}
                                    </div>
                                </div>
                                <div class='form-group'>
                                    <label class='control-label col-sm-4'>Hand Size</label>
                                    <div class="col-sm-8">
                                        {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.handSize}}
                                    </div>
                                </div>
                                <div class='form-group'>
                                    <label class='control-label col-sm-4'>Vert Jump</label>
                                    <div class="col-sm-8">
                                        {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.verticalJump}}
                                    </div>
                                </div>
                                <div><hr/></div>
                                <div class='form-group'>
                                    <label class='control-label col-sm-4'>SAT</label>
                                    <div class="col-sm-8">
                                        {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.sat}}
                                    </div>
                                </div>
                                <div class='form-group'>
                                    <label class='control-label col-sm-4'>ACT</label>
                                    <div class="col-sm-8">
                                        {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.act}}
                                    </div>
                                </div>
                                <div class='form-group'>
                                    <label class='control-label col-sm-4'>GPA</label>
                                    <div class="col-sm-8">
                                        {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.gpa}}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{/page-modal}}
</div>
