<div id="upload-prospect-notification">
{{#page-modal title='Upload Prospect List' ok='returnToProspectList' okText='ok' close='returnToProspectList'}}
	<div class="confirm-upload-body">
        <div class='container-fluid form-container'>
            <label>{{model}}</label>
        </div>
    </div>
{{/page-modal}}
</div>