{{! components/report-options-panel/template.hbs }}
<h2>Run for: (pick one)</h2>
<form>
  {{!#radio-button value="teamPlayer" name="viewRadio" groupValue=this.dimension }}
    {{! check the length before showing select view to ensure that items have been loaded}}
    {{#if this.picklists.players.length}}
      {{x-select value=this.localPlayer content=this.picklists.players action="changePlayer" placeholder="pick a player" optionLabelPath="content.fullNameInitialLast" optionValuePath="content.id" class="form-control" }}
    {{else}}
      No Players Found
    {{/if}}
  {{!/radio-button}}

  {{!#radio-button value="teamPositionGroup" name="viewRadio" groupValue=this.dimension }}
    {{! check the length before showing select view to ensure that items have been loaded}}
    {{#if this.picklists.groups.length}}
      {{x-select value=this.localGroup content=this.picklists.groups action="changeGroup" placeholder="or pick a position group" optionLabelPath="content.name" optionValuePath="content.id" class="form-control" }}
    {{else}}
      loading...
    {{/if}}
  {{!/radio-button}}

  {{!#radio-button value="platoonType" name="viewRadio" groupValue=this.dimension }}
    {{! check the length before showing select view to ensure that items have been loaded}}
    {{#if this.picklists.platoons.length}}
      {{x-select value=this.localPlatoon content=this.picklists.platoons action="changePlatoon" placeholder="or pick a platoon" optionLabelPath="content.name" optionValuePath="content.id" class="form-control" }}
    {{else}}
      loading...
    {{/if}}
  {{!/radio-button}}
</form>
<hr>
<h2>For time period: (pick one)</h2>
<form>
  {{!#radio-button value="teamEvent" name="periodRadio" groupValue=this.period }}
  {{! check the length before showing select view to ensure that items have been loaded}}
  {{#if this.picklists.games.length}}
    {{x-select value=this.localGame content=this.picklists.games action='changeGame' placeholder="pick a game" optionLabelPath="content.name" optionValuePath="content.id" class="form-control" }}
  {{else}}
    No Games Found
  {{/if}}
  {{!/radio-button}}

  {{!#radio-button value="season" name="periodRadio" groupValue=this.period }}
  {{! check the length before showing select view to ensure that items have been loaded}}
  {{#if this.picklists.seasons.length}}
    {{x-select value=this.localSeason content=this.picklists.seasons action='changeSeason' placeholder="or pick a season" optionLabelPath="content.name" optionValuePath="content.id" class="form-control" }}
  {{else}}
    loading...
  {{/if}}
  {{!/radio-button}}
</form>
<hr>
<div class="container-fluid row">
  <div class="col-md-6 col-sm-12">
    <button class="btn" {{action "reportClearFields"}}>Clear Fields</button>
  </div>
  <div class="col-md-6 col-sm-12">
    <button class="btn" disabled= {{this.isRunReportBtnDisabled}} {{action "reportRunReport"}}>Run Report</button>
  </div>
</div>
