<div id="learn-dashboard-carousel" class="carousel slide" data-interval="false" data-wrap="false" data-title="Using the Dashboard">
		<ol class="carousel-indicators">
	    	<li data-target="#learn-dashboard-carousel" data-slide-to="0" class="active"></li>
	    	<li data-target="#learn-dashboard-carousel" data-slide-to="1"></li>
		</ol>

		<div class="carousel-inner" role="listbox">

			<div class="info-section item active">
				<p>When you first log in, the Dashboard will not show any player performance data because no players have been graded yet.</p>
				<div>
					<img src="assets/img/popup/dashboard/learn-dashboard-1.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>Top performers, trends and outliers are shown on the Dashboard. Based on grades entered by coaches - no outside data or stats.</p>
				<div>
					<img src="assets/img/popup/dashboard/learn-dashboard-2.png" />
				</div>
			</div>

		</div>

		<a class="left carousel-control" href="#learn-dashboard-carousel" role="button" data-slide="prev">
    		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    		<span class="sr-only">Previous</span>
  		</a>
  		<a class="right carousel-control" href="#learn-dashboard-carousel" role="button" data-slide="next">
    		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    		<span class="sr-only">Next</span>
  		</a>

	</div>