{{! app/templates/dashboard/index.hbs}}
<div class="dashboard-index">
    <div class="section-left">
        <div class='container-fluid'>
            <div class="row flex row-separator">
                <div class="column column1 header">
                    <span>Top Performers</span>
                </div>
                <div class="column column2 header">
                    <span>Rank at Pos</span>
                </div>
                <div class="column column3 header">
                    <span>Last Game Avg</span>
                </div>
                <div class="column column4 header">
                    <span>Season Avg</span>
                </div>
            </div>
            {{#each this.sortedContent as |item index|}}
                <div class="row flex  row-separator">
                    <div class="column column1" {{action 'playersShowPlayer' item.teamPlayerAssignment}}>
                        <span class="dashboard-rank">{{plus-one index}}</span>
                        <span class="dashboard-name">{{item.teamPlayer.shortNameInitialLast}} / {{item.teamPlayerAssignment.position1.shortName}}</span>
                        <span class="dashboard-jersey-number">{{item.teamPlayerAssignment.jerseyNumber}}</span>
                    </div>
                    <div class="column column2">
                        <span>{{item.rankAtGradePost}}</span>
                    </div>
                    <div class="column column3">
                        <span>{{item.lastGameOverallGrade}}</span>
                        <span class="dashboard-stats">{{item.lastGameNumPlays}}</span>
                    </div>
                    <div class="column column4">
                        <span>{{item.gameOverallGrade}}</span>
                        <span class="dashboard-stats">{{item.gameNumPlays}}</span>
                    </div>
                </div>
            {{else}}
                <div class="loading-message">
                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                    <span class="msg">Loading player list ...</span>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="section-right">
        {{dashboard-top5-stats caption='Top New Players'    linkToUrl='dashboard.topNewPlayers'    field='gameOverallGrade'    sort='gameOverallGrade:desc'    stats=attrs.newStats}}
        {{dashboard-top5-stats caption='Best Unit Impact'   linkToUrl='dashboard.bestUnitImpact'   field='gameImpactPlatoonGrade' sort='gameImpactPlatoonGrade:desc' stats=attrs.allStats}}
        {{!--dashboard-top5-stats caption='Veteran Watch List' linkToUrl='dashboard.veteranWatchList' field='gameOverallGrade'    sort='gameOverallGrade'     stats=attrs.vetStats--}}

        <button class="btn dashboard-top5-panel" {{action "appMenuReports"}}>player performance reports</button>
    </div>
</div>
