{{! templates/dashboard/top-players.hbs}}
<div class="dashboard-top-players">
    <div class="section-left">
        <div class='container-fluid'>
            <div class="row flex row-separator">
                <div class="column column1 header">
                    <span>Click player to see grades and reports</span>
                </div>
                <div class="column column2 header">
                    <span>Position</span>
                </div>
                <div class="column column3 header">
                    <span>Rank at Pos (Gr Avg)</span>
                </div>
                <div class="column column4 header">
                    <span>Impact on Platoon</span>
                </div>
                <div class="column column5 header">
                    <span>Impact on Pos Grp</span>
                </div>
                <div class="column column6 header">
                    <span>Game Gr Avg</span>
                </div>
            </div>
            {{#each this.arrangedContent as |item index|}}
                <div class="row flex  row-separator">
                    <div class="column column1" {{action 'playersShowPlayer' item.teamPlayerAssignment}}>
                        <span class="dashboard-rank">{{plus-one index}}</span>
                        <span class="dashboard-name">{{item.teamPlayer.shortNameInitialLast}}</span>
                        <span class="dashboard-jersey-number">{{item.teamPlayer.jerseyNumber}}</span>
                    </div>
                    <div class="column column2">
                        <span>{{item.teamPlayer.position1.shortName}}</span>
                    </div>
                    <div class="column column3">
                        <span>{{item.rankAtGradePost}}</span>
                    </div>
                    <div class="column column4">
                        <span>{{impact-format item.gameImpactPlatoonGrade}}</span>
                    </div>
                    <div class="column column5">
                        <span>{{impact-format item.gameImpactPosGroupGrade}}</span>
                    </div>
                    <div class="column column6">
                        <span>{{item.gameOverallGrade}}</span>
                        <span class="dashboard-stats">{{item.gameNumPlays}}</span>
                    </div>
                </div>
            {{else}}
                <div class="loading-message">
                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                    <span class="msg">Loading player list ...</span>
                </div>
            {{/each}}
        </div>
    </div>
</div>
