{{#tool-tip}}
<div class='tooltip-boddy error position'>
    <span class='info'>The following players are assigned to this position [{{model.positionTypeName}}]</span>
    <span class='glyphicon glyphicon-remove' aria-hidden='true' {{action 'removeTooltip'}}></span>
    <div class='players-container'>
        {{#each player in model.players}}
            <p>{{player.firstName}} {{player.lastName}}</p>
        {{/each}}
    </div>
    <span class='info'>Please reassign these players to a different position before making this change.</span>
</div>
{{/tool-tip}}