{{#tool-tip}}
<div class='tooltip-boddy error'>
    <span>{{model.message}}</span>
    <span class='glyphicon glyphicon-remove' aria-hidden='true' {{action 'removeTooltip'}}></span>
</div>
{{/tool-tip}}