<div class="first-login-tooltip intro">
{{#page-modal title="Getting Started" ok='removeModal' okText='ok' close='removeModal' closeText='cancel' staticBackdrop=true}}
	<div class="arrow left"></div>
	<strong>Getting Started</strong> <br/ >
	Click this link for some quick explanations of how to use GoDeep's functions and features.
	<div class="custom-footer">
		{{!--<img alt="GoDeep Mobile" src="https://s3.amazonaws.com/godeeppublic/img/favicon_76px.png" class="pull-left">--}}
		<img alt="GoDeep Mobile" src="assets/img/favicon_76px.png" class="pull-left">
		<button type="button" class="btn btn-primary pull-right" {{action "disableFirstTimeLoginTooltips"}}>ok, got it</button>
	</div>
{{/page-modal}}
</div>
