<div class="first-login-tooltip main-menu">
{{#page-modal title="Main Menu" ok='removeModal' okText='ok' close='removeModal' closeText='cancel' staticBackdrop=true}}
	<div class="arrow top"></div>
	<strong>Main Menu</strong> <br/ >
	Click on the main menu to access GoDeep's functions and features.
	<div class="custom-footer">
		{{!--<img alt="GoDeep Mobile" src="https://s3.amazonaws.com/godeeppublic/img/favicon_76px.png" class="pull-left">--}}
		<img alt="GoDeep Mobile" src="assets/img/favicon_76px.png" class="pull-left">
		<button type="button" class="btn btn-primary pull-right" {{action "displayIntroTooltip"}}>next</button>
	</div>
{{/page-modal}}
</div>
