{{#tool-tip}}
<div class='tooltip-boddy info'>
    <!--<span class='glyphicon glyphicon-remove' aria-hidden='true' {{action 'removeTooltip'}}></span>-->
    <span>A user account was created for this player with user ID &ldquo;{{model.player.email}}&rdquo;,<br>allowing him to log in and view game reports in the application.<br>If you entered the email address incorrectly, you can change it anytime. The player will be notified of the correction.</span>
    <!--<div class='btn-container'>
        <button class="btn " {{action 'cancel'}} >Cancel</button>
        <button class="btn" {{action 'removeTooltip'}} >Accept</button>
    </div>-->
</div>
{{/tool-tip}}