{{#tool-tip}}
<div class='tooltip-boddy error'>
    <span class='glyphicon glyphicon-remove' aria-hidden='true' {{action 'removeTooltip'}}></span>
    <span>This position [{{model.positionTypeName}}] will no longer be associated with any group.<br>
    It will not be available for assignment to any players<br> 
    unless you add it back to a group later</span>
    <div class='btn-container'>
        <button class="btn " {{action 'selectPositionType'}} >Undo</button>
        <button class="btn" {{action 'removeTooltip'}} >Accept</button>
    </div>
</div>
{{/tool-tip}}