{{#tool-tip}}
<div class='tooltip-boddy info'>
    {{#if model.message}}
        <span>{{model.message}}</span>
    {{else}}
        <span>Your inputs have been saved.</span>
    {{/if}}
</div>
{{/tool-tip}}