<div id="positions-and-groups-delete-modal">
{{#page-modal title='Delete Positions and Group' ok='delete' close='cancel' closeText='No' okText='Yes'}}
    <div class="positions-and-groups-delete-body">
        <div class='container-fluid form-container'>
            <label>Are you sure you want to remove this Positions and Groups?</label>
        </div>
    </div>
{{/page-modal}}
</div>