<div class="positions-and-groups-edit">
{{#page-modal title='Edit Positions and Groups Information' ok='save' close='cancel' closeText='cancel' okText='save changes'}}
    <div class="section-main">
        <div class='container-fluid form-container'>
          <form {{action "save" model on="submit"}}>
                <div class="form-group row bootom-row">
                    <div class="col-sm-10">
                        <div class="form-group row {{if errors.model.name.firstObject 'has-error'}}">
                            <label class="control-label col-sm-4">Group Name {{#if errors.model.name.firstObject}}
                                <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                            {{/if}}</label>
                            <div class="col-sm-8">
                                {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.name}}
                            </div>
                        </div>
                        <div class="form-group row bootom-row">
                            <label class="control-label col-sm-4">Positions in Group</label>
                            <div class="col-sm-8">
                                {{#each positionType in positionTypesSelected}}
                                    <div class='position-container'>
                                        {{view "checkbox"
                                            action='validatePositionTypeSelection'
                                            name=positionType
                                            value=positionType
                                            checked=positionType.isSelected
                                        }}
                                        <label>{{positionType.shortName}}</label>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{/page-modal}}
</div>
