{{! components/report-chart/template.hbs }}
<div class='container-fixed-table' >
    <div>
        {{high-charts content=this.localContent categories=this.localCategories chartOptions=this.localChartOptions baseLine=this.localBaseLine leftFooter=this.localLeftFooter}}
    </div>
</div>
