<div id="change-play-data">
{{#page-modal title=modalTitle ok='changePlayData' okText='save' close='removeModal' closeText='cancel'}}
	<div class="play-data">
		{{#if isPractice}}
	    <div class='form-group row'>
	    	<div class='col-sm-12'>   
	    		<label>Drill</label>
				{{auto-complete-combobox class="form-control" content=teamPracticeDrillTypes
	            	optionLabelPath="name"
					optionValuePath="id" 
					selection=teamPracticeDrillType 
					onNewValue="createTeamPracticeDrillTypes"
					prompt="Pick drill"}}
          	</div>
	    </div>
	    <div class='form-group row'>
	    	<div class='col-sm-12'>   
	    		<label>Description</label>
	    		{{textarea class="form-control" rows="5" value=description}}
          	</div>
	    </div>
		{{else}}
		<div class='form-group row'>
	    	<div class='col-sm-4'>    
            	<label>Quarter</label>
            	{{view "select" class="form-control" content=quarters selection=quarter prompt="Pick quarter"}}
          	</div>
	        <div class='col-sm-4'>
	            <label>Down</label>
	            {{view "select" class="form-control" content=downs selection=down prompt="Pick down"}}
	        </div>
	        <div class='col-sm-4'>
	            <label>To Go</label>
	            {{view "select" class="form-control" content=distances selection=toGo prompt="Pick yards to go"}}
	        </div>
	    </div>
	    <div class='form-group row'>
	    	<label class="pull-left game-possession-label">Field Position</label>
	    	<div class='col-sm-4'> 
	    		{{view "select" class="form-control" content=possesions selection=gamePossession prompt="Pick team"}}   
          	</div>
          	<label class="pull-left ball-on-label">ball on</label>
	        <div class='col-sm-6 pull-right'>
	            {{view "select" class="form-control" content=ballOnValues selection=ballOn prompt="Pick yard line"}}   
	        </div>
	    </div>
	    <div class='form-group row'>
	    	<div class='col-sm-12'>   
	    		<label>Play Type</label>
	    		{{view "select" class="form-control" content=playTypes
					optionLabelPath="content.name"
					optionValuePath="content.id"
					prompt="Pick play type"
					selection=playType}}
          	</div>
	    </div>
	    <div class='form-group row'>
	    	<div class='col-sm-12'>   
	    		<label>Play Result</label> 
            	{{view "select" class="form-control" content=playResultTypes
					optionLabelPath="content.name"
					optionValuePath="content.id"
					prompt="Pick play result"
					selection=playResultType}}
          	</div>
	    </div>
	    {{/if}}
	</div>
{{/page-modal}}
</div>