{{page-head breadcrumbs=this.breadcrumbs thisPage="Player Evaluation"}}
<div class="evaluation-setup">
    <div class="section-main">
        <div class='container-fluid form-container'>
        	<div class='form-group row header'>
        		<div class="col-sm-6 text-left">
        			<h3>Player Evaluation Criteria Setup - Select Position</h3>
        		</div>
        		<div class="col-sm-6 hint text-right">
        			<span>Click on a position to view the scouting criteria GoDeep provides by default. You can only change the criteria text before you enter evaluations for players at that position.</span>
        		</div>
        	</div>
        	{{#each teamPositionGroup in model.teamPositionGroups}}
	        <div class='form-group row'>
	        	<div class="col-sm-2 position-group-name">
	        		<span>{{teamPositionGroup.name}}</span>
	        	</div>
	        	<div class="col-sm-10">
	        		{{#each teamPositionType in teamPositionGroup.teamPositionTypes}}
	        		<button class="btn" {{action "displayEvaluationCriteriaSetup" teamPositionType}}>{{teamPositionType.shortName}}</button>
	        		{{/each}}
	        	</div>
	        </div>
	        {{/each}}
        </div>
    </div>
</div>