<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GoDeep</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="GD-key" content="##gd-key##">
    <meta name="GD-session" content='##gd-session##'>

    {{content-for 'rollbar'}}
    {{content-for 'head'}}

    <!-- include slidebars.css before my css assets -->
    <!--link rel="stylesheet" href="assets/slidebars.min.css"-->
    <link rel="stylesheet" href="assets/slidebars.css">
    <!--link rel="stylesheet" href="assets/vendor.css"-->
    <link rel="stylesheet" href="assets/godeeptest.css">

    <link rel="stylesheet" media="screen" href="http://handsontable.com/dist/handsontable.full.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" href="../assets/img/favicon.ico">

    {{content-for 'head-footer'}}
</head>
<body>
{{content-for 'body'}}
<script src="assets/vendor.js"></script>
<script src="assets/godeeptest.js"></script>
{{content-for 'body-footer'}}
<p class="gd-key">##gd-key##</p>
</body>
</html>
