<div id="confirm-upload">
{{#page-modal title='Upload Roster' ok='buildRosterData' okText='save' close='removeModal' closeText='cancel'}}
	<div class="confirm-upload-body">
        <div class='container-fluid form-container'>
            <label>Players uploaded with this function will need to be removed individually. Please confirm that your data is correct before saving.</label>
        </div>
    </div>
{{/page-modal}}
</div>