<div id="player-delete-modal">
{{#page-modal title='Delete Player confirmation' close='cancel'}}
	{{#if isDeleting}}
	<div class="loading-message">
		<span class="msg">Deleting player ...</span>
	</div>
	{{else}}
    <div class="player-delete-body">
        <div class='container-fluid form-container'>
            <label>Do you want to remove this player from your roster temporarily or permanently?</label>
            <span class="player">{{model.teamPlayer.shortNameInitialLast}}{{#if model.jerseyNumber}} #{{model.jerseyNumber}}{{/if}}</span>
        </div>
    </div>
    <div class="delete-player-controls">
    	<button data-dismiss="modal" class="btn">cancel</button>
    	<button data-dismiss="modal" class="btn" {{action "deletePlayerAssignment" false}}>temporary removal</button>
		<button data-dismiss="modal" class="btn" {{action "deletePlayerAssignment" true}}>permanent removal</button>
    </div>
    {{/if}}
{{/page-modal}}
</div>