<div class="row flex controls">
    <div class="column header1">
        <div class="column column6 add-player"  {{action 'addPlayer'}}>
            <span>add player</span>
        </div>
        <div class="column column6 add-player"  {{action 'uploadRoster'}}>
            <span>upload roster</span>
        </div>
    </div>
    <div class="season-selector">
        <span><strong>View:</strong></span>
        {{view "select" class="form-control" content=formattedSeasons
            optionValuePath="content.value"
            optionLabelPath="content.label"
            selection=season}}
    </div>
</div>
<div class="row flex  row-separator headers {{unless isCurrentSeasonRoster 'not-current-season'}}">
    <div class="column header1">
        <span class="title">Player</span>
    </div>
    <div class="column header2">
        <span>Pos 1</span>
    </div>
    <div class="column header3">
        <span>Pos 2</span>
    </div>
    <div class="column header4">
        <span>Pos 3</span>
    </div>
    <div class="column header5">
        <span>ST Pos</span>
    </div>
    {{#if isCurrentSeasonRoster}}
    <div class="column header6">
        <span>Click if player is no longer on the team</span>
    </div>
    {{/if}}
</div>
<div class="section-main {{unless isCurrentSeasonRoster 'not-current-season'}}">
    {{#each playerAssignment in arrangedContent}}
    <div id="roster-postion-{{playerAssignment.teamPlayer.id}}" class="row flex  row-separator" tabindex='1'>
        <div class="column column1 {{if playerAssignment.temporarilyInactive 'disabled'}}" {{action 'playersShowPlayer' playerAssignment}}>
            <span class="players-name">{{playerAssignment.teamPlayer.shortNameInitialLast}}</span>
            <span class="players-stats">{{playerAssignment.teamPlayer.height}}&nbsp;&nbsp;&nbsp;{{playerAssignment.teamPlayer.weight}}</span>
            <span class="players-jersey-number">{{playerAssignment.jerseyNumber}}</span>
        </div>
        <div class="column column2 {{unless playerAssignment.position1 'not-added'}} {{if playerAssignment.temporarilyInactive 'disabled'}}" {{action 'showModalPlayerPosition' playerAssignment 'position1' 'Pos 1'}}>
            <span class="{{unless playerAssignment.position1 'not-added'}}">{{#if playerAssignment.position1}}{{playerAssignment.position1.shortName}}{{else}}click to add{{/if}}</span>
        </div>
        <div class="column column3 {{unless playerAssignment.position2 'not-added'}} {{if playerAssignment.temporarilyInactive 'disabled'}}" {{action 'showModalPlayerPosition' playerAssignment 'position2' 'Pos 2'}}>
            <span class="{{unless playerAssignment.position2 'not-added'}}">{{#if playerAssignment.position2}}{{playerAssignment.position2.shortName}}{{else}}click to add{{/if}}</span>
        </div>
        <div class="column column4 {{unless playerAssignment.position3 'not-added'}} {{if playerAssignment.temporarilyInactive 'disabled'}}" {{action 'showModalPlayerPosition' playerAssignment 'position3' 'Pos 3'}}>
            <span class="{{unless playerAssignment.position3 'not-added'}}">{{#if playerAssignment.position3}}{{playerAssignment.position3.shortName}}{{else}}click to add{{/if}}</span>
        </div>
        <div class="column column5 {{unless playerAssignment.positionST 'not-added'}} {{if playerAssignment.temporarilyInactive 'disabled'}}" {{action 'showModalPlayerPosition' playerAssignment 'positionST' 'ST Pos'}}>
            <span class="{{unless playerAssignment.positionST 'not-added'}}">{{#if playerAssignment.positionST}}{{playerAssignment.positionST.shortName}}{{else}}click to add{{/if}}</span>
        </div>
        {{#if isCurrentSeasonRoster}}
        {{#if playerAssignment.temporarilyInactive}}
        <div class="column column6"  {{action 'reactivatePlayer' playerAssignment}}>
            <span>reactivate player</span>
        </div>
        {{else}}
        <div class="column column6"  {{action 'showModalDeletePlayer' playerAssignment}}>
            <span>inactivate player</span>
        </div>
        {{/if}}
        {{/if}}
    </div>
    {{else}}
    <div class="no-roster-message">
        <span>No players were found for this season.</span>
    </div>
    {{/each}}
</div>