<div id="player-position-modal">
{{#page-modal ok='save' close='cancel'}}
    <div class="player-position-body">
        <div class='container-fluid form-container'>
            <form  {{action "save" model on="submit"}}>
            <fieldset>
                <div class='row'>
                    <div class='column column1'>
                        <span class="players-name">{{model.teamPlayer.fullNameInitialLast}}</span>
                        <span class="players-jersey-number">{{model.jerseyNumber}}</span>
                    </div>
                    <div class='column column2'>
                        <span>{{this.attrs.positionLabel}}</span>
                    </div>
                </div>
                <div class='row'>
                    {{#if this.attrs.isDisabled}}
                        <div class="alert alert-warning" role="alert">
                            <label>Please select a new Position.</label>
                        </div>
                    {{/if}}
                </div>
                <div class='row'>
                    <div class='col-sm-4'>
                        {{#radio-button name="platoonTypeId" value=1 groupValue=this.attrs.selectedPlatoonTypeId selectAction="positionTypeViewChanged" disabled=this.attrs.isSTPos}}Offense{{/radio-button}}
                    </div>
                    <div class='col-sm-4'>
                        {{#radio-button name="platoonTypeId" value=2 groupValue=this.attrs.selectedPlatoonTypeId selectAction="positionTypeViewChanged" disabled=this.attrs.isSTPos}}Defense{{/radio-button}}
                    </div>
                    <div class='col-sm-4'>
                        {{#radio-button name="platoonTypeId" value=3 groupValue=this.attrs.selectedPlatoonTypeId selectAction="positionTypeViewChanged"}}Special Teams{{/radio-button}}
                    </div>
                </div>
                <div class="field">
                    {{view "select" class="form-control" content=teamPositionTypes
                        optionLabelPath="content.name"
                        optionValuePath="content.id"
                        selection=selectedPositionType}}
                </div>
            </fieldset>
            </form>
        </div>
    </div>
    <div class="player-position-btns">
        <button class="btn" data-dismiss="modal">Cancel</button>
        {{#if this.attrs.isEditing}}
            <button class="btn" data-dismiss="modal" {{action 'save' model}} {{bind-attr disabled=this.attrs.isDisabled}}>Save Position</button>
            {{#unless this.attrs.isPos1}}
            <button class="btn" data-dismiss="modal" {{action 'remove' model}} {{bind-attr disabled=this.attrs.isDisabled}}>Remove Position</button>
            {{/unless}}
        {{else}}
            <button class="btn" data-dismiss="modal" {{action 'save' model}}>Add Position</button>
        {{/if}}
    </div>
{{/page-modal}}
</div>
