<div id="learn-roster-carousel" class="carousel slide" data-interval="false" data-wrap="false" data-title="Updating the Roster and Assigning Positions">
		<ol class="carousel-indicators">
	    	<li data-target="#learn-roster-carousel" data-slide-to="0" class="active"></li>
	    	<li data-target="#learn-roster-carousel" data-slide-to="1"></li>
	    	<li data-target="#learn-roster-carousel" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner" role="listbox">

			<div class="info-section item active">
				<p></p>
				<div>
					<img src="assets/img/popup/roster/learn-roster-1.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>Adding a player to the Roster.</p>
				<div>
					<img src="assets/img/popup/roster/learn-roster-2.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>Changing a player’s position assignment.</p>
				<div>
					<img src="assets/img/popup/roster/learn-roster-3.png" />
				</div>
			</div>

		</div>

		<a class="left carousel-control" href="#learn-roster-carousel" role="button" data-slide="prev">
    		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    		<span class="sr-only">Previous</span>
  		</a>
  		<a class="right carousel-control" href="#learn-roster-carousel" role="button" data-slide="next">
    		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    		<span class="sr-only">Next</span>
  		</a>

	</div>