{{page-head breadcrumbs=this.breadcrumbs thisPage=this.thisPage}}
<div class="upload-roster">
	<div class="message">
        <div class="alert alert-danger" role="alert">
            <p>You must fill out required fields.</p>
        </div>
    </div>
    <div class="section-main">
        <div class='container-fluid form-container'>
	        <div class='form-group row'>
	        	<div class="col-sm-12">
	        		<label>Upload Roster</label>
	        		<span class="helper-text text-justify">
	        			Copy a list of players from any spreadsheet program and paste them into the grid below to upload them. Be sure to set your columns to match the ones in the grid. 
	        			<br/><span class="hint bold italic">Red columns are required.</span> Other columns are optional, if you have that information. <span class="hint bold">Note: Please use position abbreviations, such as "QB".</span>
	        			<br/><br/><strong>Positions currently supported:</strong> {{#each loadData.positionTypesForTeam as |positionType index|}}{{#if index}}, {{positionType.shortName}}{{else}}{{positionType.shortName}}{{/if}}{{/each}}
	        			<br/>Please contact <a href="mailto:support@godeepmobile.com">support@godeepmobile.com</a> if you have any questions.
	        		</span>
	        	</div>
	        </div>
	        <hr />
	        <div class='form-group row seasons'>
	        	<div class="col-sm-12 text-right">
	        		<strong>Add Players To:</strong>
	        		{{#each seasons as |season|}}
	        		{{input type="checkbox" checked=season.selected}} {{season.value}} Roster
	        		{{/each}}
	        	</div>
	        </div>
	        <div class='form-group row'>
	        	<div class="col-sm-12">
	        		{{hands-on-table tableOptions=tableOptions onDidBuildTableOutputData="uploadRoster"}}
	        	</div>
	        </div>
	        <div class="btn-row upload-controls">
	        	<button class="btn" {{action "cancelRosterUpload"}}>cancel</button>
	        	<button class="btn save-uploaded-data" {{action 'displayUploadConfirmation'}}>save / upload data</button>
	        </div>
        </div>
    </div>
</div>