<div id="confirm-event-creation-modal">
{{#page-modal title='You changed the column selections' close='removeModal'}}
    <div class='container-fluid form-container'>
        <label>Do you want these new selections to be saved?</label>
    </div>
    <div class="confirm-btns modal-footer">
		<button data-dismiss="modal" class="btn" {{action "setChangeHeaderFlag" true}}>yes</button>
		<button data-dismiss="modal" class="btn" {{action "setChangeHeaderFlag"}}>no</button>
	</div>
{{/page-modal}}
</div>