<div id="confirm-event-creation-modal">
{{#page-modal title='You changed an already created event' close='removeModal'}}
    <div class='container-fluid form-container'>
        <label>Create new event?</label>
    </div>
    <div class="confirm-btns modal-footer">
		<button data-dismiss="modal" class="btn" {{action "createTeamEvent"}}>yes</button>
		<button data-dismiss="modal" class="btn" {{action "updateTeamEvent"}}>no</button>
	</div>
{{/page-modal}}
</div>