<div id="learn-cutup-carousel" class="carousel slide" data-interval="false" data-wrap="false" data-title="Entering Film Cutups for Grading">
		<ol class="carousel-indicators">
	    	<li data-target="#learn-cutup-carousel" data-slide-to="0" class="active"></li>
	    	<li data-target="#learn-cutup-carousel" data-slide-to="1"></li>
		</ol>

		<div class="carousel-inner" role="listbox">

			<div class="info-section item active">
				<p>This is how to enter a game into GoDeep so coaches can grade it. Enter as much information as you have, then click Save.</p>
				<div>
					<img src="assets/img/popup/cutup/learn-cutup-1.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>Practice film works pretty much the same way.</p>
				<div>
					<img src="assets/img/popup/cutup/learn-cutup-2.png" />
				</div>
			</div>

		</div>

		<a class="left carousel-control" href="#learn-cutup-carousel" role="button" data-slide="prev">
    		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    		<span class="sr-only">Previous</span>
  		</a>
  		<a class="right carousel-control" href="#learn-cutup-carousel" role="button" data-slide="next">
    		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    		<span class="sr-only">Next</span>
  		</a>

	</div>