{{page-head breadcrumbs=this.breadcrumbs thisPage=this.thisPage}}
<div class="new-game-data">
	<div class="message">
        <div class="alert alert-danger" role="alert">
            <p>You must fill out required fields.</p>
        </div>
    </div>
    <div class="section-main">
        <div class='container-fluid form-container'>
        	{{#unless isAddingPlatoon}}
        	<div class='form-group row'>
	        	<div class='col-sm-12'>
	            	{{#if isEdit}}

	            	{{#if isGame}}
	            	<button class="btn gd-btn toggle-event-type {{if teamEvent.eventType.isGame 'active'}}" {{action "changeEventType" gameEventType}}>{{gameEventType.name}}</button>
	            	{{/if}}

	            	{{#if isPracticeGame}}
	            	<button class="btn gd-btn toggle-event-type {{if teamEvent.eventType.isGame 'active'}}" {{action "changeEventType" gameEventType}}>{{gameEventType.name}}</button>
	            	<button class="btn gd-btn toggle-event-type {{if teamEvent.eventType.isRegularPractice 'active'}}" {{action "changeEventType" practiceEventType}}>{{practiceEventType.name}}</button>
	            	{{/if}}

	            	{{#if isRegularPractice}}
	            	<button class="btn gd-btn toggle-event-type {{if teamEvent.eventType.isRegularPractice 'active'}}" {{action "changeEventType" practiceEventType}}>{{practiceEventType.name}}</button>
	            	{{/if}}

	            	<button class="btn gd-btn toggle-event-type {{if teamEvent.eventType.isPracticeGame 'active'}}" {{action "changeEventType" practiceGameEventType}}>{{practiceGameEventType.name}}</button>
	            	<span class="event-type-helper pull-right">Preseason/Practice games are included in Practice averages only</span>

	            	{{else}}
	            	<button class="btn gd-btn toggle-event-type {{if teamEvent.eventType.isGame 'active'}}" {{action "changeEventType" gameEventType}}>{{gameEventType.name}}</button>
	            	<button class="btn gd-btn toggle-event-type {{if teamEvent.eventType.isRegularPractice 'active'}}" {{action "changeEventType" practiceEventType}}>{{practiceEventType.name}}</button>
	            	<button class="btn gd-btn toggle-event-type {{if teamEvent.eventType.isPracticeGame 'active'}}" {{action "changeEventType" practiceGameEventType}}>{{practiceGameEventType.name}}</button>
	            	<span class="event-type-helper pull-right">Preseason/Practice games are included in Practice averages only</span>
	            	{{/if}}
	          	</div>
	        </div>
	        {{/unless}}
	        <div class='form-group row'>
	        	<div class='col-sm-2 {{if validationErrors.teamEvent.date 'has-error'}}'>    
	            	<label>Event Date</label>
                    {{#if isAddingPlatoon}}
                    <span class="read-only-event-attr">{{teamEvent.dateForPicker}}</span>
                    {{else}}
                    {{bs-datetimepicker date=teamEvent.dateForPicker format='MM/DD/YYYY'}}
                    {{/if}}
	          	</div>
	          	<div class='col-sm-10 {{if validationErrors.teamEvent.name 'has-error'}}'>    
	            	<label>Event Name</label>
	            	{{input class="form-control" type="text" value=teamEvent.name}}

	            	{{!--else}}

	            	{{auto-complete-combobox class="form-control" content=teamEvents
	            	optionLabelPath="eventLabel"
					optionValuePath="id" 
					onSelection="changeTeamEvent" 
					onNewValue="changeTeamEventName"
					prompt="Pick event"}}

	            	{{/if--}}
	          	</div>
	        </div>
	        {{#if teamEvent.eventType.isMatch}}
	        <div class='form-group row'>
	        	<div class='col-sm-6 {{if validationErrors.awayTeam 'has-error'}}'>
	        		{{#if teamEvent.eventType.isPracticeGame}}
	        		<label>Team 1</label>
	        		{{auto-complete-combobox class="form-control" content=teams
	            	optionLabelPath="shortName"
					optionValuePath="id" 
					selection=awayTeam 
					onNewValue="setPracticeGameTeam1"
					prompt="Pick team"}}
	        		{{else}}    
	            	<label>Away Team</label>
					{{auto-complete-combobox class="form-control" content=teams
	            	optionLabelPath="shortName"
					optionValuePath="id" 
					selection=awayTeam 
					onNewValue="addAwayTeam"
					prompt="Pick team"}}
					{{/if}}
	          	</div>
	          	<div class='col-sm-3'>    
	            	<label>Points Scored</label>
	            	{{#if teamEvent.eventType.isPracticeGame}}
	            	{{input class="form-control" type="number" value=teamEvent.practiceGameTeam1Score}}
	            	{{else}}
	            	{{input class="form-control" type="number" value=awayScore}}
	            	{{/if}}
	          	</div>
	          	<div class='col-sm-3'>    
	            	<label>Kickoff Time</label>
	            	{{bs-datetimepicker date=teamEvent.time format='hh:mm a' useCurrent=false}}
	          	</div>
	        </div>
	        <div class='form-group row'>
	        	<div class='col-sm-6 {{if validationErrors.homeTeam 'has-error'}}'>
	        		{{#if teamEvent.eventType.isPracticeGame}}
	        		<label>Team 2</label>
	        		{{auto-complete-combobox class="form-control" content=teams
	            	optionLabelPath="shortName"
					optionValuePath="id" 
					selection=homeTeam 
					onNewValue="setPracticeGameTeam2"
					prompt="Pick team"}}
	        		{{else}}    
	            	<label>Home Team</label>
					{{auto-complete-combobox class="form-control" content=teams
	            	optionLabelPath="shortName"
					optionValuePath="id" 
					selection=homeTeam 
					onNewValue="addHomeTeam"
					prompt="Pick team"}}
					{{/if}}
	          	</div>
	          	<div class='col-sm-3'>    
	            	<label>Points Scored</label>
	            	{{#if teamEvent.eventType.isPracticeGame}}
	            	{{input class="form-control" type="number" value=teamEvent.practiceGameTeam2Score}}
	            	{{else}}
	            	{{input class="form-control" type="number" value=homeScore}}
	            	{{/if}}
	          	</div>
	          	<div class='col-sm-3'>    
	            	<label>Location/Stadium</label>
	            	{{input class="form-control" type="text" value=teamEvent.location}}
	          	</div>
	        </div>
	        {{else}}
	        <div class='form-group row'>
	        	<div class='col-sm-12'>
	        		<label>Description</label>
	            	{{input class="form-control" type="text" value=teamEvent.description}}
	        	</div>
	        </div>
	        {{/if}}
	        {{#unless isEdit}}
	        <div class='form-group row'>
	        	<div class='col-sm-12'>
	        		{{#radio-button name="createCutupMode" value=true groupValue=session.teamConfiguration.createCutupForEachPlatoon}}<strong>We will grade separate game films for each different platoon (offense, defense, special teams)</strong>{{/radio-button}}
	          	</div>
	          	<div class='col-sm-12'>    
	            	{{#radio-button name="createCutupMode" value=false groupValue=session.teamConfiguration.createCutupForEachPlatoon}}<strong>We will grade one game film that shows all platoons (offense, defense, special teams)</strong>{{/radio-button}}
	          	</div>
	        </div>
	        {{/unless}}
	        <div class="add-new-game-controls">
	        	<button class="btn gd-btn" {{action "cancelEventSetup"}}>cancel / don't save</button>
	        	{{!--#if displayedOnDesktopBrowser}}
	        	{{#if isEdit}}
	        	<button class="btn gd-btn" {{action "validateAndSaveEvent"}}>save</button>
	        	{{else}}
	        	<button class="btn gd-btn" {{action "validateAndSaveEvent" true}}>save / upload data now</button>
	        	<button class="btn gd-btn" {{action "validateAndSaveEvent"}}>save / upload data later</button>
	        	{{/if}}
	        	{{else}}
	        	<button class="btn gd-btn" {{action "validateAndSaveEvent"}}>save</button>
	        	{{/if--}}
	        	<button class="btn gd-btn" {{action "validateAndSaveEvent"}}>save</button>
	        </div>
        </div>
    </div>
</div>