{{page-head breadcrumbs=this.breadcrumbs thisPage=this.thisPage}}
<div class="upload-cutup-data">
	<div class="message">
        <div class="alert alert-danger" role="alert">
            <p>You must fill out required fields.</p>
        </div>
    </div>
    <div class="section-main">
        <div class='container-fluid form-container'>
	        <div class='form-group row'>
	        	<div class='col-sm-12 {{if errors.teamCutup 'has-error'}}'>    
	            	<label>Upload play data for this event:</label>
	            	{{#if newTeamCutup}}
	            	<span class="read-only-cutup-label">{{newTeamCutup.eventLabel}}</span>
	            	{{else}}
					{{view "select" class="form-control" content=model
	            	optionLabelPath="content.eventLabel"
					optionValuePath="content.id" 
					selection=teamCutup
					prompt="Pick event"}}
					{{/if}}
	          	</div>
	        </div>

	        <div class='form-group row'>
	        	<div class="col-sm-12">
	        		<span class="video-data-helper-text text-justify">
	        			Select all rows <strong>including the header row</strong> in your video system (DV Sport, Hudl, etc), copy it and paste directly into the table below. <br/>
	        			GoDeep will identify five required fields - play no., quarter, down, distance and field position - and confirm Header location before saving. Columns must be present, but can be empty.<br/>
	        			<span class="hint">Note: Your column selections will be saved in GoDeep, so if you paste data with the same format each time you will not need to repeat this step.</span>
	        		</span>
	        	</div>
	        </div>
	        <div class='form-group row required-fields-form'>
	        	<div class="col-sm-2 {{if errors.playNumberHeader 'has-error'}}">
	        		<label>Play Number</label>
	        		{{view "select" class="form-control" 
        				content=tableHeaders 
        				selection=playNumberHeader
        				optionLabelPath="content.label"
						optionValuePath="content.value" 
        				prompt=nonValidHeader}}
	        	</div>
	        	<div class='col-sm-2 {{if errors.quarterHeader 'has-error'}}'>
    				<label>Quarter</label>
    				{{view "select" class="form-control" 
	    				content=tableHeaders 
	    				selection=quarterHeader 
	    				optionLabelPath="content.label"
						optionValuePath="content.value" 
	    				prompt=nonValidHeader}}
    			</div>
    			<div class='col-sm-2 {{if errors.downHeader 'has-error'}}'>
    				<label>Down</label>
    				{{view "select" class="form-control" 
	    				content=tableHeaders 
	    				selection=downHeader 
	    				optionLabelPath="content.label"
						optionValuePath="content.value" 
						prompt=nonValidHeader}}
    			</div>
    			<div class='col-sm-2 {{if errors.distanceHeader 'has-error'}}'>
    				<label>Distance</label>
    				{{view "select" class="form-control" 
	    				content=tableHeaders 
	    				selection=distanceHeader 
	    				optionLabelPath="content.label"
						optionValuePath="content.value" 
						prompt=nonValidHeader}}
    			</div>
    			<div class='col-sm-2 {{if errors.yardLineHeader 'has-error'}}'>
	        		<label>Field Pos</label>
    				{{view "select" class="form-control" 
	    				content=tableHeaders 
	    				selection=yardLineHeader 
	    				optionLabelPath="content.label"
						optionValuePath="content.value" 
						prompt=nonValidHeader}}
    			</div>
	        </div>
	        <div class='form-group row'>
	        	<div class="col-sm-12">
	        		{{hands-on-table firstRowHeaders=true onFirstRowChanged="videoCutupHeadersChanged" onDidBuildTableOutputData="saveUploadData"}}
	        	</div>
	        </div>
	        <div class="btn-row upload-cutup-data-controls">
	        	<button class="btn" {{action "cancelUpload"}}>cancel</button>
	        	<button class="btn save-uploaded-data" {{action 'buildVideoCutupData'}}>save / upload data</button>
	        </div>

	        {{!--<div class='form-group row'>
	        	<div class='col-sm-10 file-uploader-container {{if errors.file 'has-error'}}'>    
	            	{{#pl-uploader for="browse-play-data" extensions="csv" when-queued="setVideoCutupData"}}
	            		{{input class="form-control" type="text" value=fileName}}
	            	{{/pl-uploader}}
	            	<label class="upload-hint">Select CSV play data file from video system for upload</label>
	          	</div>
	          	<div class='col-sm-2'>
	          		<button id="browse-play-data" class="btn">browse for file</button>
	          	</div>
	        </div>
	        <div class='form-group row'>
	        	<div class='col-sm-12 btn-row'>
	        		<button class="btn" {{action "uploadVideoCutupData"}}>upload play data</button>
	        	</div>
	        </div>
	        <hr />
	        <div class='form-group row'>
	        	<div class='col-sm-12'>    
	            	<label>Play Data Status</label>
	            	{{textarea class="form-control" rows="10" value=uploadStatus}}
	          	</div>
	        </div>
	        <div class="btn-row upload-cutup-data-controls">
	        	<button class="btn" {{action "cancelUpload"}}>cancel</button>
	        	<button class="btn save-uploaded-data" {{action "saveUploadedData" true}}>save uploaded data</button>
	        	<button class="btn" {{action "enterData" true}}>enter data manually</button>
	        </div>--}}
        </div>
    </div>
</div>