<div id="event-list-dialog">
{{#page-modal title="Select Event to Grade Offline" ok='removeModal' okText='ok' close='removeModal' closeText='cancel'}}
	<div class='coach-help-text'>
	    <p>Select the event that you would like to grade while you are offline. If you do not see the event in this list, please contact one of your team admins so they can set it up. (Admins: {{teamAdminUsers}})</p>
	</div>
	<div class='container-events-offline'>
		{{#if isRecoveringData}}
		<div class="loading-message">
		    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
		    <span class="msg">Recovering data to grade offline ...</span>
		</div>
		{{else}}
	    {{#if gamePeriods.firstObject.events.length}}
	        <div class="event-titles games">
	            <label>Games</label>
	        </div>
	        <div class="event-list pull-left games">
	            {{#each gamePeriod in gamePeriods}}
	            <span class="season-separator">{{gamePeriod.year}}</span>
	            {{#each game in gamePeriod.events}}
	            <div class="event">
	                <div class="title-wrap">
	                    <span class="event-name">{{game.gameName}}</span>
	                </div>
	                <button class="btn btn-gd-menu btn-gd-menu-alt pull-right" {{action "selectTeamEvent" game}}>select</button>
	            </div>
	            {{else}}
	            <span>No games were recorded yet.</span>
	            {{/each}}
	            {{/each}}
	        </div>
	        <div class="event-titles practices">
	            <label>Practices</label>
	        </div>
	        <div class="event-list pull-right practices">
	            {{#each practicePeriod in practicePeriods}}
	            <span class="season-separator">{{practicePeriod.year}}</span>
	            {{#each practice in practicePeriod.events}}
	            <div class="event">
	                <div class="title-wrap">
	                    <span class="event-name">{{practice.name}}</span>
	                </div>
	                <button class="btn btn-gd-menu btn-gd-menu-alt pull-right" {{action "selectTeamEvent" practice}}>select</button>
	            </div>
	            {{else}}
	            <span>No practices or practice games have been entered yet.</span>
	            {{/each}}
	            {{/each}}
	        </div>
	    {{else}}
	        loading events ...
	    {{/if}}
	    {{/if}}
	</div>
{{/page-modal}}
</div>
