<div class="admin-configurations">
    <div class='row header-controls'>
        <div class='col-sm-6'>
            <button class="btn " {{action 'showPositionGroup'}} >Positions and Groups</button>
        </div>
        <div class='col-sm-6'>
            <button class="btn" {{action 'showGrading'}} >Grading</button>
        </div>
    </div>
    <div class="section-main">
        {{outlet}}
    </div>
</div>