<div class="grading-container">
    <div class='form-group row title'>
        <h3>Editing Grading</h3>
        <span>Grading categories cannot be changed after you have entered grades in the system.</span>
    </div>
    <div class='container-fluid form-container'>
        <form {{action "save" model on="submit"}}>
            <fieldset>
                <!--
                <div class='form-group row {{if errors.model.gradeBase.firstObject 'has-error'}}'>
                    <div class='form-group col-xs-10'>
                        <label class="control-label">Base grade</label>
                        <br/>
                        <label class="control-label info">&#40;grade player receives if not given a plus or minus on the play&#41;</label>
                    </div>
                    <div class='form-group col-xs-2'>
                        {{input action="save" onEvent="keyPress"  class="form-input form-control" disabled=disableFrom type="text" value=model.gradeBase}}
                    </div>
                </div>
                <hr>
                <div class='form-group row {{if errors.model.gradeIncrement.firstObject 'has-error'}}'>
                    <div class='form-group col-xs-10'>
                        <label class="control-label">Increment value</label>
                        <br/>
                        <label class="control-label info">&#40;number of points added to the grade if plus is clicked, or subtracted if minus is clicked&#41;</label>
                    </div>
                    <div class='form-group col-xs-2'>
                        {{input action="save" onEvent="keyPress"  class="form-input form-control" disabled=disableFrom type="text" value=model.gradeIncrement}}
                    </div>
                </div>
                <hr>
                <h4>Category Labels</h4>
                -->
                <div class="form-group row {{if errors.model.numGradeCategories.firstObject 'has-error'}}">
                    <label class="control-label col-xs-2">Number of Categories
                        {{#if errors.model.numGradeCategories.firstObject}}
                            <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                        {{/if}}
                    </label>
                    <div class="col-xs-2">
                        {{view "select" class="form-control" content=numOfAllowedGradeCategories selection=model.numGradeCategories disabled=disableFrom}}
                    </div>
                </div>
                <div class="form-group row {{if errors.model.gradeCat1Label.firstObject 'has-error'}}">
                    <label class="control-label col-xs-2">Category 1
                        {{#if errors.model.gradeCat1Label.firstObject}}
                            <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                        {{/if}}
                    </label>
                    <div class="col-xs-10">
                        {{input action="save" onEvent="keyPress" class="form-control" disabled=disableFrom type="text" value=model.gradeCat1Label}}
                    </div>
                </div>
                {{#if twoCategories}}
                <div class="form-group row {{if errors.model.gradeCat2Label.firstObject 'has-error'}}">
                    <label class="control-label col-xs-2">Category 2
                        {{#if errors.model.gradeCat2Label.firstObject}}
                            <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                        {{/if}}
                    </label>
                    <div class="col-xs-10">
                        {{input action="save" onEvent="keyPress" class="form-control" disabled=disableFrom type="text" value=model.gradeCat2Label}}
                    </div>
                </div>
                {{/if}}
                {{#if threeCategories}}
                <div class="form-group row {{if errors.model.gradeCat2Label.firstObject 'has-error'}}">
                    <label class="control-label col-xs-2">Category 2
                        {{#if errors.model.gradeCat2Label.firstObject}}
                            <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                        {{/if}}
                    </label>
                    <div class="col-xs-10">
                        {{input action="save" onEvent="keyPress" class="form-control" disabled=disableFrom type="text" value=model.gradeCat2Label}}
                    </div>
                </div>
                <div class="form-group row {{if errors.model.gradeCat3Label.firstObject 'has-error'}}">
                    <label class="control-label col-xs-2">Category 3
                        {{#if errors.model.gradeCat3Label.firstObject}}
                            <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                        {{/if}}
                    </label>
                    <div class="col-xs-10">
                        {{input action="save" onEvent="keyPress" class="form-control" disabled=disableFrom type="text" value=model.gradeCat3Label}}
                    </div>
                </div>
                {{/if}}
                <div class="row-container">
                    {{#unless disableFrom}}
                    <div>
                        <button type="button" class="btn btn-cancel" {{action 'cancel'}}>Cancel</button>
                        <input type="submit" class="btn btn-primary" disabled={{disableSubmitBtn}} value="Save">
                    </div>
                    {{/unless}}
                </div>
            </fieldset>
        </form>
    </div>
</div>
