<div class="player-eval-container">
    <div class='container-fluid form-container'>
        <div class='row'>
          <div class='row col-sm-8 form-group'>
              <label class="control-label col-sm-2">Position</label>
              <div class="col-sm-7">
              {{x-select value=this.position
                  content=this.positionTypes
                  action="positionChanged"
                  optionLabelPath="content.name"
                  optionValuePath="content.id"
                  prompt="Pick a position" class="form-control"
              }}
              </div>
          </div>
          {{#if position}}
          <div class='row form-group col-sm-4'>
              <button class="btn header-btn" {{action 'targetScoreSetup' 2}} >target score setup</button>
          </div>
          {{/if}}
        </div>
          {{#if position}}
          <div class="row form-group header-labels">
              <label class="control-label col-sm-8">
                <span>Section {{criteryType.id}}: {{criteryType.name}}</span>
                <span class='edit-text'>Edit evaluation criteria</span>
              </label>
              <label class="control-label col-sm-2">Importance</label>
              <label class="control-label col-sm-2 target-label" {{action 'showTargetScoreInfo'}}>Target Score</label>
          </div>
          {{/if}}
    </div>
    {{outlet}}
    {{#if position}}
    <div>
      <div class='form-group row footer-btn'>
          <button type="button" class="btn new-btn col-sm-2" {{action 'new'}}>add new criteria</button>
      </div>
    </div>
    <div class='row flex eval-nav-options'>
        <div class="eval-nav-left">
            <button class='btn' {{action 'savePrev'}}>save / prev section</button>
        </div>
        <div class="eval-nav-center">
            <button class='btn' {{action 'cancel'}}>cancel</button>
        </div>
        <div class="eval-nav-right">
            <button class='btn' {{action 'saveNext'}}>save / next section</button>
        </div>
    </div>
    {{/if}}
</div>
