<div class="positions-and-groups">
    <div class="container-fluid form-container">
        <div class='line row {{if isOffensivesExpanded 'expanded-line'}}'>
            <div class="expand-container form-group">
                <div class='col-xs-12 expand-box' {{action "toggleExpandOffensives"}}>
                    <span class="bowtie {{if isOffensivesExpanded 'expanded'}}"></span>
                    <span class="col-name">Offense</span>
                </div>
            </div>
            {{#if isOffensivesExpanded}}
                <div class='position-group-container'>
                    {{#each positionGroup in offensives}}
                        <div id="pos-group-{{positionGroup.id}}">
                            <div class="form-group row bootom-row">
                                <div class="col-xs-10">
                                    <div class="form-group row row-container">
                                        <label class="control-label col-xs-4">{{positionGroup.name}}</label>
                                        <div class="col-xs-8 positions">
                                            {{#each teamPositionType in positionGroup.teamPositionTypes}}
                                                <div class='position-container'>
                                                    <label>{{teamPositionType.positionType.shortName}}</label>
                                                </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                                <div class='controls-container col-xs-2 '>
                                    <div class='controls'>
                                        <button class="modify-team-position-group" {{action 'edit' positionGroup}}>
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit Positions and Group"></span>
                                        </button>
                                        <button class="modify-team-position-group" {{action 'delete' positionGroup}}>
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete Positions and Group"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    {{/each}}
                    <div class="new-btn-container">
                        <div>
                        <button type="button" class="btn" {{action 'new' platoonTypeOffense}}>Add New Group</button>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
        <div class='line row'>
            <div class="expand-container form-group">
                <div class='flex col-xs-12 expand-box' {{action "toggleExpandDefenses"}}>
                    <span class="bowtie {{if isDefensesExpanded 'expanded'}}"></span>
                    <span class="col-name">Defense</span>
                </div>
            </div>
            {{#if isDefensesExpanded}}
                <div class='position-group-container'>
                    {{#each positionGroup in defenses}}
                        <div id="pos-group-{{positionGroup.id}}">
                            <div class="form-group row bootom-row">
                                <div class="col-xs-10">
                                    <div class="form-group row row-container">
                                        <label class="control-label col-xs-4">{{positionGroup.name}}</label>
                                        <div class="col-xs-8 positions">
                                            {{#each teamPositionType in positionGroup.teamPositionTypes}}
                                                <div class='position-container'>
                                                    <label>{{teamPositionType.positionType.shortName}}</label>
                                                </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                                <div class='controls-container col-xs-2 '>
                                    <div class='controls'>
                                        <button class="modify-team-position-group" {{action 'edit' positionGroup}}>
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit Positions and Group"></span>
                                        </button>
                                        <button class="modify-team-position-group" {{action 'delete' positionGroup}}>
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete Positions and Group"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    {{/each}}
                    <div class="new-btn-container">
                        <div>
                        <button type="button" class="btn" {{action 'new' platoonTypeDefense}}>Add New Group</button>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
        <div class='line line-bottom row {{if isSpecialTeamsExpanded 'expanded-line-bottom'}}'>
            <div class="expand-container form-group">
                <div class='flex col-xs-12 expand-box' {{action "toggleExpandSpecialTeams"}}>
                    <span class="bowtie {{if isSpecialTeamsExpanded 'expanded'}}"></span>
                    <span class="col-name">Special Teams</span>
                </div>
            </div>
            {{#if isSpecialTeamsExpanded}}
                <div class='position-group-container'>
                    {{#each positionGroup in specialTeams}}
                        <div id="pos-group-{{positionGroup.id}}">
                            <div class="form-group row bootom-row">
                                <div class="col-xs-10">
                                    <div class="form-group row row-container">
                                        <label class="control-label col-xs-4">{{positionGroup.name}}</label>
                                        <div class="col-xs-8 positions">
                                            {{#each teamPositionType in positionGroup.teamPositionTypes}}
                                                <div class='position-container'>
                                                    <label>{{teamPositionType.positionType.shortName}}</label>
                                                </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                                <div class='controls-container col-xs-2 '>
                                    <div class='controls'>
                                        <button class="modify-team-position-group" {{action 'edit' positionGroup}}>
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit Positions and Group"></span>
                                        </button>
                                        <button class="modify-team-position-group" {{action 'delete' positionGroup}}>
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete Positions and Group"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    {{/each}}
                    <div class="new-btn-container">
                        <div>
                        <button type="button" class="btn" {{action 'new' platoonTypeSTeams}}>Add New Group</button>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>
