<div class="admin-team">
    <div class="section-main">
        <div class="message">
            <div class="alert alert-danger" role="alert">
                <p>Your inputs have been saved.</p>
            </div>
        </div>
        <div class='container-fluid'>
            <div class='row title'>
                <div class='col-sm-12'>
                    <button class="btn edit-team" {{action 'edit' model}}>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit Team Information"></span>
                    </button>
                    <h3>{{model.name}}</h3>
                </div>
            </div>
            <div class='row'>
                <label class='col-sm-3'>Short Name</label>
                <span class='col-sm-9'>{{model.shortName}}</span>
            </div>
            <div class='row'>
                <label class='col-sm-3'>Mascot / Team Name</label>
                <span class='col-sm-9'>{{model.mascot}}</span>
            </div>
            <div class='row'>
                <label class='col-sm-3'>Address</label>
                <div class='row col-sm-9'>
                    <span class='col-sm-4'>{{model.street1}}</span>
                    <span class='col-sm-8'>{{model.street2}}</span>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-3'></div>
                <div class='col-sm-9 row'>
                    <span class='col-sm-2'>{{model.city}}</span>
                    <span class='col-sm-2'>{{model.state.name}}</span>
                    <span class='col-sm-8'>{{model.postal}}</span>
                </div>
            </div>
            <div class='row'>
                <label class='col-sm-3'>Office Phone</label>
                <span class='col-sm-9'>{{model.phoneMain}}</span>
            </div>
            <div class='row'>
                <label class='col-sm-3'>Fax</label>
                <span class='col-sm-9'>{{model.phoneFax}}</span>
            </div>
            <div class='row'>
                <label class='col-sm-3'>Abbreviation</label>
                <span class='col-sm-9'>{{model.abbreviation}}</span>
            </div>
            <div class='row'>
                <label class='col-sm-3'>Conference</label>
                <span class='col-sm-9'>{{model.conference.name}}</span>
            </div>
            <div class='row'>
                <label class='col-sm-3'>Home Stadium</label>
                <span class='col-sm-9'>{{model.homeStadium}}</span>
            </div>
            <div class='row'>
                <label class='col-sm-3'>Playing Surface</label>
                <span class='col-sm-9'>{{model.surfaceType.name}}</span>
            </div>
            <div class='row'>
                <label class='col-sm-3'>Film System</label>
                <span class='col-sm-9'>{{model.filmSystem}}</span>
            </div>
        </div>
    </div>
</div>