<div class="manage-users">
    <div class="row col-sm-12 header-controls">
        <button class="btn" {{action 'add'}}>add new user</button>
    </div>
    <div class="row col-sm-12 users-container">
        <table class="table">
		    <thead>
                <tr>
                    <th class="col-sm-5">User</th>
		            <th class="col-sm-5">Role</th>
		            <th class="col-sm-2"></th>
		        </tr>
		    </thead>
		    <tbody>
                {{#each user in users}}
                    <tr id='user-id-{{user.id}}'>
                        <td>{{user.fullName}}</td>
                        <td>{{user.role.name}}</td>
                        <td>
                            <div class='user-controls'>
                                <button class="btn-modify-user" {{action 'edit' user}}>
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit user"></span>
                                </button>
                                <button class="btn-modify-user" disabled={{is-current-user user.id session.user.id}} {{action 'delete' user}}>
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete user"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                {{/each}}
		    </tbody>
		</table>
	</div>
    <div class="section-main">
        {{outlet}}
    </div>
</div>