<div class='right-controls'>
  <div class="btn {{if isUpdatingProspectSeasonStats 'btn-loading'}}" {{action 'refreshProspectRanking'}}>
      <span class='text'>refresh</span>
      <span class="glyphicon glyphicon-refresh"></span>
  </div>
</div>
<div class='right-controls fixed prospect-controls'>
  <div class="season-selector">
      {{view "select" class="form-control" content=formattedSeasons
          optionValuePath="content.value"
          optionLabelPath="content.label"
          selection=season}}
  </div>
</div>
<div class="ranking-index col-sm-12">
    <div class='container-fluid'>
        <div class="row flex header-container">
            <div class="column column1-header header">
                <div class='caption'><span>Player Name</span></div>
            </div>
            <div class="column column2 header">
                <div class="rotate"><span>Home State</span></div>
            </div>
            <div class="column column3 header">
                <div class="rotate"><span>Current Level</span></div>
            </div>
            <div class="column column4 header">
                <div class="rotate"><span>Current Pos</span></div>
            </div>
            <div class="column column4 header">
                <div class="rotate"><span>Projected Pos</span></div>
            </div>
            <div class="column column5 header">
                <div class="rotate"><span>Rank Overall</span></div>
            </div>
            <div class="column column6 header">
                <div class="rotate"><span>Rank at Proj Pos</span></div>
            </div>
            <div class="column column8 header">
                <div class="rotate"><span>Target Match</span></div>
            </div>
            <div class="column column9 header">
                <div class="rotate"><span>Overall Eval Avg</span></div>
            </div>
            <div class="column column10 header">
                <div class="rotate"><span>Major Factors</span></div>
            </div>
            <div class="column column11 header">
                <div class="rotate"><span>Critical Factors</span></div>
            </div>
            <div class="column column12 header">
                <div class="rotate"><span>Position Skills</span></div>
            </div>
        </div>
        <div class='data-container'>
          {{#each ranking in allRank}}
              <div class="row flex {{if season.isExpanded 'expanded'}}">
                  <div class="row-container">
                      <div class="row-expanded flex">
                          <div class="column column1" {{action 'showProspect' ranking.teamProspectAssignment}}>
                              <span>{{ranking.teamProspect.shortNameInitialLast}}</span>
                          </div>
                          <div class="column column2">
                              <span>{{ranking.teamProspect.state.name}}</span>
                          </div>
                          <div class="column column3">
                              <span>{{ranking.teamProspect.level.shortName}}</span>
                          </div>
                          <div class="column column4">
                              <span>{{ranking.teamProspectAssignment.currentPosition.shortName}}</span>
                          </div>
                          <div class="column column4">
                              <span>{{ranking.teamProspectAssignment.projectedPosition.shortName}}</span>
                          </div>
                          <div class="column column5">
                              <span>{{no-value-format ranking.rankOverall}}</span>
                          </div>
                          <div class="column column6">
                              <span>{{no-value-format ranking.rankAtPost}}</span>
                          </div>
                          <div class="column column8">
                              <span>{{no-value-format ranking.targetMatch}}{{if ranking.targetMatch '%'}}</span>
                          </div>
                          <div class="column column9">
                              <span>{{no-value-format ranking.overallEvalAvg}}</span>
                          </div>
                          <div class="column column10">
                              <span>{{no-value-format ranking.majorFactorsEvalAvg}}</span>
                          </div>
                          <div class="column column11">
                              <span>{{no-value-format ranking.criticalFactorsEvalAvg}}</span>
                          </div>
                          <div class="column column12">
                              <span>{{no-value-format ranking.positionSkillsEvalAvg}}</span>
                          </div>
                      </div>
                  </div>
              </div>
          {{else}}
          <div class="loading-message">
              <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
              <span class="msg">Loading prospect list ...</span>
          </div>
          {{/each}}
        </div>
    </div>
</div>
