<!-- <div>
  <button class="btn {{if isUpdatingSeasonTotals 'btn-loading'}}" {{action "dashboardUpdateSeasonTotals"}}>refresh rankings<span class="glyphicon glyphicon-refresh"></span></button>
</div> -->
<div class="right-controls">
  <div class="btn {{if isUpdatingPlayerSeasonStats 'btn-loading'}}" {{action 'refreshPlayerRanking'}}>
      <span class='text'>refresh</span>
      <span class="glyphicon glyphicon-refresh"></span>
  </div>
</div>
<div class='right-controls fixed roster-controls'>
  <div class='rank-based'>
    <div class="rank-based-selection">
      {{x-select
        value=this.rankBasedValue
        id="reportType"
        content=rankBased
        optionLabelPath="content.name"
        optionValuePath="content.id"
        class="form-control" }}
    </div>
    <label class="rank-based-label">Rank Based On:</label>
  </div>
  <div class="season-selector">
      <label class="season-selector-label">Season:</label>
      {{view "select" class="form-control" content=formattedSeasons
          optionValuePath="content.value"
          optionLabelPath="content.label"
          selection=season}}
  </div>
</div>
<div class="ranking-index col-sm-12">
    <div class='container-fluid'>
        <div class="row flex header-container">
            <div class="column column1-header header">
                <div class='caption'><span>Player Name</span></div>
            </div>
            <div class="column column2 header">
                <div class="rotate"><span>Position</span></div>
            </div>
            <div class="column column3 header">
                <div class="rotate"><span>Rank Overall</span></div>
            </div>
            <div class="column column4 header">
                <div class="rotate"><span>Rank at Position</span></div>
            </div>
            <div class="column column5 header">
                <div class="rotate"><span>Game Grade Avg</span></div>
            </div>
            <div class="column column6 header">
                <div class="rotate"><span>No of Plays</span></div>
            </div>
            <div class="column column8 header">
                <div class="rotate"><span>Target Match</span></div>
            </div>
            <div class="column column9 header">
                <div class="rotate"><span>Overall Eval Avg</span></div>
            </div>
            <div class="column column10 header">
                <div class="rotate"><span>Major Factors</span></div>
            </div>
            <div class="column column11 header">
                <div class="rotate"><span>Critical Factors</span></div>
            </div>
            <div class="column column12 header">
                <div class="rotate"><span>Position Skills</span></div>
            </div>
        </div>
        <div class='data-container'>
          {{#each ranking in allRank}}
              <div class="row flex">
                  <div class="row-container">
                      <div class="row-expanded flex">
                          <div class="column column1" {{action 'showPlayer' ranking.teamPlayerAssignment}}>
                              <span>{{ranking.teamPlayer.shortNameInitialLast}}</span>
                          </div>
                          <div class="column column2">
                              <span>{{ranking.teamPlayerAssignment.position1.shortName}}</span>
                          </div>
                          <div class="column column3">
                              <span>{{rank-selector ranking this.rankBasedValue}}</span>
                          </div>
                          <div class="column column4">
                              <span>{{rank-at-post-selector ranking this.rankBasedValue}}</span>
                          </div>
                          <div class="column column5">
                              <span>{{no-value-format ranking.gameGradeAvg}}</span>
                          </div>
                          <div class="column column6">
                              <span>{{no-value-format ranking.numPlays}}</span>
                          </div>
                          <div class="column column8">
                              <span>{{no-value-format ranking.targetMatch}}{{if ranking.targetMatch '%'}}</span>
                          </div>
                          <div class="column column9">
                              <span>{{no-value-format ranking.overallEvalAvg}}</span>
                          </div>
                          <div class="column column10">
                              <span>{{no-value-format ranking.majorFactorsEvalAvg}}</span>
                          </div>
                          <div class="column column11">
                              <span>{{no-value-format ranking.criticalFactorsEvalAvg}}</span>
                          </div>
                          <div class="column column12">
                              <span>{{no-value-format ranking.positionSkillsEvalAvg}}</span>
                          </div>
                      </div>
                  </div>
              </div>
          {{else}}
          <div class="loading-message">
              <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
              <span class="msg">Loading player list ...</span>
          </div>
          {{/each}}
        </div>
    </div>
</div>
