<div id="edit-team-report-dialog">
{{#page-modal title='Save Changes' ok='goToEditReport' okText='save' close='removeModal' closeText='cancel'}}
	<div class='form-group row message {{unless error "hidden"}}'>
        <div class='col-sm-12'>
            <div class="alert alert-danger" role="alert">
                <p>Please provide a name for the report.</p>
            </div>
        </div>
    </div>
    <div class='form-group row'>
        <div class='col-sm-6'>
            {{#radio-button name="editFlag" value="edit" groupValue=editTeamReport}}Update the report with the changes{{/radio-button}}
        </div>
        <div class='col-sm-6'>
            {{#radio-button name="editFlag" value="save" groupValue=editTeamReport}}Create a new report{{/radio-button}}
        </div>
    </div>
	<div class='form-group row'>
        <div class='col-sm-12'>
        	<label>Report Name</label>
            {{input class="form-control" type="text" value=name}}
        </div>
    </div>
    <div class='form-group row'>
    	<div class="col-sm-6">
        	{{input type="checkbox" checked=isPublic}} Make this report available for my team
        </div>
    </div>
{{/page-modal}}
</div>