{{! app/templates/reports/game-group-review.hbs}}
<h1>Player Performance Reports</h1>
<h1 class="report-title">Prepare for Group Game Film Review</h1>

<div class="form-criteria">
    <div class='form-group row message'>
        <div class='col-xs-6'>
            <div class="alert alert-danger {{unless errors.scope "hidden"}}" role="alert">
                <p>Please select search criteria.</p>
            </div>
            <div class="alert alert-danger {{unless errors.season "hidden"}}" role="alert">
                <p>Please limit your time range to a single season. The GoDeep season is from March 1 to the end of February.</p>
            </div>
        </div>
        <div class='col-xs-6'>
            <div class="alert alert-danger {{unless errors.criteria "hidden"}}" role="alert">
                <p>Please select search criteria.</p>
            </div>
        </div>
    </div>
    <div class='form-group row'>
        <div class='col-xs-1 criteria-label'>
            <span>To Review:</span>
        </div>
        <div class='col-xs-5'>
            {{view "select" class="form-control" content=games
              optionLabelPath="content.picklistName"
              optionValuePath="content.id"
              prompt="Pick game"
              selection=selectedGame}}
        </div>
        <div class='col-xs-1 criteria-label'>
            <span>Meeting With:</span>
        </div>
        <div class='col-xs-1 expand-radios-game-review'>
            {{#radio-button name="criteria" value=CRITERIA.platoon groupValue=selectedCriteria}}Platoon{{/radio-button}}
        </div>
        <div class='col-xs-4 adjust-input-to-label'>
            {{view "select" class="form-control" content=platoons
              optionLabelPath="content.name"
              optionValuePath="content.id"
              prompt="Pick platoon"
              selection=selectedPlatoon}}
        </div>
    </div>
    <div class='form-group row'>
        <div class='col-xs-2 time-period-radio'>
            {{#radio-button name="scope" value=SCOPE.event groupValue=selectedScope}}Whole game{{/radio-button}}
        </div>
        <div class='col-xs-2 time-period-radio'>
            {{#radio-button name="scope" value=SCOPE.partGame groupValue=selectedScope}}Plays within game{{/radio-button}}
        </div>
        <div class='col-xs-1 adjust-xsall-select left-select'>
            <label>from</label>
            {{view "select" class="form-control" content=plays selection=initPlay prompt="--"}}
        </div>
        <div class='col-xs-1 adjust-xsall-select'>
            <label>to</label>
            {{view "select" class="form-control" content=plays selection=toPlay prompt="--"}}
        </div>
        <div class='col-xs-1'>
        </div>
        <div class='col-xs-1 expand-radios-game-review'>
            {{#radio-button name="criteria" value=CRITERIA.positionGroup groupValue=selectedCriteria}}Position Group{{/radio-button}}
        </div>
        <div class='col-xs-4 adjust-input-to-label'>
            {{view "select" class="form-control" content=groups
              optionLabelPath="content.name"
              optionValuePath="content.id"
              prompt="Pick position group"
              selection=selectedGroup}}
        </div>
    </div>
    <div class='form-group row'>
        <div class="col-xs-6 upper-border">
        	{{input type="checkbox" checked=conditionRange}} Include "Coaches only" notes too
        </div>
        <div class='col-xs-1'>
        </div>
        <div class='col-xs-1 expand-radios-game-review'>
            {{#radio-button name="criteria" value=CRITERIA.players groupValue=selectedCriteria}}Specific Players{{/radio-button}}
        </div>
        <div class='col-xs-4 adjust-input-to-label'>
            <div class="players-container">
                {{#each assignment in playerAssignmentsForSeason}}
                {{input type="checkbox" checked=assignment.selectedForReport}} {{assignment.teamPlayer.lastName}}, {{assignment.teamPlayer.firstName}} #{{assignment.jerseyNumber}} / {{assignment.position1.shortName}} <br/>
                {{else}}
                <div class="text-center"><em>{{playerAssignmentMessage}}</em></div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="form-separator"></div>
</div>

<div class="report-form-btn">
    <button class="btn" {{action "cancelReport"}}>cancel</button>
    <button class="btn" {{action "runReport"}}>run report</button>
</div>
