{{! app/templates/reports/game-play-call-personnel-analysis.hbs}}
<h1>Player Performance Reports</h1>
<h1 class="report-title">Pick Plays by Play Call, Personnel Group, or other Play Data</h1>

<div class='form-group'>
    <div class='form-group row'>
        <div class='col-xs-6 criteria-label'>
          <span>Get plays with specific personnel group, play call or another play data:</span>
        </div>
      <div class='col-xs-6 hint text-right'>
          <span>Pick info from the data you uploaded from your video system. We'll get plays that match your selection(s)</span>
      </div>
    </div>
    <div class='form-group row message'>
        <div class='col-xs-12'>
            <div class="alert alert-danger {{unless errors.fields 'hidden'}}" role="alert">
                <p>Please select search criteria.</p>
            </div>
        </div>
    </div>
    <div class="data-fields-container">
        {{#each playDataFields as |playDataField index|}}
        {{#if playDataField.inclusion}}
        <div class='form-group row'>
            <div class="col-xs-8">
                <div class='row'>
                    <div class='col-xs-6 text-right'>
                        {{#radio-button name=playDataField.inclusionName value=INCLUSIONS.and groupValue=playDataField.inclusion}}and{{/radio-button}}
                    </div>
                    <div class='col-xs-6 text-left'>
                        {{#radio-button name=playDataField.inclusionName value=INCLUSIONS.or groupValue=playDataField.inclusion}}or{{/radio-button}}
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        <div class='form-group row'>
            <div class="col-xs-8">
                <div class='form-group row data-field-form'>
                    <div class='col-xs-6'>
                      {{view "select" class="form-control" content=fields
                        optionLabelPath="content.key"
                        optionValuePath="content.key"
                        prompt="Pick play data column heading"
                        selection=playDataField.field}}
                    </div>

                    <div class='col-xs-6'>
                      {{view "select" class="form-control" content=playDataField.field.values
                        prompt="Pick column value"
                        selection=playDataField.value}}
                    </div>
                </div>
            </div>
            {{#if playDataField.hasError}}
            <div class='col-xs-4'>
                <span class="glyphicon glyphicon-remove bad-play-field"></span>
            </div>
            {{/if}}
        </div>
        {{/each}}
        <div class='form-group row'>
            <div class='col-xs-12 add-play-field-btn pull-right'>
                <button class="btn" {{action "addPlayDataField"}}>add more</button>
            </div>
        </div>
    </div>
</div>

<div class="form-criteria expand-radios">
    <div class='form-group row message'>
        <div class='col-xs-6'>
            <div class="alert alert-danger {{unless errors.scope "hidden"}}" role="alert">
                <p>Please select search criteria.</p>
            </div>
            <div class="alert alert-danger {{unless errors.season "hidden"}}" role="alert">
                <p>Please limit your time range to a single season. The GoDeep season is from March 1 to the end of February.</p>
            </div>
        </div>
        <div class='col-xs-6'>
            <div class="alert alert-danger {{unless errors.criteria "hidden"}}" role="alert">
                <p>Please select search criteria.</p>
            </div>
        </div>
    </div>
    <div class='form-group row'>
        <div class='col-xs-1 criteria-label'>
            <span>For:</span>
        </div>
        <div class='col-xs-1'>
            {{#radio-button name="scope" value=SCOPE.event groupValue=selectedScope}}Single Game{{/radio-button}}
        </div>
        <div class='col-xs-4 middle-column'>
            {{view "select" class="form-control" content=games
              optionLabelPath="content.picklistName"
              optionValuePath="content.id"
              prompt="Pick game"
              selection=selectedGame}}
        </div>
        <div class='col-xs-1 criteria-label'>
            <span>Look at:</span>
        </div>
        <div class='col-xs-1'>
            {{#radio-button name="criteria" value=CRITERIA.platoon groupValue=selectedCriteria}}Platoon{{/radio-button}}
        </div>
        <div class='col-xs-4 middle-column'>
            {{view "select" class="form-control" content=platoons
              optionLabelPath="content.name"
              optionValuePath="content.id"
              prompt="Pick platoon"
              selection=selectedPlatoon}}
        </div>
    </div>
    <div class='form-group row'>
        <div class='col-xs-1'>
        </div>
        <div class='col-xs-1'>
            {{#radio-button name="scope" value=SCOPE.season groupValue=selectedScope}}Season{{/radio-button}}
        </div>
        <div class='col-xs-4 middle-column'>
            {{view "select" class="form-control" content=seasons
              optionLabelPath="content.name"
              optionValuePath="content.id"
              prompt="Pick season"
              selection=selectedSeason}}
        </div>
        <div class='col-xs-1'>
        </div>
        <div class='col-xs-1'>
            {{#radio-button name="criteria" value=CRITERIA.positionGroup groupValue=selectedCriteria}}Position Group{{/radio-button}}
        </div>
        <div class='col-xs-4 middle-column'>
            {{view "select" class="form-control" content=groups
              optionLabelPath="content.name"
              optionValuePath="content.id"
              prompt="Pick position group"
              selection=selectedGroup}}
        </div>
    </div>
    <div class='form-group row'>
        <div class='col-xs-6'>
            <div class='form-group row'>
                <div class='col-xs-2'>
                </div>
                <div class='col-xs-2 time-period-radio'>
                    {{#radio-button name="scope" value=SCOPE.period groupValue=selectedScope}}Time Period{{/radio-button}}
                </div>
                <div class='col-xs-4'>
                    <label>From</label>
                    {{bs-datetimepicker date=fromDate format='MM/DD/YYYY'}}
                </div>
                <div class='col-xs-4'>
                    <label>To</label>
                    {{bs-datetimepicker date=toDate format='MM/DD/YYYY'}}
                </div>
            </div>
            <div class='form-group row message'>
                <div class='col-xs-12'>
                    <div class="alert alert-danger {{unless errors.filter 'hidden'}}" role="alert">
                        <p>Please select search criteria.</p>
                    </div>
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-xs-2 criteria-label'>
                    <span>Show me:</span>
                </div>
                {{#each eventType in eventTypes}}
                <div class='col-xs-3'>
                    {{#radio-button name="filter" value=eventType.id groupValue=selectedFilter}}{{eventType.name}}{{/radio-button}}
                </div>
                {{/each}}
            </div>
        </div>
        <div class='col-xs-1'>
        </div>
        <div class='col-xs-1'>
            {{#radio-button name="criteria" value=CRITERIA.players groupValue=selectedCriteria}}Specific Players{{/radio-button}}
        </div>
        <div class='col-xs-4 middle-column'>
            <div class="players-container">
                {{#each assignment in playerAssignmentsForSeason}}
                {{input type="checkbox" checked=assignment.selectedForReport}} {{assignment.teamPlayer.lastName}}, {{assignment.teamPlayer.firstName}} #{{assignment.jerseyNumber}} / {{assignment.position1.shortName}} <br/>
                {{else}}
                <div class="text-center"><em>{{playerAssignmentMessage}}</em></div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="form-separator"></div>
</div>

<div class="report-form-btn">
    <button class="btn" {{action "cancelReport"}}>cancel</button>
    <button class="btn" {{action "runReport"}}>run report</button>
</div>
