{{! app/templates/reports/game-performance-report-options.hbs}}
{{report-options-panel
  picklists=model.picklists
  player=model.params.player
  group=model.params.group
  platoon=model.params.platoon
  game=model.params.game
  season=model.params.season
  runReportWith="runReportWith"
  runReportOnInit=model.params.runReport
}}
