{{! app/templates/reports/index.hbs}}
<h1>Player Performance Reports</h1>
<div class='form-group row'>
	<div class='col-xs-4'>
		I want to:
	</div>
	<div class='col-xs-4 text-right'>
		<a class="link" {{action "showModal" "reports/learnMoreReports"}}>learn more</a>
	</div>
</div>
<div class="report-form">
	<div class='form-group row'>
		<div class='col-xs-4 fist-row-button'>
			<button class="btn btn-default btn-report-option" {{action "goToGenerateReport" "gamePerformance"}}>run game reports</button>
	  	</div>
	  	<div class='col-xs-4'>
			<button class="btn btn-default btn-report-option" {{action "goToGenerateReport" "gameGroupReview"}}>prepare for group game film review</button>
	  	</div>
	</div>

	<div class='form-group row'>
	  	<div class='col-xs-4 fist-row-button'>
			<button class="btn btn-default btn-report-option" {{action "goToGenerateReport" "gameDownDistanceAnalysis"}}>analyze performance based on down/distance*</button>
	  	</div>
	  	<div class='col-xs-4'>
			<button class="btn btn-default btn-report-option" {{action "goToGenerateReport" "playerComparison"}}>compare player to other players</button>
	  	</div>
	</div>

	<div class='form-group row'>
		<div class='col-xs-4 fist-row-button'>
			<button class="btn btn-default btn-report-option" {{action "goToGenerateReport" "gameFieldPositionAnalysis"}}>analyze performance based on field position*</button>
	  	</div>
	  	<div class='col-xs-4'>
			<button class="btn btn-default btn-report-option" {{action "goToGenerateReport" "gamePlayCallPersonnelAnalysis"}}>see performance for play call, personnel, etc*</button>
	  	</div>
	</div>

</div>

<div class="pull-left">
	* - requires <a {{action "goToUploadPlayData"}}>play data upload</a>
</div>