<div class="learn-more-popup">
{{#page-modal title="Viewing Performance Reports" ok='removeModal' okText='ok' close='removeModal' closeText='cancel'}}
	{{partial "reports/reports-info"}}
{{/page-modal}}
</div>