<div id="learn-reports-carousel" class="carousel slide" data-interval="false" data-wrap="false" data-title="Viewing Performance Reports">
		<ol class="carousel-indicators">
	    	<li data-target="#learn-reports-carousel" data-slide-to="0" class="active"></li>
	    	<li data-target="#learn-reports-carousel" data-slide-to="1"></li>
	    	<li data-target="#learn-reports-carousel" data-slide-to="2"></li>
	    	<li data-target="#learn-reports-carousel" data-slide-to="3"></li>
		</ol>

		<div class="carousel-inner" role="listbox">

			<div class="info-section item active">
				<p>Pick a report to view.</p>
				<div>
					<img src="assets/img/popup/reports/learn-reports-1.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>First pick a time period for the report.</p>
				<div>
					<img src="assets/img/popup/reports/learn-reports-2.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>Next pick what you want to see in the report.</p>
				<div>
					<img src="assets/img/popup/reports/learn-reports-3.png" />
				</div>
			</div>

			<div class="info-section item">
				<p>This is what a report looks like.</p>
				<div>
					<img src="assets/img/popup/reports/learn-reports-4.png" />
				</div>
			</div>

		</div>

		<a class="left carousel-control" href="#learn-reports-carousel" role="button" data-slide="prev">
    		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    		<span class="sr-only">Previous</span>
  		</a>
  		<a class="right carousel-control" href="#learn-reports-carousel" role="button" data-slide="next">
    		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    		<span class="sr-only">Next</span>
  		</a>

	</div>