<div id="save-team-report-dialog">
{{#page-modal title='Save Report' ok='goToSaveReport' okText='save' close='removeModal' closeText='cancel'}}
	<div class='form-group row message {{unless error "hidden"}}'>
        <div class='col-sm-12'>
            <div class="alert alert-danger" role="alert">
                <p>Please provide a name for the report.</p>
            </div>
        </div>
    </div>
	<div class='form-group row'>
        <div class='col-sm-12'>
        	<label>Report Name</label>
            {{input class="form-control" type="text" value=name}}
        </div>
    </div>
    <div class='form-group row'>
    	<div class="col-sm-6">
        	{{input type="checkbox" checked=isPublic}} Make this report available for my team
        </div>
    </div>
{{/page-modal}}
</div>