{{! app/templates/reports/third-down-performance.hbs}}
<h1>Third Down Performance</h1>
<div class="report-index">
    {{#if reportData}}
        <div class='container-fluid'>
            <div class="row flex">
                <div class="column column1 header">
                    <span>Overall</span>
                    <span class="score">{{this.overallGrade}}</span>
                </div>
                <div class="column column2 header">
                    <span>{{this.cat1Label}}</span>
                    <span class="score">{{this.cat1Grade}}</span>
                </div>
                <div class="column column3 header">
                    <span>{{this.cat2Label}}</span>
                    <span class="score">{{this.cat2Grade}}</span>
                </div>
                <div class="column column4 header">
                    <span>{{this.cat3Label}}</span>
                    <span class="score">{{this.cat3Grade}}</span>
                </div>
            </div>
        </div>
        <div class='container-fixed-table' >
            <div>
                {{high-charts mode=chartMode content=chartData chartOptions=chartOptions theme=theme baseLine=chartBaseLine}}
            </div>
        </div>
        <div class='container-fluid'>
            <div class="row flex">
                <table class="table table-striped">
                    <caption class="description">
                            <span class="description">Play Detail</span>
                            <span class="play-count pull-right">{{this.reportData.length}} plays</span>
                    </caption>
                    <thead>
                    <tr class="tr">
                        <th class="th">Play</th>
                        <th class="th">Qtr</th>
                        <th class="th">Dn/Dst</th>
                        <th class="th">Yd Ln</th>
                        <th class="th">Play Type</th>
                        <th class="th">Pos</th>
                        <th class="th">Mental</th>
                        <th class="th">Technique</th>
                        <th class="th">Effort</th>
                        <th class="th">Overall</th>
                        <th class="th">Hard</th>
                        <th class="th">POA</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each this.reportData as |play|}}
                    <tr class="tr">
                        <td class="td">{{play.playNumber}}</td>
                        <td class="td">{{play.quarter}}</td>
                        <td class="td">{{play.gameDown}}/{{play.gameDistance}}</td>
                        <td class="td">{{play.yardLine}}</td>
                        <td class="td">{{play.playType.name}}</td>
                        <td class="td">{{play.gamePossession}}</td>
                        <td class="td">{{play.cat1Grade}}</td>
                        <td class="td">{{play.cat2Grade}}</td>
                        <td class="td">{{play.cat3Grade}}</td>
                        <td class="td">{{play.avgOverallGrade}}</td>
                        <td class="td">{{play.hard}}</td>
                        <td class="td">{{play.poa}}</td>
                    </tr>
                    {{/each}}
                    <tr></tr>
                    <tr class="tr">
                        <td class="td"></td>
                        <td class="td">Note:</td>
                        <td class="td" colspan="10">[Text of note entered by coach will be displayed here. If coach has allowed player to view the note, it will also be visible on his version of the report.]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {{else}}
        {{message}}
    {{/if}}
</div>
