<div class="report-header-container">
    <div class="col-xs-6">
        <h1 class="report-view-title">
        	{{reportTitle}}
        </h1>
    </div>
    <div class="col-xs-6">
        <div class="report-header {{if compareCriteria 'include-compare-criteria'}} {{unless userCanEditReport 'no-edition'}}">
        	{{#if reportCriteria}}
            <strong>{{reportCriteria}}</strong>
            {{#if compareCriteria}}{{compareCriteria}}<br/>{{/if}}
            {{reportScope}}
            {{/if}}
        </div>
        {{#if teamReport}}
        {{#if userCanEditReport}}
        <button class="btn btn-save-report" {{action "goToCriteriaPageToEdit" teamReport}}>edit report</button>
        {{/if}}
        {{else}}
        {{#if teamReportToBeUpdated}}
        <button class="btn btn-save-report" {{action "displayEditReportDialog" teamReportToBeUpdated}}>save changes</button>
        {{else}}
        <button class="btn btn-save-report" {{action "displaySaveReportDialog"}}>save report</button>
        {{/if}}
        {{/if}}
    </div>
</div>
{{#if reportData}}
<div class="report-index">
	{{!-- Overall Summary --}}
	<div class='container-fluid'>
        <div class="row flex">
            <div class="column column1 header {{if showOneCategory 'one-column'}}{{if showTwoCategories 'two-column'}}">
                <span>
                    {{#if showOneCategory}}
                        {{this.cat1Label}}
                    {{else}}
                        Overall
                    {{/if}}
                </span>
                <span class="score">{{reportData.overalls.avgOverallGrade}}</span>
            </div>
            {{#unless showOneCategory}}
            <div class="column column2 header {{if showTwoCategories 'two-column'}}">
                <span>{{this.cat1Label}}</span>
                <span class="score">{{reportData.overalls.avgCat1Grade}}</span>
            </div>
            {{/unless}}
            {{#if showTwoCategories}}
            <div class="column column3 header two-column">
                <span>{{this.cat2Label}}</span>
                <span class="score">{{reportData.overalls.avgCat2Grade}}</span>
            </div>
            {{/if}}
            {{#if showThreeCategories}}
            <div class="column column3 header">
                <span>{{this.cat2Label}}</span>
                <span class="score">{{reportData.overalls.avgCat2Grade}}</span>
            </div>
            <div class="column column4 header">
                <span>{{this.cat3Label}}</span>
                <span class="score">{{this.reportData.overalls.avgCat3Grade}}</span>
            </div>
            {{/if}}
        </div>
    </div>

    {{!-- Report Chart --}}
    {{#unless isRegularPractice}}
      {{#if noQuarterData}}
      <div class="no-quarter-data-message">
          <span class="glyphicon glyphicon-exclamation-sign"></span>
          <span>Graph can only be displayed if all plays are assigned to a Quarter in the video system play data.
          <br />
          Please check the Quarter column in your play data and <a {{action "goToUploadPlayData"}}>upload the corrected data</a> to see the graph.</span>
      </div>
      {{else}}
        {{#if chartData}}
        {{report-chart content=chartData categories=chartCategories chartOptions=chartOptions baseLine=chartBaseLine leftFooter=chartFooter}}
        {{/if}}
      {{/if}}
    {{/unless}}

    {{!-- Report Table --}}
    <div class='container-fluid {{if twoLineChartFooter "margin-on-top"}} {{if isRegularPractice "margin-on-top"}}'>
    	<button type="button" class="btn btn-header btn-expand-all {{if isReportByPlays 'btn-expand-all-plays'}}" {{action "toggleExpandAllPlayerReports"}}>{{#if isAllExpanded}}collapse all{{else}}expand all{{/if}}</button>

	    {{#if isReportByPlays}}
        {{#each reportData.tableDetails as |play|}}
        <div class='line row play-row'>
            <div class="expand-container">
                <div class='col-sm-12 expand-box' {{action "toggleExpandPlay" play}}>
                    <span class="bowtie {{if play.isExpanded 'expanded'}}"></span>
                    <div class="name play">
                        <span class="play-label-highlighted">Play {{leading-zeros play.playNumber}}:</span>
                        {{#if play.quarter}}<span class="play-label-highlighted">Qtr {{play.quarter}}</span>{{/if}}
                        {{#if play.down}}
                        {{#if play.distance}}
                        {{#if play.yardLine}}
                        <span class="play-info">Dn {{play.down}} to go {{play.distance}} on {{play.yardLine}}</span>
                        {{/if}}
                        {{/if}}
                        {{/if}}
                        {{#if play.possession}}<span>{{play.possession}} ball</span>{{/if}}
                    </div>
                    <div class="play-count pull-right">
                        {{#if showOneCategory}}
                        <span class="overall">{{this.cat1Label}}: {{play.avgOverallGrade}}</span>
                        {{else}}
                        <span class="overall">Overall: {{play.avgOverallGrade}}</span>
                        <span>{{initial-letter this.cat1Label}}: {{play.avgCat1Grade}}</span>
                        {{/if}}
                        {{#if showTwoCategories}}
                        <span>{{initial-letter this.cat2Label}}: {{play.avgCat2Grade}}</span>
                        {{/if}}
                        {{#if showThreeCategories}}
                        <span>{{initial-letter this.cat2Label}}: {{play.avgCat2Grade}}</span>
                        <span>{{initial-letter this.cat3Label}}: {{play.avgCat3Grade}}</span>
                        {{/if}}
                        <span class="num-players">({{num-players play.numPlayers}})</span>
                     </div>
                </div>
                {{#if play.isExpanded}}
                <div class="row col-sm-12 tab-table ">
                    <table class="table table-striped">
                        <thead>
                        <tr class="tr">
                            <th class="th text-left player-column">Player</th>
                            <th class="th text-center">No</th>
                            <th class="th text-center">Pos</th>
                            <th class="th text-left note-column">Note</th>
                            {{#unless showOneCategory}}
                            <th class="th text-center">Overall</th>
                            {{/unless}}
                            <th class="th text-center">{{this.cat1Label}}</th>
                            {{#if showTwoCategories}}
                            <th class="th text-center">{{this.cat2Label}}</th>
                            {{/if}}
                            {{#if showThreeCategories}}
                            <th class="th text-center">{{this.cat2Label}}</th>
                            <th class="th text-center">{{this.cat3Label}}</th>
                            {{/if}}
                            <th class="th text-center">Factor</th>
                            {{#if session.teamConfiguration.gradeFields.specialPlay}}
                            <th class="th text-center"><span class="special-play glyphicon glyphicon-star"></span></th>
                            {{/if}}
                        </tr>
                        </thead>
                        <tbody>
                        {{#each play.grades as |grade|}}
                        <tr class="tr">
                            <td class="td text-left player-column"><strong>{{full-name-initial-last grade}}</strong></td>
                            <td class="td text-center"><strong>{{grade.jerseyNumber}}</strong></td>
                            <td class="td text-center">{{grade.positionPlayed}}</td>
                            <td class="td text-left note-column">{{grade.notes}}</td>
                            {{#unless showOneCategory}}
                            <td class="td text-center">{{grade.overallGrade}}</td>
                            {{/unless}}
                            <td class="td text-center">{{grade.cat1Grade}}</td>
                            {{#if showTwoCategories}}
                            <td class="td text-center">{{grade.cat2Grade}}</td>
                            {{/if}}
                            {{#if showThreeCategories}}
                            <td class="td text-center">{{grade.cat2Grade}}</td>
                            <td class="td text-center">{{grade.cat3Grade}}</td>
                            {{/if}}
                            <td class="td text-center">{{grade.factorInPlay}}</td>
                            {{#if session.teamConfiguration.gradeFields.specialPlay}}
                            <td class="td text-center">{{grade.specialPlay}}</td>
                            {{/if}}
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
                {{/if}}
            </div>
        </div>
        {{/each}}
        {{else}}
        {{#each reportData.tableDetails as |player|}}
	    <div class='line row'>
            <div class="expand-container">
                {{#if player.events}}
                <div class='col-sm-12 expand-box {{if player.highlighted "highlighted"}}' {{action "toggleExpandPlayer" player isSingleEventReport}}>
                    <span class="bowtie {{if player.isExpanded 'expanded'}}"></span>
                    <span class="name">{{full-name-initial-last player}}/ {{player.position}} #{{player.jerseyNumber}}</span>
                    <div class="play-count pull-right">
                        {{#if player.overalls.specialPlay}}
                        <div class="special-play">
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="value">{{player.overalls.specialPlay}}</span>
                        </div>
                        {{/if}}
                        {{#if showOneCategory}}
                        <span class="overall">{{this.cat1Label}}: {{player.overalls.avgOverallGrade}}</span>
                        {{else}}
                        <span class="overall">Overall: {{player.overalls.avgOverallGrade}}</span>
                        <span>{{initial-letter this.cat1Label}}: {{player.overalls.avgCat1Grade}}</span>
                        {{/if}}
                        {{#if showTwoCategories}}
                        <span>{{initial-letter this.cat2Label}}: {{player.overalls.avgCat2Grade}}</span>
                        {{/if}}
                        {{#if showThreeCategories}}
                        <span>{{initial-letter this.cat2Label}}: {{player.overalls.avgCat2Grade}}</span>
                        <span>{{initial-letter this.cat3Label}}: {{player.overalls.avgCat3Grade}}</span>
                        {{/if}}
                        <span class="num-plays">({{num-plays player.overalls.numPlays}})</span>
                    </div>
                </div>
                {{else}}
                <div class='col-sm-12 expand-box {{if player.highlighted "highlighted"}}'>
                    <span class="bowtie invisible"></span>
                    <span class="name">{{full-name-initial-last player}}/ {{player.position}} #{{player.jerseyNumber}}</span>
                    <div class="play-count pull-right">
                        {{#if player.overalls.specialPlay}}
                        <div class="special-play">
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="value">{{player.overalls.specialPlay}}</span>
                        </div>
                        {{/if}}
                        {{#if showOneCategory}}
                        <span class="overall">{{this.cat1Label}}: {{player.overalls.avgOverallGrade}}</span>
                        {{else}}
                        <span class="overall">Overall: {{player.overalls.avgOverallGrade}}</span>
                        <span>{{initial-letter this.cat1Label}}: {{player.overalls.avgCat1Grade}}</span>
                        {{/if}}
                        {{#if showTwoCategories}}
                        <span>{{initial-letter this.cat2Label}}: {{player.overalls.avgCat2Grade}}</span>
                        {{/if}}
                        {{#if showThreeCategories}}
                        <span>{{initial-letter this.cat2Label}}: {{player.overalls.avgCat2Grade}}</span>
                        <span>{{initial-letter this.cat3Label}}: {{player.overalls.avgCat3Grade}}</span>
                        {{/if}}
                        <span class="num-plays">({{num-plays player.overalls.numPlays}})</span>
                     </div>
                </div>
                {{/if}}

                {{#each player.events as |event|}}

                {{#unless isSingleEventReport}}
                {{#if player.isExpanded}}
                <div class='col-sm-12 expand-box tab-table ' {{action "toggleExpandEvent" event}}>
                    <span class="bowtie {{if event.isExpanded 'expanded'}}"></span>
                    <span class="name">{{eventLabel}} {{event-number event.eventId eventNumbers}} - {{event.name}} ({{event.date}})</span>
                    <div class="play-count pull-right event-play-call">
                        {{#if showOneCategory}}
                        <span class="overall">{{this.cat1Label}}: {{event.overalls.avgOverallGrade}}</span>
                        {{else}}
                        <span class="overall">Overall: {{event.overalls.avgOverallGrade}}</span>
                        <span>{{initial-letter this.cat1Label}}: {{event.overalls.avgCat1Grade}}</span>
                        {{/if}}
                        {{#if showTwoCategories}}
                        <span>{{initial-letter this.cat2Label}}: {{event.overalls.avgCat2Grade}}</span>
                        {{/if}}
                        {{#if showThreeCategories}}
                        <span>{{initial-letter this.cat2Label}}: {{event.overalls.avgCat2Grade}}</span>
                        <span>{{initial-letter this.cat3Label}}: {{event.overalls.avgCat3Grade}}</span>
                        {{/if}}
                        <span class="num-plays">({{num-plays event.overalls.numPlays}})</span>
                    </div>
                </div>
                {{/if}}
                {{/unless}}

                {{#if event.isExpanded}}
                <div class="row col-sm-12 tab-table ">
                    <table class="table table-striped">
                        <thead>
                        <tr class="tr">
                            <th class="th text-left">Play</th>
                            <th class="th text-left">Qtr</th>
                            <th class="th text-left">Dn/Dst</th>
                            <th class="th text-center">Yd Ln</th>
                            <th class="th text-left">Play Type</th>
                            <th class="th text-center">Pos</th>
                            {{#unless showOneCategory}}
                            <th class="th text-center">Overall</th>
                            {{/unless}}
                            <th class="th text-center">{{this.cat1Label}}</th>
                            {{#if showTwoCategories}}
                            <th class="th text-center">{{this.cat2Label}}</th>
                            {{/if}}
                            {{#if showThreeCategories}}
                            <th class="th text-center">{{this.cat2Label}}</th>
                            <th class="th text-center">{{this.cat3Label}}</th>
                            {{/if}}
                            <th class="th text-center">Factor</th>
                            {{#if session.teamConfiguration.gradeFields.specialPlay}}
                            <th class="th text-center"><span class="special-play glyphicon glyphicon-star"></span></th>
                            {{/if}}
                        </tr>
                        </thead>
                        <tbody>
                        {{#each event.grades as |play|}}
                        <tr class="tr">
                            <td class="td">{{play.playNumber}}</td>
                            <td class="td text-left">{{play.quarter}}</td>
                            <td class="td text-left">{{play.dnDist}}</td>
                            <td class="td text-center">{{play.yardLine}}</td>
                            <td class="td text-left">{{play.playType}}</td>
                            <td class="td text-center">{{play.position}}</td>
                            {{#unless showOneCategory}}
                            <td class="td text-center">{{play.overallGrade}}</td>
                            {{/unless}}
                            <td class="td text-center">{{play.cat1Grade}}</td>
                            {{#if showTwoCategories}}
                            <td class="td text-center">{{play.cat2Grade}}</td>
                            {{/if}}
                            {{#if showThreeCategories}}
                            <td class="td text-center">{{play.cat2Grade}}</td>
                            <td class="td text-center">{{play.cat3Grade}}</td>
                            {{/if}}
                            <td class="td text-center">{{play.factorInPlay}}</td>
                            {{#if session.teamConfiguration.gradeFields.specialPlay}}
                            <td class="td text-center">{{play.specialPlay}}</td>
                            {{/if}}
                        </tr>
                        {{!--{grade-notes play type condition conditionRange}--}}
                        {{#if play.notes}}
                        <tr class="tr">
                            <td class="td"></td>
                            <td class="td">Note:</td>
                            <td class="td text-left" colspan="9">{{play.notes}}</td>
                        </tr>
                        {{/if}}
                        {{/each}}
                        </tbody>
                    </table>
                </div>
                {{/if}}

                {{/each}}

            </div>
        </div>
	    {{/each}}
        {{#each playersWithNoData as |player|}}
        <div class="line row expand-container">
            <div class='col-sm-12 expand-box'>
                <span class="bowtie invisible"></span>
                <span class="name">{{full-name-initial-last player}}/ {{player.position}} #{{player.jerseyNumber}}</span>
                <div class="play-count pull-right">
                    {{#if player.overalls.specialPlay}}
                    <div class="special-play">
                      <span class="glyphicon glyphicon-star"></span>
                      <span class="value">{{player.overalls.specialPlay}}</span>
                    </div>
                    {{/if}}
                    {{#if showOneCategory}}
                    <span class="overall">{{this.cat1Label}}: {{player.overalls.avgOverallGrade}}</span>
                    {{else}}
                    <span class="overall">Overall: {{player.overalls.avgOverallGrade}}</span>
                    <span>{{initial-letter this.cat1Label}}: {{player.overalls.avgCat1Grade}}</span>
                    {{/if}}
                    {{#if showTwoCategories}}
                    <span>{{initial-letter this.cat2Label}}: {{player.overalls.avgCat2Grade}}</span>
                    {{/if}}
                    {{#if showThreeCategories}}
                    <span>{{initial-letter this.cat2Label}}: {{player.overalls.avgCat2Grade}}</span>
                    <span>{{initial-letter this.cat3Label}}: {{player.overalls.avgCat3Grade}}</span>
                    {{/if}}
                    <span class="num-plays">({{num-plays player.overalls.numPlays}})</span>
                 </div>
            </div>
        </div>
        {{/each}}
        {{/if}}
	</div>

</div>

{{else}}
{{#if noReportDataFound}}
<div class="no-report-data-message">
	<span class="glyphicon glyphicon-exclamation-sign"></span>
    <span>There's no data for the provided criteria.</span>
</div>
{{else}}
<div class="loading-report-data-message {{if reportData 'hidden'}}">
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
</div>
{{/if}}
{{/if}}
