{{#each criteria in sortedCriteriaTypes}}
<div id="prospect-{{prospect.id}}" class="row flex row-separator evaluation-control {{if criteria.note 'has-notes'}}">
    <div class="column column1">
        <span class="criteria-name">{{criteria.teamScoutingEvalCriteria.name}}</span>
    </div>
    <div class="score-container row flex">
        {{#each value in scoreValues}}
          <div class="column columnN {{score-selected criteria.score value}}" {{action 'saveScoreValue' value criteria}}>
              <span class="">{{value}}</span>
          </div>
        {{/each}}
    </div>
    {{#if criteria.note}}
    <div class="notes">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{criteria.note}}
    </div>
    {{/if}}
</div>
{{/each}}
