<div class="evaluation-note">
{{#page-modal title='Edit Note' ok='save' close='removeModal' closeText='cancel' okText='save'}}
    <div class="section-main">
        <div class='container-fluid form-container'>
            <form {{action "save" model on="submit"}}>
                <fieldset>
                    <label class="control-label col-sm-4">{{model.teamScoutingEvalCriteria.name}}</label>
                    <div class='col-sm-8 textarea'>
                        {{textarea class="form-control" value=model.note placeholder="Type note for this skill here"}}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{{/page-modal}}
</div>
