<div class="evaluation-notes">
{{#page-modal title='Add Notes' ok='save' close='removeModal' closeText='cancel' okText='save'}}
    <div class="section-main">
        <div class='container-fluid form-container'>
            <form {{action "save" model on="submit"}}>
                <fieldset>
                    {{#each criteria in model}}
                    <div class='row row-separator'>
                        <label class="control-label col-sm-4">{{criteria.teamScoutingEvalCriteria.name}}</label>
                        <div class='col-sm-8 textarea'>
                            {{textarea class="form-control" value=criteria.note placeholder="Type note for this skill here"}}
                        </div>
                    </div>
                    {{/each}}
                </fieldset>
            </form>
        </div>
    </div>
{{/page-modal}}
</div>
