<div id="evaluation-warning">
{{#page-modal title='Your Inputs Will Be Lost' ok='deleteAndTransition' close='stayHere' closeText='cancel / keep evaluating' okText='exit / delete scores'}}
    <div class="warning-message">
      <span class='warning-icon glyphicon glyphicon-exclamation-sign'></span>
      <div class='message'>
        <span>
          Exiting this evaluation without completing it will result in the loss of the scores entered so far.
          <br>
          <br>
          Please take a moment to complete the evaluation if you would like your scores to be saved.
        </span>
      </div>
    </div>
{{/page-modal}}
</div>
