<div id="player-eval-delete-modal">
{{#page-modal title='Delete Position criteria and importance/weight' ok='delete' close='removeModal' closeText='No' okText='Yes'}}
    <div class="positions-and-groups-delete-body">
        <div class='container-fluid form-container'>
            <label>Are you sure you want to remove this Position criteria and importance/weight?</label>
        </div>
    </div>
{{/page-modal}}
</div>