<div class="criteria-position">
    <div class='container-fluid form-container'>
        {{#if teamScoutingEvalCriterias}}
        <form {{action "saveNext" model on="submit"}}>
            <fieldset>
                {{#each teamScoutingEvalCriteria in teamScoutingEvalCriterias}}
                    <div class="form-group row">
                        <div class="col-sm-8">
                            {{input class="form-control" type="text" value=teamScoutingEvalCriteria.name}}
                        </div>
                        <div class="col-sm-2">
                            {{view "select" class="form-control" content=importances
                                optionLabelPath="content.name"
                                optionValuePath="content.id"
                                selection=teamScoutingEvalCriteria.importance
                                prompt="Pick an importance"}}
                        </div>
                        <div class="col-sm-2">
                            {{input class="form-control" type="number" value=teamScoutingEvalCriteria.targetScore}}
                        </div>
                        <!--<div class="col-sm-2">
                            <button class="btn-del" {{action 'delete' teamScoutingEvalCriteria}}>
                                <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete Team Scouting Evaluayion Criteria"></span>
                            </button>
                        </div>-->
                    </div>
                {{/each}}
            </fieldset>
        </form>
        {{/if}}
    </div>
</div>
