<div id="target-score-info">
{{#page-modal title='Target scores and Target profiles' ok='removeModal' close='removeModal' closeText='close popup' okText='close popup'}}
    <div class="info">
      <span>Target Scores are goals for each criteria that a prospect’s evaluation scores are compared to.</span>
      <span>These should be reachable (not all “9”), and based on what works for your system.</span>
      <span>The Target Profile for each position is made up of all of the Target Scores.</span>
      <br>
      <span>The target score for each criteria can be set one of three ways:</span>
      <ul>
        <li>1) You type it in here (or leave the default value as it is)</li>
        <li><p>2) You choose one or more top players on your team at the position as examples of what you want to recruit.
        GoDeep will use their Player Evaluation scores to calculate target scores for each criteria (the Target Profile)</p></li>
        <li><p>3) You let GoDeep pick the top players at each position based on game grades. GoDeep will calculate the
        Target Profile from their Player Evaluation scores.</p></li>
      </ul>

      <span>If you have more questions about this, please go to the Main Menu and click &quot;ask us a question&quot;.</span>
    </div>
{{/page-modal}}
</div>
