<div id="evaluation-criteria-setup">
{{#page-modal ok='setupEvaluationCriteria' okText='save' close='cancelEvaluationCriteria' closeText='cancel'}}
	<div class='form-group row message {{unless error "hidden"}}'>
        <div class='col-sm-12'>
            <div class="alert alert-danger" role="alert">
                <p>Please select a player to evaluate.</p>
            </div>
        </div>
    </div>
    <div class="header">
    	<span class="position-shortname">
    		{{model.positionType.shortName}}
    	</span>
    	<div class="title">
    		<strong>Evaluation Criteria Setup</strong><br />
    		<span>{{model.positionType.name}}</span>
    	</div>
    	<div class="importance-picker">
    		<label>Position Importance:</label>
    		{{view "select" class="form-control" content=model.importances
		        optionLabelPath="content.name"
		        optionValuePath="content.id"
		        prompt="Pick importance"
		        selection=model.teamPositionImportance.importance}}
    	</div>
    </div>
	<div class="section-main">
		<span class="hint text-left">Default Target Score is 5 (out of a possible 6). Calculated Target scores are based on your evaluations of Top Performers at this position.</span> <br/>
		<span class="hint text-left">Enter your own Target if you want to use that instead or Calculated Target. Select star to identify "critical" factors.</span>

		{{!-- Major Factors, start --}}
		<div class="form-group row factor-type">
			<div class='col-sm-6'>
				<strong>Section 1: Major Factors</strong>
			</div>
			<div class='col-sm-3'>
				<strong>Default or Calculated Target</strong>
			</div>
			<div class='col-sm-3'>
				<strong>Enter Your Own Target</strong>
			</div>
		</div>
		{{#each majorFactor in majorFactors}}
		<div class="form-group row criteria">
			<div class='col-sm-6 {{if majorFactor.errors.name "has-error"}}'>
				<button class="btn {{if majorFactor.isCritical 'active'}}" {{action "toggleCritical" majorFactor}}><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
				{{input class="form-control" type="text" value=majorFactor.name readonly=criteriaHasEvaluations disabled=criteriaHasEvaluations
			    placeholder="Type new criteria text here"}}
			</div>
			<div class='col-sm-3'>
				{{#radio-button name=majorFactor.id value=true groupValue=majorFactor.useCalculatedTargetScore}}
				<span>{{majorFactor.calculatedTargetScore}}</span>
				{{/radio-button}}
			</div>
			<div class='col-sm-2 {{if majorFactor.errors.target "has-error"}}'>
				{{#radio-button name=majorFactor.id value=false groupValue=majorFactor.useCalculatedTargetScore}}
				{{input class="form-control" type="text" value=majorFactor.customTargetScore}}
				{{/radio-button}}
			</div>
			<div class='col-sm-1'>
				<button class="btn-delete" readonly={{criteriaHasEvaluations}} disabled={{criteriaHasEvaluations}} {{action 'showDeleteConfirmation' majorFactor}}>
						<span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete criteria"></span>
				</button>
			</div>
		</div>
		<div id="criteria-{{majorFactor.id}}" class="form-group row delete-container hidden">
				<span>Are you sure you want to remove this criteria?</span>
				<button class="btn" {{action "cancelDelete" majorFactor}}>No</button>
				<button class="btn" {{action "delete" majorFactor}}>Yes</button>
		</div>
		{{/each}}
		{{#unless criteriaHasEvaluations}}
		<div class="form-group row new-container">
				<button class="btn new-btn" {{action "newCriteria" majorFactorsId}}>add new criteria</button>
		</div>
		{{/unless}}
		{{!-- Major Factors, end --}}

		<hr />

		{{!-- Critical Factors, start --}}
		<div class="form-group row factor-type">
			<div class='col-sm-6'>
				<strong>Section 2: Critical Factors</strong>
			</div>
			<div class='col-sm-3'>
				<strong>Default or Calculated Target</strong>
			</div>
			<div class='col-sm-3'>
				<strong>Enter Your Own Target</strong>
			</div>
		</div>
		{{#each criticalFactor in criticalFactors}}
		<div class="form-group row criteria">
			<div class='col-sm-6 {{if criticalFactor.errors.name "has-error"}}'>
				<button class="btn {{if criticalFactor.isCritical 'active'}}" {{action "toggleCritical" criticalFactor}}><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
				{{input class="form-control" type="text" value=criticalFactor.name readonly=criteriaHasEvaluations disabled=criteriaHasEvaluations
			    placeholder="Type new criteria text here"}}
			</div>
			<div class='col-sm-3'>
				{{#radio-button name=criticalFactor.id value=true groupValue=criticalFactor.useCalculatedTargetScore}}
				<span>{{criticalFactor.calculatedTargetScore}}</span>
				{{/radio-button}}
			</div>
			<div class='col-sm-2 {{if criticalFactor.errors.target "has-error"}}'>
				{{#radio-button name=criticalFactor.id value=false groupValue=criticalFactor.useCalculatedTargetScore}}
				{{input class="form-control" type="text" value=criticalFactor.customTargetScore}}
				{{/radio-button}}
			</div>
			<div class='col-sm-1'>
				<button class="btn-delete" readonly={{criteriaHasEvaluations}} disabled={{criteriaHasEvaluations}} {{action 'showDeleteConfirmation' criticalFactor}}>
						<span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete criteria"></span>
				</button>
			</div>
		</div>
		<div id="criteria-{{criticalFactor.id}}" class="form-group row delete-container hidden">
				<span>Are you sure you want to remove this criteria?</span>
				<button class="btn" {{action "cancelDelete" criticalFactor}}>No</button>
				<button class="btn" {{action "delete" criticalFactor}}>Yes</button>
		</div>
		{{/each}}
		{{#unless criteriaHasEvaluations}}
		<div class="form-group row new-container">
				<button class="btn new-btn" {{action "newCriteria" criticalFactorsId}}>add new criteria</button>
		</div>
		{{/unless}}
		{{!-- Critical Factors, end --}}

		<hr />

		{{!-- Position Skills, start --}}
		<div class="form-group row factor-type">
			<div class='col-sm-6'>
				<strong>Section 3: Position Skills</strong>
			</div>
			<div class='col-sm-3'>
				<strong>Default or Calculated Target</strong>
			</div>
			<div class='col-sm-3'>
				<strong>Enter Your Own Target</strong>
			</div>
		</div>
		{{#each positionSkill in positionSkills}}
		<div class="form-group row criteria">
			<div class='col-sm-6 {{if positionSkill.errors.name "has-error"}}'>
				<button class="btn {{if positionSkill.isCritical 'active'}}" {{action "toggleCritical" positionSkill}}><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
				{{input class="form-control" type="text" value=positionSkill.name readonly=criteriaHasEvaluations disabled=criteriaHasEvaluations
			    placeholder="Type new criteria text here"}}
			</div>
			<div class='col-sm-3'>
				{{#radio-button name=positionSkill.id value=true groupValue=positionSkill.useCalculatedTargetScore}}
				<span>{{positionSkill.calculatedTargetScore}}</span>
				{{/radio-button}}
			</div>
			<div class='col-sm-2 {{if positionSkill.errors.target "has-error"}}'>
				{{#radio-button name=positionSkill.id value=false groupValue=positionSkill.useCalculatedTargetScore}}
				{{input class="form-control" type="text" value=positionSkill.customTargetScore}}
				{{/radio-button}}
			</div>
			<div class='col-sm-1'>
				<button class="btn-delete" readonly={{criteriaHasEvaluations}} disabled={{criteriaHasEvaluations}} {{action 'showDeleteConfirmation' positionSkill}}>
						<span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete criteria"></span>
				</button>
			</div>
		</div>
		<div id="criteria-{{positionSkill.id}}" class="form-group row delete-container hidden">
				<span>Are you sure you want to remove this criteria?</span>
				<button class="btn" {{action "cancelDelete" positionSkill}}>No</button>
				<button class="btn" {{action "delete" positionSkill}}>Yes</button>
		</div>
		{{/each}}
		{{#unless criteriaHasEvaluations}}
		<div class="form-group row new-container">
				<button class="btn new-btn" {{action "newCriteria" positionSkillsId}}>add new criteria</button>
		</div>
		{{/unless}}
		{{!-- Critical Factors, end --}}

	</div>
{{/page-modal}}
</div>
