<div class="summary-note">
{{#page-modal title=model.criteria close='removeModal' ok='removeModal' okText='ok'}}
    <div class="section-main">
        <div class='container-fluid form-container'>
            <span>{{model.note}}</span>
        </div>
    </div>
{{/page-modal}}
</div>
