<div id="user-delete-modal">
{{#page-modal title='Delete User' ok='delete' close='cancel' closeText='No' okText='Yes'}}
    <div class="user-delete-body">
        <div class='container-fluid form-container'>
            <label>Are you sure you want to remove this User?</label>
        </div>
    </div>
{{/page-modal}}
</div>