<div class="user-edit">
{{#page-modal title='Edit User Information' ok='save' disableSubmitBtn=disableSubmitBtn close='cancel' closeText='cancel' okText='save changes'}}
    <div class="section-main">
        <div class='container-fluid form-container'>
            <form {{action "save" model on="submit"}}>
                <fieldset>
                    <div class='form-group row user-name'>
                        <div class='col-sm-6 {{if errors.model.firstName.firstObject 'has-error'}}'>
                            <label class="control-label">User</label>
                            {{#if errors.model.firstName.firstObject}}
                                <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                            {{/if}}
                            {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.firstName placeholder="First Name"}}
                        </div>
                        <div class='col-sm-6 middle-name'>
                            {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.middleName placeholder="Middle name"}}
                        </div>
                    </div>
                    <div class="form-group row {{if errors.model.lastName.firstObject 'has-error'}}">
                        <div class="col-sm-12">
                            {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.lastName placeholder="Last name"}}
                        </div>
                    </div>
                    <div class="form-group row {{if errors.model.email.firstObject 'has-error'}}">
                        <div class='col-sm-12'>
                            <label class="control-label">Email address</label>
                            {{#if errors.model.email.firstObject}}
                                <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span> {{errors.model.email.firstObject}}</span>
                            {{/if}}
                            <div>
                                {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.email}}
                            </div>
                        </div>
                    </div>
                    <div class='form-group row'>
                        <div class='col-sm-6 {{if errors.model.jobTitle.firstObject 'has-error'}}'>
                            <label class="control-label">Job Title</label>
                            {{#if errors.model.jobTitle.firstObject}}
                                <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                            {{/if}}
                            <div>
                                {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.jobTitle}}
                            </div>
                        </div>
                        <div class='col-sm-6 {{if errors.model.role.firstObject 'has-error'}}'>
                            <label class="control-label ">Role</label>
                            {{#if errors.model.role.firstObject}}
                                <span class="help-block"><span class="glyphicon glyphicon-asterisk"></span></span>
                            {{/if}}
                                {{view "select" class="form-control"
                                    content=roles
                                    optionLabelPath="content.name"
                                    optionValuePath="content.id"
                                    selection=model.role
                                    prompt="Pick a role"
                                }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class='col-sm-6'>
                            <label class="control-label">Office Phone</label>
                            <div>
                                {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.officePhone}}
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <label class="control-label">Cell</label>
                            <div>
                                {{input action="save" onEvent="keyPress" class="form-control" type="text" value=model.mobilePhone}}
                            </div>
                        </div>
                    </div>
                    <div class='form-group col-sm-12 grading'>
                        <label class="control-label">Grading Groups</label>
                    </div>
                    <div class="form-group row">
                        <div class='col-xs-4'>
                            <div>
                                {{input type="checkbox" checked=selectAllOff}}
                                <label>Offense &#40;all&#41;</label>
                            </div>
                             {{#each offense in offensives}}
                                <div>
                                    {{input type="checkbox" checked=offense.selected}}
                                    <label>{{offense.name}}</label>
                                </div>
                            {{/each}}
                        </div>
                        <div class='col-xs-4 middle-col-sm-4'>
                            <div>
                                {{input type="checkbox" checked=selectAllDef}}
                                <label>Defense &#40;all&#41;</label>
                            </div>
                             {{#each defense in defenses}}
                                <div>
                                    {{input type="checkbox" checked=defense.selected}}
                                    <label>{{defense.name}}</label>
                                </div>
                            {{/each}}
                        </div>
                        <div class='col-xs-4'>
                            <div>
                                {{input type="checkbox" checked=selectAllSp}}
                                <label>Specialists &#40;all&#41;</label>
                            </div>
                             {{#each specialist in specialists}}
                                <div>
                                    {{input type="checkbox" checked=specialist.selected}}
                                    <label>{{specialist.name}}</label>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{{/page-modal}}
</div>
