{{! templates/admin.hbs}}
{{page-head breadcrumbs=this.breadcrumbs thisPage=this.thisPage}}
<div class='container-fluid admin'>
    <div class="section-left">
        <div class="admin-option-panel">
            <div class="inset">
                <button id="team-btn" class="btn admin-btn active" {{action 'adminShowTeam' 'team-btn'}}>edit team information</button>
                <button id="users-btn" class="btn admin-btn" {{action 'adminShowUsers' 'users-btn'}}>manage users</button>
                <!--<button class="btn" {{action 'adminShowReports'}}>set up report distribution</button>-->
                <button id="groups-btn" class="btn admin-btn" {{action 'adminShowPositionAndGroups' 'groups-btn'}}>customize positions and groups</button>
                <button id="grading-btn" class="btn admin-btn" {{action 'adminShowGrading' 'grading-btn'}}>edit grading categories</button>
                {{!--<button id="evaluation-btn" class="btn admin-btn" {{action 'adminShowPlayerEval' 'evaluation-btn'}}>edit player evaluation criteria</button>--}}
            </div>
        </div>
    </div>
    {{! admin sub-routes go in this outlet, including: team, users, reports, configs, ... }}
    <div class="section-main">
        {{outlet}}
    </div>
</div>
