{{outlet}}
{{outlet 'modal'}}
{{outlet 'tooltip'}}

<div class="sb-slidebar sb-left sb-style-overlay sb-menu">
    <!-- Your left Slidebar content. -->
    <ul class="offline-menu-options {{unless isOfflineRoute 'hidden'}}">
        <li class="sb-em-close offline-option" {{action 'appMenuRetunToOfflineModeLandingPage'}}>video list</li>
        <li class="sb-em-close offline-option" {{action 'appMenuOfflineModeHelp'}}>help</li>
        <li class="sb-em-close offline-option" {{action 'resumeOnlineMode'}}>resume online mode</li>
    </ul>
    <ul class="menu-options {{if isOfflineRoute 'hidden'}}">

        <li class="sb-em-close " {{action 'appMenuHome'}}>home</li>
        <li class="sb-em-close " {{action 'appMenuRosterAndPositions'}}>roster & positions</li>

        <li class="sb-em-close evaluation-option" {{action 'appMenuProspectList'}}>prospect list</li>

        <li class="sb-em-close " {{action 'appMenuGradePlayerPerformance'}}>grade player performance</li>

        <li class="sb-em-close evaluation-option" {{action 'appMenuEvaluatePlayersAndProspects'}}>evaluate players & prospects</li>
        <li class="sb-em-close evaluation-option" {{action 'appMenuRank'}}>player value ranking</li>

        <li class="sb-em-close " {{action 'appMenuReports'}}>player performance reports</li>

        <li class="sb-em-close admin-option" {{action "appMenuSettings"}}>manage settings</li>

        <li class="sb-em-close help-option" {{action "displayWelcomePopup"}}>help</li>
        <li class="sb-em-close " {{action "appMenuAskQuestion"}}>ask us a question</li>
        <li class="sb-em-close " {{action "invalidateSession"}}>logout</li>

    </ul>
</div>
