{{! app/template/sindex.hbs}}
<nav class="navbar navbar-fixed-top navbar-header-dark">
    <div class="container-fluid navbar-header-dark">
        <div class="container-fluid index">
            <!-- Logo -->
            <div id="logo" class="navbar-left">
                <img alt="GoDeep Mobile" src="assets/img/GD_logo_small.png">
            </div><!-- /#logo -->
            <div class="xbreadcrumb navbar-right">
                <span class="navbar-text">Please sign in</span>
            </div>
        </div>
    </div>
</nav>
