{{! templates/dashboard.hbs}}
{{page-head breadcrumbs=this.breadcrumbs thisPage=this.thisPage}}
<div class='container-fluid dashboard'>
    <div class="section-nav">
        <div class="dashboard-info-panel">
            <div class="inset border">
                <form>
                    <div {{action 'changeSelected' 'team'}}>
                    <button class="view {{if teamSelected 'active'}}" {{action 'dashboardViewChanged' VIEWS.team}} >team view
                    {{#if teamSelected}}
                    <span class="glyphicon glyphicon-asterisk"></span>
                    {{/if}}
                    </button>
                    </div>
                    <div {{action 'changeSelected' 'offense'}}>
                    <button class="view {{if offenseSelected 'active'}}" {{action 'dashboardViewChanged' VIEWS.offense}} >offense only
                    {{#if offenseSelected}}
                    <span class="glyphicon glyphicon-asterisk"></span>
                    {{/if}}
                    </button>
                    </div>
                    <div {{action 'changeSelected' 'defense'}}>
                    <button class="view {{if defenseSelected 'active'}}" {{action 'dashboardViewChanged' VIEWS.defense}} >defense only
                    {{#if defenseSelected}}
                    <span class="glyphicon glyphicon-asterisk"></span>
                    {{/if}}
                    </button>
                    </div>
                    <div {{action 'changeSelected' 'grade-group'}}>
                    <button class="view {{if groupSelected 'active'}}" {{action 'dashboardViewChanged' VIEWS.gradeGroups}} >my grading group&#40;s&#41;
                    {{#if groupSelected}}
                    <span class="glyphicon glyphicon-asterisk"></span>
                    {{/if}}
                    </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="season-selector">
            {{view "select" class="form-control" content=formattedSeasons
                optionValuePath="content.value"
                optionLabelPath="content.label"
                selection=season}}
        </div>
        <button class="btn {{if isUpdatingSeasonTotals 'btn-loading'}}" {{action "dashboardUpdateSeasonTotals"}}>refresh rankings</button>
        <button class="btn" {{action "prepareOfflineMode"}}>prepare to grade offline</button>
        <div class="dashboard-info-panel">
            <div class="inset">
                <h2>Game Grading Status</h2>
                <table class="table">
                    <thead class="thead">
                    <tr class="tr">
                        <th class="th1">Coach</th>
                        <th class="th2">Last Graded</th>
                    </tr>
                    </thead>
                    <tbody class="tbody">
                        {{#each session.profile.teamGraders as |grader|}}
                            <tr class="tr">
                                <td class="td1">{{grader.userName}}</td>
                                {{#if grader.lastSubmitDate}}
                                    <td class="td2">{{date-format grader.lastSubmitDate 'MM/DD h:mm a'}}</td>
                                {{else}}
                                    <td class="td2">never</td>
                                {{/if}}
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                <!--<p>Season Totals Updated: 3/21/99 1:23 pm</p>-->
            </div>
            <!--<button class="btn" {{action "dashboardUpdateSeasonTotals"}}>update season totals</button>
            -->
        </div>
    </div>
    {{! dashboard sub-routes go in this outlet, including: index, TopNewPlayers, BestUnitImpact, and VeteranWatchList }}
    <div class="section-main">
        {{outlet}}
    </div>
</div>
