{{page-head breadcrumbs=this.breadcrumbs thisPage=this.thisPage}}
<div class='summary-container'>
  <div class='header flex'>
    <div class='info'>
      <table class='table'>
        <thead class='thead'>
        </thead>
        <tbody class='tbody'>
          <tr>
              <td class='column1'><span class='important'>{{player.fullNameInitialLast}}</span></td>
              <td class='column2'><span class='important col2'>Overall:</span></td>
              <td class='column3'><span class='important'>{{playerScoreOverall}}</span></td>
              <td class='column4'><span>Target Match:</span></td>
              <td class='column5'><span>{{targetMatch}}&#37;</span></td>
          </tr>
          <tr>
              <td class='column1'><span>#{{playerAssignment.jerseyNumber}} /
                {{#if isPlayer}}
                    {{session.teamName}}
                {{else}}
                    {{#if playerAssignment.currentPosition}}{{playerAssignment.currentPosition.name}}{{else}}n/a{{/if}}
                {{/if}}
              </span></td>
              <td class='column2'></td>
              <td class='column3'></td>
              <td class='column4'><span>Evaluation Rank Overall:</span></td>
              <td class='column5'><span>{{ranks.rankOverall}}</span></td>
          </tr>
          <tr>
              <td class='column1'><span>
                {{#if isPlayer}}
                  {{#if playerAssignment.position1}}{{playerAssignment.position1.name}}{{else}}n/a{{/if}}
                {{else}}
                  {{player.highSchool}} {{#if player.level}}&#40;{{player.level.shortName}}&#41;{{/if}}
                {{/if}}
              </span></td>
              <td class='column2'><span class='col2'>Eval by:</span></td>
              <td class='column3'><span>{{teamScoutingEvalScoreGroup.user.shortNameInitialFirst}} /{{date-format teamScoutingEvalScoreGroup.date 'MM-DD-YY'}}
                  {{#if isEvaluator}}
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit Player Evaluation" {{action 'editPlayerEvaluation'}}></span>
                  {{/if}}
              </span></td>
              <td class='column4'><span>Evaluation Rank at Position:</span></td>
              <td class='column5'><span>{{ranks.rankAtPost}}</span></td>
          </tr>
          </tbody>
      </table>
    </div>
    <div class='position' {{action "displayEvaluationCriteriaSetup" teamScoutingEvalScoreGroup.positionType}}>
      <span>{{teamScoutingEvalScoreGroup.positionType.shortName}}</span>
      <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit Evaluation Criteria"></span>
    </div>
  </div>
  <div class='report-container'>
    <div class='form-group row'>
      <div class='col-sm-12'>
        <button class="btn gd-btn  toggle-view-btn {{if isPrintFriendlyCurrentView 'active'}}" {{action "switchEvaluationReportView" VIEWS.printFriendly}}>view summary</button>
        <button class="btn gd-btn  toggle-view-btn {{if isGraphicalCurrentView 'active'}}" {{action "switchEvaluationReportView" VIEWS.graphical}}>view graphical</button>
      </div>
    </div>
    {{#if summaryData}}
        {{#each data in summaryData}}
            <div class='critery-type'>
              <div class='name type{{data.criteriaTypeId}} col-xs-8'><span>{{data.criteriaType}}</span></div>
              <div class='player col-xs-2'><span>Player: {{data.scoreAvg}}</span></div>
              <div class='target col-xs-2'><span>Target: {{data.targetAvg}}</span></div>
            </div>
            <div class='flex'>
                {{#if isGraphicalCurrentView}}
                <div class='chart-container col-xs-11'>
                  {{summary-chart content=data.chartData categories=data.categories criticals=data.criticals baseLine=session.teamConfiguration.scoutEvalScoreMax barHeight=barHeight}}
                </div>
                <div class='notes col-xs-1'>
                    <table class='table'>
                      <thead class='thead'>
                      </thead>
                      <tbody class='tbody'>
                        {{#each data.notes as |note i|}}
                        <tr>
                            <td>
                              {{#if note}}
                                <button type="button" name="button" {{action 'showNote' note i data.categories}}>
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true">
                                </span>
                                </button>
                              {{/if}}
                            </td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
                {{/if}}
                {{#if isPrintFriendlyCurrentView}}
                <div class='col-xs-12'>
                  <table class="table table-striped">
                    <thead>
                      <tr class="tr table-headers">
                        <th class="th text-left column1">Criteria</th>
                        <th class="th text-center column2">Target</th>
                        <th class="th text-center column3">Player</th>
                        <th class="th text-left column4">Note</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each data.categories as |category index|}}
                      <tr class="tr">
                        <td class="td text-left">{{category}}</td>
                        <td class="td text-center">{{get-element-at-index data.chartData.[0].data index}}</td>
                        <td class="td text-center">{{{get-element-at-index data.chartData.[1].data index EVALUATION_VALUES_COLORS (get-element-at-index data.chartData.[0].data index)}}}</td>
                        <td class="td text-left">{{get-element-at-index data.notes index}}</td>
                      </tr>
                    {{/each}}
                    </tbody>
                  </table>
                </div>
                {{/if}}
            </div>
        {{/each}}
    {{else}}
        {{message}}
    {{/if}}
  </div>
</div>
