{{! templates/prospect.hbs}}
{{page-head breadcrumbs=this.breadcrumbs thisPage=this.thisPage}}
<div class='container-fluid evaluation'>
    <div class="section-left {{if infoPanelStretched 'stretched'}}">
        <div class="player-info-panel">
            <div class="info-label">
                <div class="rotate">
                    <h2>{{model.fullNameInitialLast}} #{{assignment.jerseyNumber}} {{#if assignment.currentPosition}}/ {{assignment.currentPosition.name}}{{/if}}</h2>
                </div>
            </div>
            <button class="btn toggle-info-panel-size" {{action "toggleInfoPanelSize"}}>
                {{#if infoPanelStretched}}
                <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                {{else}}
                <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span>
                {{/if}}
            </button>
            <div class="info">
                <h2>{{model.fullNameInitialLast}}</h2>
                <h3>#{{assignment.jerseyNumber}} {{#if assignment.currentPosition}}/ {{assignment.currentPosition.name}}{{/if}}</h3>
                <br/>
                <table class="table">
                    <thead class="thead">
                    </thead>
                    <tbody class="tbody">
                    <tr class="tr">
                        <td class="td1">DOB:</td>
                        <td class="td2">{{model.birthDateFormatted}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Grad Yr:</td>
                        <td class="td2">{{model.graduationYear}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">&nbsp;</td>
                        <td class="td2">&nbsp;</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Height:</td>
                        <td class="td2">{{model.height}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Weight:</td>
                        <td class="td2">{{model.weight}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">&nbsp;</td>
                        <td class="td2">&nbsp;</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">WS:</td>
                        <td class="td2">{{model.wingspan}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Body:</td>
                        <td class="td2">{{model.bodyType.name}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">40Y:</td>
                        <td class="td2">{{model.fortyYard}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Hand:</td>
                        <td class="td2">{{model.handSize}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Vertical:</td>
                        <td class="td2">{{model.verticalJump}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">&nbsp;</td>
                        <td class="td2">&nbsp;</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">SAT:</td>
                        <td class="td2">{{model.sat}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">ACT:</td>
                        <td class="td2">{{model.act}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">GPA:</td>
                        <td class="td2">{{model.gpa}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">&nbsp;</td>
                        <td class="td2">&nbsp;</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">HS:</td>
                        <td class="td2">{{#if model.highSchool}}{{model.highSchool}},<br/>{{#if model.state.name}}{{model.state.name}}{{else}}{{/if}}{{else}}{{/if}}</td>
                        <td class="td2"></td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">&nbsp;</td>
                        <td class="td2">&nbsp;</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Coach:</td>
                        <td class="td2">{{model.coach}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Tel:</td>
                        <td class="td2">{{model.coachPhone}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{! prospect sub-routes go in this outlet, including: index, evaluation list, ... }}
    <div class="section-main {{if infoPanelStretched 'expanded'}}">
        {{outlet}}
    </div>
</div>
