{{page-head breadcrumbs=this.breadcrumbs thisPage="Evaluate Players and Prospects/Recruits"}}
<div id="evaluation-landing-page">
	<div class="section-main">
        <div class='container-fluid'>
        	<div class='form-group row'>
	        	<div class='col-sm-6'>    
	            	<h3>Set Up Evaluation Criteria by Position</h3>
	            	<p class="red-text">Before you enter any evaluations, take a look at the criteria for each position you intend to evaluate. Once an evaluation is entered, the wording of the criteria can’t be changed since it would alter the meaning of existing evaluations.  </p>
	            	<p>Click “learn more” at right to see info on Target Scores and other details.</p>
	          	</div>
	          	<div class='col-sm-3'>    
	            	<button class="btn" {{action "goToReviewEditEvaluationCriteria"}}>review or edit evaluation criteria</button>
	          	</div>
	          	<div class='col-sm-3'>    
	            	<button class="btn" {{action "displayLearnMoreEvaluationsPopup"}}>learn more about evaluations</button>
	          	</div>
	        </div>
	        <hr />
	        <div class='form-group row'>
	        	<div class='col-sm-6'>    
	            	<h3>Evaluate Prospects (Recruits) and Current Players</h3>
	            	<p>A three-part form will let you enter criteria scores for each player. The form is different for each position. You can also add notes. When you are done, you’ll see how the player or prospect compares to the target profile for that position.</p>
	            	<p>GoDeep is designed for maximum consistency. The forms and criteria used to evaluate current players are identical to the ones for prospects/recruits.</p>
	          	</div>
	          	<div class='col-sm-3'>    
	            	<button class="btn" {{action "goToEvaluatePlayer"}}>evaluate a current player</button>
	          	</div>
	          	<div class='col-sm-3'>    
	            	<button class="btn" {{action "goToEvaluateProspect"}}>evaluate a prospect</button>
	          	</div>
	        </div>
	        <hr />
	        <div class='form-group row'>
	        	<div class='col-sm-6'>    
	            	<h3>View Player and Prospect Value Rankings</h3>
	            	<p>All of the information in GoDeep comes together on the Player Value Ranking screens. Using game grades and evaluations for current players, GoDeep lets you see who is most valuable.</p>
	            	<p>Using this data, GoDeep also creates target profiles of the best traits at each position for your system. New prospects are ranked by their evaluation scores and their percent match against these profiles.</p>
	          	</div>
	          	<div class='col-sm-3'>    
	            	<button class="btn" {{action "goToPlayerValueRanking"}}>current player value ranking</button>
	          	</div>
	          	<div class='col-sm-3'>    
	            	<button class="btn" {{action "goToProspectValueRanking"}}>prospect/recruit value ranking</button>
	          	</div>
	        </div>
        </div>
    </div>
</div>