<div id="file-uploading-modal">
{{#page-modal close='removeModal'}}
	<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate {{if uploadComplete 'hidden'}}"></span>
	{{message}}
{{/page-modal}}
</div>