{{page-head breadcrumbs=this.breadcrumbs thisPage=this.thisPage}}
{{#unless session.isAdmin}}
<div class='coach-help-text'>
    <h3><strong>Grade Players in Games &amp; Practice Events</strong></h3>
    <p>GoDeep Grading is based on the plus/minus system used by most coaches. When you click plus or minus, we assign a number grade. This lets us create detailed reports and analytics. <br />
    Watch game or practice film cutups in your own system, and grade each play in GoDeep. We match up the play numbers and also let you copy and paste play info into GoDeep.</p>
    <a class="link learn-more-link" {{action "showModal" "grade/learnMoreGrading"}}>learn more</a>
</div>
{{/unless}}
<div class='container-events {{unless session.isAdmin "coach-view"}}'>
        <div class="add-event-btns add-games">
            <label>Games</label>
            {{#if session.isAdmin}}
            <button class="btn btn-gd-menu btn-gd-menu-alt add-event-btn" {{action "addEvent" gameEventType}}>add game</button>
            {{/if}}
        </div>
        <div class="event-list pull-left games">
            {{#each gamePeriod in gamePeriods}}
            <span class="season-separator">{{gamePeriod.year}}</span>
            {{#each game in gamePeriod.events}}
            <div class="event">
                <div class="title-wrap" {{action "toggleExpand" game}}>
                    <span class="bowtie {{if game.isCollapsed 'expanded'}}"></span>
                    <span class="event-name">{{game.gameName}}</span>
                    <button class="edit-event-btn disabled" {{action "editEvent" game}}>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit Game"></span>
                    </button>
                </div>
                {{#if game.isCollapsed}}
                {{#each cutup in game.teamCutups}}
                <div class="game-option">
                    <span class="cutup-platoon">{{cutup.whichPlatoon.name}}</span>
                    <button class="btn btn-gd-menu btn-gd-menu-alt" {{action "gradeCutup" cutup}}>grade</button>
                    <button class="delete-cutup-btn disabled" {{action "deleteCutup" cutup}}>
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete Cutup"></span>
                    </button>
                </div>
                {{else}}
                <span class="no-cutup-msg">No video cutup was entered for this game yet</span>
                {{/each}}
                {{!--#if session.isAdmin}}
                <button class="btn btn-gd-menu btn-gd-menu-alt add-new-platoon" {{action "addNewPlatoon" game}}>add new platoon</button>
                {{/if--}}
                {{/if}}
            </div>
            {{else}}
            <span>No games were recorded yet.</span>
            {{/each}}
            {{else}}
            <span class="no-events-message">No games were recorded yet.</span>
            {{/each}}
        </div>
        <div class="add-event-btns add-practices">
            <label>Practices</label>
            {{#if session.isAdmin}}
            <button class="btn btn-gd-menu btn-gd-menu-alt" {{action "addEvent" practiceEventType}}>add practice</button>
            <button class="btn btn-gd-menu btn-gd-menu-alt" {{action "addEvent" practiceGameEventType}}>add practice game</button>
            {{/if}}
        </div>
        <div class="event-list pull-right practices">
            {{#each practicePeriod in practicePeriods}}
            <span class="season-separator">{{practicePeriod.year}}</span>
            {{#each practice in practicePeriod.events}}
            <div class="event">
                <div class="title-wrap" {{action "toggleExpand" practice}}>
                    <span class="bowtie {{if practice.isCollapsed 'expanded'}}"></span>
                    <span class="event-name">{{practice.name}}</span>
                    <button class="edit-event-btn disabled" {{action "editEvent" practice}}>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit Game"></span>
                    </button>
                </div>
                {{#if practice.isCollapsed}}
                {{#each cutup in practice.teamCutups}}
                <div class="game-option">
                    <span class="cutup-platoon">{{cutup.whichPlatoon.name}}</span>
                    <button class="btn btn-gd-menu btn-gd-menu-alt" {{action "gradeCutup" cutup}}>grade</button>
                    <button class="delete-cutup-btn disabled" {{action "deleteCutup" cutup}}>
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete Cutup"></span>
                    </button>
                </div>
                {{else}}
                <span class="no-cutup-msg">No video cutup was entered for this practice yet</span>
                {{/each}}
                {{!--#if session.isAdmin}}
                <button class="btn btn-gd-menu btn-gd-menu-alt add-new-platoon" {{action "addNewPlatoon" practice}}>add new platoon</button>
                {{/if--}}
                {{/if}}
            </div>
            {{else}}
            <span>No practices or practice games have been entered yet.</span>
            {{/each}}
            {{else}}
            <span class="no-events-message">No practices or practice games have been entered yet.</span>
            {{/each}}
        </div>
</div>
