{{page-head breadcrumbs=this.breadcrumbs thisPage="Grade Player Performance"}}
<div id="grading-landing-page">
	<div class="section-main">
        <div class='container-fluid'>
        	<div class='form-group row'>
	        	<div class='col-sm-9 text-justify'>    
	            	<h3><strong>Grade Players in Games &amp; Practice Events</strong></h3>
	            	<p>GoDeep Grading is based on the plus/minus system used by most coaches. When you click plus or minus, we assign a number grade. This lets us create detailed reports and analytics.</p>
	            	<p>Watch game or practice film in your own video system, and grade each play in GoDeep. We match up the play numbers and also let you copy and paste play data into GoDeep.</p>
	            	<a class=" link learn-more-link" {{action "displayLearnMoreGradingPopup"}}>learn more</a>
	          	</div>
	          	<div class='col-sm-3'>    
	            	<button class="btn" {{action "goToGradePlayerPerformance"}}>grade player performance</button>
	          	</div>
	        </div>
	        <hr />
	        <div class='form-group row'>
	        	<div class='col-sm-9 text-justify'>    
	            	<h3><strong>Enter Event for Grading</strong></h3>
	            	<p>When you enter an event for grading, provide the name of the event (game, practice, etc) as well as any other information you want to save. Then tell us if you split up the film into separate platoons (Offense, Defense, Special Teams), or keep them all together in one film. We’ll set up the grading screen to match your preference.</p>
	            	<p>Click Grade Player Performance (above) to see the events already in the system. On that screen, click on the film you want to grade or add a new event if it's not already there.</p>
	            	<a class=" link learn-more-link" {{action "displayLearnMoreVideoCutupPopup"}}>learn more</a>
	          	</div>
	          	<div class='col-sm-3'>    
	            	<button class="btn" {{action "goToEnterNewCutup"}}>enter event for grading</button>
	          	</div>
	        </div>
	        <hr />
	        <div class='form-group row'>
	        	<div class='col-sm-9 text-justify'>    
	            	<h3><strong>Upload Play Data</strong></h3>
	            	<p>When you watch film in most systems, there is a list of plays with info about each play just below the video area. You can select this list by clicking on the upper left corner of the header/title area.</p>
	            	<p>Copy this data and paste it into our Upload Play Data form. Once it is saved in GoDeep, we can run detailed reports using the grades you enter plus the down/distance, play call, etc. in the play data.</p>
	            	<a class=" link learn-more-link" {{action "displayLearnMorePlayDataPopup"}}>learn more</a>
	          	</div>
	          	<div class='col-sm-3'>    
	            	<button class="btn" {{action "goToUploadVideoCutupData"}}>upload play data</button>
	          	</div>
	        </div>
        </div>
    </div>
</div>