{{page-head breadcrumbs=this.breadcrumbs thisPage=this.thisPage}}
<div class='container-fluid container-game'>
    <div class="section-left">
        <div class="grade-info-panel read-only">
            <div class="inset">
                <h4><b>Summary</b></h4>
                <p>
                    <span class="submit-info"><b>Last Graded:</b>
                        <div>
                            {{date-format model.lastSubmitDate 'MM/DD h:mm a'}}<br />
                            {{numCompletedPlays}} plays completed
                        </div>
                    </span>
                </p>

                {{!--<span><b>Total Plays:</b> {{playsInfo.numPlays}}</span>
                <span><b>Offense Plays:</b> {{playsInfo.offensePlays}}</span>
                <span><b>Defense Plays:</b> {{playsInfo.defensePlays}}</span>
                <span><b>Special Teams Plays:</b> {{playsInfo.specialTeamsPlays}}</span>
                <span><b>Unknown/Unassigned Plays:</b> {{playsInfo.unknownUnassignedPlays}}</span>--}}

                {{#if model.teamEvent.isMatch}}

                {{#if model.teamEvent.opponent}}
                {{#if model.teamEvent.isHomeGame}}
                <span><b>Away Team:</b> {{model.teamEvent.opponentName}}</span>
                <span><b>Away Score:</b> {{model.teamEvent.opponentScore}}</span>
                <span><b>Home Team:</b> {{session.team.organization.name}}</span>
                <span><b>Home Score:</b> {{model.teamEvent.score}}</span>
                {{else}}
                <span><b>Away Team:</b> {{session.team.organization.name}}</span>
                <span><b>Away Score:</b> {{model.teamEvent.score}}</span>
                <span><b>Home Team:</b> {{model.teamEvent.opponentName}}</span>
                <span><b>Home Score:</b> {{model.teamEvent.opponentScore}}</span>
                {{/if}}
                {{/if}}

                <span><b>Date:</b> {{model.teamEvent.formattedDate}}</span>
                <span><b>Time:</b> {{model.teamEvent.time}}</span>
                <span><b>Location:</b> {{model.teamEvent.location}}</span>

                {{else}}

                <span><b>Date:</b> {{model.teamEvent.formattedDate}}</span>
                <span><b>Time:</b> {{model.teamEvent.time}}</span>
                <span><b>Practice Description:</b> {{model.teamEvent.description}}</span>

                {{/if}}

                <span><b>Film Shows:</b> {{model.teamCutup.platoonName}}</span>
            </div>
        </div>
        <div class="grade-options-panel">
            <button class="btn" {{action 'generateReports'}}><span>email grades to players</span></button>
            <button class="btn" {{action 'resumeGrade'}}><span>continue grading</span></button>
            {{#if displayedOnDesktopBrowser}}
            <button class="btn" {{action 'gradeInSmallWindow'}}><span>grade in small window</span><span class="glyphicon glyphicon-new-window pull-right" aria-hidden="true"></span></button>
            {{/if}}
        </div>
    </div>
    <div class="section-main sticky-header">
        <div class="row flex grade-headers row-separator">
        	<div class="column header1 game-performance-link {{if showOneCategory 'one-column-grade-40'}}">
                {{#if model.teamEvent.isMatch}}
                <span>Click players below to view game performance</span>
                {{/if}}
            </div>
            <div class="column overall-header {{if showOneCategory 'one-column-grade'}}">
                <span>
                    {{#if showOneCategory}}
                        {{session.teamConfiguration.gradeCat1Label}}<br />Grade
                    {{else}}
                        Overall Grade
                    {{/if}}
                </span>
            </div>
            {{#unless showOneCategory}}
            <div class="column-separator {{if isIE11 'ie11'}}"></div>
            <div class="column header2">
                <span>{{session.teamConfiguration.gradeCat1Label}}<br />Grade</span>
            </div>
            <div class="column header3">
                <span>{{session.teamConfiguration.gradeCat2Label}}<br />Grade</span>
            </div>
            {{/unless}}
            {{#if showThreeCategories}}
            <div class="column header4">
                <span>{{session.teamConfiguration.gradeCat3Label}}<br />Grade</span>
            </div>
            {{/if}}
        </div>
        {{#each gameStat in sortedGameStats}}
        <div class="row flex  row-separator">
            {{#if model.teamEvent.isMatch}}
            <div class="column overall-grade-column column-btn {{if showOneCategory 'one-column-grade-40'}}" {{action "reportGamePerformance" gameStat.teamPlayer}}>
                <span class="player-name">{{gameStat.teamPlayer.shortNameInitialLast}} &#40;{{gameStat.numPlays}}&#41;</span>
                <span class="player-jersey-number">{{gameStat.playerAssignment.jerseyNumber}}</span>
            </div>
            {{else}}
            <div class="column overall-grade-column {{if showOneCategory 'one-column-grade-40'}}">
                <span class="player-name">{{gameStat.teamPlayer.shortNameInitialLast}} &#40;{{gameStat.numPlays}}&#41;</span>
                <span class="player-jersey-number">{{gameStat.teamPlayer.jerseyNumber}}</span>
            </div>
            {{/if}}
            <div class="column overall-column {{if showOneCategory 'one-column-grade'}}" >
                <span class="grade">{{if showOneCategory gameStat.avgCat1Grade gameStat.avgOverallGrade}}</span>
            </div>
            {{#unless showOneCategory}}
            <div class="column-separator {{if isIE11 'ie11'}}"></div>
            <div class="column overall-cat-1-column" >
               <span class="grade">{{gameStat.avgCat1Grade}}</span>
            </div>
            <div class="column overall-cat-2-column" >
                <span class="grade">{{gameStat.avgCat2Grade}}</span>
            </div>
            {{/unless}}
            {{#if showThreeCategories}}
            <div class="column overall-cat-3-column" >
                <span class="grade">{{gameStat.avgCat3Grade}}</span>
            </div>
            {{/if}}
        </div>
        {{else}}
        <div class="loading-message">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            <span class="msg">{{if noGameStats 'No grades entered' 'Loading player list ...'}}</span>
        </div>
        {{/each}}
    </div>
</div>
