{{render "bigheader"}}
<div class='container index'>
    <div class="row row-index full-page">
        <div class="col-xs-12 col-sm-12 centered">
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                <div class="row">
                    <p {{bind-attr class="credentialError:bg-danger"}}>{{errorMessage}}</p>
                </div>
                <div class="row">
                    <div {{bind-attr class="credentialError:has-error"}}>
                        {{input value=identification placeholder="username" type="text" spellcheck="false" class="form-control input-lg" autocapitalize="none" autocorrect="off"}}
                    </div>
                </div>
                <div class="row">
                    <div {{bind-attr class="credentialError:has-error"}}>
                        {{input value=password placeholder="password" action="authenticate" type="password" class="form-control input-lg" autocapitalize="none" autocorrect="off" spellcheck="false"}}
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <button class="btn btn-gd-menu btn-gd-menu-alt btn-xl btn-block"  {{action "authenticate"}}>sign in</button>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <button class="btn btn-gd-menu btn-gd-menu-alt btn-xl btn-block"  {{action "forgotpassword"}}>forgot password</button>
                        </div>
                    </div>
                </div>
                <div class="row row-index copyright">
                    <div class="">
                        <span class="">Copyright © 2015 GoDeep LLC</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
