<div id="saving-grades-dialog-modal">
{{#page-modal staticBackdrop=true}}
	<div class='message'>
	    {{#if model.message}}
	        <span>{{model.message}}</span>
	    {{else}}
	        <span>Loading ...</span>
	    {{/if}}
	</div>
{{/page-modal}}
</div>