{{page-head breadcrumbs=this.breadcrumbs thisPage="Grade Player Performance"}}
<div class="alert alert-warning text-center" role="alert">OFFLINE MODE - PLEASE DO NOT CLOSE YOUR BROWSER OR TURN POWER OFF</div>
<div class='coach-help-text offline-grade'>
    <h3><strong>Select Cutup to Grade</strong></h3>
    <p>Click the "grade" button to grade that video.</p>
    {{!--<a class="link learn-more-link" {{action "showModal" "grade/learnMoreGrading"}}>learn more</a>--}}
</div>
<hr />
<div class='container-events offline'>
	<div class="event">
		<div class="title-wrap">
	        <span class="event-name">{{teamEvent.gameName}}</span>
	    </div>
		{{#each teamEvent.teamCutups as |teamCutup|}}
		<div class="game-option">
	        <span class="cutup-platoon">{{teamCutup.whichPlatoon.name}}</span>
	        <button class="btn btn-gd-menu btn-gd-menu-alt" {{action "gradeOffline" teamCutup}}>grade</button>
	    </div>
		{{/each}}
	</div>
</div>