{{page-head breadcrumbs=this.breadcrumbs thisPage=this.thisPage}}
<div class='container-fluid container-game offline'>
    <div class="section-left play-info-container {{if infoPanelStretched 'stretched'}}">
        <div class="info-label">
            <div class="rotate">
                <span>
                    {{#if currentPlay.teamEvent.isMatch}}
                    Qtr: {{currentPlay.quarter}} &nbsp;
                    Down: {{currentPlay.gameDown}} to go {{currentPlay.gameDistance}} &nbsp;
                    Ball: {{currentPlay.gamePossession}} &nbsp;
                    FPos: {{currentPlay.yardLine}}
                    {{else}}
                    Drill: {{if currentPlay.teamPracticeDrillType.name currentPlay.teamPracticeDrillType.name previousDrill.name}} &nbsp;
                    Description: {{currentPlay.description}}
                    {{/if}}
                </span>
            </div>
        </div>
        <button class="btn toggle-info-panel-size" {{action "toggleInfoPanelSize"}}>
            {{#if infoPanelStretched}}
            <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
            {{else}}
            <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span>
            {{/if}}
        </button>
        <div class="play-info-panel {{unless currentPlay.teamEvent.isMatch 'bigger-panel'}}">
            <div class="inset">
                {{#if currentPlay.teamEvent.isMatch}}
                <span><b>Qtr:</b> {{currentPlay.quarter}}</span>
                <span><b>Down:</b> {{currentPlay.gameDown}} <b>to go</b> {{currentPlay.gameDistance}}</span>
                <span><b>Ball:</b> {{currentPlay.gamePossession}}</span>
                <span><b>FPos:</b> {{currentPlay.yardLine}}</span>
                <span><b>Result:</b>{{currentPlay.playResultType.name}}</span>
                {{else}}
                <span><b>Drill:</b> {{if currentPlay.teamPracticeDrillType.name currentPlay.teamPracticeDrillType.name previousDrill.name}}</span>
                <span><b>Description:</b> {{currentPlay.description}}</span>
                {{/if}}
            </div>
        </div>
        {{#if currentPlay.playData}}
        <div class="play-info-panel read-only {{unless displayedOnDesktopBrowser 'full-size'}}">
            <div class="inset stretchy-block">
                {{#if currentPlay.teamEvent.isMatch}}
                {{display-each currentPlay.playData playDataHiddenAttrs "No play data has been entered for this play."}}
                {{else}}
                {{display-each currentPlay.playData playDataHiddenAttrs "No info from video system has been entered."}}
                {{/if}}
            </div>
        </div>
        {{else}}
        <div class="play-info-panel no-data">
            {{#if currentPlay.teamEvent.isMatch}}
            No play data has been entered for this play.
            {{else}}
            No info from video system has been entered.
            {{/if}}
        </div>
        {{/if}}
    </div>
    <div class="section-main sticky-header sticky-footer {{if infoPanelStretched 'expanded'}}">
        <div class="alert alert-warning text-center offline-warning" role="alert">OFFLINE MODE - PLEASE DO NOT CLOSE YOUR BROWSER OR TURN POWER OFF</div>
        <div class="row flex row-separator grade-headers ">
            <div class="column header1 {{if showOneCategory 'one-column'}}{{if showTwoCategories 'two-column'}}">
                <span class="play-number-label">Play No.</span>
                <input type="text" class="form-control" id="play-number" value="{{leading-zeros currentPlay.playNumber}}">
            </div>
            <div class="column header2 {{if showOneCategory 'one-column'}}">
                <span>{{session.teamConfiguration.gradeCat1Label}}<br/>Grade</span>
            </div>
            {{#if showTwoCategories}}
            <div class="column header3">
                }<span>{{session.teamConfiguration.gradeCat2Label}}<br/>Grade</span>
            </div>
            {{/if}}
            {{#if showThreeCategories}}
            <div class="column header3">
                <span>{{session.teamConfiguration.gradeCat2Label}}<br/>Grade</span>
            </div>
            <div class="column header4">
                <span>{{session.teamConfiguration.gradeCat3Label}}<br/>Grade</span>
            </div>
            {{/if}}
            <!--<div class="column header5">
                <span>Hard Assign.</span>
            </div>-->
            <div class="column header5 {{if showOneCategory 'one-column'}}">
                <span>Factor in Play</span><span class="optional-label">(optional)</span>
            </div>
        </div>

        {{!-- Players added with the 'Add Players' Dialog --}}
        {{#each assignment in currentPlay.addedPlayers}}
        <div id="grade-player-{{assignment.teamPlayer.id}}" class="row flex  row-separator">
            {{grade-control
                gradeBase=session.teamConfiguration.gradeBase
                playerAssignment=assignment
                play=currentPlay
                store=store
                preSelect=true 
                playFactors=playFactors
                numGradeCategories=session.teamConfiguration.numGradeCategories
                useMinimizedVersion=false}}
        </div>
        {{/each}}

        {{!-- Already assigned players --}}
        {{#each assignment in assignedPlayers}}
        <div id="grade-player-{{assignment.teamPlayer.id}}" class="row flex  row-separator">
            {{grade-control
                gradeBase=session.teamConfiguration.gradeBase
                playerAssignment=assignment
                play=currentPlay
                store=store 
                playFactors=playFactors
                numGradeCategories=session.teamConfiguration.numGradeCategories
                useMinimizedVersion=false}}
        </div>
        {{else}}
        <span class='no-data-message'>Any player on your assigned positions can be graded on this cutup</span>
        {{/each}}

        <div class="row flex grade-play-nav-options">
            <div class="column column1" {{action "showModal" "game/player/add" playerAssignments}}>
                <span class="add-player">add players</span>
            </div>
            <div class="play-nav-btns">
                <button class="play-nav prev-play {{unless hasPrevPlay 'disabled'}}" {{action "goToPrevPlay"}}>
                    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                    <span>{{leading-zeros currentPlay.prevPlayNumber}}</span>
                </button>
                <button class="play-nav pause-play" {{action "sendGradesToSync"}}>
                    <span>stop grading</span>
                </button>
                <button class="play-nav next-play {{unless hasNextPlay 'disabled'}}" {{action "goToNextPlay"}}>
                    <span>{{leading-zeros currentPlay.nextPlayNumber}}</span>
                    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </button>
            </div>
            <div class="add-notes column column1" {{action "showModal" "game/notes" currentPlay}}>
                <span class="{{if currentPlay.hasNotes 'active-btn' 'add-notes-lbl'}}">
                    {{if currentPlay.hasNotes 'edit notes' 'add notes'}}
                </span>
            </div>
        </div>
    </div>
</div>
