{{page-head breadcrumbs=this.breadcrumbs thisPage=this.thisPage}}
<div class='container-fluid organizations'>
    <div>
        <h1>Organizations</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Short Name</th>
                <th>ESPN Name</th>
                <th>Mascot</th>
                <th>Org Type</th>
                <th>Conference</th>
                <th>Level</th>
            </tr>
            </thead>
            <tbody>
            {{#each item in model}}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.shortName}}</td>
                    <td>{{item.espnName}}</td>
                    <td>{{item.mascot}}</td>
                    <td>{{item.organizationType.name}}</td>
                    <td>{{item.conference.name}}</td>
                    <td>{{item.conference.level.shortName}}</td>
                </tr>
            {{else}}
                <tr>
                    <td>no organizations...</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
