{{! templates/players.hbs}}
{{page-head breadcrumbs=this.breadcrumbs thisPage=this.thisPage}}
<div class='container-fluid container-players'>
    {{! players sub-routes go in this outlet, including: index, new, ... }}
    {{outlet}}
</div>
