{{! templates/player.hbs}}
{{page-head breadcrumbs=this.breadcrumbs thisPage=this.thisPage}}
<div class='container-fluid player'>
    <div class="section-left">
        <div class="player-info-panel">
            <div class="inset" {{action 'playerEdit' model}}>
                <button class="edit-team-player" >
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <h2>{{model.teamPlayer.fullNameInitialLast}}</h2>
                <h3>#{{model.jerseyNumber}} / {{session.teamName}}</h3>
                <h3>{{#if model.position1}}{{model.position1.name}}{{else}}n/a{{/if}}</h3>
                <br/>
                <table class="table">
                    <thead class="thead">
                    </thead>
                    <tbody class="tbody">
                    <tr class="tr">
                        <td class="td1">DOB:</td>
                        <td class="td2">{{model.teamPlayer.birthDateFormatted}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Grad Yr:</td>
                        <td class="td2">{{model.teamPlayer.graduationYear}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">&nbsp;</td>
                        <td class="td2">&nbsp;</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Height:</td>
                        <td class="td2">{{model.teamPlayer.height}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Weight:</td>
                        <td class="td2">{{model.teamPlayer.weight}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">&nbsp;</td>
                        <td class="td2">&nbsp;</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">WS:</td>
                        <td class="td2">{{model.teamPlayer.wingspan}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Body:</td>
                        <td class="td2">{{model.teamPlayer.bodyType.name}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">40Y:</td>
                        <td class="td2">{{model.teamPlayer.fortyYard}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Hand:</td>
                        <td class="td2">{{model.teamPlayer.handSize}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Vertical:</td>
                        <td class="td2">{{model.teamPlayer.verticalJump}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">&nbsp;</td>
                        <td class="td2">&nbsp;</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">SAT:</td>
                        <td class="td2">{{model.teamPlayer.sat}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">ACT:</td>
                        <td class="td2">{{model.teamPlayer.act}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">GPA:</td>
                        <td class="td2">{{model.teamPlayer.gpa}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">&nbsp;</td>
                        <td class="td2">&nbsp;</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Email:</td>
                        <td class="td2">{{model.teamPlayer.email}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">&nbsp;</td>
                        <td class="td2">&nbsp;</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Prev Team:</td>
                        <td class="td2">{{#if model.teamPlayer.highSchool}}{{model.teamPlayer.highSchool}}{{#if model.teamPlayer.state.name}}, {{model.teamPlayer.state.name}}{{else}}{{/if}}{{else}}{{/if}}</td>
                        <td class="td2"></td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">&nbsp;</td>
                        <td class="td2">&nbsp;</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Coach:</td>
                        <td class="td2">{{model.teamPlayer.coach}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Tel:</td>
                        <td class="td2">{{model.teamPlayer.coachPhone}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{#if session.teamConfiguration.canEvaluate}}
        <button class="btn gd-btn" {{action 'evaluatePlayer' model}}>evaluate player</button>
        {{/if}}
    </div>
    {{! player sub-routes go in this outlet, including: index, game list, evaluation list, ... }}
    <div class="section-main">
        {{outlet}}
    </div>
</div>
