{{! templates/prospect.hbs}}
{{page-head breadcrumbs=this.breadcrumbs thisPage=this.thisPage}}
<div class='container-fluid prospect'>
    <div class="section-left">
        <div class="prospect-info-panel">
            <div class="inset" {{action 'edit' model}}>
                <button class="edit-prospect">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <h2>{{model.teamProspect.fullNameInitialLast}}</h2>
                <h3>#{{model.jerseyNumber}} / {{#if model.currentPosition}}{{model.currentPosition.name}}{{else}}n/a{{/if}}</h3>
                <br/>
                <table class="table">
                    <thead class="thead">
                    </thead>
                    <tbody class="tbody">
                    <tr class="tr">
                        <td class="td1">DOB:</td>
                        <td class="td2">{{model.teamProspect.birthDateFormatted}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Grad Yr:</td>
                        <td class="td2">{{model.teamProspect.graduationYear}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">&nbsp;</td>
                        <td class="td2">&nbsp;</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Height:</td>
                        <td class="td2">{{model.teamProspect.height}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Weight:</td>
                        <td class="td2">{{model.teamProspect.weight}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">&nbsp;</td>
                        <td class="td2">&nbsp;</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">WS:</td>
                        <td class="td2">{{model.teamProspect.wingspan}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Body:</td>
                        <td class="td2">{{model.teamProspect.bodyType.name}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">40Y:</td>
                        <td class="td2">{{model.teamProspect.fortyYard}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Hand:</td>
                        <td class="td2">{{model.teamProspect.handSize}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Vertical:</td>
                        <td class="td2">{{model.teamProspect.verticalJump}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">&nbsp;</td>
                        <td class="td2">&nbsp;</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">SAT:</td>
                        <td class="td2">{{model.teamProspect.sat}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">ACT:</td>
                        <td class="td2">{{model.teamProspect.act}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">GPA:</td>
                        <td class="td2">{{model.teamProspect.gpa}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">&nbsp;</td>
                        <td class="td2">&nbsp;</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">HS:</td>
                        <td class="td2">{{#if model.teamProspect.highSchool}}{{model.teamProspect.highSchool}},<br/>{{#if model.teamProspect.state.name}}{{model.teamProspect.state.name}}{{else}}{{/if}}{{else}}{{/if}}</td>
                        <td class="td2"></td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">&nbsp;</td>
                        <td class="td2">&nbsp;</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Coach:</td>
                        <td class="td2">{{model.teamProspect.coach}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td1">Tel:</td>
                        <td class="td2">{{model.teamProspect.coachPhone}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button class="btn gd-btn" {{action 'evaluatePlayer' model}}>evaluate player</button>
    </div>
    {{! prospect sub-routes go in this outlet, including: index, evaluation list, ... }}
    <div class="section-main">
        {{outlet}}
    </div>
</div>
