{{! templates/prospects.hbs}}
{{page-head breadcrumbs=this.breadcrumbs thisPage=this.thisPage}}
<div class="container-fluid prospects-container">
    {{! prospects sub-routes go in this outlet, including: index, new, ... }}
    {{outlet}}
</div>
