<div class="ask-question-dialog">
{{#page-modal title='Ask Us a Question' ok='sendQuestion' close='removeModal' closeText='cancel' okText='send'}}
    <div class='form-group row'>
		<div class='col-sm-12'>
			{{#if hasError}}
			<div class="message">
		        <div class="alert alert-danger" role="alert">
		            <p>Please introduce your question.</p>
		        </div>
		    </div>
		    {{/if}}
			<label>From: <span class="from-info">{{session.user.firstName}} {{session.user.lastName}} - {{session.team.shortName}} {{session.team.mascot}} ({{session.user.email}})</span></label>
			{{textarea class="form-control" rows="10" value=question}}
		</div>
	</div>
	
{{/page-modal}}
</div>