{{page-head breadcrumbs=this.breadcrumbs thisPage=this.thisPage}}

<div class='ranking-container'>
  <div class='header-controls'>
    <div id='prospects' class="btn {{if prospectsSelected 'active'}}" {{action 'viewProspectsRank'}}>
        <span>view new prospects</span>
    </div>
    <div id='players' class="btn {{if playersSelected 'active'}}" {{action 'viewPlayersRank'}}>
        <span>view current team</span>
    </div>
  </div>
  {{outlet}}
</div>
