{{! templates/reports.hbs}}
{{page-head breadcrumbs=this.breadcrumbs thisPage=this.thisPage}}
  <div class='container-fluid reports'>
    <div class="section-nav {{if reportExpanded 'stretched'}}">
      <div class="stretched-label">
          <div class="rotate">
              <span>My Saved Reports</span>
          </div>
      </div>
      <button class="btn toggle-report-size" {{action "toggleReportSize"}}>
        {{#if reportExpanded}}
        <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span>
        {{/if}}
      </button>
      <div class='report-info-panel {{if reportExpanded "hidden"}}'>
      <div class="inset">
        <h2>My saved reports:</h2>
        {{view "select" class="form-control saved-reports-dropdown" content=savedReports
          optionLabelPath="content.name"
          optionValuePath="content.id"
          prompt="Pick report"
          selection=selectedReport}}
        <hr>
        <button class="btn pull-right" {{action "runTeamReport" selectedReport}}>run report</button>
      </div>
      </div>
    </div>
    <div class="section-main {{if reportExpanded 'expanded'}}">
      {{! reports sub-routes go in this outlet, including: index, ...}}
      {{outlet}}
    </div>
  </div>
<script>
$( document ).ready(function() {
    var onReportUrl = window.location.pathname === "/coach/reports/" || window.location.pathname === "/coach/reports";
    console.log('report url: ', window.location.pathname);
    if (onReportUrl) {
      var checkExist = setInterval(function() {
        if ($("#reportType option:first-child").length) {
            setTimeout( function() {
              $("#reportType option:first-child").attr('selected','selected');
            }, 500);
          clearInterval(checkExist);
        }
      }, 100);
      // wait for html element for 5 seconds
      setTimeout( function() {
          clearInterval(checkExist);
        }, 5000
      );
    }
});
</script>