<div id="session-timeout-dialog">
{{#page-modal staticBackdrop=true}}
	{{#if mustLogout}}
	<h3 class="text-center">Your session has expired.</h3>
	<h3 class="text-center">Please log in to continue using GoDeep.</h3>
	<div class="btns text-center">
		<button class="btn" data-dismiss="modal" {{action "goToLoginPage"}}>login</button>
	</div>
	{{else}}
	<h3 class="text-center">Your session is about to close in:</h3>
	<h3 class="text-center">{{countdown}}</h3>
	<div class="btns text-center">
		<button class="btn" data-dismiss="modal" {{action "continueUsingGoDeep"}}>continue using GoDeep</button>
		<button class="btn btn-right" data-dismiss="modal" {{action "goToLoginPage"}}>logout</button>
	</div>
	{{/if}}
{{/page-modal}}
</div>
