<div id="welcome-dialog">
{{#page-modal title='Help' ok='removeModal' okText='ok' close='removeModal' closeText='cancel'}}
	{{!--<div class="getting-started-doc-link">
		<a {{action "appMenuIntro"}}>click here to view full "Getting Started" document</a>
	</div>--}}
	<button type="button" class="close-label" data-dismiss="modal" aria-hidden="true"><strong>Close</strong> <span>&times;</span></button>

	<div class="section-main {{unless mainIsCurrentView 'hidden'}}">
        <img src="assets/img/popup/godeep_big_logo_blue.png" />

        <h4><strong>Click a topic to learn more:</strong></h4>
        
        <p><a class="link" {{action "changeView" views.DASHBOARD viewTitles.DASHBOARD}}>{{viewTitles.DASHBOARD}}</a></p>
        <p><a class="link" {{action "changeView" views.ROSTER viewTitles.ROSTER}}>{{viewTitles.ROSTER}}</a></p>
        <p><a class="link" {{action "changeView" views.GRADING viewTitles.GRADING}}>{{viewTitles.GRADING}}</a></p>
        <p><a class="link" {{action "changeView" views.REPORTS viewTitles.REPORTS}}>{{viewTitles.REPORTS}}</a></p>
        {{#if session.isAdmin}}
        <p><a class="link" {{action "changeView" views.CUTUP viewTitles.CUTUP}}>{{viewTitles.CUTUP}}</a></p>
        <p><a class="link" {{action "changeView" views.PLAY_DATA viewTitles.PLAY_DATA}}>{{viewTitles.PLAY_DATA}}</a></p>
        {{/if}}

    </div>

    <div class="slider-header {{if mainIsCurrentView 'hidden'}}">
    	<strong><span class="pull-left">{{currentViewTitle}}</span></strong>
    	<button class="btn pull-right" {{action "changeView" views.MAIN}}>back to main</button>
    </div>
    {{#if dashboardIsCurrentView}}
    <div>
    	{{partial "dashboard/dashboard-info"}}
	</div>
	{{/if}}
	{{#if rosterIsCurrentView}}
	<div>
    	{{partial "players/roster-info"}}
	</div>
	{{/if}}
	{{#if gradingIsCurrentView}}
	<div>
    	{{partial "grade/grading-info"}}
	</div>
	{{/if}}
	{{#if reportsIsCurrentView}}
	<div>
    	{{partial "reports/reports-info"}}
	</div>
	{{/if}}
	{{#if cutupIsCurrentView}}
	<div>
    	{{partial "event/cutup-info"}}
	</div>
	{{/if}}
	{{#if playDataIsCurrentView}}
	<div>
    	{{partial "game/play-data-info"}}
	</div>
	{{/if}}
{{/page-modal}}
</div>