{{! components/dashboard-top5-stats/template.hbs }}
{{#link-to linkToUrl}}
    <div class="inset">
        <h2>{{caption}}<span class="glyphicon glyphicon-triangle-right pull-right"></span></h2>
        <table class="table top5">
            <thead class="thead">
            <tr class="tr">
                <th class="th1">Player</th>
                <th class="th2">Gr / Gm</th>
            </tr>
            </thead>
            <tbody class="tbody">
            {{#each stat in top5PlayerStats}}
                <tr class="tr">
                    <td class="td1">
                        {{stat.teamPlayer.shortNameInitialLast}} / {{stat.teamPlayer.position1.shortName}}
                    </td>
                    <td class="td2">
                        {{#if this.showImpact}}
                        {{!-- TODO: use computed property from component for impact grade --}}
                            {{impact-format stat.gameImpactPlatoonGrade}} / {{stat.gameCount}}
                        {{else}}
                            {{stat.gameOverallGrade}} / {{stat.gameCount}}
                        {{/if}}
                    </td>
                </tr>
            {{else}}
                <tr class="tr">
                    <td class="td">Loading players...</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
{{/link-to}}
